@font-face {
	font-family: "scgicons";
	src: url('../fonts/scgicons/scgicons.eot');
	src: url('../fonts/scgicons/scgicons.eot?#iefix') format('eot'),
		url('../fonts/scgicons/scgicons.woff2') format('woff2'),
		url('../fonts/scgicons/scgicons.woff') format('woff'),
		url('../fonts/scgicons/scgicons.ttf') format('truetype'),
		url('../fonts/scgicons/scgicons.svg#scgicons') format('svg');
}

.scgicon:before {
	font-family: "scgicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.scgicon-001computer:before {
	content: "\E001";
}

.scgicon-002visialvision:before {
	content: "\E002";
}

.scgicon-003googleplus:before {
	content: "\E003";
}

.scgicon-004flickr:before {
	content: "\E004";
}

.scgicon-005play:before {
	content: "\E005";
}

.scgicon-006retry:before {
	content: "\E006";
}

.scgicon-007fullscreen:before {
	content: "\E007";
}

.scgicon-008volume:before {
	content: "\E008";
}

.scgicon-009pause:before {
	content: "\E009";
}

.scgicon-010load:before {
	content: "\E00A";
}

.scgicon-011share:before {
	content: "\E00B";
}

.scgicon-012design:before {
	content: "\E00C";
}

.scgicon-013menuhor:before {
	content: "\E00D";
}

.scgicon-014modified:before {
	content: "\E00E";
}

.scgicon-015pen:before {
	content: "\E00F";
}

.scgicon-016layer:before {
	content: "\E010";
}

.scgicon-017text:before {
	content: "\E011";
}

.scgicon-018search:before {
	content: "\E012";
}

.scgicon-019filters:before {
	content: "\E013";
}

.scgicon-020tags:before {
	content: "\E014";
}
