.aboutpromotion_main {
    background: url(../img/aboutpromotion_main.jpg) right 160px/1136px auto no-repeat;
    padding-top: 160px
}

.aboutpromotion_main h1 {
    max-width: 700px
}

@media (max-width:767px) {
    .aboutpromotion_main {
        padding-top: 120px
    }
}

.aboutpromotion {
    position: relative;
    padding-top: 67px;
    overflow: hidden
}

.aboutpromotion h2 {
    position: relative;
    z-index: 2
}

.aboutpromotion_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 60vw;
    background: url(../img/aboutpromotion_bg.jpg) left top/auto 60vw no-repeat
}

.aboutpromotion_button {
    text-align: center;
    z-index: 2;
    position: relative
}

.aboutpromotion_button .button {
    max-width: 480px;
    width: 100%
}

.aboutpromotion_img {
    width: 100%;
    position: relative;
    left: 0;
    top: -72px;
    z-index: 1;
    text-align: center;
    padding: 0 40px 27px
}

.aboutpromotion_img img {
    height: 995px;
    width: 1360px;
    max-width: initial
}

.aboutpromotion__img {
    position: relative;
    display: inline-block;
    padding: 0 110px
}

.aboutpromotion_img_about {
    text-align: left;
    position: absolute
}

.aboutpromotion_img_about_text {
    font-size: 14px;
    font-weight: 900;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: .03em
}

.aboutpromotion_img_about1 {
    left: 0;
    top: 269px;
    padding-left: 99px
}

.aboutpromotion_img_about1 .aboutpromotion_img_about_icon {
    width: 377px;
    height: 296px;
    background: url(../img/aboutpromotion_img_about1.png) center/contain no-repeat;
    position: absolute;
    left: 0;
    top: -10px
}

.aboutpromotion_img_about2 {
    right: 272px;
    top: -219px;
    text-align: right
}

.aboutpromotion_img_about2 .aboutpromotion_img_about_icon {
    width: 253px;
    height: 489px;
    background: url(../img/aboutpromotion_img_about2.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    top: 74px
}

.aboutpromotion_img_about3 {
    right: 0;
    top: 185px;
    text-align: right
}

.aboutpromotion_img_about3 .aboutpromotion_img_about_icon {
    width: 759px;
    height: 202px;
    background: url(../img/aboutpromotion_img_about3.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    top: 74px
}

.madepromotion_section {
    position: relative;
    z-index: 2;
    background: url(../img/madepromotion_section.jpg) center/cover no-repeat;
    text-align: center;
    color: #fff;
    padding: 310px 0 230px
}

.madepromotion_section .content {
    position: relative;
    z-index: 3
}

.madepromotion_title {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 1.27em;
    text-transform: uppercase
}

.madepromotion_title2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: .95em;
    text-transform: uppercase
}

.madepromotion_number {
    font-size: 460px;
    font-weight: 900;
    line-height: 420px;
    margin-bottom: 72px
}

.madepromotion_img1 {
    display: block;
    width: 219px;
    height: 276px;
    background: url(../img/madepromotion_img1.png) center/contain no-repeat;
    position: absolute;
    left: 25%;
    top: -58px;
    z-index: 1
}

.madepromotion_img2 {
    display: block;
    width: 636px;
    height: 733px;
    background: url(../img/madepromotion_img2.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    top: -165px;
    z-index: 1
}

.typespromotion_section {
    background: #dbdde9;
    text-align: center;
    padding: 64px 0 0
}

.typespromotion_title {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    max-width: 860px;
    width: 100%;
    margin: 0 auto 32px;
    letter-spacing: .1em
}

.typespromotion_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 27px
}

.typespromotion_item {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    padding: 104px 24px
}

.typespromotion_item_icon {
    width: 100%;
    height: 95px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 45px
}

.typespromotion_item_title {
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase
}

.howdopromotion_image {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.howdopromotion_image_small {
    height: 480px
}

.howdopromotion_image_middle {
    height: 640px
}

.howdopromotion_image_big {
    height: 1120px
}

.howdopromotion_main {
    background: url(../img/howdopromotion_main.jpg) center/contain no-repeat #1b1b1c
}

.howdopromotion_top_img {
    display: block;
    width: 100%;
    height: 800px;
    background: url(../img/howdopromotion_top_img.jpg) center/cover no-repeat
}

.howdopromotion_top .content {
    position: relative;
    min-height: 100%;
    padding-bottom: 240px
}

.howdopromotion_top .content .button {
    position: absolute;
    bottom: 80px;
    left: auto
}

.howdopromotion_top h2,
.howdopromotion_top p {
    max-width: 360px
}

.howdopromotion_main_content {
    color: #fff;
    padding: 72px 0 20px
}

.howdopromotion_main_content_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    font-weight: 900;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px
}

.howdopromotion_list {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.howdopromotion_list [class*=col-] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.howdopromotion_list [class*=col-]:nth-child(2),
.howdopromotion_list [class*=col-]:nth-child(5) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.howdopromotion_list [class*=col-]:nth-child(3),
.howdopromotion_list [class*=col-]:nth-child(6) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.howdopromotion_list [class*=col-]:nth-child(7) {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.howdopromotion_item {
    position: relative;
    padding: 42px 0 94px 36px;
    border-top: 4px solid #afa4fc;
    max-width: 320px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .02em
}

.howdopromotion_item_number {
    position: absolute;
    left: 0;
    top: 42px
}

@media (max-width:1919px) {
    .aboutpromotion_img img {
        width: 1136px;
        height: 832px
    }

    .aboutpromotion_img_about1 {
        left: -40px;
        top: 180px
    }

    .aboutpromotion_img_about2 {
        right: 212px;
        top: -269px
    }

    .aboutpromotion_img_about3 .aboutpromotion_img_about_icon {
        width: 659px
    }
}

@media (max-width:1599px) {
    .aboutpromotion_img img {
        width: 976px;
        height: 714px
    }

    .aboutpromotion_img_about1 {
        left: 0;
        top: 200px
    }

    .aboutpromotion_img_about1 .aboutpromotion_img_about_icon {
        width: 282px;
        height: 221px
    }

    .aboutpromotion_img_about2 {
        right: 222px;
        top: -189px
    }

    .aboutpromotion_img_about2 .aboutpromotion_img_about_icon {
        width: 190px;
        height: 368px
    }

    .aboutpromotion_img_about3 {
        top: 125px
    }

    .aboutpromotion_img_about3 .aboutpromotion_img_about_icon {
        width: 569px;
        height: 151px
    }

    .madepromotion_img1 {
        left: 10%
    }

    .madepromotion_img2 {
        background-position: 210px center
    }
}

@media (max-width:1439px) {
    .aboutpromotion_img img {
        width: 896px;
        height: 655px
    }

    .aboutpromotion_img_about2 {
        right: 192px;
        top: -209px
    }
}

@media (max-width:1279px) {
    .aboutpromotion {
        padding-top: 10px
    }

    .aboutpromotion__img {
        padding: 0;
        width: calc(100% + 5vw);
        margin-left: -5vw
    }

    .aboutpromotion_img img {
        width: 100%;
        height: auto
    }

    .aboutpromotion_img {
        padding: 0;
        top: 0;
        margin-top: 50px;
        margin-bottom: 72px
    }

    .aboutpromotion_img_about_text br {
        display: none
    }

    .aboutpromotion_img_about1 {
        left: 40px;
        top: 9.25vw;
        padding-left: 0
    }

    .aboutpromotion_img_about1 .aboutpromotion_img_about_text {
        width: 144px
    }

    .aboutpromotion_img_about1 .aboutpromotion_img_about_icon {
        top: 9.375vw;
        width: 27.875vw;
        height: 21.875vw;
        background: url(../img/aboutpromotion_img_about1_tab.png) center/contain no-repeat
    }

    .aboutpromotion_img_about2 {
        right: 14.875vw;
        top: -21.25vw
    }

    .aboutpromotion_img_about2 .aboutpromotion_img_about_text {
        width: 144px
    }

    .aboutpromotion_img_about2 .aboutpromotion_img_about_icon {
        width: 15.875vw;
        height: 30.625vw;
        background: url(../img/aboutpromotion_img_about2_tab.png) center/contain no-repeat;
        top: 9.75vw
    }

    .aboutpromotion_img_about3 {
        top: 11.25vw
    }

    .aboutpromotion_img_about3 .aboutpromotion_img_about_text {
        width: 160px
    }

    .aboutpromotion_img_about3 .aboutpromotion_img_about_icon {
        width: 24.5vw;
        height: 11.875vw;
        background: url(../img/aboutpromotion_img_about3_tab.png) center/contain no-repeat
    }

    .aboutpromotion {
        padding-bottom: 120px
    }

    .madepromotion_img1 {
        left: 40px;
        width: 120px;
        height: 150px;
        top: 0
    }

    .madepromotion_img2 {
        top: -120px;
        background-position: 40px center;
        width: 295px;
        height: 402px
    }

    .madepromotion_title {
        font-size: 20px
    }

    .madepromotion_number {
        font-size: 260px;
        line-height: 330px;
        margin-bottom: -6px
    }

    .madepromotion_title2 {
        font-size: 20px
    }

    .madepromotion_section {
        background: url(../img/madepromotion_section_tab.jpg) center/cover no-repeat;
        padding: 156px 0 192px
    }

    .typespromotion_title {
        font-size: 50px;
        line-height: 58px;
        margin-bottom: 84px
    }

    .typespromotion_section {
        padding: 0
    }

    .typespromotion_item_icon {
        height: 48px;
        margin-bottom: 24px
    }

    .typespromotion_item {
        padding: 45px 24px
    }

    .howdopromotion_top_img {
        height: 720px
    }

    .howdopromotion_top {
        background: #232325
    }

    .howdopromotion_list [class*=col-] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .howdopromotion_list [class*=col-]:nth-child(even),
    .howdopromotion_list [class*=col-]:nth-child(odd) {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .howdopromotion_main {
        background: url(../img/howdopromotion_main_tab.jpg) center bottom/100% auto no-repeat
    }

    .howdopromotion_main_content {
        padding: 32px 0 20px
    }

    .howdopromotion_main_content_title {
        margin-bottom: 104px
    }
}

@media (max-width:767px) {
    .aboutpromotion_img_abouts {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-left: 20px;
        padding-top: 96px;
        margin-left: -12px;
        margin-right: -12px
    }

    .aboutpromotion__img {
        width: calc(100% + 20px);
        margin-left: -20px
    }

    .aboutpromotion_img_about {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: auto 0 33.33333%;
        -ms-flex: auto 0 33.33333%;
        flex: auto 0 33.33333%;
        max-width: 33.33333%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: left;
        padding-left: 12px;
        padding-right: 12px
    }

    .aboutpromotion_img_about .aboutpromotion_img_about_text {
        width: 100%
    }

    .aboutpromotion_img_about .aboutpromotion_img_about_icon {
        background: url(../img/aboutpromotion_img_about_mob.png) left center/contain no-repeat;
        left: 12px;
        right: auto;
        top: auto;
        width: 10.55555vw;
        height: 55.55555vw;
        bottom: calc(100% + 2.77777vw)
    }

    .aboutpromotion {
        text-align: left;
        padding-top: 28px;
        padding-bottom: 40px
    }

    .madepromotion_img2 {
        display: none
    }

    .madepromotion_title {
        font-size: 12px
    }

    .madepromotion_number {
        font-size: 130px;
        letter-spacing: -.01em;
        line-height: 170px
    }

    .madepromotion_title2 {
        font-size: 12px
    }

    .madepromotion_section {
        padding: 36px 0
    }

    .aboutpromotion_main {
        background-position: center 120px;
        padding-left: 0;
        padding-right: 0
    }

    .typespromotion_item {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        padding: 45px 12px
    }

    .typespromotion_title {
        font-size: 34px;
        line-height: 40px
    }

    .howdopromotion_top .content {
        min-height: 480px;
        padding-bottom: 140px
    }

    .howdopromotion_top .content .button {
        bottom: 40px;
        left: auto;
        width: calc(100% - 80px)
    }

    .howdopromotion_top h2,
    .howdopromotion_top p {
        max-width: 100%
    }

    .howdopromotion_image,
    .howdopromotion_top_img {
        height: 480px
    }

    .howdopromotion_item {
        padding-bottom: 48px
    }
}

@media (max-width:479px) {
    .madepromotion_img1 {
        display: none
    }

    .madepromotion_section {
        background: url(../img/madepromotion_section_mob.jpg) center/cover no-repeat
    }

    .madepromotion_title {
        font-size: 10px;
        letter-spacing: .95em
    }

    .madepromotion_title2 {
        font-size: 10px
    }
}