.awardsbrandspage {
    background: url(../img/awardsbrandspage.jpg) center top/100% auto no-repeat #1b1b1c
}

.awardsbrandspage .section_title {
    background: 0 0
}

.section_awardsbrands {
    background: 0 0;
    color: #fff;
    padding-top: 152px
}

.awardsbrands {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 160px
}

.awardsbrands_group_title {
    margin-bottom: 55px
}

.awardsbrands_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px
}

.awardsbrands_item {
    display: block;
    margin: 20px;
    width: calc(25% - 40px);
    background: #2c2c2e;
    text-align: center;
    height: 480px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.awardsbrands_item_award .awardsbrands_item_img {
    height: 340px
}

.awardsbrands_item_img {
    width: 100%;
    height: 370px;
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.awardsbrands_item_imgcolor {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat
}

.awardsbrands_item_text {
    padding-left: 40px;
    padding-right: 40px
}

.awardsbrands_item_title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: .02em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.awardsbrands_item_size {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .02em;
    color: #9a9896;
    text-transform: uppercase;
    font-weight: 700
}

.awardsbrands_group+.awardsbrands_group {
    margin-top: 88px
}

.awardsbrands_bottombutton {
    text-align: center;
    margin-top: 160px
}

.awardsbrands_bottombutton .button {
    width: 100%;
    max-width: 800px
}

@media (min-width:1921px) {
    .awardsbrands_item {
        width: calc(20% - 40px)
    }
}

@media (max-width:1919px) {
    .awardsbrands {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1599px) {
    .awardsbrands_item {
        width: calc(33.3333% - 40px)
    }
}

@media (max-width:1279px) {
    .awardsbrands_item {
        width: calc(50% - 40px);
        height: 400px
    }

    .awardsbrands_item_img {
        height: 290px
    }

    .awardsbrands_item_award .awardsbrands_item_img {
        height: 260px
    }

    .section_awardsbrands {
        padding-top: 74px
    }

    .awardsbrands_group_title {
        margin-bottom: 42px
    }

    .awardsbrands_group+.awardsbrands_group {
        margin-top: 52px
    }

    .awardsbrands_bottombutton {
        margin-top: 60px
    }

    .awardsbrands {
        padding-bottom: 80px
    }
}

@media (max-width:767px) {
    .awardsbrands_list {
        display: block;
        margin-left: 0;
        margin-right: 0
    }

    .awardsbrands_item {
        width: 100%;
        margin: 0 0 40px
    }

    .section_awardsbrands {
        padding-top: 54px
    }

    .awardsbrands_group_title {
        margin-bottom: 62px
    }

    .awardsbrands_group+.awardsbrands_group {
        margin-top: 74px
    }
}

@media (max-width:479px) {
    .awardsbrands {
        padding-left: 20px;
        padding-right: 20px
    }
}

.awardsbrands_item:hover {
    background: #242426
}