.backlitpage {
    background: #1b1b1c
}

.backlitpage .section_title {
    background: url(../img/backlitpage.jpg) right top/auto 100% no-repeat
}

.backlitpage h1 {
    max-width: 760px
}

@media (max-width:1919px) {
    .backlitpage .section_title {
        background-position: center
    }
}

.backlit {
    position: relative;
    padding-top: 68px;
    min-height: calc(51.25vw + 160px);
    padding-bottom: 80px;
    background: #1b1b1c
}

.backlit_image {
    position: absolute;
    top: 70px;
    right: 160px
}

.backlit_img {
    width: 54.010vw;
    height: 51.25vw;
    background: url(../img/backlit_img.png) center/contain no-repeat
}

@media (max-width:1599px) {
    .backlit_image {
        right: 80px
    }
}

@media (max-width:1279px) {
    .backlit_image {
        position: static;
        padding-left: 40px;
        padding-right: 40px
    }

    .backlit_img {
        width: 100%;
        height: 77vw
    }

    .backlit .contentleft h2 br {
        display: none
    }
}

@media (max-width:767px) {

    .backlit_image,
    .backlitpage .content {
        padding-left: 20px;
        padding-right: 20px
    }

    .backlit {
        padding-bottom: 60px
    }

    .backlit_img {
        height: 85vw
    }
}

.weatherprofed_section {
    background: url(../img/weatherprofed_section.jpg) center/cover no-repeat;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 127px
}

.weatherprofed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.weatherprofed_left {
    width: 50%
}

.weatherprofed_left_play {
    display: inline-block;
    width: 130px;
    height: 130px
}

.weatherprofed_left_play svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.weatherprofed_left_play:hover svg {
    fill: #1b1b1c
}

@media (pointer:coarse) {
    .weatherprofed_left_play svg {
        fill: #fff !important
    }
}

.weatherprofed_right {
    width: 50%
}

.weatherprofed_right h2 {
    letter-spacing: 0;
    margin-bottom: 72px
}

.weatherprofed_right_button .button {
    width: 100%;
    max-width: 320px
}

@media (max-width:1279px) {
    .weatherprofed {
        display: block
    }

    .weatherprofed_left,
    .weatherprofed_right {
        width: 100%
    }

    .weatherprofed_right {
        margin-left: auto;
        margin-right: auto;
        max-width: 640px
    }

    .weatherprofed_section {
        padding-top: 92px;
        padding-bottom: 80px
    }

    .weatherprofed_left {
        margin-bottom: 42px
    }

    .weatherprofed_right h2 {
        margin-bottom: 36px
    }
}

@media (max-width:767px) {
    .weatherprofed_section {
        padding-top: 98px
    }

    .weatherprofed_left_play {
        width: 78px;
        height: 78px
    }

    .weatherprofed_left {
        margin-bottom: 38px
    }

    .weatherprofed_right h2 {
        margin-bottom: 42px
    }
}

.lightbox_section {
    background: #313134
}

.lightbox_section_title {
    background: #1b1b1c;
    text-align: center;
    padding-top: 124px;
    padding-bottom: 124px
}

.lightbox_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-left: 2px solid #1b1b1c;
    border-right: 2px solid #1b1b1c;
    border-bottom: 2px solid #1b1b1c
}

.lightbox_nav_item {
    width: 33.33333%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background: center/contain no-repeat;
    padding: 80px 78px;
    height: 800px;
    border: 2px solid #1b1b1c
}

.lightbox_nav_item_number {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .5em;
    margin-bottom: 32px
}

.lightbox_nav_item_title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 900;
    letter-spacing: .1em;
    min-height: 72px;
    margin-bottom: 20px
}

.lightbox_nav_item_button a {
    display: block;
    line-height: 40px;
    position: relative;
    padding-left: 55px;
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 700;
    text-transform: uppercase
}

.lightbox_nav_item_button a i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.lightbox_nav_item_button a i:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.lightbox_nav_item_button a:hover i {
    background: #fff
}

.lightbox_nav_item_button a:hover i:before {
    border-top: 3px solid #0d0e11;
    border-right: 3px solid #0d0e11;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.lightbox_nav_item.active .lightbox_nav_item_button a i {
    background: #fff
}

.lightbox_nav_item.active .lightbox_nav_item_button a i:before {
    border-top: 3px solid #0d0e11;
    border-right: 3px solid #0d0e11;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.lightbox_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-left: 4px solid #1b1b1c;
    border-right: 4px solid #1b1b1c;
    padding: 32px 36px 48px
}

.lightbox_item {
    display: block;
    width: 25%;
    max-width: 25%;
    padding: 55px 36px;
    text-align: center
}

.lightbox_item_wrapper {
    display: inline-block;
    text-align: left
}

.lightbox_item_img {
    height: 463px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 76px
}

.lightbox_item_title,
.lightbox_item_type {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .02em
}

.lightbox_content {
    display: none
}

.lightbox_nav.owl-carousel .lightbox_nav_item {
    width: 100%;
    max-width: 100%
}

@media (max-width:1439px) {

    .lightbox_item,
    .lightbox_list {
        padding-left: 21px;
        padding-right: 21px
    }

    .lightbox_nav_item {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1279px) {
    .lightbox_item {
        width: 33.3333%;
        max-width: 33.3333%
    }

    .lightbox_section_title {
        padding-top: 91px;
        padding-bottom: 91px
    }
}

@media (max-width:1023px) {
    .lightbox_item {
        width: 50%;
        max-width: 50%
    }
}

@media (max-width:767px) {
    .lightbox_list {
        display: block;
        padding-left: 20px;
        padding-right: 20px
    }

    .lightbox_item {
        width: 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px
    }

    .lightbox_item_wrapper {
        display: block;
        text-align: center
    }

    .lightbox_item_img {
        display: block;
        height: auto;
        margin-bottom: 36px
    }

    .lightbox_nav_item {
        height: 440px;
        padding-left: 34px;
        padding-right: 34px
    }

    .lightbox_nav.owl-carousel .owl-nav button.owl-next,
    .lightbox_nav.owl-carousel .owl-nav button.owl-prev {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 0 10px
    }

    .lightbox_nav.owl-carousel .owl-nav {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.weather_proofed_section {
    position: relative
}

.weather_proofed_section .fileretouching_textblock {
    position: static
}

.fileretouching_textblock_imgleft {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: center/cover no-repeat
}

@media (max-width:1279px) {
    .weather_proofed_section {
        padding-top: 0
    }

    .weather_proofed_section .fileretouching_textblock_imgleft {
        position: static;
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-right: -40px;
        height: 100vw
    }

    .weather_proofed_section .fileretouching_textblock {
        display: block
    }

    .weather_proofed_section .fileretouching_textblock_right {
        width: 100%;
        margin-left: 0;
        max-width: 640px;
        padding-top: 72px
    }
}

@media (max-width:479px) {
    .weather_proofed_section .fileretouching_textblock_imgleft {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 0
    }
}

.edgelit_section {
    background: url(../img/edgelit_section.jpg) center/cover no-repeat #1b1b1c;
    padding-top: 148px;
    padding-bottom: 160px
}

.edgelit_section h2 {
    letter-spacing: 0;
    margin-bottom: 104px
}

.edgelit_img {
    width: 960px;
    height: 880px;
    position: relative;
    margin: 0 auto -84px;
    z-index: 2
}

.edgelit_img1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../img/edgelit_img1.png) center/contain no-repeat
}

.edgelit_img2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../img/edgelit_img2.png) center/contain no-repeat
}

.edgelit_text {
    background: url(../img/edgelit_text.jpg) center/cover no-repeat;
    padding: 135px 80px 121px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .02em
}

@media (max-width:1279px) {
    .edgelit_img {
        width: 480px;
        height: 440px;
        margin-bottom: -32px
    }

    .edgelit_text {
        padding: 92px 40px 100px
    }

    .edgelit_section {
        padding-top: 70px;
        background-size: 100% auto;
        background-position: center top
    }
}

@media (max-width:767px) {
    .edgelit_img {
        width: 100%;
        height: 81.5vw;
        margin-bottom: -48px
    }

    .edgelit_section h2 {
        margin-bottom: 44px
    }

    .edgelit_text {
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
        padding: 90px 10px 80px
    }

    .edgelit_section {
        padding-bottom: 60px
    }
}

.neonsigns_section {
    background: url(../img/neonsigns_section.jpg) left top/100% auto no-repeat #1b1b1c;
    padding-top: 148px;
    padding-bottom: 160px
}

.neonsigns_section h2 {
    letter-spacing: 0;
    margin-bottom: 104px
}

.neonsigns_img {
    width: 960px;
    height: 820px;
    position: relative;
    margin: 0 auto -84px;
    z-index: 2
}

.neonsigns_img1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../img/neonsigns_img1.png) center/contain no-repeat
}

.neonsigns_img2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../img/neonsigns_img2.png) center/contain no-repeat
}

.neonsigns_text {
    background: url(../img/edgelit_text.jpg) center/cover no-repeat;
    padding: 135px 80px 121px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .02em
}

@media (max-width:1279px) {
    .neonsigns_img {
        width: 480px;
        height: 440px;
        margin-bottom: -32px
    }

    .neonsigns_text {
        padding: 92px 40px 100px
    }

    .neonsigns_section {
        padding-top: 70px;
        background-size: 100% auto;
        background-position: center top
    }
}

@media (max-width:767px) {
    .neonsigns_img {
        width: 100%;
        height: 81.5vw;
        margin-bottom: -48px
    }

    .neonsigns_section h2 {
        margin-bottom: 44px
    }

    .neonsigns_text {
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
        padding: 90px 10px 80px
    }

    .neonsigns_section {
        padding-bottom: 60px
    }
}

.custombacklit_section {
    background: #141414;
    padding-top: 144px;
    padding-bottom: 148px
}

.custombacklit_section h2 {
    max-width: 740px;
    margin-bottom: 54px
}

.custombacklit_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 40px);
    margin-right: -40px
}

.custombacklit_item {
    width: 25%;
    max-width: 25%;
    position: relative;
    min-height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 13px 40px 13px 0
}

.custombacklit_img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 18px
}

.custombacklit_title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em
}

@media (max-width:1279px) {
    .custombacklit_item {
        width: 33.33333%;
        max-width: 33.33333%;
        padding-right: 20px
    }

    .custombacklit_list {
        width: calc(100% + 20px);
        margin-right: -20px
    }

    .custombacklit_section {
        padding-top: 72px;
        padding-bottom: 80px
    }
}

@media (max-width:767px) {
    .custombacklit_item {
        width: 50%;
        max-width: 50%
    }

    .custombacklit_section {
        padding-bottom: 60px
    }
}

.backlitgreybg {
    background: #1b1b1c
}

.backlitrightimg {
    position: relative
}

.backlitrightimg .fileretouching_textblock {
    position: static
}

.backlitrightimg .fileretouching_textblock_imgright {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: center/cover no-repeat
}

@media (max-width:1279px) {
    .backlitrightimg {
        padding-top: 0
    }

    .backlitrightimg .fileretouching_textblock {
        display: block
    }

    .backlitrightimg .fileretouching_textblock_imgright {
        position: static;
        width: calc(100% + 80px);
        height: 100vw;
        margin-left: -40px;
        margin-right: -40px;
        background: center/cover no-repeat
    }

    .backlitrightimg .fileretouching_textblock_left {
        padding-top: 72px;
        width: 100%;
        padding-right: 0;
        max-width: 600px
    }
}

@media (max-width:479px) {
    .backlitrightimg .fileretouching_textblock_imgright {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 0
    }
}

.backlitblackbg {
    background: #141414
}

.edgelitLuminous_section {
    text-align: center;
    padding-top: 144px;
    background: url(../img/edgelitLuminous_img.jpg) center bottom/100% auto no-repeat #191a1e;
    padding-bottom: 41.2vw
}

.edgelitLuminous_section h2 {
    letter-spacing: 0;
    margin-bottom: 62px
}

.edgelitLuminous_section p {
    max-width: 768px;
    margin: 0 auto
}

.edgelitLuminous_img img {
    width: 100%
}

@media (max-width:767px) {
    .edgelitLuminous_section {
        padding-top: 52px;
        padding-bottom: 100vw;
        background-size: auto 108vw
    }

    .edgelitLuminous_section h2 {
        margin-bottom: 20px
    }
}

.backlitrequset_section {
    background: #1b1b1c
}

.backlitrequset_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.backlitrequset_images {
    width: 50%
}

.backlitrequset_imgprew {
    width: 100%;
    height: calc(100% - 244px);
    background: center/cover no-repeat;
    border: 2px solid #1b1b1c
}

.backlitrequset_imgselect {
    border: 2px solid #1b1b1c
}

.backlitrequset_imgselect_item {
    display: block;
    width: 240px;
    height: 240px;
    border: 2px solid #1b1b1c;
    background: center/cover no-repeat
}

.backlitrequset_content {
    background: #2c2c2e;
    width: 50%
}

.backlitrequset_jobstatus {
    border: 2px solid #1b1b1c;
    padding-top: 72px;
    padding-bottom: 64px
}

.backlitrequset_form_group {
    padding-left: 72px;
    padding-right: 72px
}

.backlitrequset_form_group_title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 48px
}

.backlitrequse_inputgroup_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 32px
}

.backlitrequse_radiobuttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.backlitrequse_radiobuttons .custom_radio span:before {
    border-color: #fff
}

.backlitrequse_radiobuttons .custom_radio+.custom_radio {
    margin-left: 48px
}

.backlitrequse_input {
    height: 50px;
    width: 100%;
    border: 1px solid #505051;
    font-size: 14px;
    color: #fff;
    text-align: center
}

.backlitrequse_input::-webkit-input-placeholder {
    color: #fff
}

.backlitrequse_input::-moz-placeholder {
    color: #fff
}

.backlitrequse_input:-ms-input-placeholder {
    color: #fff
}

.backlitrequse_input::-ms-input-placeholder {
    color: #fff
}

.backlitrequse_input::placeholder {
    color: #fff
}

.backlitrequse_input:focus {
    border-color: #fff
}

.backlitrequse_X {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 58px
}

.backlitrequse_sizetitle {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 32px
}

.backlitrequse_size {
    margin-bottom: 46px
}

.backlitrequse_hw_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 18px
}

.backlitrequse_hw_inputs {
    margin-left: -5px;
    margin-right: -5px
}

.backlitrequse_hw_inputs .col-6 {
    padding-left: 5px;
    padding-right: 5px
}

.backlitrequse_hw {
    margin-bottom: 52px
}

.backlitrequse_price {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 42px;
    border-bottom: 3px solid #505051;
    padding-bottom: 32px
}

.backlitrequse_checkbox {
    display: inline-block;
    cursor: pointer;
    position: relative;
    line-height: 20px
}

.backlitrequse_checkbox input {
    display: none !important
}

.backlitrequse_checkbox span {
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    padding-left: 30px
}

.backlitrequse_checkbox span:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px
}

.backlitrequse_checkbox input:checked+span:before {
    border: 3px solid #fff
}

.backlitrequse_checkbox input:checked+span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px
}

.backlitrequse_uvprinting_tip {
    font-size: 14px;
    letter-spacing: .02em;
    margin-top: 14px
}

.backlitrequset_finishing_size_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 16px
}

.backlitrequset_centerrow {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.backlitrequset_finishing_size,
.backlitrequset_finishing_size2,
.backlitrequset_finishing_size3 {
    padding-bottom: 27px;
    border-bottom: 3px solid #505051;
    margin-bottom: 40px
}

.backlitrequset_form .row+.row {
    margin-top: 30px
}

.backlitrequset_placement {
    margin-bottom: 96px
}

.backlitrequset_button .button {
    width: 100%
}

.backlitrequset_finishing {
    padding-top: 72px;
    padding-bottom: 80px
}

@media (max-width:1599px) {
    .backlitrequset_form_group {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1279px) {
    .edgelitLuminous_section h2 br {
        display: none
    }

    .edgelitLuminous_section p {
        max-width: 480px
    }

    .backlitrequset_flex {
        display: block
    }

    .backlitrequset_content,
    .backlitrequset_images {
        width: 100%
    }

    .backlitrequset_imgprew {
        height: 140vw
    }
}

@media (max-width:767px) {
    .backlitrequset_imgselect_item {
        width: 120px;
        height: 120px
    }

    .backlitrequset_content [class*=col-sm]+[class*=col-sm] {
        margin-top: 30px
    }

    .backlitrequset_form_group {
        padding-left: 20px;
        padding-right: 20px
    }
}