.billboardpage {
    background: #1b1b1c
}

.billboardpage .section_title {
    background: url(../img/billboardpage.jpg) center/cover no-repeat
}

.billboardpage h1 {
    max-width: 720px
}

.billboard1 .fileretouching_textblock_imgright {
    background-size: contain
}

.section_billboardtext {
    text-align: center;
    padding-top: 145px
}

.billboardtext_head {
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.billboardtext_head h2+p {
    margin-top: 46px
}

.billboardtext {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 94px
}

@media (max-width:1279px) {
    .section_billboardtext {
        padding-top: 72px
    }

    .billboardtext {
        display: block;
        margin-top: 48px
    }
}

.billboardtext_block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 calc(50% - 2px);
    -ms-flex: 1 1 calc(50% - 2px);
    flex: 1 1 calc(50% - 2px);
    margin: 1px;
    background: #262627;
    text-align: left;
    padding: 74px 80px 90px
}

@media (max-width:1439px) {
    .billboardtext_block {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:767px) {
    .billboardtext_block {
        padding: 42px 20px
    }
}

@media (max-width:479px) {
    .billboardtext_block {
        text-align: center
    }
}

.billboardtext_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    max-width: 400px;
    margin-bottom: 58px
}

.billboardexample_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    min-height: 274px;
    padding-top: 65px;
    padding-bottom: 65px
}

.billboardexample img {
    width: 100%
}

.billboardexample .ba-slider .handle {
    background: #fff
}

.billboardexample .ba-slider .handle:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: #051725;
    border-radius: 50%;
    border: 6px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -12px;
    z-index: 2
}

.section_billboardservices {
    padding-top: 140px;
    padding-bottom: 160px
}

.section_billboardservices h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: .1em
}

@media (max-width:1279px) {
    .billboardexample_title {
        font-size: 36px;
        line-height: 48px;
        min-height: 144px
    }

    .section_billboardservices h2 {
        font-size: 34px;
        line-height: 40px
    }
}

.billboardservices {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 72px
}

@media (max-width:767px) {
    .billboardexample_title {
        font-size: 24px;
        line-height: 36px;
        min-height: 96px
    }

    .section_billboardservices {
        padding-top: 72px;
        padding-bottom: 80px
    }

    .section_billboardservices h2 {
        text-align: center
    }

    .billboardservices {
        margin-top: 36px;
        display: block
    }
}

.billboardservice {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

.billboardservices_button {
    margin-top: 80px
}

.billboardservices_button .button {
    max-width: 360px;
    width: 100%
}

.billboardservice_p {
    padding-right: 40px
}

.billboardservice_ul {
    padding-left: 80px
}

.billboardservice_ul .fileretouching_ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin-top: -20px
}

.billboardservice_ul .fileretouching_ul li {
    display: inline-table;
    width: 100%
}

.billboardservice_ul .fileretouching_ul li:first-child {
    margin-top: 20px
}

@media (max-width:1279px) {
    .billboardservice_ul {
        padding-left: 40px
    }

    .billboardservice_ul .fileretouching_ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }
}

@media (max-width:767px) {
    .billboardservice_p {
        padding-right: 0
    }

    .billboardservice_ul {
        padding-left: 0;
        margin-top: 24px
    }

    .billboardservice_ul .fileretouching_ul {
        margin-top: 0
    }
}