@charset "UTF-8";

.blogpage {
    background: url(../img/awardsbrandspage.jpg) center top/100% auto no-repeat #1b1b1c
}

.blogpage .section_title {
    background: 0 0
}

.blogpage h1 {
    max-width: 880px
}

.section_blog {
    color: #fff;
    padding-top: 48px;
    padding-bottom: 160px;
    background: 0 0
}

.section_blog .wrapper {
    max-width: 1440px
}

.blog_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px
}

.blog_nav a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    letter-spacing: .02em;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    background: #2c2c2e;
    padding: 0 20px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.blog_nav a:hover {
    background: #fff;
    color: #242426
}

.blog_nav a i {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.blog_nav a.blog_nav_prev i {
    margin-right: 20px;
    border-right: 10px solid #fff
}

.blog_nav a.blog_nav_prev:hover i {
    border-right-color: #242426
}

.blog_nav a.blog_nav_next i {
    margin-left: 20px;
    border-left: 10px solid #fff
}

.blog_nav a.blog_nav_next:hover i {
    border-left-color: #242426
}

.blog_title_img {
    position: relative;
    z-index: 1
}

.blog_title_img img {
    width: 100%
}

.blog_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.blog_text {
    width: calc(100% - 340px);
    max-width: 1080px
}

.blog {
    padding-top: 80px
}

.blog_open {
    border-bottom: 1px solid #505051;
    padding: 80px 120px 130px 80px
}

.blog_title {
    font-size: 136px;
    line-height: 148px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    z-index: 2;
    padding-left: 80px;
    margin-top: -195px;
    margin-bottom: 38px
}

.blog_p {
    font-size: 24px;
    line-height: 48px
}

.blog_p+.blog_p {
    margin-top: 48px
}

.blog_date {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .02em;
    color: #494949;
    font-weight: 700
}

.blog_p+.blog_img_carousel {
    margin-top: 145px
}

.blog_img_carousel+.blog_titleparagraph {
    margin-top: 104px
}

.blog_titleparagraph+.blog_p {
    margin-top: 33px
}

.blog_p+.blog_img {
    margin-top: 176px
}

.blog_img+.blog_titleparagraph {
    margin-top: 104px
}

.blog_p+.blog_date {
    margin-top: 61px
}

.blog_img_type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px
}

.blog_img_type a {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: .02em;
    font-weight: 700;
    margin: 5px;
    background: #2c2c2e;
    padding: 0 20px;
    text-transform: uppercase;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.blog_img_type a:hover {
    background: #fff;
    color: #2c2c2e
}

.blog_img+.blog_img_type {
    margin-top: 43px
}

.blog_img_type+.blog_title_blog {
    margin-top: 5px
}

.blog_title_blog+.blog_date {
    margin-top: 21px
}

.blog_bottombutton {
    text-align: center;
    margin-top: 150px
}

.blog_bottombutton .button {
    max-width: 800px;
    width: 100%
}

.blog_media {
    width: 340px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    top: -133px
}

.blog_media_title {
    text-align: center;
    font-size: 24px;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 57px
}

.blog_media_content {
    background: #2c2c2e;
    margin-bottom: 80px
}

.blog_media_preview {
    position: relative;
    width: 100%;
    height: 320px;
    background: center/cover no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.blog_media_play {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.blog_media_play:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid #2c2c2e;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -12px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.blog_media_play:hover {
    background: #2c2c2e
}

.blog_media_play:hover:before {
    border-left-color: #fff
}

.blog_media_text {
    text-align: center;
    padding: 50px 20px
}

.blog_media_name {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .02em;
    font-weight: 600
}

.blog_media_type {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #9a9896;
    font-weight: 700
}

.blog_media_author {
    position: relative;
    padding: 42px 0 42px 20px
}

.blog_media_author:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: 0
}

.blog_media_quotes {
    position: relative;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .02em;
    font-weight: 600;
    padding: 19px 10px
}

.blog_media_quotes:after,
.blog_media_quotes:before {
    content: '‘‘';
    display: block;
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px
}

.blog_media_quotes:before {
    left: 0;
    top: 0
}

.blog_media_quotes:after {
    right: 0;
    bottom: 0
}

.blog_media_quotesname {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .02em;
    color: #9a9896;
    font-weight: 700;
    text-transform: uppercase
}

@media (max-width:1439px) {
    .blog_title {
        padding-left: 40px
    }

    .blog_open {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1279px) {
    .blog_media {
        display: none !important
    }

    .blog_content {
        display: block
    }

    .blog_text {
        width: 100%
    }

    .blog_title {
        font-size: 96px;
        line-height: 102px;
        margin-top: -92px;
        margin-bottom: -2px
    }

    .blog_p+.blog_img_carousel {
        margin-top: 78px
    }

    h2.blog_titleparagraph {
        font-size: 46px;
        line-height: 56px
    }

    .blog_img_carousel+.blog_titleparagraph {
        margin-top: 68px
    }

    .blog_titleparagraph+.blog_p {
        margin-top: 25px
    }

    .blog_p+.blog_img {
        margin-top: 98px
    }

    .blog_img+.blog_titleparagraph {
        margin-top: 68px
    }

    .blog_p+.blog_date {
        margin-top: 44px
    }

    .blog_open {
        padding-bottom: 78px
    }

    h2.blog_title_blog {
        font-size: 46px;
        line-height: 54px;
        letter-spacing: .1em
    }

    .blog_title_blog+.blog_date {
        margin-top: 25px
    }

    .blog_bottombutton {
        margin-top: 94px
    }

    .section_blog {
        padding-bottom: 80px
    }
}

@media (max-width:767px) {
    .blog_title {
        font-size: 48px;
        line-height: 51px;
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 0
    }

    .section_blog {
        padding-top: 30px;
        padding-bottom: 0
    }

    .blog_nav {
        margin-bottom: 60px
    }

    .blog {
        padding-top: 60px
    }

    .blog_open {
        border-bottom: 1px solid #505051;
        padding: 38px 0 65px
    }

    h2.blog_titleparagraph {
        font-size: 36px;
        line-height: 54px
    }

    .blog_img_carousel+.blog_titleparagraph {
        margin-top: 48px
    }

    .blog_p+.blog_img {
        margin-top: 74px
    }

    .blog_img+.blog_titleparagraph {
        margin-top: 48px
    }

    .blog_titleparagraph+.blog_p {
        margin-top: 25px
    }

    .blog_img+.blog_img_type {
        margin-top: 51px
    }

    h2.blog_title_blog {
        font-size: 28px;
        line-height: 32px
    }

    .blog_img_type+.blog_title_blog {
        margin-top: 9px
    }

    .blog_title_blog+.blog_date {
        margin-top: 34px
    }

    .blog_bottombutton {
        margin-top: 60px
    }

    .section_blog+.section_social {
        border-top: none
    }
}

@media (max-width:479px) {
    .blog_nav {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .blog_nav a {
        padding: 0;
        width: 30px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 10px
    }

    .blog_nav a span {
        display: none
    }

    .blog_nav a.blog_nav_next i,
    .blog_nav a.blog_nav_prev i {
        margin: 0
    }
}

.section_stories {
    background: 0 0;
    color: #fff;
    padding-top: 160px;
    padding-bottom: 160px
}

.section_stories .wrapper {
    max-width: 1440px
}

.story {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #2c2c2e;
    min-height: 480px;
    padding: 0 40px
}

.story_img {
    width: 480px;
    padding: 40px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.story-img {
    width: 100%;
    height: calc(100% + 120px);
    margin-top: -120px;
    background: center/cover no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.story_text {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 700px;
    padding: 80px 40px
}

.story_text p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600
}

.story_type {
    margin-bottom: 14px
}

.story_type span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    background: #fff;
    color: #2c2c2e
}

.story_title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 35px
}

.story_date {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .02em;
    font-weight: 700;
    color: #747474;
    margin-top: 34px
}

.story.story_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.story_play {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    display: block;
    background: #fff;
    position: relative;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.story_play:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 40px solid #2c2c2e;
    border-bottom: 24px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -14px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.story_play:hover {
    background: #2c2c2e
}

.story_play:hover:before {
    border-left-color: #fff
}

.stories .row+.row {
    margin-top: 160px
}

.stories .row {
    margin-left: -20px;
    margin-right: -20px
}

.stories [class*=col-] {
    padding-left: 20px;
    padding-right: 20px
}

.story_small .story_img {
    width: 360px;
    padding-left: 0;
    padding-right: 0
}

.story_small .story_text {
    padding-left: 0;
    padding-right: 20px
}

.story_small .story_title {
    margin-bottom: 28px
}

.stories_bottombutton {
    text-align: center;
    margin-top: 80px
}

.stories_bottombutton .button {
    width: 100%;
    max-width: 800px
}

@media (max-width:1439px) {
    .story_img {
        padding-left: 0;
        padding-right: 0;
        width: 400px
    }

    .story_small .story_img {
        width: 240px
    }
}

@media (max-width:1279px) {
    .section_stories {
        padding-top: 80px;
        padding-bottom: 125px
    }

    .stories .row {
        display: none
    }

    .stories .row:nth-child(-n+3) {
        display: block
    }

    .story {
        min-height: 376px
    }

    .story .story_img {
        width: 320px
    }

    .story-img {
        height: calc(100% + 80px);
        margin-top: -80px
    }

    .story_text p {
        display: none
    }

    .story_text {
        padding: 60px 40px 40px
    }

    .stories .col-md-6+.col-md-6,
    .stories .row+.row {
        margin-top: 104px
    }

    .stories .col-md-6:nth-child(odd) .story.story_right {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .stories .col-md-6:nth-child(odd) .story_text {
        padding-left: 40px
    }

    .stories_bottombutton {
        margin-top: 58px
    }
}

@media (max-width:767px) {
    .section_stories {
        padding-top: 100px;
        padding-bottom: 0
    }

    .story {
        min-height: 0;
        display: block;
        padding-left: 20px;
        padding-right: 20px
    }

    .story .story_img {
        width: 100%;
        padding: 0
    }

    .story-img {
        height: 100vw;
        margin-top: 0;
        position: relative;
        top: -40px
    }

    .story_text {
        padding: 0 20px 50px
    }

    .stories .col-md-6+.col-md-6,
    .stories .row+.row {
        margin-top: 100px
    }

    .story_play {
        width: 52px;
        height: 52px
    }

    .story_play:before {
        border-top: 12px solid transparent;
        border-left: 20px solid #2c2c2e;
        border-bottom: 12px solid transparent;
        margin-top: -12px;
        margin-left: -8px
    }

    .section_stories+.section_social {
        border-top: none
    }

    .stories .col-md-6:nth-child(odd) .story_text,
    .story_small .story_text {
        padding-left: 20px
    }
}

.section_blog_withoutnav {
    padding-top: 160px
}

.blog_title_video {
    width: 100%;
    height: 960px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: center/cover no-repeat;
    text-align: center;
    margin-bottom: 105px
}

.blog_title_video_play {
    display: block;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    margin: 0 auto 40px;
    position: relative
}

.blog_title_video_play:hover {
    opacity: .6
}

.blog_title_video_play:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 40px solid #28282a;
    border-bottom: 24px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -24px
}

.blog_title_video_title {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .9em
}

.blog_textblock {
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 138px
}

.blog_imagesgrid {
    position: relative;
    margin-bottom: 134px
}

.blog_imagesgrid_title {
    position: absolute;
    left: 80px;
    top: 158px;
    z-index: 2;
    font-size: 136px;
    line-height: 148px;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase
}

.blog_imagesgrid_images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto
}

.blog_imagesgrid_images img {
    display: block;
    margin: 20px;
    height: auto;
    max-height: none;
    max-width: calc(50% - 40px)
}

.blog_imagesgrid_img1,
.blog_imagesgrid_img2 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.blog_imagesgrid_img3,
.blog_imagesgrid_img4 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.blog_textblock_title {
    position: relative
}

.blog_textblock_title:before {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 32px;
    left: -240px
}

.blog_textblock_title+.blog_p {
    margin-top: 32px
}

.blog_p+.blog_button {
    margin-top: 72px
}

.blog_button .button {
    width: 100%;
    max-width: 320px
}

.section_clients {
    background: #1b1b1c;
    margin-bottom: 166px
}

.section_clients h2 {
    margin-bottom: 54px
}

.section_clients_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center
}

.section_clients_item {
    max-width: calc(25% - 40px);
    width: 100%;
    background: #28282a;
    padding: 50px 40px;
    margin: 20px
}

.section_clients_item_logo {
    width: 100%;
    height: 288px;
    background: center/auto 133px no-repeat;
    margin-bottom: 32px
}

.section_clients_item_title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: .02em
}

.section_clients_item_type {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .02em;
    color: #9a9896;
    font-weight: 700;
    text-transform: uppercase
}

@media (max-width:1439px) {
    .blog_title_video {
        height: 66.66667vw
    }

    .blog_textblock {
        padding-left: 120px;
        padding-right: 120px
    }

    .blog_textblock_title:before {
        left: -120px
    }

    .section_clients_item,
    .section_clients_list {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_clients_item {
        max-width: calc(33.33333% - 40px)
    }
}

@media (max-width:1279px) {
    .section_blog_withoutnav {
        padding-top: 80px
    }

    .blog_title_video {
        height: 60vw;
        margin-bottom: 70px
    }

    .blog_textblock_title+.blog_p {
        margin-top: 26px
    }

    .blog_textblock {
        padding-right: 40px
    }

    .blog_p+.blog_button {
        margin-top: 48px
    }

    .blog_imagesgrid_title {
        font-size: 80px;
        line-height: 88px;
        left: 40px;
        top: -53px
    }

    .blog_imagesgrid {
        padding-top: 74px;
        margin-bottom: 96px
    }

    .blog_imagesgrid_images img {
        max-width: calc(50% - 20px);
        margin: 10px
    }

    .section_clients_item {
        max-width: calc(50% - 40px)
    }

    .section_clients h2 {
        margin-bottom: 44px
    }

    .section_clients_item_logo {
        height: 150px;
        margin-bottom: 90px
    }

    .section_clients {
        margin-bottom: 130px
    }

    .blog_textblock_title:before {
        top: 22px
    }

    .blog_imagesgrid_img1,
    .blog_imagesgrid_img2,
    .blog_imagesgrid_img3 {
        width: 50%
    }

    .blog_imagesgrid_img4 {
        width: 30%
    }
}

@media (max-width:767px) {
    .section_blog_withoutnav {
        padding-top: 60px
    }

    .blog_title_video {
        height: 83.333333vw;
        margin-bottom: 60px
    }

    .blog_title_video_play {
        width: 52px;
        height: 52px
    }

    .blog_title_video_play:before {
        border-top: 12px solid transparent;
        border-left: 20px solid #28282a;
        border-bottom: 12px solid transparent;
        margin-left: -8px;
        margin-top: -12px
    }

    .blog_textblock {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 78px
    }

    .blog_textblock_title:before {
        left: 0;
        top: 0
    }

    .blog_textblock_title+.blog_p {
        margin-top: 33px
    }

    .blog_imagesgrid_title {
        font-size: 40px;
        line-height: 44px;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 40px;
        margin-bottom: -75px
    }

    .blog_imagesgrid {
        padding-top: 0;
        margin-bottom: 82px
    }

    .blog_imagesgrid_images {
        display: block
    }

    .blog_imagesgrid_images img {
        max-width: 100%;
        width: 100%;
        margin: 0 0 20px
    }

    .section_clients_list {
        display: block
    }

    .section_clients_item {
        max-width: 100%;
        margin: 0;
        padding-top: 78px;
        padding-bottom: 40px
    }

    .section_clients_item+.section_clients_item {
        margin-top: 20px
    }

    .section_clients h2 {
        margin-bottom: 64px
    }

    .section_clients_item_logo {
        height: 130px;
        background-size: contain;
        margin-bottom: 54px
    }

    .section_clients {
        margin-bottom: 60px
    }

    .blog_textblock_title {
        padding-top: 68px
    }
}

.blog_title_video_center .story_play {
    margin: 0 auto 40px
}