.boxprintingpage {
    background: #1b1b1c
}

.boxprintingpage .section_title {
    background: url(../img/boxprintingpage.jpg) center/cover no-repeat #19191b
}

.boxprintingpage .fileretouching_express_left .contentleft {
    max-width: 640px
}

.boxprinting {
    min-height: calc(30vw + 160px);
    padding-bottom: 80px;
    padding-top: 80px
}

.boxprinting_image {
    position: absolute;
    right: 130px;
    top: 50%;
    margin-top: -15vw;
    background: url(../img/boxprinting_image.svg) center/contain no-repeat;
    padding: 0 109px 40px 320px
}

@media (max-width:1919px) {
    .boxprinting_image {
        right: 80px
    }
}

@media (max-width:1439px) {
    .boxprinting_image {
        right: 40px
    }
}

@media (max-width:1279px) {
    .boxprinting_image {
        position: relative;
        top: 0;
        right: 40px;
        left: 40px;
        padding: 0 40px;
        width: calc(100% - 80px)
    }
}

@media (max-width:767px) {
    .boxprinting_image {
        right: 20px;
        left: 20px;
        padding: 0 20px;
        width: calc(100% - 40px)
    }
}

.boxprinting_img {
    background: url(../img/boxprinting_img.png) center/contain no-repeat;
    width: 32.2292vw;
    height: 30.05vw
}

@media (max-width:1279px) {
    .boxprinting_img {
        width: 100%;
        height: 64vw
    }
}

.section_boxprintingtext {
    padding-top: 110px;
    padding-bottom: 149px
}

.section_boxprintingtext h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 65px
}

.section_boxprintingtext p {
    font-size: 16px;
    max-width: 1115px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.section_boxprintingtext p+p {
    margin-top: 70px
}

@media (max-width:1279px) {
    .section_boxprintingtext {
        padding-top: 96px;
        padding-bottom: 72px
    }

    .section_boxprintingtext h2 {
        font-size: 34px;
        line-height: 40px
    }

    .section_boxprintingtext p {
        font-size: 14px
    }

    .section_boxprintingtext p+p {
        margin-top: 30px
    }
}

@media (max-width:767px) {
    .boxprinting_img {
        height: 66vw
    }

    .section_boxprintingtext h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 18px
    }

    .section_boxprintingtext h2 br {
        display: none
    }
}

.section_menuclients {
    padding-top: 112px;
    padding-bottom: 80px;
    overflow: hidden
}

.section_menuclients h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 72px;
    text-transform: uppercase
}

.section_menuclients .fileretouching_ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    position: relative;
    padding-left: 16.6667%
}

.section_menuclients .fileretouching_ul li {
    display: inline-table;
    width: 100%;
    padding-bottom: 30px;
    padding-right: 20px
}

.section_menuclients .fileretouching_ul li+li {
    margin-top: 0
}

@media (max-width:1279px) {
    .section_menuclients {
        padding-top: 72px;
        padding-bottom: 48px
    }

    .section_menuclients .fileretouching_ul {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        padding-left: 0
    }
}

@media (max-width:479px) {
    .section_menuclients .fileretouching_ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }
}