@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Italic.eot);
    src: url(../fonts/Roboto-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/Roboto-Italic.woff2) format("woff2"), url(../fonts/Roboto-Italic.woff) format("woff"), url(../fonts/Roboto-Italic.ttf) format("truetype"), url(../fonts/Roboto-Italic.svg#Roboto) format("svg");
    font-weight: 400;
    font-style: italic
}

.businesspage {
    background: url(../img/businesspage_bg.jpg) center top/100% auto no-repeat #212122;
    color: #fff
}

.business_section {
    background: url(../img/business_section.jpg) right bottom/1920px auto no-repeat;
    padding-top: 260px;
    padding-bottom: 212px
}

@media (max-width:1919px) {
    .business_section {
        background-size: 100% auto
    }
}

.business_title {
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 56px;
    font-weight: 600
}

.business_h1 {
    font-size: 62px;
    line-height: 62px;
    font-weight: 900;
    letter-spacing: .11em;
    margin-bottom: 28px
}

.business_title_date {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600
}

.business_head {
    margin-bottom: 146px
}

.business_text_h2 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 38px
}

.business_text_h2:before {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: -120px;
    top: 14px
}

.business_text {
    padding-left: 120px
}

.business_text p {
    font-size: 24px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: .02em
}

.business_text p+p {
    margin-top: 48px
}

.bold {
    font-weight: 900
}

.roboto_italic {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic
}

.business_text_quotes {
    border-top: 2px solid #4a4a4a;
    border-bottom: 2px solid #4a4a4a;
    padding: 48px 0 48px 120px;
    position: relative;
    margin: 89px 0
}

.business_text_quotes:before {
    content: '';
    display: block;
    width: 38px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 60px;
    background: url(../img/business_text_quotes.png) center/contain no-repeat
}

.business_text {
    margin-bottom: 144px
}

.business_contact_title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 83px
}

.business_contact__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.business_contact_signature {
    padding-top: 5px
}

.business_contact_signature img {
    height: 88px
}

.business_contact_text {
    padding-left: 57px
}

.business_contact_name {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 22px
}

.business_contact_address {
    font-size: 24px;
    line-height: 37px;
    font-weight: 600
}

.business_content {
    max-width: 1280px
}

@media (max-width:1279px) {
    .businesspage {
        background-size: auto 720px
    }

    .business_text,
    .business_text_quotes {
        padding-left: 80px
    }

    .business_text_h2:before {
        left: -80px;
        width: 40px
    }
}

@media (max-width:767px) {
    .business_section {
        padding-top: 240px;
        padding-bottom: 120px
    }

    .business_title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px
    }

    .business_h1 {
        font-size: 42px;
        line-height: 42px
    }

    .business_title_date {
        font-size: 20px;
        line-height: 24px
    }

    .business_head {
        margin-bottom: 72px
    }

    .business_text_h2:before {
        display: none
    }

    .business_text,
    .business_text_quotes {
        padding-left: 0
    }

    .business_text_h2 {
        margin-bottom: 24px;
        font-size: 22px;
        line-height: 24px
    }

    .business_text p {
        font-size: 16px;
        line-height: 24px
    }

    .business_text p+p {
        margin-top: 24px
    }

    .business_text_quotes {
        padding-top: 100px;
        margin: 48px 0
    }

    .business_text_quotes:before {
        top: 40px
    }

    .business_text {
        margin-bottom: 72px
    }

    .business_contact_title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 48px
    }

    .business_contact__name {
        display: block
    }

    .business_contact_signature {
        margin-bottom: 36px
    }

    .business_contact_text {
        padding-left: 0
    }

    .business_contact_name {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px
    }

    .business_contact_address {
        font-size: 18px;
        line-height: 30px
    }
}