.calculatorpage {
    background: #1b1b1c
}

.calculatorpage .section_title {
    background: url(../img/calculatorpage.jpg) center/cover no-repeat
}

.calculatorpage .fileretouching_express_left .contentleft {
    max-width: 1080px
}

.calculatorpage .fileretouching_express_left .row {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 42px
}

.calculatorpage .fileretouching_express_left .col-md-6 {
    padding-left: 40px;
    padding-right: 40px
}

.calculator {
    min-height: calc(36.875vw + 160px);
    padding-bottom: 80px;
    padding-top: 80px
}

.calculator_image {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/calculator_image.svg) calc(100% - 80px) center/auto 31.1458vw no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden
}

@media (max-width:1279px) {
    .calculatorpage .fileretouching_express_left .contentleft {
        max-width: 520px
    }

    .calculatorpage .fileretouching_express_left .col-md-6+.col-md-6 {
        margin-top: 30px
    }

    .calculator_image {
        position: relative;
        top: 0;
        right: 40px;
        left: 40px;
        width: calc(100% - 80px);
        padding: 0 40px;
        background-position: center;
        background-size: contain
    }
}

@media (max-width:767px) {
    .calculator_image {
        right: 20px;
        left: 20px;
        padding: 0 20px;
        width: calc(100% - 40px)
    }
}

.calculator_img {
    background: url(../img/calculator_img.png) center/contain no-repeat;
    width: 55vw;
    height: 36.875vw;
    position: absolute;
    right: -15vw;
    top: 50%;
    margin-top: -18.4375vw
}

@media (max-width:1279px) {
    .calculator_img {
        width: 100%;
        height: 66vw;
        position: static;
        margin-top: 0
    }

    .calculator_buttons .button {
        width: 100%
    }
}

.calculator_buttons {
    margin: 62px -10px 0
}

.calculator_buttons .button {
    margin: 10px
}

@media (max-width:479px) {
    .calculator_buttons {
        margin-left: 0;
        margin-right: 0
    }

    .calculator_buttons .button {
        height: 60px;
        line-height: normal;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        white-space: normal;
        margin: 10px 0
    }
}

.calculator_table {
    background: #262627;
    margin-left: auto;
    padding: 76px 80px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 60%;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%
}

.calculator_table table {
    width: 100%
}

.calculator_table table th {
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    padding-bottom: 24px
}

.calculator_table table th:first-child {
    padding-right: 20px
}

.calculator_table table th.tar {
    padding-left: 20px;
    text-align: right
}

.calculator_table table td {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 36px;
    vertical-align: top
}

.calculator_table table td span {
    font-weight: 600;
    font-size: 14px;
    color: #959597;
    display: block;
    text-transform: none;
    letter-spacing: 0;
    margin-top: 8px
}

.calculator_table table td:first-child {
    padding-right: 20px
}

.calculator_table table td.tar {
    padding-left: 20px;
    text-align: right
}

.calculator_table table tbody tr {
    border-bottom: 1px solid #474749
}

.calculator_table table tbody tr:last-child {
    border-bottom: none
}

@media (max-width:1439px) {
    .calculator_table {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:767px) {
    .calculator_table {
        padding: 36px 20px 40px
    }

    .calculator_table table th {
        font-size: 12px
    }

    .calculator_table table td {
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 12px
    }

    .calculator_table table td span {
        font-size: 12px
    }
}

.calculator_textblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.calculator_textblock_text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    padding-right: 40px
}

.calculator_textblock_text h2 {
    max-width: 480px
}

.calculator_textblock_text p {
    max-width: 400px
}

.calculator_textblock_text h2+p {
    margin-top: 46px
}

.section_calculatortextblock {
    padding-top: 120px;
    padding-bottom: 120px
}

.calculator_table3 table td span.mobile {
    display: none;
    margin-top: 0;
    margin-bottom: 8px
}

.calculator_table3 td.tar {
    white-space: nowrap
}

@media (max-width:767px) {
    .calculator_table3 table td span.mobile {
        display: block
    }

    .calculator_table3 th {
        display: none
    }

    .calculator_table3 table,
    .calculator_table3 tbody,
    .calculator_table3 td,
    .calculator_table3 thead {
        display: block
    }

    .calculator_table3 tr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .calculator_table3 tr td:first-child {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-right: 0
    }

    .calculator_table3 tr td:nth-child(2) {
        text-align: left;
        padding-left: 0;
        padding-right: 20px
    }

    .calculator_table3 tr td.tar {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        white-space: normal
    }

    .section_calculatorabout {
        text-align: center
    }
}

.section_calculatorabout {
    padding-top: 145px;
    padding-bottom: 120px
}

.section_calculatorabout h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 60px
}

@media (max-width:1279px) {
    .calculator_textblock {
        display: block
    }

    .calculator_textblock_text {
        padding-right: 0;
        margin-bottom: 48px
    }

    .section_calculatorabout {
        padding-top: 72px;
        padding-bottom: 72px
    }

    .section_calculatorabout h2 {
        font-size: 34px;
        line-height: 40px
    }
}

.calculatorabout {
    font-size: 20px;
    line-height: 32px;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
    margin: 103px -10px 0
}

.calculatorabout li {
    padding: 24px 10px;
    display: inline-block;
    width: 100%
}

@media (max-width:1599px) {
    .calculatorabout {
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3
    }
}

@media (max-width:1279px) {
    .calculatorabout {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        margin-top: 58px
    }

    .calculatorabout li {
        padding-top: 12px;
        padding-bottom: 12px
    }
}

.textsection_buttons {
    margin: 62px -10px 0
}

.textsection_buttons .button {
    margin: 10px;
    min-width: 400px
}

@media (max-width:1023px) {
    .textsection_buttons {
        display: block
    }
}

@media (max-width:479px) {
    .calculator_table3 tr td.tar {
        padding-left: 10px
    }

    .calculator_table3 tr td:nth-child(2) {
        padding-right: 10px;
        padding-left: 0
    }

    .textsection_buttons {
        margin-left: 0;
        margin-right: 0
    }

    .textsection_buttons .button {
        width: 100%;
        margin: 10px 0
    }
}

.section_billboardtext {
    text-align: center;
    padding-top: 145px;
    padding-bottom: 120px
}

.billboardtext_head {
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.billboardtext_head h2+p {
    margin-top: 46px
}

.billboardtext {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 94px
}

@media (max-width:1279px) {
    .section_billboardtext {
        padding-top: 72px;
        padding-bottom: 80px
    }

    .billboardtext {
        display: block;
        margin-top: 48px
    }
}

.billboardtext_block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 calc(50% - 2px);
    -ms-flex: 1 1 calc(50% - 2px);
    flex: 1 1 calc(50% - 2px);
    margin: 1px;
    background: #262627;
    text-align: left;
    padding: 74px 80px 90px
}

@media (max-width:1439px) {
    .billboardtext_block {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:767px) {
    .calculatorabout {
        font-size: 16px;
        line-height: 24px;
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }

    .textsection_buttons .button {
        min-width: 0
    }

    .billboardtext_block {
        padding: 42px 20px
    }
}

@media (max-width:479px) {
    .billboardtext_block {
        text-align: center
    }
}

.billboardtext_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    max-width: 400px;
    margin-bottom: 58px
}

.billboardexample_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    min-height: 274px;
    padding-top: 65px;
    padding-bottom: 65px
}

.section_calculator_sliders {
    padding-top: 160px;
    padding-bottom: 120px
}

@media (max-width:1279px) {
    .billboardexample_title {
        font-size: 36px;
        line-height: 48px;
        min-height: 144px
    }

    .section_calculator_sliders {
        padding-top: 80px;
        padding-bottom: 80px
    }
}

@media (max-width:767px) {
    .billboardexample_title {
        font-size: 24px;
        line-height: 36px;
        min-height: 96px
    }

    .section_calculator_sliders {
        padding-bottom: 60px
    }
}

.calculator_sliders {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.calculator_sliders_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 160px;
    padding: 40px 80px;
    background: #262627
}

.calculator_sliders_row+.calculator_sliders_row {
    margin-top: 1px
}

@media (max-width:1439px) {
    .calculator_sliders_row {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:767px) {
    .calculator_sliders_row {
        padding-left: 20px;
        padding-right: 20px
    }
}

.calculator_sliders_title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase
}

@media (max-width:1439px) {
    .calculator_sliders_title {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 37.5%;
        -ms-flex: 0 0 37.5%;
        flex: 0 0 37.5%
    }
}

.calculator_slider {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 800px;
    -ms-flex: 0 0 800px;
    flex: 0 0 800px;
    padding-left: 40px
}

.calculator_slider .ui-widget-header {
    background: #fff
}

.calculator_slider .ui-widget.ui-widget-content {
    border: none;
    border-radius: 0;
    background: #3b3b3c;
    color: #242426
}

.calculator_slider .ui-slider-handle {
    border: none;
    background: #fff;
    font-weight: 700;
    color: #242426;
    top: 0;
    margin-left: 0;
    width: auto;
    height: 60px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    line-height: 60px;
    margin-top: -23px;
    border-radius: 0;
    padding-left: 44px;
    padding-right: 44px
}

.calculator_slider .ui-slider-handle:after,
.calculator_slider .ui-slider-handle:before {
    content: '';
    display: block;
    width: 6px;
    height: 9px;
    position: absolute;
    background: url(../img/arrowleftblack.png) center/contain no-repeat;
    top: 50%;
    margin-top: -4px
}

.calculator_slider .ui-slider-handle:before {
    left: 20px
}

.calculator_slider .ui-slider-handle:after {
    right: 20px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media (max-width:1439px) {
    .calculator_slider {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 62.5%;
        -ms-flex: 0 0 62.5%;
        flex: 0 0 62.5%
    }
}

@media (max-width:1023px) {
    .calculator_sliders_row {
        display: block
    }

    .calculator_sliders_title {
        text-align: center
    }

    .calculator_slider {
        padding: 48px 0 0
    }

    .calculator_slider .ui-slider-handle {
        height: 40px;
        line-height: 40px;
        margin-top: -13px;
        padding-left: 20px;
        padding-right: 20px
    }

    .calculator_slider .ui-slider-handle:before {
        left: 5px
    }

    .calculator_slider .ui-slider-handle:after {
        right: 5px
    }
}

.calculator_sliders_button {
    margin-top: 66px;
    text-align: center
}

.calculator_sliders_button .button {
    width: 100%;
    max-width: 400px
}