.colorcorrectionpage {
    background: url(../img/colorcorrectionpage.jpg) center top/100% auto no-repeat #1b1b1c
}

.colorcorrectionpage h1 {
    max-width: 640px
}

@media (max-width:1599px) {
    .colorcorrectionpage {
        background-size: auto
    }
}

.section_colorcorrecion {
    background: 0 0;
    position: relative
}

.colorcorrecion_image {
    position: absolute;
    top: 92px;
    right: 160px;
    z-index: 1;
    overflow: hidden
}

.colorcorrecion_img {
    position: relative
}

.colorcorrecion_img_img {
    width: 53.90625vw;
    height: 50.52791667vw;
    background: url(../img/colorcorrecion_img.png) right top/contain no-repeat
}

.colorcorrecion__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 210px;
    padding-top: 20.625vw;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 18.75vw no-repeat;
    right: 3.5416667vw;
    top: 19.16667vw
}

.colorcorrecion_bottomcontent {
    margin-left: 160px;
    padding-bottom: 0;
    margin-top: 320px
}

.colorcorrecion_bottomtext {
    font-size: 98px;
    line-height: 131px;
    text-transform: uppercase;
    font-weight: 900;
    border: 5px solid #fff;
    max-width: 720px;
    padding: 82px 48px 76px 106px
}

@media (max-width:1919px) {
    .colorcorrecion_bottomcontent {
        margin-left: 80px;
        margin-top: 160px
    }
}

@media (max-width:1599px) {
    .colorcorrecion_image {
        right: 80px
    }

    .colorcorrecion_bottomcontent {
        margin-left: 0;
        margin-top: 80px
    }
}

@media (max-width:1279px) {
    .colorcorrecion_image {
        position: relative;
        top: 0;
        right: 0;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: -8vw
    }

    .colorcorrecion_img_img {
        width: 100%;
        height: 90vw;
        background-position: center top
    }

    .section_colorcorrecion {
        padding-top: 76px
    }

    .colorcorrecion__text {
        padding-top: 396px;
        background-size: auto 360px;
        right: 40px;
        top: 30vw
    }

    .colorcorrecion_bottomcontent {
        margin-top: 0;
        padding-top: 40px
    }

    .colorcorrecion_bottomtext {
        max-width: 360px;
        font-size: 50px;
        line-height: 65px;
        padding: 36px 36px 38px 50px
    }
}

@media (max-width:767px) {
    .colorcorrecion__text {
        width: 50%;
        padding-top: 210px;
        text-align: left;
        background: url(../img/fileretouching_express__text1_bg_mob.png) left top/auto 200px no-repeat;
        right: auto;
        left: 44%;
        top: 50vw
    }

    .colorcorrecion_image {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0
    }

    .section_colorcorrecion {
        padding-top: 58px
    }

    .colorcorrecion_bottomcontent {
        padding-top: 60px
    }

    .colorcorrecion_bottomtext {
        font-size: 44px;
        line-height: 58px;
        padding: 29px 36px 26px 50px
    }

    .colorcorrecion_img_img {
        height: 125vw
    }
}

@media (max-width:359px) {
    .colorcorrecion_bottomtext {
        padding: 29px 24px 26px 36px
    }
}

.section_colorcorrecion_advantages {
    margin-top: -400px;
    padding-bottom: 160px
}

.colorcorrecion_advantages__img {
    position: relative;
    top: -160px;
    text-align: right;
    padding-right: 160px;
    margin-bottom: 36px;
    overflow: hidden
}

.colorcorrecion_advantages_img {
    display: inline-block;
    width: 59.583333vw;
    height: 41.25vw;
    background: url(../img/colorcorrecion_advantages_img.png) center top/contain no-repeat
}

.colorcorrecion_advantages h2 {
    margin-bottom: 94px
}

.colorcorrecion_advantages .fileretouching_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto
}

.colorcorrecion_advantages .fileretouching_ul li {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    padding-right: 30px;
    margin: 30px 0
}

@media (max-width:1919px) {
    .colorcorrecion_advantages__img {
        padding-right: 80px
    }
}

@media (max-width:1279px) {
    .section_colorcorrecion_advantages {
        margin-top: -200px;
        padding-bottom: 105px
    }

    .colorcorrecion_advantages_img {
        width: 100%;
        height: 60vw;
        position: relative;
        right: -27.5vw
    }

    .colorcorrecion_advantages__img {
        margin-bottom: -96px
    }

    .colorcorrecion_advantages h2 {
        margin-bottom: 53px
    }

    .colorcorrecion_advantages .fileretouching_ul li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin: 15px 0
    }
}

@media (max-width:767px) {
    .section_colorcorrecion_advantages {
        margin-top: 0;
        padding-bottom: 48px
    }

    .colorcorrecion_advantages_img {
        right: 0
    }

    .colorcorrecion_advantages__img {
        padding-right: 0;
        top: -40px;
        margin-bottom: 12px
    }

    .colorcorrecion_advantages .fileretouching_ul {
        display: block
    }

    .colorcorrecion_advantages .fileretouching_ul li {
        padding-right: 0;
        margin: 0
    }

    .colorcorrecion_advantages .fileretouching_ul li+li {
        margin-top: 30px
    }

    .colorcorrecion_advantages h2 {
        margin-bottom: 50px
    }

    .section_colorcorrecion_advantages .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}

.colorcorrection_pdf {
    position: relative
}

.colorcorrection_pdf .fileretouching_textblock {
    position: static
}

.colorcorrection_pdf .fileretouching_textblock_imgright {
    overflow: hidden
}

.colorcorrection_pdf .fileretouching_textblock_imgright img {
    position: relative;
    right: -50px
}

.section_colorgamuts {
    background: #dbdde9;
    text-align: center;
    padding-top: 114px;
    padding-bottom: 152px
}

.section_colorgamuts h2 {
    margin-bottom: 88px
}

.colorgamuts_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto
}

.colorgamuts_item {
    padding: 0 20px
}

.colorgamuts_item_title {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px
}

.colorgamuts_item_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: .02em
}

@media (max-width:1279px) {
    .colorcorrection_pdf .fileretouching_textblock_imgright img {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        width: calc(100% + 40px);
        margin-left: -40px;
        max-width: none
    }

    .section_colorgamuts {
        padding-top: 148px
    }

    .section_colorgamuts h2 {
        margin-bottom: 60px
    }

    .colorgamuts_item_title {
        margin-bottom: 2px
    }
}

@media (max-width:767px) {
    .section_colorgamuts {
        padding-top: 53px;
        padding-bottom: 60px
    }

    .section_colorgamuts .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_colorgamuts h2 {
        margin-bottom: 32px
    }

    .colorgamuts_list.owl-carousel {
        padding-bottom: 70px
    }

    .colorgamuts_list.owl-carousel .owl-nav {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .colorgamuts_list.owl-carousel .owl-nav button {
        position: static;
        margin: 0 10px
    }
}

.colorcorrection_management {
    position: relative
}

.colorcorrection_management .fileretouching_textblock {
    position: static
}

.colorcorrection_management .fileretouching_textblock_imgright {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden
}

.colorcorrection_management .fileretouching_textblock_imgright img {
    margin-bottom: -230px
}

@media (max-width:1279px) {
    .colorcorrection_management .fileretouching_textblock_imgright {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .colorcorrection_management .fileretouching_textblock_imgright img {
        margin-bottom: 0
    }
}

.creativepreparation .section_fileretouching_textures_bg {
    right: auto;
    left: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.creativepreparation .section_fileretouching_textures_bg_text {
    top: -.9375vw;
    left: -3.75vw;
    right: auto;
    text-align: left
}

.creativepreparation__img {
    position: relative;
    top: -72px;
    padding-right: 160px;
    margin-bottom: 36px;
    overflow: hidden
}

.creativepreparation_img {
    display: inline-block;
    width: 83.38541vw;
    height: 49.84375vw;
    background: url(../img/creativepreparation_img.png) center top/contain no-repeat
}

.creativepreparation_text {
    font-size: 76px;
    line-height: 102px;
    text-transform: uppercase;
    font-weight: 900;
    border: 5px solid #fff;
    max-width: 720px;
    color: #fff;
    position: absolute;
    right: 240px;
    top: -80px;
    z-index: 3;
    padding: 43px 48px 40px 72px;
    text-align: left
}

@media (max-width:1599px) {
    .creativepreparation_text {
        right: 80px
    }
}

@media (max-width:1279px) {
    .creativepreparation_text {
        right: 40px;
        max-width: 340px;
        top: -40px;
        font-size: 36px;
        line-height: 48px;
        padding: 42px
    }

    .creativepreparation__img {
        top: 0;
        padding-right: 0
    }
}

@media (max-width:767px) {
    .creativepreparation_text {
        position: relative;
        top: 0;
        right: 0
    }

    .creativepreparation .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}