.contact_section_main {
    background: url(../img/contact_section_main.jpg) center/cover no-repeat;
    color: #fff;
    border-bottom: 1px solid #4b4b4b;
    position: relative;
    padding-top: 160px
}

@media (max-width:767px) {
    .contact_section_main {
        padding-top: 120px
    }
}

.contact_main_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid #4b4b4b
}

.contact_main_content_left {
    border-right: 1px solid #4b4b4b;
    min-width: 160px;
    position: relative;
    left: 0;
    bottom: 0;
    height: auto
}

.contact_main_content_right {
    border-left: 1px solid #4b4b4b;
    min-width: 160px;
    position: relative;
    right: 0;
    top: 0;
    height: auto
}

.contact_main_content_center {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 560px;
    padding-bottom: 96px
}

.contact_address_section {
    background: #242426;
    color: #fff
}

.contact_address_section .content {
    padding-top: 66px
}

.contact_address_section p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em
}

.contact_address_section h2+p {
    margin-top: 14px
}

.contact_address_section .row {
    position: relative
}

.contact_address_item {
    position: relative;
    padding-left: 80px;
    display: block
}

.contact_address_item_icon {
    position: absolute;
    left: 0;
    top: 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.contact_address_item_title {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .02em;
    margin-bottom: 13px;
    text-transform: uppercase
}

.contact_address_item_text {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px
}

.contact_address_photo {
    display: block;
    width: 100%;
    height: 560px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.contact_address_today {
    background: url(../img/contact_address_today.jpg) center top/cover no-repeat
}

.contact_address_today .footer_feedback_input {
    height: 50px
}

.contact_address_today .footer_feedback_textarea {
    height: 170px;
    padding-top: 16px;
    padding-bottom: 16px
}

.contact_address_today .ui-selectmenu-button.ui-button {
    height: 50px;
    padding: 16px 20px
}

.contact_address_form_radiobuttons_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 32px
}

.contact_address_form_radiobuttons .custom_radio {
    margin-right: 56px
}

.contact_address_form_dates_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 18px
}

.contact_address_form_dates_inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.contact_address_form_dates_inputs input {
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .02em;
    background: #414242;
    margin-right: 10px;
    color: #fff;
    display: block
}

.contact_address_form_dates_inputs input:last-child {
    margin-right: 0
}

.contact_address_form_dates_inputs input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.contact_address_form_dates_inputs input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.contact_address_form_dates_inputs input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.contact_address_form_dates_inputs input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.contact_address_form_dates_inputs input::placeholder {
    color: #fff;
    opacity: 1
}

.contact_address_form_dates_inputs .contact_address_form_date_m {
    width: 120px
}

.contact_address_form_dates_inputs .contact_address_form_date_y {
    width: 210px
}

.contact_address_form_button .button {
    width: 100%
}

.contact_address_form {
    padding-top: 49px
}

.contact_address_form_row+.contact_address_form_row {
    margin-top: 10px
}

.contact_address_form_textarea {
    margin-top: 20px
}

.contact_address_form_radiobuttons {
    padding: 32px 0
}

.contact_address_form_dates {
    padding: 10px 0 60px
}

.contact_address_list {
    padding-top: 69px
}

.contact_address_row+.contact_address_row {
    margin-top: 50px
}

.contact_address_left {
    padding-bottom: 560px
}

.contact_address_photos {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 50%
}

#map2 {
    height: 720px
}

.getafeel_section {
    text-align: center;
    color: #fff;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 122px
}

.getafeel_feels_list .row {
    margin-left: -10px;
    margin-right: -10px
}

.getafeel_feels_list [class*=col-] {
    padding: 10px
}

.getafeel_feel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #2c2c2e;
    height: 480px;
    padding: 50px 20px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.getafeel_feel:hover {
    background: #5f61d2
}

.getafeel_feel:hover .getafeel_feel_text {
    color: #fff
}

.getafeel_feel_icon {
    height: 110px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 124px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.getafeel_feel_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: .02em
}

.getafeel_feel_text {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .02em;
    color: #9a9896;
    text-transform: uppercase
}

.trackyourorder_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 39px
}

.trackyourorder form {
    max-width: 1080px;
    width: 100%;
    background: #303030;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 120px
}

.trackyourorder form input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: #fff;
    height: 100%;
    padding: 0 50px
}

.trackyourorder form input::-webkit-input-placeholder {
    color: #fff
}

.trackyourorder form input::-moz-placeholder {
    color: #fff
}

.trackyourorder form input:-ms-input-placeholder {
    color: #fff
}

.trackyourorder form input::-ms-input-placeholder {
    color: #fff
}

.trackyourorder form input::placeholder {
    color: #fff
}

.trackyourorder form button {
    min-width: 240px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    color: #fff
}

.trackyourorder form button:before {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background: #7c7c7d;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px
}

.social_section {
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    padding: 66px 0;
    background: #1b1b1c
}

.social_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.social_list li {
    margin: 0 15px
}

.social_list a {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat
}

.getafeel_feels {
    padding: 112px 0;
    margin-bottom: 12px
}

.getafeel_feels h2 {
    margin-bottom: 65px
}

.trackyourorder h2 {
    margin-bottom: 72px
}

.contact_main_content_right_back {
    display: none;
    width: 104px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #4b4b4b;
    background: url(../img/arrowleftwhite.png) center/12px auto no-repeat
}

.contact_address_borderleft {
    border-left: 1px solid #4b4b4b
}

.getafeel_section {
    background: url(../img/getafeel_feels.jpg) center/cover no-repeat
}

.contact_address_form_iframe {
    width: 100%;
    height: 1020px;
    border: none
}

.contact_address_form_iframe #header {
    display: none !important
}

@media (max-width:1599px) {

    .contact_main_content_left,
    .contact_main_content_right {
        min-width: 80px
    }
}

@media (max-width:1279px) {
    .contact_main_content {
        display: block
    }

    .main_section_right {
        border-left: none;
        border-top: 1px solid #4b4b4b;
        width: 100%;
        height: 160px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 134px
    }

    .main_section_right ul {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    .contact_main_content_right_back {
        display: block
    }

    .contact_main_content_center {
        display: block;
        padding-bottom: 92px;
        min-height: 0
    }

    .contact_address_left {
        padding-bottom: 0
    }

    .contact_address_photos {
        width: 100%;
        position: relative
    }

    .contact_address_section .content {
        padding-top: 80px;
        padding-bottom: 160px
    }

    .contact_address_today .content {
        padding-bottom: 80px
    }

    .contact_address_list {
        padding-top: 83px
    }

    .getafeel_feels {
        padding: 77px 0 47px
    }

    .getafeel_section {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 109px;
        border-bottom: 1px solid #4b4b4b
    }

    .getafeel_feels h2 {
        margin-bottom: 52px
    }

    .getafeel_feel {
        height: 420px
    }

    .getafeel_feel_icon {
        top: 96px
    }

    .trackyourorder h2 {
        margin-bottom: 54px
    }

    .trackyourorder_title {
        margin-bottom: 35px
    }

    .social_section {
        display: none
    }
}

@media (max-width:767px) {
    .contact_section_main {
        text-align: center
    }

    .contact_main_content_center {
        padding-bottom: 86px;
        padding-left: 20px;
        padding-right: 20px
    }

    .contact_main_content_right_back {
        width: 57px
    }

    .main_section_right {
        padding-left: 78px;
        height: 80px
    }

    .main_section_right ul {
        display: block;
        text-align: left
    }

    .main_section_right ul li {
        margin-left: 0;
        padding-left: 0
    }

    .main_section_right ul li:first-child:after {
        content: '';
        display: block;
        width: 65px;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 64px;
        top: 50%;
        opacity: .2
    }

    .contact_address_borderleft {
        border-left: none;
        margin-top: 28px
    }

    .contact_address_form_dates_inputs .contact_address_form_date_m {
        width: calc(30% - 10px)
    }

    .contact_address_form_dates_inputs .contact_address_form_date_y {
        width: 40%
    }

    #map2 {
        height: 300px
    }

    .trackyourorder form {
        display: block;
        height: auto;
        background: 0 0
    }

    .trackyourorder form input {
        width: 100%;
        height: 120px;
        margin-bottom: 20px;
        background: #303030
    }

    .trackyourorder form button {
        width: 100%;
        height: 60px;
        background: #fff;
        color: #242426
    }

    .trackyourorder form button:before {
        display: none
    }

    .contact_address_photo {
        height: 250px
    }
}

@media (max-width:479px) {
    .contact_section_main .content {
        padding-top: 25px;
        padding-bottom: 0
    }

    .contact_address_list {
        padding-top: 48px
    }

    .contact_address_item_text {
        font-size: 22px;
        line-height: 32px
    }

    .contact_address_item_title {
        margin-bottom: 22px
    }

    .contact_address_row+.contact_address_row {
        margin-top: 57px
    }

    .contact_address_section .content {
        padding-top: 80px;
        padding-bottom: 75px
    }

    .contact_address_form {
        padding-top: 51px
    }

    .getafeel_feels {
        padding: 72px 0 48px
    }

    .getafeel_section {
        padding-left: 20px;
        padding-right: 20px
    }
}