.demandpage {
    background: url(../img/demandpage.jpg) top right no-repeat #1b1b1c
}

.demandpage h1 {
    max-width: 680px
}

@media (max-width:1599px) {
    .demandpage {
        background-size: 100% auto
    }
}

.section_premediaservices {
    padding-top: 10px
}

.demandpage_image {
    position: absolute;
    top: 70px;
    right: 160px;
    z-index: 1;
    overflow: hidden
}

.demandpage_img {
    display: block;
    width: 54.0104167vw;
    height: 51.25vw;
    background: url(../img/demandpage_img.png) center top/contain no-repeat
}

@media (max-width:1919px) {
    .demandpage_image {
        right: 80px
    }
}

@media (max-width:1279px) {
    .demandpage_image {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px
    }

    .demandpage_img {
        width: 100%;
        height: calc(95.5vw - 80px)
    }
}

@media (max-width:767px) {
    .section_demandpage {
        padding-bottom: 60px
    }

    .demandpage_image {
        padding-left: 20px;
        padding-right: 20px
    }

    .demandpage_img {
        width: 100%;
        height: calc(95.5vw - 40px)
    }
}

.section_demandpage {
    min-height: 62.5vw
}

.section_ecommerce1 {
    background: url(../img/section_ecommerce.jpg) center/cover no-repeat
}

.section_ecommerce2 {
    background: url(../img/section_ecommerce2.jpg) center/cover no-repeat
}

.ecommerce_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.ecommerce_img1,
.ecommerce_img2,
.ecommerce_text {
    width: 50%
}

.ecommerce_img1 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    position: relative;
    text-align: right
}

.ecommerce_img1 img {
    height: calc(100% + 92px);
    width: auto;
    position: absolute;
    top: -155px;
    right: 0;
    -o-object-fit: contain;
    object-fit: contain
}

.ecommerce_img2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-top: 10px
}

.ecommerce_img2 img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
    width: auto
}

.ecommerce_text {
    padding: 142px 0 126px
}

.ecommerce_text h2 {
    letter-spacing: 0;
    margin-bottom: 75px
}

.ecommerce_text .button {
    width: 100%;
    max-width: 320px
}

@media (max-width:1919px) {
    .ecommerce_img1 img {
        height: calc(100% + 48px);
        width: auto;
        max-width: none;
        position: absolute;
        top: -76px;
        right: 0
    }
}

@media (max-width:1599px) {
    .ecommerce_img1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px
    }

    .ecommerce_img1 img {
        height: auto;
        width: 100%;
        max-width: 760px;
        position: static
    }

    .ecommerce_img2 {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px
    }

    .ecommerce_img2 img {
        -o-object-fit: contain;
        object-fit: contain;
        height: auto;
        width: 100%;
        max-width: 760px
    }
}

@media (max-width:1279px) {
    .section_ecommerce {
        padding-top: 48px;
        padding-bottom: 60px
    }

    .ecommerce_flex {
        display: block
    }

    .ecommerce_img1,
    .ecommerce_img2 {
        width: 100%;
        margin-bottom: 48px
    }

    .ecommerce_text {
        width: 100%;
        padding: 0
    }
}

.demand_textsection {
    background: url(../img/demand_textsection.jpg) center/cover no-repeat
}

.demand_textsection h2 {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto
}

.demand_textsection .fileretouching_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1060px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px
}

.demand_textsection li {
    margin: 0 20px !important
}

@media (max-width:767px) {

    .ecommerce_img1,
    .ecommerce_img2 {
        padding: 0 20px
    }

    .demand_textsection .fileretouching_ul li {
        width: calc(50% - 40px)
    }
}

.section_engaging {
    background: url(../img/section_engaging.jpg) top right/cover
}

@media (max-width:1279px) {
    .section_engaging .fileretouching_textblock {
        display: block
    }

    .section_engaging .fileretouching_textblock_imgleft {
        position: static;
        width: 100%
    }

    .section_engaging .fileretouching_textblock_right {
        padding-left: 0;
        margin-left: 0;
        max-width: 480px;
        width: 100%
    }
}

.section_printstudio {
    background: url(../img/section_printstudio.jpg) top right/100% auto no-repeat #1b1b1c;
    padding: 146px 0 186px
}

.section_printstudio .wrapper {
    max-width: 1440px
}

.printstudio_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.printstudio_flex_rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.printstudio_flex_rev .printstudio_img {
    padding-left: 60px;
    margin-right: -80px;
    padding-right: 0
}

.printstudio_text {
    max-width: 440px;
    width: 100%;
    padding-right: 20px
}

.printstudio_text .button {
    margin-top: 80px
}

.printstudio_text h2 {
    margin-bottom: 48px
}

.printstudio_pborder {
    position: relative;
    padding-top: 48px
}

.printstudio_pborder:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

.printstudio_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: calc(100% - 360px);
    padding-right: 80px
}

.printstudio_ul_title {
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 900;
    margin-bottom: 42px
}

.printstudio_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.printstudio_ul li {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: .02em;
    text-align: left;
    width: 33.33333%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px
}

.printstudio_ul li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 10px
}

.printstudio_ul li span {
    display: block;
    max-width: 388px
}

.printstudio_top {
    margin-bottom: 120px
}

h2.printstudio_top_title {
    letter-spacing: 0;
    margin-bottom: 108px
}

@media (max-width:1919px) {
    .printstudio_flex_rev .printstudio_img {
        padding-left: 40px;
        margin-right: -40px
    }
}

@media (max-width:1599px) {
    .printstudio_img {
        width: calc(100% - 440px);
        padding-right: 40px
    }

    .printstudio_flex_rev .printstudio_img {
        padding-left: 40px;
        margin-right: 0
    }
}

@media (max-width:1279px) {
    .printstudio_flex {
        display: block
    }

    .printstudio_flex_rev .printstudio_img {
        padding-left: 0;
        margin-right: auto
    }

    .printstudio_img {
        width: 100%;
        padding: 0;
        margin-bottom: 48px;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto
    }

    .printstudio_ul li {
        width: 50%
    }
}

.section_demandservice {
    background: #141414
}

.apiconnectivity {
    position: relative
}

.apiconnectivity .fileretouching_textblock {
    position: static
}

.apiconnectivity .fileretouching_textblock_imgleft {
    background: url(../img/apiconnectivity.jpg) center/cover no-repeat
}

@media (max-width:767px) {
    .printstudio_ul li {
        width: 100%;
        padding-right: 0;
        margin-top: 10px;
        margin-bottom: 10px
    }

    .section_printstudio {
        padding-top: 72px;
        padding-bottom: 96px
    }

    h2.printstudio_top_title {
        margin-bottom: 48px
    }

    .apiconnectivity {
        padding-top: 0
    }

    .apiconnectivity .fileretouching_textblock_imgleft {
        position: static;
        width: calc(100% + 80px);
        height: 100vw;
        margin-left: -40px;
        margin-right: -40px
    }
}

@media (max-width:479px) {
    .apiconnectivity .fileretouching_textblock_imgleft {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px
    }
}

.filearchiving {
    background: #141414;
    position: relative
}

.filearchiving .fileretouching_textblock {
    position: static
}

.filearchiving .fileretouching_textblock_imgright {
    overflow: hidden
}

.filearchiving .fileretouching_textblock_imgright img {
    right: -160px;
    position: relative
}

@media (max-width:1279px) {
    .filearchiving .fileretouching_textblock {
        display: block
    }

    .filearchiving .fileretouching_textblock_imgright {
        position: static;
        width: 100%;
        margin-bottom: 48px
    }

    .filearchiving .fileretouching_textblock_imgright img {
        right: 0
    }

    .filearchiving .fileretouching_textblock_left {
        width: 100%;
        max-width: 480px
    }

    .reporting .fileretouching_textblock {
        min-height: 0
    }
}

.workflowmanagement {
    background: #141414;
    position: relative
}

.workflowmanagement_img1 .fileretouching_textblock {
    position: static
}

.workflowmanagement_img1 .fileretouching_textblock_imgright {
    background: url(../img/workflowmanagement.png) left center/175% auto no-repeat
}

.workflowmanagement_img2 .fileretouching_textblock_imgright {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:767px) {
    .workflowmanagement_img1 {
        padding-top: 0
    }

    .workflowmanagement_img1 .fileretouching_textblock_imgright {
        position: static;
        height: calc(125vw - 80px);
        background-size: contain
    }
}

@media (max-width:479px) {
    .workflowmanagement_img1 .fileretouching_textblock_imgright {
        position: static;
        height: calc(125vw - 40px)
    }
}

.userecurity2 {
    background: #1b1b1c
}

.userecurity2 .fileretouching_textblock_imgleft {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.userecurity1 {
    background: #1b1b1c;
    position: relative
}

.userecurity1 .fileretouching_textblock {
    position: static
}

.userecurity1 .fileretouching_textblock_imgleft {
    background: url(../img/userecurity1.jpg) center/cover no-repeat
}

@media (max-width:767px) {
    .userecurity1 {
        padding-top: 0
    }

    .userecurity1 .fileretouching_textblock_imgleft {
        height: calc(100vw - 80px);
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-right: -40px
    }
}

@media (max-width:479px) {
    .userecurity1 .fileretouching_textblock_imgleft {
        height: calc(100vw - 40px);
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px
    }
}

.reporting {
    background: #141414;
    position: relative
}

.reporting .fileretouching_textblock {
    position: static
}

.reporting .fileretouching_textblock_imgright {
    background: url(../img/reporting.jpg) center/cover no-repeat
}

@media (max-width:767px) {
    .reporting {
        padding-top: 0
    }

    .reporting .fileretouching_textblock {
        display: block
    }

    .reporting .fileretouching_textblock_imgright {
        position: static;
        width: calc(100% + 80px);
        height: calc(100vw - 80px);
        margin-bottom: 48px;
        margin-left: -40px;
        margin-right: -40px
    }
}

@media (max-width:479px) {
    .reporting .fileretouching_textblock_imgright {
        position: static;
        width: calc(100% + 40px);
        height: calc(100vw - 40px);
        margin-left: -20px;
        margin-right: -20px
    }
}