.diecuttingpage {
    background: #1b1b1c
}

.diecuttingpage .section_title {
    background: url(../img/diecuttingpage.jpg) right center/auto 100% no-repeat #1b1b1c
}

.diecutting {
    background: url(../img/diecutting_bg.jpg) center top/100% auto no-repeat;
    padding-bottom: 0;
    min-height: 70vw
}

.diecutting_image {
    position: absolute;
    right: 160px;
    top: -355px;
    z-index: 2
}

.diecutting_img {
    position: relative
}

.diecutting_img_img {
    width: 58.33333vw;
    height: 69.7916667vw;
    background: url(../img/diecutting_img.png) top center/contain no-repeat
}

.diecutting__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 207px;
    padding-top: 20.625vw;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 18.75vw no-repeat;
    right: 4.16667vw;
    bottom: 0
}

.diecutting_bottomcontent {
    padding-bottom: 0;
    margin-left: 160px;
    margin-top: 80px
}

.diecutting_bottomtext {
    max-width: 640px;
    border: 5px solid #fff;
    font-size: 52px;
    line-height: 69px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 58px 64px 56px 72px
}

@media (max-width:1599px) {
    .diecutting_image {
        right: 80px
    }

    .diecutting_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1439px) {
    .diecutting_image {
        right: 80px
    }

    .diecutting_bottomcontent {
        margin-left: 0
    }
}

@media (max-width:1279px) {
    .offsetprintingpage .section_title {
        background-size: cover
    }

    .diecutting {
        padding-top: 0
    }

    .diecutting_image {
        right: 0;
        top: -24px;
        position: relative;
        padding: 0 40px;
        margin-bottom: -20px
    }

    .diecutting_img_img {
        width: 100%;
        height: 123.5vw
    }

    .diecutting__text {
        padding-top: 396px;
        background-size: contain;
        right: 120px
    }

    .diecutting_bottomcontent {
        margin-left: 40px;
        margin-top: 0;
        padding-top: 40px
    }

    .diecutting_bottomtext {
        max-width: 400px;
        font-size: 32px;
        line-height: 43px;
        padding: 34px 64px 33px 44px
    }
}

@media (max-width:767px) {
    .diecutting {
        padding-top: 43px
    }

    .diecutting_image {
        top: 0;
        padding: 0 20px;
        margin-bottom: 0
    }

    .diecutting_img_img {
        height: 140vw
    }

    .diecutting__text {
        width: 120px;
        right: auto;
        left: 44%;
        padding-top: 210px;
        text-align: left;
        background: url(../img/fileretouching_express__text1_bg_mob.png) left top/auto 200px no-repeat
    }

    .diecutting_bottomcontent {
        margin-left: 0;
        padding-top: 60px
    }

    .diecutting_bottomtext {
        max-width: 320px;
        font-size: 26px;
        line-height: 34px;
        padding: 28px 36px
    }
}

.diecuttingimage {
    margin-top: -80px;
    position: relative;
    padding-bottom: 54px
}

.diecuttingimage_img {
    position: relative;
    top: -260px;
    width: 66.666667vw;
    margin: 0 auto
}

@media (max-width:1279px) {
    .diecuttingimage {
        padding-top: 103px;
        padding-bottom: 80px;
        margin-top: -170px
    }

    .diecuttingimage_img {
        top: 0;
        width: 100%
    }
}

@media (max-width:767px) {
    .diecuttingimage {
        margin-top: -140px;
        padding-top: 120px;
        padding-bottom: 70px
    }

    .diecuttingimage .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}

.diecuttingboxes {
    padding-bottom: 0;
    overflow: hidden
}

.diecuttingboxes .fileretouching_textblock_left {
    padding-left: 0;
    padding-bottom: 210px
}

.diecuttingboxes .fileretouching_textblock_left h2 {
    width: 1280px
}

.diecuttingboxes .fileretouching_textblock_left p {
    max-width: 420px
}

.diecuttingboxes .fileretouching_textblock_imgright {
    width: calc(50% + 160px);
    padding-top: 80px
}

@media (max-width:1439px) {
    .diecuttingboxes .fileretouching_textblock_left h2 {
        width: calc(100vw - 80px)
    }

    .diecuttingboxes .fileretouching_textblock_imgright {
        padding-top: 80px;
        width: calc(50% + 80px)
    }
}

@media (max-width:1279px) {
    .diecuttingboxes {
        padding-top: 0
    }

    .diecuttingboxes .fileretouching_textblock {
        display: block
    }

    .diecuttingboxes .fileretouching_textblock_imgright {
        position: relative;
        width: 100%;
        padding-top: 105px;
        margin-bottom: 110px
    }

    .diecuttingboxes .fileretouching_textblock_left {
        padding-bottom: 160px
    }
}

@media (max-width:479px) {
    .diecutting_bottomtext {
        max-width: 100%
    }

    .diecuttingboxes .fileretouching_textblock_left {
        padding-bottom: 60px
    }
}

.section_whydiecutting {
    background: url(../img/whydiecutting.jpg) center/cover no-repeat;
    padding: 153px 0 80px
}

.whydiecutting_title {
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 131px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto
}

.whydiecutting_list {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.whydiecutting_list [class*=col-] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.whydiecutting_list [class*=col-]:nth-child(2),
.whydiecutting_list [class*=col-]:nth-child(5) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.whydiecutting_list [class*=col-]:nth-child(3),
.whydiecutting_list [class*=col-]:nth-child(6) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.whydiecutting_list [class*=col-]:nth-child(7) {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

@media (max-width:1279px) {
    .section_whydiecutting {
        padding-bottom: 20px
    }

    .whydiecutting_list [class*=col-] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .whydiecutting_list [class*=col-]:nth-child(even),
    .whydiecutting_list [class*=col-]:nth-child(odd) {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.whydiecutting_item {
    position: relative;
    padding: 42px 0 94px 36px;
    border-top: 4px solid #afa4fc;
    max-width: 320px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .02em
}

.whydiecutting_item_number {
    position: absolute;
    left: 0;
    top: 42px
}

@media (max-width:767px) {
    .diecuttingboxes .fileretouching_textblock_imgright {
        padding-top: 36px;
        margin-bottom: 56px
    }

    .diecuttingboxes .fileretouching_textblock_left h2 {
        width: 100%
    }

    .diecuttingboxes .fileretouching_textblock_left h2 br {
        display: none
    }

    .section_whydiecutting .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .whydiecutting_item {
        padding-bottom: 70px
    }

    .section_whydiecutting {
        padding-top: 53px;
        padding-bottom: 0
    }

    .whydiecutting_title {
        margin-bottom: 56px
    }
}

.diecutting_standart {
    position: relative
}

.diecutting_standart .fileretouching_textblock {
    position: static
}

.diecutting_standart .fileretouching_textblock_imgleft {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.diecutting_standart .fileretouching_textblock_imgleft img {
    position: relative;
    top: -160px;
    left: -80px;
    width: calc(100% + 80px);
    max-width: none
}

@media (max-width:1279px) {
    .diecutting_standart .fileretouching_textblock_imgleft {
        padding-top: 92px
    }

    .diecutting_standart .fileretouching_textblock_imgleft img {
        top: 0;
        left: -160px;
        width: calc(100% + 160px)
    }
}

@media (max-width:767px) {
    .diecutting_standart {
        padding-top: 36px
    }

    .diecutting_standart .fileretouching_textblock_imgleft {
        position: relative;
        display: block;
        width: 100%;
        padding-top: 0
    }

    .diecutting_standart .fileretouching_textblock_imgleft img {
        top: 0;
        left: 0;
        width: 100%
    }
}

.diecutting_materials .fileretouching_textblock_left {
    padding-left: 0
}

@media (max-width:1279px) {
    .diecutting_materials {
        padding-top: 92px;
        padding-bottom: 60px
    }

    .diecutting_materials .fileretouching_textblock {
        display: block
    }

    .diecutting_materials .fileretouching_textblock_imgright {
        position: relative;
        width: 82%;
        margin: 0 auto 56px
    }
}

@media (max-width:767px) {
    .diecutting_materials {
        padding-top: 62px
    }

    .diecutting_materials .fileretouching_textblock_imgright {
        width: 100%
    }
}

.section_wecanprint {
    background: #dbdde9
}

.diecutting_scg {
    position: relative
}

.diecutting_scg .fileretouching_textblock {
    position: static
}

.diecutting_scg .fileretouching_textblock_left {
    padding-left: 0
}

.diecutting_scg .fileretouching_textblock_imgright {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/diecutting_scg.jpg) center/cover no-repeat
}

.diecutting_scg_ul {
    font-size: 14px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 38px
}

.diecutting_scg_ul li {
    position: relative;
    padding-left: 24px
}

.diecutting_scg_ul li:before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 13px
}

@media (max-width:767px) {
    .diecutting_scg {
        padding-top: 0;
        padding-bottom: 42px
    }

    .diecutting_scg .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .diecutting_scg .fileretouching_textblock_imgright {
        position: static;
        width: 100vw;
        height: 100vw;
        margin: 0 -20px
    }

    .diecutting_scg .fileretouching_textblock_left {
        padding-top: 52px
    }
}

.diecutting_scg2 {
    position: relative
}

.diecutting_scg2 .fileretouching_textblock {
    position: static;
    min-height: 560px
}

.diecutting_scg2 .fileretouching_textblock_imgleft {
    width: 50%;
    background: url(../img/diecutting_specialized.jpg) center/cover no-repeat #f99a12
}

@media (max-width:767px) {
    .diecutting_scg2 {
        padding-top: 0;
        padding-bottom: 42px
    }

    .diecutting_scg2 .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .diecutting_scg2 .fileretouching_textblock_imgleft {
        position: static;
        width: 100vw;
        height: 100vw;
        margin: 0 -20px
    }

    .diecutting_scg2 .fileretouching_textblock_right {
        padding-top: 52px
    }
}

.diecutting_specialized {
    position: relative
}

.diecutting_specialized .fileretouching_textblock {
    position: static;
    height: 1280px
}

.diecutting_specialized .fileretouching_textblock_imgright {
    height: 100%;
    width: 50%;
    display: block
}

.diecutting_specialized .fileretouching_textblock_left {
    padding-left: 0
}

.diecutting_specialized_img48,
.diecutting_specialized_img64 {
    background: center/cover no-repeat;
    width: 100%
}

.diecutting_specialized_img48 {
    height: 480px
}

.diecutting_specialized_img64 {
    height: 640px
}

@media (max-width:1279px) {

    .diecutting_specialized_img48,
    .diecutting_specialized_img64 {
        height: 400px
    }

    .diecutting_specialized {
        padding-top: 80px;
        padding-bottom: 80px
    }

    .diecutting_specialized .fileretouching_textblock {
        position: static;
        height: 1440px
    }
}

.diecutting_minimaze {
    position: relative
}

.diecutting_minimaze .fileretouching_textblock {
    position: static
}

.diecutting_minimaze .fileretouching_textblock_imgleft {
    background: url(../img/diecutting_minimaze.jpg) right center/cover no-repeat
}

@media (max-width:767px) {
    .diecutting_specialized_img48 {
        width: 100vw;
        height: 100vw
    }

    .diecutting_specialized {
        padding-top: 0;
        padding-bottom: 60px
    }

    .diecutting_specialized .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .diecutting_specialized .fileretouching_textblock {
        height: auto
    }

    .diecutting_specialized .fileretouching_textblock_imgright {
        height: auto;
        width: 100vw;
        position: static;
        margin: 0 -20px
    }

    .diecutting_specialized .fileretouching_textblock_left {
        padding-top: 52px
    }

    .diecutting_minimaze {
        padding-top: 0
    }

    .diecutting_minimaze .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .diecutting_minimaze .fileretouching_textblock_imgleft {
        position: static;
        width: 100vw;
        height: 100vw;
        background-size: 100% auto;
        background-position: center bottom;
        margin: 0 -40px
    }

    .diecutting_minimaze .fileretouching_textblock_right {
        padding-top: 52px
    }
}

.section_diecuttinglf {
    background: #1b1b1c;
    padding-top: 158px;
    padding-bottom: 152px
}

.section_diecuttinglf h4 {
    letter-spacing: .9em;
    margin-bottom: 24px
}

.section_diecuttinglf h2 {
    margin-bottom: -82px
}

.diecuttinglf_img {
    margin-bottom: -30px
}

.diecuttinglf_list .row {
    margin-left: -20px;
    margin-right: -20px
}

.diecuttinglf_list [class*=col-] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px
}

.diecuttinglf_list [class*=col-]:first-child {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.diecuttinglf_list [class*=col-]:last-child {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.diecuttinglf_item {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .02em;
    font-weight: 600;
    position: relative;
    max-width: 460px;
    padding: 48px 0 38px
}

.diecuttinglf_item:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

@media (max-width:1279px) {
    .section_diecuttinglf h2 {
        margin-bottom: -4px
    }

    .diecuttinglf_img {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .section_diecuttinglf {
        padding-top: 58px;
        padding-bottom: 32px
    }

    .section_diecuttinglf .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_diecuttinglf h2 {
        font-size: 38px;
        line-height: 43px
    }

    .section_diecuttinglf h4 {
        margin-bottom: 44px
    }

    .diecuttinglf_img {
        margin-left: -20px;
        margin-right: -20px
    }

    .diecuttinglf_list [class*=col-] {
        display: block
    }
}

.diecuttingitem {
    position: relative;
    padding: 146px 80px 240px;
    height: 800px;
    background: center/cover no-repeat
}

.diecuttingitem_number {
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 58px
}

.diecuttingitem_title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    position: relative;
    padding-bottom: 36px
}

.diecuttingitem_title:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0
}

.diecuttingitem_button {
    position: absolute;
    left: 80px;
    bottom: 80px;
    max-width: 320px;
    width: 100%
}

.diecuttingitem_button .button {
    width: 100%
}

.diecuttinglist_image480,
.diecuttinglist_image640,
.diecuttinglist_image800 {
    background: center/cover no-repeat;
    width: 100%
}

.diecuttinglist_image480 {
    height: 480px
}

.diecuttinglist_image640 {
    height: 640px
}

.diecuttinglist_image800 {
    height: 800px
}

@media (max-width:1439px) {
    .diecuttinglist_image640 {
        height: 560px
    }

    .diecuttinglist_image480 {
        height: 400px
    }
}

@media (max-width:1279px) {
    .diecuttingitem {
        height: 800px;
        padding-left: 40px;
        padding-right: 40px
    }

    .diecuttingitem_button {
        left: 40px
    }
}

@media (max-width:767px) {
    .diecuttingitem {
        height: 720px;
        padding: 50px 20px 180px
    }

    .diecuttingitem_button {
        left: 20px
    }

    .diecuttinglist_image800 {
        height: 720px
    }

    .diecuttinglist_image640 {
        height: 480px
    }

    .diecuttinglist_image480 {
        height: 360px
    }
}