.directmailpage {
    background: #1a1a1b;
    overflow-x: hidden
}

.directmailpage h1 {
    max-width: 660px
}

.directmailpage .contact_section_main {
    background: #1a1a1b
}

.directmailpage .contact_main_content {
    border-bottom: none
}

.directmailpage .contact_main_content_center {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 16px;
    padding-top: 78px
}

.direcmail {
    background: url(../img/direcmail_bg.jpg) center/cover no-repeat;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 254px;
    padding-bottom: 250px;
    color: #fff
}

.direcmail h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: .1em
}

.direcmail .wrapper {
    position: relative;
    z-index: 2
}

.direcmail .direcmail_img {
    background: url(../img/direcmail_img.png) center bottom/auto 100% no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 360px);
    z-index: 1
}

@media (max-width:1919px) {
    .direcmail .direcmail_img {
        height: calc(100% + 240px)
    }
}

@media (max-width:1439px) {
    .direcmail .direcmail_img {
        height: calc(100% + 160px)
    }
}

@media (max-width:1279px) {
    .direcmail h2 br.notab {
        display: none
    }

    .directmailpage .contact_main_content_center .content {
        padding-bottom: 60px
    }

    .directmailpage h1 {
        font-size: 60px;
        line-height: 60px;
        font-weight: 600
    }

    .directmailpage h1.h1before:before {
        top: 24px
    }

    .directmailpage .breadcrumbs+h1 {
        margin-top: 58px
    }

    .direcmail {
        padding-top: 148px;
        padding-bottom: 178px
    }

    .direcmail h2 {
        font-size: 50px;
        line-height: 58px
    }

    .direcmail .direcmail_img {
        height: calc(100% + 40px)
    }

    .directmailpage .contact_main_content_center {
        padding-bottom: 0;
        padding-top: 0
    }
}

@media (max-width:479px) {
    .directmailpage .contact_main_content_center .content {
        padding-left: 0;
        padding-right: 0
    }

    .directmailpage .breadcrumbs+h1 {
        margin-top: 48px
    }

    .directmailpage h1 br {
        display: none
    }

    .directmailpage .contact_main_content_center {
        padding-bottom: 27px
    }

    .direcmail h2 {
        font-size: 34px;
        line-height: 40px
    }

    .direcmail {
        padding-top: 52px;
        padding-bottom: 48px
    }

    .direcmail .direcmail_img {
        height: calc(100% - 32px)
    }
}

.section_direcmailreadmail .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.section_direcmailreadmail_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}

.section_direcmailreadmail_center .contentleft h2+h3 {
    margin-top: 40px
}

.section_direcmailreadmail_center .contentleft h3+p {
    margin-top: 32px
}

.direcmailreadmail_right {
    min-height: 395px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 80px 40px 160px
}

.direcmailreadmail_right1 {
    background: url(../img/direcmailreadmail_right1.jpg) right center/cover no-repeat #242426
}

.direcmailreadmail_right2 {
    background: url(../img/direcmailreadmail_right2.jpg) right bottom/cover no-repeat #242426
}

.direcmailreadmail_right+.direcmailreadmail_right {
    margin-top: 4px
}

.direcmailreadmail_right_percent {
    font-size: 181px;
    font-weight: 700;
    white-space: nowrap
}

.direcmailreadmail_right_percent span.count {
    min-width: 222px;
    display: inline-block
}

.direcmailreadmail_right_percent span.percent {
    font-size: 52px;
    font-weight: 900
}

.direcmailreadmail_right_text {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    max-width: 272px;
    margin-left: 60px
}

@media (max-width:1919px) {
    .direcmailreadmail_right {
        padding-left: 80px;
        padding-right: 80px
    }

    .direcmailreadmail_right_percent {
        font-size: 160px
    }

    .direcmailreadmail_right_percent span.count {
        min-width: 196px
    }

    .direcmailreadmail_right_text {
        font-size: 24px;
        line-height: 32px;
        margin-left: 40px
    }
}

@media (max-width:1439px) {
    .direcmailreadmail_right {
        padding-left: 40px;
        padding-right: 40px
    }

    .section_direcmailreadmail .contentleft h2,
    .section_direcmailreadmail .contentleft p {
        max-width: 100%
    }
}

@media (max-width:1279px) {
    .direcmailreadmail_right {
        display: block;
        min-height: 0;
        padding: 77px 80px 60px;
        min-height: calc(50% - 2px)
    }

    .direcmailreadmail_right_percent {
        font-size: 108px;
        line-height: 76px;
        margin-bottom: 18px
    }

    .direcmailreadmail_right_percent span.count {
        min-width: 136px
    }

    .direcmailreadmail_right_percent span.percent {
        font-size: 31px
    }

    .direcmailreadmail_right_text {
        max-width: 100%;
        margin: 0;
        font-size: 16px;
        line-height: 21px
    }

    .section_direcmailreadmail_center .contentleft h3 {
        font-size: 24px;
        line-height: 30px
    }
}

@media (max-width:767px) {
    .direcmailreadmail_right {
        padding: 40px;
        min-height: 236px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .direcmailreadmail_right_percent {
        font-size: 86px;
        line-height: 60px;
        margin-bottom: 0
    }

    .direcmailreadmail_right_percent span.count {
        min-width: 106px
    }

    .direcmailreadmail_right_percent span.percent {
        font-size: 25px
    }

    .direcmailreadmail_right_text {
        margin: 0 0 0 15px
    }

    .section_direcmailreadmail_center .content {
        padding-top: 52px;
        padding-bottom: 67px
    }
}

@media (max-width:359px) {
    .direcmailreadmail_right {
        padding-left: 20px;
        padding-right: 20px
    }
}

.direcmail_aboutmail {
    background: #dbdde9;
    text-align: center;
    padding: 145px 0 176px
}

.direcmail_aboutmail h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 192px
}

.millennials_cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.millennials_col {
    max-width: 320px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px
}

.millennials_col_img {
    width: 100%;
    height: 415px;
    background: center top/contain no-repeat;
    margin-bottom: 36px
}

.millennials_col_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.millennials_col_percent {
    font-size: 100px;
    font-weight: 700;
    line-height: 70px;
    white-space: nowrap
}

.millennials_col_percent span.count {
    min-width: 120px;
    display: inline-block
}

.millennials_col_percent span.percent {
    font-size: 30px;
    font-weight: 900
}

.millennials_col_p {
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 20px;
    position: relative;
    margin-top: -5px
}

.millennials_cols.owl-carousel {
    padding-bottom: 116px
}

.millennials_cols.owl-carousel .millennials_col {
    margin-left: auto;
    margin-right: auto
}

.millennials_cols.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.millennials_cols.owl-carousel .owl-nav button.owl-next,
.millennials_cols.owl-carousel .owl-nav button.owl-prev {
    position: static;
    margin: 0 10px
}

@media (max-width:1279px) {
    .direcmail_aboutmail {
        padding-top: 150px;
        padding-bottom: 58px
    }

    .direcmail_aboutmail h2 {
        font-size: 50px;
        line-height: 58px;
        margin-bottom: 78px
    }
}

@media (max-width:767px) {
    .direcmail_aboutmail {
        padding-top: 53px;
        padding-bottom: 40px
    }

    .direcmail_aboutmail h2 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 50px
    }

    .millennials_col {
        padding-left: 0;
        padding-right: 0;
        max-width: 280px
    }

    .millennials_cols.owl-carousel {
        padding-bottom: 74px
    }
}

.direcmail_loveit {
    background: url(../img/direcmail_loveit_bg.jpg) center/cover no-repeat;
    text-align: center;
    color: #fff;
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 160px 0
}

.direcmail_loveit .wrapper {
    position: relative;
    z-index: 2
}

.direcmail_loveit h2 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: .1em;
    font-weight: 900;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase
}

.direcmail_loveit_img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden
}

.direcmail_loveit_img .parallax_img50 {
    width: 100%;
    height: 100%;
    background: url(../img/direcmail_loveit_img.png) center/cover no-repeat
}

@media (max-width:1279px) {
    .direcmail_loveit {
        padding: 80px 0
    }

    .direcmail_loveit h2 {
        font-size: 50px;
        line-height: 58px
    }

    .direcmail_loveit_img .parallax_img50 {
        background-image: url(../img/direcmail_loveit_img_tab.png)
    }
}

@media (max-width:767px) {
    .direcmail_loveit {
        padding: 40px 0
    }

    .direcmail_loveit h2 {
        font-size: 34px;
        line-height: 40px
    }

    .direcmail_loveit_img .parallax_img50 {
        background-image: url(../img/direcmail_loveit_img_mob.png)
    }
}

.direcmail_differ {
    background: url(../img/direcmail_differ.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding-top: 147px;
    padding-bottom: 155px
}

.direcmail_differ h2 {
    max-width: 860px;
    margin: 0 auto 41px
}

.direcmail_differ_legend {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.direcmail_differ_legend_title {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: .02em
}

.direcmail_differ_legend_icon {
    position: relative;
    padding-left: 50px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 44px
}

.direcmail_differ_legend_icon i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px
}

.direcmail_differ_legend_icon i.white {
    background: #fff
}

.direcmail_differ_legend_icon i.black {
    background: #222221
}

.direcmail_differ_graphs_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.direcmail_differ_graphs_item {
    max-width: 230px;
    padding-left: 15px;
    padding-right: 15px
}

.direcmail_differ_graphs_item_graphs {
    height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 90px
}

.direcmail_differ_graphs_item_graph {
    width: 40px;
    position: relative;
    height: 0;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out
}

.direcmail_differ_graphs_item_graph.white {
    background: #fff
}

.direcmail_differ_graphs_item_graph.black {
    background: #222221
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph66 {
    height: 66%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph71 {
    height: 71%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph54 {
    height: 54%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph59 {
    height: 59%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph45 {
    height: 45%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph40 {
    height: 40%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph36 {
    height: 36%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph35 {
    height: 35%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph24 {
    height: 24%
}

.direcmail_differ_graphs_list.visible .direcmail_differ_graphs_item_graph.direcmail_differ_graphs_item_graph19 {
    height: 19%
}

.direcmail_differ_graphs_item_graph+.direcmail_differ_graphs_item_graph {
    margin-left: 10px
}

.direcmail_differ_graphs_item_graph_percent {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    text-align: center;
    white-space: nowrap
}

.direcmail_differ_graphs_item_graph_percent span.percent {
    font-size: 12px;
    font-weight: 900
}

.direcmail_differ_graphs_item_text {
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .02em
}

.direcmail_differ_graphs_list.owl-carousel {
    padding-bottom: 97px
}

.direcmail_differ_graphs_list.owl-carousel .direcmail_differ_graphs_item {
    margin-left: auto;
    margin-right: auto
}

.direcmail_differ_graphs_list.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.direcmail_differ_graphs_list.owl-carousel .owl-nav button.owl-next,
.direcmail_differ_graphs_list.owl-carousel .owl-nav button.owl-prev {
    position: static;
    margin: 0 10px
}

@media (max-width:1279px) {
    .direcmail_differ {
        padding-top: 151px;
        padding-bottom: 60px
    }

    .direcmail_differ h2 {
        max-width: 600px;
        margin-bottom: 28px
    }
}

@media (max-width:767px) {
    .direcmail_differ_legend_title {
        min-width: 100%;
        margin-bottom: 40px
    }

    .direcmail_differ_legend_icon {
        margin-left: 0
    }

    .direcmail_differ {
        padding-top: 54px;
        padding-bottom: 40px
    }

    .direcmail_differ h2 {
        margin-bottom: 18px
    }

    .direcmail_differ_legend {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .direcmail_differ_legend_icon+.direcmail_differ_legend_icon {
        margin-left: 0
    }

    .direcmail_differ_graphs_item_graphs {
        margin-bottom: 32px
    }

    .direcmail_differ_graphs_list.owl-carousel {
        padding-bottom: 75px
    }

    .section_howbrain_left .content {
        padding-top: 52px;
        padding-bottom: 62px
    }
}

.section_howbrain {
    background: #1b1b1c
}

.section_howbrain_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.section_howbrain_right {
    background: #242426;
    min-height: 398px;
    border: 2px solid #1b1b1c;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px
}

.section_howbrain_left_icon {
    width: 100%;
    height: 136px;
    background: center bottom/contain no-repeat;
    margin-bottom: 59px
}

.section_howbrain_left_text {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 900;
    max-width: 325px;
    margin-left: auto;
    margin-right: auto
}

.section_howbrain__right .row {
    min-height: 100%
}

@media (max-width:1279px) {

    .section_howbrain .contentleft h2,
    .section_howbrain .contentleft p {
        max-width: 100%
    }

    .section_howbrain .contentleft h2 br,
    .section_howbrain .contentleft p br {
        display: none
    }

    .section_howbrain_right {
        min-height: 180px;
        border-left: none;
        border-right: none;
        padding: 32px 24px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .section_howbrain_right_inner {
        text-align: left;
        position: relative;
        padding-left: 134px
    }

    .section_howbrain_left_icon {
        width: 134px;
        height: 110px;
        margin-top: -55px;
        background-position: left center;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 50%
    }

    .section_howbrain_left_text {
        max-width: 100%
    }

    .section_howbrain_left_text br {
        display: none
    }
}

.section_neuromarketing {
    text-align: center;
    color: #fff;
    background: url(../img/direcmail_loveit_bg.jpg) center/cover no-repeat;
    padding-top: 147px
}

.neuromarketing_content h2 {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 44px;
    word-break: break-word
}

.neuromarketing_content p {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    letter-spacing: .02em
}

.neuromarketing_list {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 86px
}

.neuromarketing_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
    -ms-flex: 1 0 33.33333%;
    flex: 1 0 33.33333%;
    position: relative
}

.neuromarketing_item_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out
}

.neuromarketing_item_bg.neuromarketing_item_bg_left {
    background: #ef7880
}

.neuromarketing_item_bg.neuromarketing_item_bg_center {
    background: #9d8dfb
}

.neuromarketing_item_bg.neuromarketing_item_bg_right {
    background: #b9b0fd
}

.neuromarketing_list.visible .neuromarketing_item_bg.neuromarketing_item_bg_left {
    height: 40px
}

.neuromarketing_list.visible .neuromarketing_item_bg.neuromarketing_item_bg_center {
    height: 100%
}

.neuromarketing_list.visible .neuromarketing_item_bg.neuromarketing_item_bg_right {
    height: 30px
}

.neuromarketing_item_content {
    position: relative;
    z-index: 2;
    padding: 235px 40px 283px
}

.neuromarketing_item_title {
    font-size: 26px;
    line-height: 35px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    letter-spacing: .02em;
    padding-left: 40px;
    padding-right: 40px
}

.neuromarketing_item_center_percent {
    font-size: 127px;
    font-weight: 700;
    line-height: 46px
}

.neuromarketing_item_center_percent span.percent {
    font-size: 36px;
    font-weight: 900
}

.neuromarketing_item_center_title {
    font-size: 67px;
    font-weight: 700;
    line-height: 48px
}

.neuromarketing_item_text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 108px;
    width: 100%;
    min-height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px
}

@media (max-width:1279px) {

    .neuromarketing_item_text,
    .neuromarketing_item_title {
        padding-left: 20px;
        padding-right: 20px
    }

    .neuromarketing_content h2 {
        margin-bottom: 36px
    }

    .neuromarketing_content h2 br {
        display: none
    }

    .neuromarketing_content p {
        max-width: 560px;
        line-height: 24px
    }

    .neuromarketing_item_title {
        font-size: 21px;
        line-height: 28px;
        top: 74px
    }

    .neuromarketing_item_title br {
        display: none
    }

    .neuromarketing_item_center_percent {
        font-size: 101px
    }

    .neuromarketing_item_center_percent span.percent {
        font-size: 28px
    }

    .neuromarketing_item_center_title {
        font-size: 54px
    }

    .neuromarketing_item_text {
        font-size: 16px;
        line-height: 24px;
        bottom: 84px
    }

    .neuromarketing_list {
        padding-top: 72px
    }

    .neuromarketing_item_content {
        padding: 228px 20px 215px
    }
}

.neuromarketing_list.owl-carousel .neuromarketing_item {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto
}

.neuromarketing_list.owl-carousel .owl-nav button.owl-prev {
    left: -20px
}

.neuromarketing_list.owl-carousel .owl-nav button.owl-next {
    right: -20px
}

@media (max-width:767px) {
    .section_neuromarketing {
        padding-top: 53px
    }

    .neuromarketing_list {
        padding-top: 19px
    }

    .neuromarketing_item_content {
        padding: 184px 20px 180px
    }

    .neuromarketing_item_title {
        top: 34px
    }

    .neuromarketing_item_text {
        display: block;
        bottom: auto;
        top: 344px
    }

    .neuromarketing_item {
        height: 480px
    }
}

.section_neuromarketinggraph {
    background: #1b1b1c;
    color: #fff;
    text-align: center;
    padding-top: 147px;
    padding-bottom: 141px
}

.section_neuromarketinggraph h2 {
    margin-bottom: 44px;
    word-break: break-word
}

.neuromarketinggraph_big {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.neuromarketinggraph_big_img {
    height: 596px;
    width: 768px;
    background: url(../img/neuromarketinggraph_big_img.png) left center/contain no-repeat;
    font-size: 173px;
    font-weight: 700;
    line-height: 616px;
    text-align: left;
    padding-left: 511px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.neuromarketinggraph_big_img span.percent {
    font-size: 52px;
    font-weight: 900
}

.neuromarketinggraph_big_text {
    font-size: 25px;
    line-height: 33px;
    max-width: 210px;
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 26px;
    letter-spacing: .02em
}

.neuromarketinggraph_small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: -98px
}

.neuromarketinggraph_small_img {
    height: 340px;
    width: 420px;
    background: url(../img/neuromarketinggraph_small_img.png) left center/contain no-repeat;
    font-size: 100px;
    font-weight: 700;
    line-height: 328px;
    text-align: left;
    padding-left: 294px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.neuromarketinggraph_small_img span.percent {
    font-size: 30px;
    font-weight: 900
}

.neuromarketinggraph_small_text {
    font-size: 14px;
    line-height: 19px;
    max-width: 128px;
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 38px;
    margin-bottom: 40px;
    letter-spacing: .02em
}

.neuromarketinggraphs {
    padding-top: 96px
}

@media (max-width:1279px) {
    .neuromarketinggraph_small {
        margin-top: 78px
    }

    .neuromarketinggraph_big_img {
        height: 418px;
        width: 556px;
        padding-left: 357px;
        font-size: 121px;
        line-height: 430px
    }

    .neuromarketinggraph_big_img span.percent {
        font-size: 36px
    }

    .neuromarketinggraph_big_text {
        font-size: 18px;
        line-height: 23px;
        max-width: 152px;
        margin-left: 0
    }

    .section_neuromarketinggraph h2 {
        margin-bottom: 35px
    }

    .section_neuromarketinggraph h2 br {
        display: none
    }
}

@media (max-width:767px) {
    .neuromarketinggraph_big_img {
        height: 250px;
        max-width: 320px;
        width: 100%;
        padding-left: 214px;
        font-size: 72px;
        line-height: 254px;
        margin: 0 auto 40px
    }

    .neuromarketinggraph_big_img span.percent {
        font-size: 21px
    }

    .neuromarketinggraph_small_img {
        height: 239px;
        max-width: 320px;
        width: 100%;
        padding-left: 224px;
        font-size: 72px;
        line-height: 254px;
        margin: 0 auto 46px
    }

    .neuromarketinggraph_small_img span.percent {
        font-size: 21px
    }

    .neuromarketinggraph_big_text {
        font-size: 17px;
        line-height: 23px;
        max-width: 360px;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }

    .neuromarketinggraph_small_text {
        font-size: 14px;
        line-height: 19px;
        max-width: 240px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        max-width: 360px
    }

    .neuromarketinggraph_big,
    .neuromarketinggraph_small {
        display: block
    }

    .neuromarketinggraph_small {
        margin-top: 92px
    }

    .section_neuromarketinggraph {
        padding-top: 113px;
        padding-bottom: 96px
    }

    .section_neuromarketinggraph h2 {
        margin-bottom: 34px
    }

    .section_neuromarketinggraph p {
        line-height: 24px
    }

    .neuromarketinggraphs {
        padding-top: 58px;
        margin-left: -40px;
        margin-right: -40px
    }

    .neuromarketinggraph_big_text,
    .neuromarketinggraph_small_text {
        padding-left: 40px;
        padding-right: 40px
    }
}

.section_direcmailimage {
    height: 960px;
    background: url(../img/section_direcmailimage.jpg) center/cover no-repeat
}

@media (max-width:1279px) {
    .section_direcmailimage {
        height: 480px
    }
}

@media (max-width:767px) {
    .section_direcmailimage {
        height: 420px
    }
}

.section_howresult {
    background: url(../img/section_howresult.jpg) center/cover no-repeat;
    text-align: center;
    color: #fff;
    padding-top: 146px;
    padding-bottom: 160px
}

.section_howresult h2 {
    margin-bottom: 44px
}

.section_howresult p {
    max-width: 820px;
    margin: 0 auto 78px;
    letter-spacing: .02em
}

.howresult_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    max-width: 1480px;
    margin: 0 auto;
    padding-top: 180px
}

.howresult_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    max-width: 720px;
    padding: 0 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.howresult_graphs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 360px
}

.howresult_graph {
    width: 160px;
    height: 0;
    position: relative;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out
}

.howresult_graph.white {
    background: #fff
}

.howresult_graph.white .howresult_graph_title {
    color: #222221
}

.howresult_graph.white .howresult_graph_percent {
    color: #fff
}

.howresult_graph.black {
    background: #222221
}

.howresult_graph.black .howresult_graph_title {
    color: #fff
}

.howresult_graph.black .howresult_graph_percent {
    color: #222221
}

.howresult_item.visible .howresult_graph.howresult_graph1 {
    height: 357px
}

.howresult_item.visible .howresult_graph.howresult_graph2 {
    height: 194px
}

.howresult_item.visible .howresult_graph.howresult_graph3 {
    height: 326px
}

.howresult_item.visible .howresult_graph.howresult_graph4 {
    height: 349px
}

.howresult_graph+.howresult_graph {
    margin-left: 40px
}

.howresult_graph_title {
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%
}

.howresult_graph_percent {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    font-size: 41px;
    line-height: 41px;
    font-weight: 700
}

.howresult_graph_percent span.percent {
    font-size: 19px;
    font-weight: 900
}

.howresult_text {
    text-align: left;
    padding-right: 60px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    bottom: -10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.howresult_list.owl-carousel {
    padding-bottom: 124px
}

.howresult_list.owl-carousel .howresult_item {
    max-width: 640px;
    padding: 60px 0 20px;
    margin-left: auto;
    margin-right: auto
}

.howresult_list.owl-carousel .howresult_graph+.howresult_graph {
    margin-left: 20px
}

.howresult_list.owl-carousel .howresult_text {
    padding-right: 50px
}

.howresult_list.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.howresult_list.owl-carousel .owl-nav button.owl-next,
.howresult_list.owl-carousel .owl-nav button.owl-prev {
    position: static;
    margin: 0 10px
}

@media (max-width:1279px) {
    .section_howresult h2 {
        margin-bottom: 38px
    }

    .section_howresult h2 br {
        display: none
    }

    .section_howresult p {
        line-height: 24px;
        max-width: 540px;
        margin-bottom: 60px
    }

    .section_howresult h3 {
        font-size: 24px;
        line-height: 36px
    }

    .howresult_list {
        padding-top: 94px
    }

    .section_howresult {
        padding-bottom: 116px
    }
}

@media (max-width:767px) {
    .section_howresult {
        padding-top: 54px;
        padding-bottom: 40px
    }

    .howresult_item {
        display: block
    }

    .section_howresult h3 {
        font-size: 17px;
        line-height: 25px
    }

    .section_howresult p {
        margin-bottom: 24px
    }

    .howresult_list {
        padding-top: 45px;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px
    }

    .howresult_graphs {
        margin-bottom: 22px
    }

    .howresult_list.owl-carousel .howresult_text {
        padding-right: 0;
        line-height: 24px
    }

    .howresult_list.owl-carousel {
        padding-bottom: 40px
    }
}

.section_appealing {
    background: #242426
}

.section_appealing_right {
    height: 800px;
    position: relative
}

.section_appealing_right .parallax {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.section_appealing_right .parallax_img50 {
    background: url(../img/section_appealing_right.jpg) center/cover no-repeat;
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px)
}

.section_appealing_left .content {
    min-height: 800px;
    padding-bottom: 240px
}

.section_appealing_left_button {
    position: absolute;
    left: 80px;
    bottom: 80px
}

@media (max-width:1439px) {
    .howresult_text {
        padding-right: 20px
    }

    .howresult_item {
        padding-left: 20px;
        padding-right: 20px
    }

    .howresult_graph+.howresult_graph {
        margin-left: 20px
    }

    .section_appealing_left_button {
        left: 40px
    }
}

@media (max-width:479px) {
    .section_appealing_left_button {
        width: 100%;
        left: 0;
        padding: 0 20px
    }

    .section_appealing_left_button .button {
        width: 100%
    }
}

.section_trytip {
    color: #fff;
    background: #1b1b1c;
    padding: 151px 0 60px
}

.section_trytip_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    font-weight: 900;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px
}

.section_trytip_list {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.section_trytip_list [class*=col-] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.section_trytip_list [class*=col-]:nth-child(2),
.section_trytip_list [class*=col-]:nth-child(5) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.section_trytip_list [class*=col-]:nth-child(3),
.section_trytip_list [class*=col-]:nth-child(6) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.section_trytip_list [class*=col-]:nth-child(7) {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.section_trytip_item {
    position: relative;
    padding: 42px 0 94px 36px;
    border-top: 4px solid #afa4fc;
    max-width: 320px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .02em
}

.section_trytip_item_number {
    position: absolute;
    left: 0;
    top: 42px
}

@media (max-width:1279px) {
    .section_appealing_right {
        height: 640px
    }

    .section_appealing_left .content {
        min-height: 560px
    }

    .section_trytip_list [class*=col-] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .section_trytip_list [class*=col-]:nth-child(even),
    .section_trytip_list [class*=col-]:nth-child(odd) {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .section_trytip {
        padding: 110px 0 44px
    }

    .section_trytip_title {
        margin-bottom: 106px
    }
}

@media (max-width:767px) {
    .section_appealing_right {
        height: 460px
    }

    .section_appealing_left .content {
        min-height: 480px
    }

    .section_trytip {
        padding: 70px 0 6px
    }

    .section_trytip .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_trytip_title {
        margin-bottom: 36px
    }

    .section_trytip_item {
        padding-bottom: 50px
    }
}

.section_classicapproach {
    background: url(../img/direcmail_loveit_bg.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 146px 0 113px
}

.section_classicapproach h2 {
    max-width: 924px;
    width: 100%;
    margin: 0 auto 44px
}

.section_classicapproach p {
    max-width: 660px;
    width: 100%;
    margin: 0 auto 44px
}

.section_classicapproach h3 {
    max-width: 780px;
    width: 100%;
    margin: 0 auto 1px;
    line-height: 36px
}

.classicapproach_bottom {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    max-width: 1440px;
    margin: 85px auto 0;
    padding-top: 72px
}

.classicapproach_bottom_text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    max-width: 480px;
    width: 100%;
    border: 5px solid #fff;
    padding: 60px 36px 68px 74px;
    font-size: 26px;
    line-height: 34px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left
}

.classicapproach_bottom_bg {
    position: relative;
    z-index: 1;
    color: #121213;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left
}

.classicapproach_bottom_bg_percent {
    font-size: 512px;
    font-weight: 700;
    line-height: 366px;
    position: relative
}

.classicapproach_bottom_bg_percent span.percent {
    font-size: 108px;
    line-height: 114px;
    font-weight: 900;
    letter-spacing: .028em;
    position: absolute;
    left: 100%;
    bottom: 0
}

.classicapproach_bottom_bg_text {
    font-size: 68px;
    line-height: 90px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .015em;
    position: relative;
    top: -21px;
    margin-left: 10px
}

@media (max-width:1439px) {
    .classicapproach_bottom_bg_percent {
        font-size: 258px;
        line-height: 180px
    }

    .classicapproach_bottom_bg_percent span.percent {
        font-size: 54px;
        line-height: 54px;
        margin-left: 8px
    }

    .classicapproach_bottom {
        margin-top: 65px;
        padding-top: 38px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-left: 120px
    }

    .classicapproach_bottom_text {
        font-size: 15px;
        line-height: 20px;
        padding: 33px 24px 38px 41px;
        max-width: 280px
    }

    .classicapproach_bottom_bg_text {
        font-size: 34px;
        line-height: 45px;
        top: -12px
    }

    .classicapproach__bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width:1279px) {
    .section_classicapproach h2 {
        margin-bottom: 36px
    }

    .section_classicapproach h2 br {
        display: none
    }

    .section_classicapproach p {
        line-height: 24px;
        margin-bottom: 30px
    }

    .section_classicapproach h3 {
        font-size: 24px;
        line-height: 36px
    }

    .classicapproach_bottom {
        padding-left: 0
    }
}

@media (max-width:767px) {
    .section_classicapproach {
        padding-top: 52px;
        padding-bottom: 52px
    }

    .section_classicapproach h3 {
        font-size: 18px;
        line-height: 26px
    }

    .classicapproach_bottom {
        margin-top: 34px;
        padding-top: 134px;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .classicapproach_bottom_text {
        max-width: 100%;
        width: 320px;
        margin-left: -160px;
        left: 50%;
        font-size: 17px;
        line-height: 23px;
        padding: 39px 30px 43px 48px
    }

    .classicapproach_bottom_bg {
        display: block
    }

    .classicapproach_bottom_bg_percent {
        font-size: 187px;
        line-height: 130px;
        text-align: center
    }

    .classicapproach_bottom_bg_percent span.percent {
        position: static;
        font-size: 40px
    }

    .classicapproach_bottom_bg_text {
        top: 0;
        font-size: 25px;
        line-height: 32px
    }
}

@media (max-width:479px) {
    .section_classicapproach .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .classicapproach_bottom_text {
        width: 100%;
        margin-left: 0;
        left: 0
    }
}

.count {
    opacity: 0
}