.executiveteampage {
    background: url(../img/awardsbrandspage.jpg) center top/100% auto no-repeat #1b1b1c
}

.executiveteampage .section_title {
    background: 0 0
}

.section_executiveteam {
    background: url(../img/section_lapapaersize_bg.jpg) center/cover no-repeat fixed;
    position: relative;
    text-align: center;
    z-index: 4
}

.executiveteam_bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../img/executiveteam_bg.png) center/cover no-repeat
}

.executiveteam_content {
    position: relative;
    z-index: 2;
    height: 880px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 80px
}

.executiveteam_img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 80px);
    background: url(../img/executiveteam_img.png) center bottom/contain no-repeat
}

.executiveteam_video_play {
    display: block;
    border-radius: 50%;
    background: #fff;
    width: 104px;
    height: 104px;
    position: relative;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    margin: 0 auto 40px
}

.executiveteam_video_play:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 40px solid #2c2c2e;
    border-bottom: 24px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -14px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.executiveteam_video_play:hover {
    background: #2c2c2e
}

.executiveteam_video_play:hover:before {
    border-left-color: #fff
}

.executiveteam_video_title {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .9em;
    text-align: center
}

.executiveteam_video {
    position: relative;
    z-index: 2;
    color: #fff
}

@media (max-width:1439px) {
    .executiveteam_content {
        height: 640px
    }

    .executiveteam_img {
        height: calc(100% + 60px)
    }
}

@media (max-width:1279px) {
    .executiveteam_content {
        height: 400px
    }

    .executiveteam_img {
        height: calc(100% + 36px)
    }
}

@media (max-width:767px) {
    .executiveteam_content {
        height: 66.666667vw;
        padding-top: 40px
    }

    .executiveteam_img {
        height: 100%
    }

    .executiveteam_video_play {
        width: 52px;
        height: 52px;
        margin-bottom: 20px
    }

    .executiveteam_video_play:before {
        border-top: 12px solid transparent;
        border-left: 20px solid #2c2c2e;
        border-bottom: 12px solid transparent;
        margin-top: -12px;
        margin-left: -8px
    }
}

.section_executiveteam_text {
    background: url(../img/section_executiveteam_text.jpg) center/cover no-repeat
}

.section_scgteamsolutions {
    background: url(../img/section_scgteam.jpg) center top/contain no-repeat #1b1b1c;
    padding-top: 160px
}

.section_scgteam {
    background: #1b1b1c;
    padding-bottom: 160px
}

.scgteam_solutions .wrapper {
    max-width: 1440px
}

.scgteam_solutions_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px
}

.scgteam_solution {
    width: 33%;
    max-width: 440px;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 36px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.scgteam_solution h2+p {
    margin-top: 38px
}

.scgteam_solution .scgteam_solution_text {
    margin-bottom: 70px
}

.scgteam_solution_img img {
    width: 100%
}

.scgteam_solution_img,
.scgteam_solution_text {
    min-width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.scgteam_solution:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 0
}

.scgteam_solution:nth-child(even) .scgteam_solution_text {
    margin-bottom: 0
}

.scgteam_solution:nth-child(even) .scgteam_solution_img {
    margin-bottom: 66px
}

@media (max-width:1279px) {
    .scgteam_solutions_list {
        display: block
    }

    .scgteam_solution {
        width: 100%;
        max-width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0
    }

    .scgteam_solution .scgteam_solution_img,
    .scgteam_solution .scgteam_solution_text {
        margin-bottom: 0
    }

    .scgteam_solution_img,
    .scgteam_solution_text {
        width: 50%;
        min-width: 0;
        padding: 0 20px
    }

    .scgteam_solution:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        padding-top: 0
    }

    .scgteam_solution:nth-child(even) .scgteam_solution_img,
    .scgteam_solution:nth-child(even) .scgteam_solution_text {
        margin-bottom: 0
    }

    .scgteam_solution+.scgteam_solution {
        margin-top: 75px
    }

    .section_scgteamsolutions {
        padding-top: 80px
    }

    .section_scgteam {
        padding-bottom: 120px
    }

    .scgteam_solution h2+p {
        margin-top: 32px
    }
}

.scgteam_solutions_list.owl-carousel {
    margin-left: 0;
    margin-right: 0
}

.scgteam_solutions_list.owl-carousel .scgteam_solution {
    display: block;
    padding-bottom: 60px
}

.scgteam_solutions_list.owl-carousel .scgteam_solution_img,
.scgteam_solutions_list.owl-carousel .scgteam_solution_text {
    width: 100%;
    padding: 0
}

.scgteam_solutions_list.owl-carousel .scgteam_solution_text {
    margin-bottom: 36px
}

.scgteam_solutions_list.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.scgteam_solutions_list.owl-carousel .owl-nav button.owl-next,
.scgteam_solutions_list.owl-carousel .owl-nav button.owl-prev {
    position: static;
    margin: 0 10px
}

.section_scgteamsolutions {
    padding-bottom: 180px
}

.scgteam {
    color: #fff
}

.scgteam h2 {
    margin-bottom: 92px
}

.scgteam_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px
}

.scgteam_item {
    padding: 20px;
    display: block;
    cursor: pointer;
    width: 25%
}

.scgteam_item input {
    display: none !important
}

.scgteam_item_content {
    width: 100%
}

.scgteam_item_photo {
    width: 100%;
    height: 480px;
    background: center/cover no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.scgteam_item_text {
    background: #2c2c2e;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    min-height: 240px;
    padding: 54px 20px
}

.scgteam_item_write_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    background: #fff;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.scgteam_item_write_icon svg {
    width: 28px;
    height: 18px;
    fill: #1a1a1b;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.scgteam_item_name {
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 12px
}

.scgteam_item_position {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #9a9896
}

.scgteam_item input:checked+.scgteam_item_content .scgteam_item_photo,
.scgteam_item:hover .scgteam_item_photo {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.scgteam_item input:checked+.scgteam_item_content .scgteam_item_text,
.scgteam_item:hover .scgteam_item_text {
    background: #fff
}

.scgteam_item input:checked+.scgteam_item_content .scgteam_item_write_icon,
.scgteam_item:hover .scgteam_item_write_icon {
    background: #1a1a1b
}

.scgteam_item input:checked+.scgteam_item_content .scgteam_item_write_icon svg,
.scgteam_item:hover .scgteam_item_write_icon svg {
    fill: #fff
}

.scgteam_item input:checked+.scgteam_item_content .scgteam_item_name,
.scgteam_item:hover .scgteam_item_name {
    color: #1b1b1c
}

.scgteam_item input:checked+.scgteam_item_content .scgteam_item_position,
.scgteam_item:hover .scgteam_item_position {
    color: #9a9896
}

.scgteam_form_button {
    text-align: center;
    margin-top: 60px
}

.scgteam_form_button .button {
    width: 100%;
    max-width: 800px
}

@media (min-width:1921px) {
    .scgteam_item {
        width: 20%
    }
}

@media (max-width:1599px) {
    .scgteam_item {
        width: 33.33333%
    }
}

@media (max-width:1439px) {
    .scgteam_item {
        width: 33.33333%
    }

    .scgteam_item_photo {
        height: 440px
    }
}

@media (max-width:1279px) {
    .scgteam_item {
        width: 50%
    }

    .scgteam_item_photo {
        height: 480px
    }

    .scgteam_list {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_scgteamsolutions {
        padding-bottom: 90px
    }

    .scgteam h2 {
        margin-bottom: 60px
    }
}

@media (max-width:1023px) {
    .scgteam_item_photo {
        height: 400px
    }
}

@media (max-width:767px) {
    .scgteam_list {
        padding-left: 0;
        padding-right: 0
    }

    .section_scgteam {
        padding-bottom: 60px
    }
}

.scgteam_list.owl-carousel {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px
}

.scgteam_list.owl-carousel .scgteam_item {
    width: 100%;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0
}

.scgteam_list.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.scgteam_list.owl-carousel .owl-nav button.owl-next,
.scgteam_list.owl-carousel .owl-nav button.owl-prev {
    position: static;
    margin: 0 10px
}