.exhibitpage {
    background: url(../img/exhibitpage.jpg) center top/100% auto no-repeat #1b1b1c
}

.exhibitpage h1 {
    max-width: 760px
}

.section_planningcovention {
    background: 0 0;
    padding: 90px 0 0;
    position: relative;
    min-height: 65vw
}

.planningcovention_bottomtext {
    font-size: 51px;
    line-height: 68px;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 400px;
    border: 5px solid #fff;
    padding: 59px 62px 58px 72px
}

.planningcovention_bottomcontent {
    padding-bottom: 0;
    margin-left: 160px;
    margin-top: 80px;
    position: relative;
    z-index: 3
}

.planningcovention_image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    padding-right: 110px;
    padding-top: 72px
}

.planningcovention_img {
    position: relative
}

.planningcovention_img_img {
    width: 59.114583vw;
    height: 60vw;
    background: url(../img/planningcovention_img.png) right top/contain no-repeat
}

.planningcovention__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 210px;
    padding-top: 20.625vw;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 18.75vw no-repeat
}

.planningcovention__text1 {
    right: 30.88541vw;
    top: 31.25vw
}

.planningcovention__text2 {
    right: 10vw;
    top: 27.083333vw
}

@media (max-width:1599px) {
    .planningcovention_image {
        padding-right: 40px
    }

    .planningcovention_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1279px) {
    .planningcovention_image {
        position: relative;
        padding-top: 0;
        padding-right: 0
    }

    .planningcovention_img_img {
        width: 90vw;
        height: 101.2vw;
        background-position: center top;
        margin-left: auto;
        margin-right: auto
    }

    .section_planningcovention {
        padding-top: 74px
    }

    .planningcovention__text {
        padding-top: 396px;
        background-size: contain
    }

    .planningcovention__text1 {
        right: 43.875vw;
        top: 44.625vw
    }

    .planningcovention__text2 {
        right: 9.5vw;
        top: 34.5vw
    }

    .planningcovention_bottomcontent {
        margin-left: 0;
        padding-top: 40px;
        margin-top: 0
    }

    .exhibitpage .fileretouching_express_left .contentleft {
        max-width: 420px
    }

    .planningcovention_bottomtext {
        font-size: 43px;
        line-height: 57px;
        max-width: 340px;
        padding: 50px 48px 48px 64px
    }
}

@media (max-width:767px) {
    .section_planningcovention {
        padding-top: 60px
    }

    .planningcovention_img_img {
        width: 94vw;
        height: 152.2vw
    }

    .planningcovention__text {
        width: 33.3333%;
        padding-top: 210px;
        text-align: left;
        background: url(../img/fileretouching_express__text1_bg_mob.png) left top/auto 200px no-repeat
    }

    .planningcovention__text1 {
        right: 35vw;
        top: 50vw
    }

    .planningcovention__text2 {
        right: 1.66667vw;
        top: 33.33333vw;
        padding-right: 20px
    }

    .planningcovention_bottomcontent {
        padding-top: 60px
    }

    .planningcovention_bottomtext {
        font-size: 28px;
        line-height: 37px;
        max-width: 220px;
        padding: 31px 24px 31px 37px
    }
}

.section_exhibitwhodid {
    position: relative;
    margin-top: -160px;
    padding-bottom: 160px;
    overflow: hidden
}

.section_exhibitwhodid_img {
    background: url(../img/section_exhibitwhodid_img.png) center top/contain no-repeat;
    margin: 0 auto 42px;
    width: 75vw;
    height: 40.72916667vw;
    position: relative;
    top: -150px;
    z-index: 1
}

.section_exhibitwhodid_content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff
}

.exhibitwhodid {
    width: 100%;
    height: 148px;
    background: center/contain no-repeat;
    cursor: pointer;
    display: block;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.exhibitwhodid_ibm {
    background-image: url(../img/exhibitwhodid_ibm.png)
}

.exhibitwhodid_ibm:hover {
    background-image: url(../img/exhibitwhodid_ibm_h.png)
}

.exhibitwhodid_oreilly {
    background-image: url(../img/exhibitwhodid_oreilly.png)
}

.exhibitwhodid_oreilly:hover {
    background-image: url(../img/exhibitwhodid_oreilly_h.png)
}

.exhibitwhodid_samsung {
    background-image: url(../img/exhibitwhodid_samsung.png)
}

.exhibitwhodid_samsung:hover {
    background-image: url(../img/exhibitwhodid_samsung_h.png)
}

.exhibitwhodid_sun {
    background-image: url(../img/exhibitwhodid_sun.png)
}

.exhibitwhodid_sun:hover {
    background-image: url(../img/exhibitwhodid_sun_h.png)
}

.exhibitwhodid_synopsys {
    background-image: url(../img/exhibitwhodid_synopsys.png)
}

.exhibitwhodid_synopsys:hover {
    background-image: url(../img/exhibitwhodid_synopsys_h.png)
}

.exhibitwhodid_list {
    margin: 142px auto 160px
}

.exhibitwhodid_list_corousel {
    padding: 6px 80px;
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b
}

.exhibitwhodid_list_corousel .owl-nav button.owl-next {
    right: -80px
}

.exhibitwhodid_list_corousel .owl-nav button.owl-prev {
    left: -80px
}

@media (max-width:1919px) {
    .exhibitwhodid_list .owl-nav button.owl-next {
        right: 0
    }

    .exhibitwhodid_list .owl-nav button.owl-prev {
        left: 0
    }
}

@media (max-width:1279px) {
    .section_exhibitwhodid {
        margin-top: -96px;
        padding-bottom: 85px
    }

    .section_exhibitwhodid_img {
        margin: 0 auto 36px;
        width: 88vw;
        height: 50vw;
        top: -75px
    }

    .exhibitwhodid_list {
        margin: 88px auto 78px
    }
}

@media (max-width:767px) {
    .section_exhibitwhodid {
        margin-top: -40px;
        padding-bottom: 60px
    }

    .section_exhibitwhodid_img {
        margin: 0 auto 30px;
        width: 100vw;
        height: 50vw;
        top: -46px
    }

    .exhibitwhodid_list {
        margin: 69px auto 60px
    }

    .section_exhibitwhodid .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .exhibitwhodid_list_corousel {
        padding: 0 40px
    }

    .exhibitwhodid {
        height: 120px
    }
}

@media (max-width:479px) {
    .exhibitwhodid_list_button .button {
        width: 100%
    }
}

.section_exhibitcustom {
    background: #dbdde9;
    text-align: center;
    padding: 146px 0 68px
}

.exhibitcustom_list {
    margin-top: 28px
}

.exhibitcustom_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.exhibitcustom_item {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 104px 24px
}

.exhibitcustom_item_icon {
    width: 100%;
    height: 110px;
    background: center/contain no-repeat;
    margin-bottom: 31px
}

.exhibitcustom_item_title {
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .02em
}

.exhibitcustom_list .owl-dots {
    bottom: 0
}

.exhibitcustom_list .owl-dots button.owl-dot {
    background: #a4a5ae
}

.exhibitcustom_list .owl-dots button.owl-dot.active {
    background: #242426
}

@media (max-width:1279px) {
    .exhibitcustom_row {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .exhibitcustom_list {
        margin-top: 38px;
        padding-bottom: 20px
    }

    .exhibitcustom_item {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 15px 12px
    }

    .section_exhibitcustom {
        padding: 52px 0
    }

    .section_exhibitcustom .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .exhibitcustom_item_icon {
        height: 90px;
        margin-bottom: 21px
    }
}

.section_exhibitsignage {
    position: relative
}

.section_exhibitsignage .fileretouching_textblock,
.section_exhibitsignage .wrapper {
    position: static
}

.section_exhibitsignage .fileretouching_textblock_imgright {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.section_gallery_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff
}

.section_gallery_nav a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    height: 80px;
    line-height: 80px;
    background: #a6aab2;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 700;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.section_gallery_nav a svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    fill: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.section_gallery_nav a.section_gallery_nav_gallery svg {
    height: 29px
}

.section_gallery_nav a.section_gallery_nav_overwiev svg {
    height: 36px
}

.section_gallery_nav a.active,
.section_gallery_nav a:hover {
    background: #fff;
    color: #242426
}

.section_gallery_nav a.active svg,
.section_gallery_nav a:hover svg {
    fill: #242426
}

.section_gallery_carousel_slide360 {
    height: 800px;
    width: 100%;
    background: url(../img/section_gallery_carousel_slide360.jpg) center/cover no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.section_gallery_carousel_slide360_icon {
    display: block;
    width: 146px;
    height: 146px;
    background: url(../img/section_gallery_carousel_slide360_icon.png) center/contain no-repeat
}

@media (max-width:1279px) {
    .section_gallery_carousel_slide360 {
        height: 720px
    }
}

@media (max-width:767px) {
    .section_exhibitsignage {
        padding-top: 0
    }

    .section_gallery_carousel_slide360 {
        height: 400px
    }
}

.section_corporateevents {
    background: #151515;
    position: relative;
    overflow: hidden
}

.section_corporateevents .fileretouching_textblock {
    width: 100%
}

.section_corporateevents .fileretouching_textblock_left {
    width: 100%;
    padding-right: 0
}

.section_corporateevents .fileretouching_textblock_left h2 {
    margin-bottom: 30px
}

.section_corporateevents .fileretouching_textblock_left .col-sm-6 {
    max-width: 640px;
    padding-right: 24px
}

.section_corporateevents .fileretouching_textblock_left p {
    position: relative;
    padding-top: 48px;
    max-width: 420px
}

.section_corporateevents .fileretouching_textblock_left p:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

.section_corporateevents .fileretouching_textblock_left p+p {
    margin-top: 48px
}

.section_corporateevents .fileretouching_textblock,
.section_corporateevents .wrapper {
    position: static
}

.section_corporateevents .fileretouching_textblock_imgright {
    top: auto;
    bottom: 0;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.section_gallery_view_img {
    height: 800px;
    background: center/contain no-repeat
}

.section_gallery_view .tab-pane {
    position: relative
}

.section_gallery_view_nav {
    width: 146px;
    height: 146px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -73px;
    margin-top: -73px;
    z-index: 2;
    background: url(../img/section_gallery_view_nav.png) center/92px auto no-repeat
}

.section_gallery_view_nav a {
    display: block;
    width: 12px;
    height: 8px;
    background: url(../img/arrowdownwhite.png) center/contain no-repeat;
    position: absolute
}

.section_gallery_view_nav a.section_gallery_view_nav_top {
    left: 50%;
    margin-left: -6px;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.section_gallery_view_nav a.section_gallery_view_nav_right {
    top: 50%;
    margin-top: -4px;
    right: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.section_gallery_view_nav a.section_gallery_view_nav_bottom {
    left: 50%;
    margin-left: -6px;
    bottom: 0
}

.section_gallery_view_nav a.section_gallery_view_nav_left {
    top: 50%;
    margin-top: -4px;
    left: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

@media (max-width:1279px) {
    .section_corporateevents .fileretouching_textblock_imgright {
        position: relative;
        width: calc(100% + 40px);
        display: block;
        text-align: center;
        margin-right: -40px;
        margin-bottom: 28px
    }

    .section_corporateevents .fileretouching_textblock {
        display: block
    }

    .section_corporateevents {
        padding-top: 56px
    }

    .section_corporateevents .fileretouching_textblock_left h2 {
        margin-bottom: 20px
    }

    .section_corporateevents .fileretouching_textblock_left p:before {
        width: 26px
    }

    .section_corporateevents .fileretouching_textblock_left p {
        padding-top: 18px
    }

    .section_corporateevents .fileretouching_textblock_left .row {
        margin-right: -24px
    }

    .section_gallery_view_img {
        height: 720px
    }
}

@media (max-width:767px) {
    .section_corporateevents .fileretouching_textblock_left .row {
        margin-right: 0
    }

    .section_corporateevents .fileretouching_textblock_left .col-sm-6 {
        padding-right: 0
    }

    .section_corporateevents .fileretouching_textblock_imgright {
        width: calc(100% + 20px);
        margin-right: -20px
    }

    .section_gallery_view_img {
        height: 400px
    }
}