.emgpage {
    background: url(../img/emgpage.jpg) right top/100% auto no-repeat #1b1b1c
}

.emgpage h1 {
    max-width: 700px
}

.emgpage .section_title {
    background: 0 0
}

.experientalmarketing {
    min-height: 0;
    padding-bottom: 0;
    padding-top: 67px
}

.em_image {
    position: absolute;
    right: 240px;
    top: 67px
}

.em_img {
    background: url(../img/em_img.png) center top/contain no-repeat;
    width: 39.63541666vw;
    height: 42.55208333vw
}

.em_bottomcontent {
    margin-left: 160px;
    padding-bottom: 0
}

.em_bottomtext {
    width: 640px;
    border: 5px solid #fff;
    font-size: 66px;
    line-height: 88px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 64px 48px 62px 72px
}

@media (max-width:1919px) {
    .em_image {
        right: 160px
    }
}

@media (max-width:1599px) {
    .em_image {
        right: 80px
    }

    .em_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1279px) {
    .experientalmarketing {
        padding-top: 72px;
        padding-bottom: 0
    }

    .em_image {
        position: relative;
        right: 0;
        top: 0;
        padding-left: 40px;
        padding-right: 40px
    }

    .em_img {
        width: 100%;
        height: 97vw;
        background-position: center top
    }

    .em_bottomcontent {
        margin-left: 40px
    }

    .em_bottomtext {
        font-size: 32px;
        line-height: 43px;
        padding: 72px 36px 68px 48px;
        width: 360px
    }
}

@media (max-width:767px) {
    .em_image {
        padding-left: 20px;
        padding-right: 20px
    }

    .experientalmarketing {
        padding-top: 72px;
        padding-bottom: 0
    }

    .em_bottomcontent {
        margin-left: 0
    }

    .em_bottomtext {
        font-size: 21px;
        line-height: 29px;
        padding: 26px 24px 28px 32px;
        max-width: 360px;
        width: 100%
    }
}

.experientalmarketingimage {
    padding: 860px 0 160px;
    position: relative;
    margin-top: -220px
}

.experientalmarketingimage .experientalmarketingimage_bgimg {
    background: url(../img/experientalmarketingimage.png) center top/auto 100% no-repeat;
    position: absolute;
    left: 0;
    top: -96px;
    z-index: 2;
    width: 100%;
    height: calc(100% + 96px)
}

.experientalmarketingimage .section_fileretouching_textures_content {
    z-index: 3
}

.experientalmarketingimage_button .button {
    max-width: 320px;
    width: 100%
}

@media (max-width:1599px) {
    .experientalmarketingimage {
        padding-top: 576px
    }
}

@media (max-width:1279px) {
    .experientalmarketingimage {
        padding-top: 330px;
        padding-bottom: 80px;
        margin-top: -120px
    }
}

.fusion {
    position: relative
}

.fusion .fileretouching_textblock {
    position: static
}

.fusion .fileretouching_textblock_imgleft {
    width: 50%;
    background: right center/cover no-repeat
}

@media (max-width:767px) {
    .experientalmarketingimage {
        margin-top: -90px;
        padding-top: 150px;
        padding-bottom: 60px
    }

    .fusion {
        padding-top: 0
    }

    .fusion .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .fusion .fileretouching_textblock_imgleft {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.whatem {
    position: relative
}

.whatem .fileretouching_textblock {
    position: static
}

.whatem .fileretouching_textblock_imgright {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .whatem {
        padding-top: 0
    }

    .whatem .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .whatem .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.section_emcompanies {
    background: url(../img/emcompanies_bg.jpg) right top/100% auto no-repeat #141414;
    padding: 143px 0 160px
}

.section_emcompanies h2 {
    letter-spacing: 0
}

.emcompanies_textgroup {
    position: relative;
    padding-top: 48px
}

.emcompanies_textgroup:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

.emcompanies_textgroup+.emcompanies_textgroup {
    margin-top: 48px
}

.emcompanies_title {
    margin-bottom: 194px
}

@media (max-width:1279px) {
    .section_emcompanies {
        padding-top: 96px
    }

    .section_emcompanies .fileretouching_textblock {
        display: block
    }

    .section_emcompanies .fileretouching_textblock_imgright {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 48px
    }

    .emcompanies_title {
        margin-bottom: 72px
    }
}

.managedprint {
    background: #1b1b1c;
    position: relative
}

.managedprint .fileretouching_textblock {
    position: static
}

.managedprint .fileretouching_textblock_imgleft {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .section_emcompanies {
        padding-bottom: 64px
    }

    .section_emcompanies .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .managedprint {
        padding-top: 0
    }

    .managedprint .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .managedprint .fileretouching_textblock_imgleft {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.digitamarketing {
    position: relative;
    background: #141414
}

.digitamarketing .fileretouching_textblock {
    position: static
}

.digitamarketing .fileretouching_textblock_imgright {
    width: 50%;
    overflow: hidden
}

.digitamarketing .fileretouching_textblock_imgright img {
    position: relative;
    right: -160px
}

@media (max-width:1279px) {
    .digitamarketing .fileretouching_textblock {
        display: block
    }

    .digitamarketing .fileretouching_textblock_imgright {
        position: relative;
        width: 100%;
        margin-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px
    }

    .digitamarketing .fileretouching_textblock_imgright img {
        right: auto
    }
}

.section_whatexamples {
    background: #1b1b1c;
    padding: 146px 0 170px
}

.section_whatexamples .fileretouching_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto
}

.section_whatexamples .fileretouching_ul li {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin: 30px 0
}

.whatexamples_title {
    max-width: 1040px;
    letter-spacing: 0;
    margin: 0 auto 67px
}

@media (max-width:1279px) {
    .section_whatexamples {
        padding-top: 96px
    }

    .section_whatexamples .fileretouching_ul li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        margin: 30px 0
    }

    .whatexamples_title {
        margin-bottom: 72px
    }
}

@media (max-width:767px) {

    .digitamarketing .fileretouching_textblock_imgright,
    .digitamarketing .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_whatexamples {
        padding-bottom: 64px
    }

    .section_whatexamples .fileretouching_ul {
        display: block
    }

    .section_whatexamples .fileretouching_ul li {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        margin: 30px 0
    }

    .section_whatexamples .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:479px) {
    .section_whatexamples .fileretouching_ul li {
        margin: 15px 0
    }
}