.fileretouchingpage {
    background: url(../img/fileretouchingpage.jpg) center top/100% auto no-repeat #1b1b1c
}

.fileretouchingpage h1 {
    max-width: 600px
}

.section_fileretouching_express {
    background: 0 0;
    padding-top: 92px;
    position: relative;
    z-index: 3;
    min-height: 65vw
}

.fileretouching_express_left {
    position: relative;
    z-index: 3
}

.fileretouching_express_left .contentleft h2+p {
    margin-top: 41px
}

.fileretouching_express_left .contentleft {
    max-width: 600px
}

.fileretouching_express_left .contentleft h2,
.fileretouching_express_left .contentleft p {
    max-width: 100%
}

.fileretouching_express_button {
    margin-top: 118px
}

.fileretouching_express_button2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fileretouching_express_button2 .button+.button {
    margin-left: 16px
}

.fileretouching_express_bottomtext {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    border: 5px solid #fff;
    padding: 77px 80px 74px;
    max-width: 560px;
    margin-left: 160px;
    z-index: 3;
    position: relative
}

.fileretouching_express_image {
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 1;
    overflow: hidden
}

.fileretouching_express_img {
    position: relative
}

.fileretouching_express__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 207px;
    padding-top: 20.625vw;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 18.75vw no-repeat
}

.fileretouching_express__text1 {
    right: 46.09375vw;
    top: 21.875vw
}

.fileretouching_express__text2 {
    right: 21.14583333vw;
    top: 39.0625vw
}

.fileretouching_express__text3 {
    right: 12.8125vw;
    top: 26.04167vw
}

.fileretouching_express_img_img {
    width: 81.35416667vw;
    height: 64vw;
    background: url(../img/fileretouching_express_img.png) center top/contain no-repeat
}

@media (max-width:1599px) {
    .fileretouchingpage {
        background-size: auto
    }

    .fileretouching_express_bottomtext {
        margin-left: 80px
    }
}

@media (max-width:1439px) {
    .fileretouching_express_bottomtext {
        margin-left: 0
    }

    .fileretouching_express_img {
        right: -120px
    }
}

@media (max-width:1279px) {
    .fileretouching_express_image {
        position: relative;
        top: 0
    }

    .fileretouching_express_img {
        right: 0
    }

    .fileretouching_express_img_img {
        width: 100vw;
        background-image: url(../img/fileretouching_express_img_tab.png);
        height: 113vw
    }

    .section_fileretouching_express {
        padding-top: 50px
    }

    .fileretouching_express__text {
        padding-top: 396px;
        background-size: contain
    }

    .fileretouching_express__text1 {
        right: 60vw;
        top: 37.875vw
    }

    .fileretouching_express__text2 {
        right: 30.75vw;
        top: 57.5vw
    }

    .fileretouching_express__text3 {
        right: 10vw;
        top: 37.75vw
    }

    .fileretouching_express_left .contentleft {
        max-width: 520px;
        margin-bottom: 40px
    }

    .fileretouching_express_left .contentleft h2+p {
        margin-top: 30px
    }

    .fileretouching_express_button {
        margin-top: 54px
    }

    .fileretouching_express_bottomtext {
        width: calc(100% - 80px);
        max-width: 100%;
        margin-left: 40px;
        padding: 45px 80px 64px
    }
}

@media (max-width:767px) {
    .fileretouching_express_button2 {
        display: block
    }

    .fileretouching_express_button2 .button+.button {
        margin: 14px 0 0
    }

    .fileretouchingpage h1 {
        font-size: 60px;
        line-height: 60px
    }

    .fileretouchingpage .section_title_content_center {
        padding-left: 0;
        padding-right: 0
    }

    .section_fileretouching_express {
        padding-top: 60px
    }

    .fileretouching_express__text {
        bottom: auto;
        width: 33.3333%;
        padding-top: 210px;
        text-align: left;
        background: url(../img/fileretouching_express__text1_bg_mob.png) left top/auto 200px no-repeat
    }

    .fileretouching_express__text1 {
        right: auto;
        left: 5.55555vw;
        top: 27.77777vw;
        padding-right: 32px
    }

    .fileretouching_express__text2 {
        top: 45.277778vw;
        padding-right: 32px;
        right: 27.77777vw
    }

    .fileretouching_express__text3 {
        top: 27.77777vw;
        right: -5.55555vw;
        padding-right: 5.55555vw
    }

    .fileretouching_express_left .contentleft {
        padding-top: 45px;
        padding-bottom: 0;
        margin-bottom: 0
    }

    .fileretouching_express_button {
        margin-top: 43px
    }

    .fileretouching_express_button .button {
        width: 100%
    }

    .fileretouching_express_bottomtext {
        width: 100%;
        margin: 0;
        font-size: 15px;
        line-height: 20px;
        padding: 25px 35px;
        max-width: 440px
    }

    .fileretouching_express_bottomcontent {
        padding-bottom: 30px;
        padding-top: 60px
    }
}

.section_fileretouching_textures {
    background: url(../img/section_lapapaersize_bg.jpg) center/cover no-repeat fixed;
    position: relative;
    text-align: center;
    padding-bottom: 80px
}

.section_fileretouching_textures_bg {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #050505;
    mix-blend-mode: darken;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.section_fileretouching_textures_bg_text {
    position: relative;
    top: -.9375vw;
    right: -3.75vw;
    font-size: 28.125vw;
    line-height: 21.875vw;
    text-align: right;
    font-weight: 900;
    text-transform: uppercase
}

.section_fileretouching_textures_content {
    position: relative;
    z-index: 2
}

.section_fileretouching_textures_img {
    width: 100%;
    height: 825px;
    background: url(../img/section_fileretouching_textures_img.png) center top/contain no-repeat;
    position: relative;
    top: -120px;
    margin-bottom: -25px
}

@media (max-width:1599px) {
    .section_fileretouching_textures_img {
        height: 43.125vw;
        top: -125px;
        margin-bottom: -144px
    }
}

@media (max-width:767px) {
    .section_fileretouching_textures_img {
        height: 45vw;
        top: -48px;
        margin-bottom: 0
    }

    .section_fileretouching_textures {
        padding-bottom: 30px
    }
}

.fileretouching_imagesblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fileretouching_imagesblock_image {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    background: center/cover no-repeat;
    height: 800px;
    max-height: 100vh;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.fileretouching_imagesblock.owl-carousel .fileretouching_imagesblock_image {
    display: block;
    width: 100vw;
    height: 100vw
}

@media (max-width:1599px) {
    .fileretouching_imagesblock_image {
        height: 600px
    }
}

.section_fileretouching_textblock {
    padding-top: 160px;
    padding-bottom: 160px;
    overflow: hidden
}

@media (max-width:1279px) {
    .fileretouching_imagesblock_image {
        height: 400px
    }

    .section_fileretouching_textblock {
        padding-top: 80px;
        padding-bottom: 80px
    }
}

.section_fileretouching_textblock_grey {
    background: #dbdde9
}

.fileretouching_textblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100vh - 320px);
    position: relative
}

.fileretouching_textblock_right {
    width: 50%;
    margin-left: 50%;
    padding-left: 320px;
    position: relative;
    z-index: 2
}

.fileretouching_textblock_right h2+p,
.fileretouching_textblock_right h2+ul,
.fileretouching_textblock_right p+h2 {
    padding-top: 46px
}

.fileretouching_textblock_right .fileretouching_ul+p {
    margin-top: 48px
}

.fileretouching_textblock_left {
    width: 50%;
    padding-left: 80px;
    padding-right: 240px;
    position: relative;
    z-index: 2
}

.fileretouching_textblock_left h2+p,
.fileretouching_textblock_left h2+ul,
.fileretouching_textblock_left p+h2 {
    padding-top: 46px
}

.fileretouching_textblock_left .fileretouching_ul+p {
    margin-top: 48px
}

.fileretouching_textblock_button {
    margin-top: 84px
}

.fileretouching_textblock_imgleft {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(50% + 80px);
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.fileretouching_textblock_imgleft img {
    max-height: 100%
}

.fileretouching_textblock_imgright {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(50% + 80px);
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.fileretouching_textblock_imgright img {
    max-height: 100%
}

@media (max-width:1919px) {
    .fileretouching_textblock_right {
        padding-left: 240px
    }

    .fileretouching_textblock_left {
        padding-right: 240px;
        padding-left: 0
    }
}

@media (max-width:1599px) {
    .fileretouching_textblock_right {
        padding-left: 160px
    }

    .fileretouching_textblock_left {
        padding-right: 160px
    }
}

@media (max-width:1439px) {
    .fileretouching_textblock_right {
        padding-left: 40px
    }

    .fileretouching_textblock_left {
        padding-right: 40px
    }

    .fileretouching_textblock_imgleft,
    .fileretouching_textblock_imgright {
        width: 50%
    }
}

@media (max-width:1279px) {

    .fileretouching_textblock_imgleft,
    .fileretouching_textblock_imgright {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        width: calc(50% - 20px)
    }

    .fileretouching_textblock_right {
        padding-left: 20px
    }

    .fileretouching_textblock_left {
        padding-right: 20px
    }

    .automatedworkflows .fileretouching_textblock_imgright {
        padding-top: 160px
    }
}

@media (max-width:767px) {
    .fileretouching_textblock {
        display: block;
        min-height: 0
    }

    .fileretouching_textblock_imgleft,
    .fileretouching_textblock_imgright {
        position: static;
        display: block;
        width: 100%;
        margin-bottom: 56px
    }

    .fileretouching_textblock_left,
    .fileretouching_textblock_right {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        max-width: 440px;
        padding-right: 0
    }

    .section_fileretouching_textblock {
        padding-top: 60px;
        padding-bottom: 96px
    }

    .fileretouching_textblock_button {
        margin-top: 59px
    }
}

.fileretouching_ul li {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: .02em;
    text-align: left
}

.fileretouching_ul li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 10px
}

.fileretouching_ul li+li {
    margin-top: 20px
}

.fileretouching_ul.black li:before {
    background: #242426
}

.automatedworkflows {
    position: relative
}

.automatedworkflows .fileretouching_textblock {
    position: static
}

.automatedworkflows .fileretouching_textblock_imgright {
    overflow: hidden
}

.automatedworkflows .fileretouching_textblock_imgright img {
    position: relative;
    right: -240px
}

@media (max-width:1599px) {
    .automatedworkflows .fileretouching_textblock_imgright img {
        right: -160px
    }
}

@media (max-width:1439px) {
    .automatedworkflows .fileretouching_textblock_imgright img {
        right: -80px
    }
}

.section_colorcorrecion_text {
    background: #dbdde9;
    padding-top: 138px;
    padding-bottom: 160px
}

.section_colorcorrecion_text.bordertop {
    border-top: 1px solid #fff
}

.section_colorcorrecion_text .wrapper {
    max-width: 1440px
}

.section_colorcorrecion_text h2,
.section_colorcorrecion_text p {
    margin-bottom: 42px
}

.section_colorcorrecion_text .fileretouching_ul li+li {
    margin-top: 30px
}

.colorcorrecion_text {
    max-width: 1120px
}

@media (max-width:1279px) {
    .section_colorcorrecion_text {
        padding-top: 74px;
        padding-bottom: 82px
    }

    .section_colorcorrecion_text h2,
    .section_colorcorrecion_text p {
        margin-bottom: 32px
    }

    .section_colorcorrecion_text .fileretouching_ul li+li {
        margin-top: 20px
    }
}

@media (max-width:767px) {
    .automatedworkflows .fileretouching_textblock_imgright {
        padding-top: 0
    }

    .automatedworkflows .fileretouching_textblock_imgright img {
        right: 0
    }

    .section_colorcorrecion_text {
        padding-top: 52px;
        padding-bottom: 92px
    }

    .section_colorcorrecion_text .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}

.section_smalltextblock {
    background: #151515
}

.smalltextblock {
    background: center/cover no-repeat;
    min-height: 680px;
    padding-top: 72px;
    padding-bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.smalltextblock h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: .1em
}

@media (max-width:1279px) {
    .smalltextblock h2 {
        font-size: 50px;
        line-height: 72px
    }

    .smalltextblock {
        min-height: 480px
    }
}

@media (max-width:767px) {
    .smalltextblock h2 {
        font-size: 34px;
        line-height: 40px
    }
}

@media (max-width:479px) {
    .section_fileretouching_textblock .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .fileretouching_textblock_button .button {
        width: 100%
    }

    .smalltextblock h2 {
        font-size: 24px;
        line-height: 30px
    }
}

.smalltextblock_button {
    margin-top: 40px
}

.fullimgleft {
    position: relative
}

.fullimgleft .fileretouching_textblock {
    position: static
}

.fullimgleft .fileretouching_textblock_imgleft {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .smalltextblock {
        min-height: 36px
    }

    .fullimgleft {
        padding-top: 0
    }

    .fullimgleft .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .fullimgleft .fileretouching_textblock_imgleft {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.fullimgright {
    position: relative
}

.fullimgright .fileretouching_textblock {
    position: static
}

.fullimgright .fileretouching_textblock_imgright {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .fullimgright {
        padding-top: 0
    }

    .fullimgright .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .fullimgright .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.darkblack {
    background: #151515
}

.lightblack {
    background: #262627
}

.section_ul {
    padding-top: 112px;
    padding-bottom: 118px
}

.section_ul h2 {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 41px
}

@media (min-width:1280px) {
    .section_ul .fileretouching_ul li {
        font-size: 16px;
        padding-left: 40px
    }

    .section_ul .fileretouching_ul li:before {
        width: 12px;
        height: 12px
    }

    .section_ul .fileretouching_ul li+li {
        margin-top: 30px
    }
}

.section_ul_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.section_ul_row+.section_ul_row {
    margin-top: 135px
}

.section_ul_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.section_ul_col:first-child {
    padding-right: 40px
}

.section_ul_title {
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    min-height: 30px;
    margin-bottom: 48px;
    letter-spacing: .1em
}

@media (max-width:1279px) {
    .section_ul {
        padding-top: 72px;
        padding-bottom: 72px
    }

    .section_ul h2 {
        font-size: 34px;
        line-height: 40px
    }

    .section_ul .section_ul_row:first-child .section_ul_col:first-child .section_ul_title {
        margin-top: 0
    }

    .section_ul_row+.section_ul_row {
        margin-top: 72px
    }

    .section_ul_col:first-child {
        padding-right: 20px
    }

    .section_ul_title {
        margin-bottom: 24px
    }
}

@media (max-width:767px) {
    .section_ul_row {
        display: block
    }

    .section_ul_row+.section_ul_row {
        margin-top: 48px
    }

    .section_ul_col {
        max-width: 100%
    }

    .section_ul_col:first-child {
        padding-right: 0
    }

    .section_ul_col+.section_ul_col {
        margin-top: 20px
    }

    .section_ul_title {
        min-height: 0;
        margin-top: 48px
    }
}

.fullimages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fullimage {
    width: 50%;
    height: 41.66667vw;
    background: center/cover no-repeat
}

.section_ul_button {
    margin: 70px -10px -28px
}

@media (max-width:767px) {
    .fullimages {
        display: block
    }

    .fullimage {
        width: 100vw;
        height: 100vw
    }

    .section_ul_button {
        margin-bottom: 0;
        margin-top: 40px
    }
}

.section_ul_button .button {
    margin: 10px
}

.section_ul_bottomtext {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding-top: 30px;
    margin-top: 80px
}

.section_ul_bottomtext p {
    font-size: 16px;
    font-weight: 700;
    max-width: 720px
}