.floordecalspage {
    background: #1b1b1c
}

.floordecalspage .section_title {
    background: url(../img/floordecalspage.jpg) right top/auto 100% no-repeat
}

.floordecalsprinting {
    position: relative;
    overflow: visible;
    z-index: 2;
    padding-top: 0;
    padding-bottom: 0
}

.floordecalsprinting .fileretouching_textblock {
    position: static;
    min-height: 0;
    height: 45.833333vw
}

.floordecalsprinting .fileretouching_textblock_imgright {
    width: 50vw;
    height: 45.833333vw;
    background: left top/auto 100% no-repeat
}

.floordecalsprinting .floordecalsprinting_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50.625vw;
    background: url(../img/floordecalsprinting_img.png) -2.60416667vw 5.625vw/75vw auto no-repeat
}

@media (max-width:1279px) {
    .floordecalsprinting .fileretouching_textblock {
        display: block;
        height: auto
    }

    .floordecalsprinting .fileretouching_textblock_imgright {
        position: relative;
        width: 100vw;
        height: 57.75vw;
        background: left top/auto 100% no-repeat;
        margin-left: -40px;
        margin-right: -40px
    }

    .floordecalsprinting .floordecalsprinting_img {
        height: 70.5vw;
        background-size: 95vw auto;
        background-position: -3.75vw 6.875vw
    }

    .floordecalsprinting .fileretouching_textblock_left {
        max-width: 540px;
        width: 100%;
        padding: 188px 0 80px
    }

    .floordecalsprinting .fileretouching_textblock_left h2 br {
        display: none
    }
}

.section_adhere {
    background: url(../img/adhere_bg.jpg) left center/cover no-repeat;
    padding: 150px 0 160px
}

.adhere_inner {
    padding-left: 50%
}

.adhere_inner h2 {
    letter-spacing: 0;
    margin-bottom: 42px
}

@media (max-width:1279px) {
    .section_adhere {
        padding: 144px 0 116px
    }

    .adhere_inner {
        padding-left: 0
    }

    .adhere_inner h2 {
        margin-bottom: 46px
    }

    .adhere_inner h2 br {
        display: none
    }
}

@media (max-width:767px) {
    .floordecalsprinting .fileretouching_textblock_left {
        padding: 8px 0 60px
    }

    .floordecalsprinting .fileretouching_textblock_left h2 br {
        display: inline
    }

    .section_adhere {
        padding: 53px 0 60px
    }

    .section_adhere .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .adhere_inner h2 {
        margin-bottom: 26px
    }
}

@media (max-width:479px) {
    .floordecalsprinting .fileretouching_textblock_imgright {
        margin-left: -20px;
        margin-right: -20px
    }

    .adhere_inner .button {
        width: 100%
    }
}

.section_aboutfd {
    background: #1b1b1c;
    padding-top: 146px;
    padding-bottom: 154px
}

.section_aboutfd h2 {
    margin-bottom: 42px
}

.fileretouching_ul.aboutfd_list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 55px
}

.fileretouching_ul.aboutfd_list li {
    display: inline-table;
    width: 100%;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 20px
}

.fileretouching_ul.aboutfd_list li span {
    display: block;
    max-width: 380px
}

@media (max-width:1279px) {
    .section_aboutfd {
        padding-top: 116px;
        padding-bottom: 34px
    }

    .section_aboutfd h2 {
        margin-bottom: 38px
    }

    .fileretouching_ul.aboutfd_list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        grid-template-columns: 1fr 1fr;
        padding-top: 45px
    }
}

@media (max-width:767px) {
    .section_aboutfd {
        padding-top: 54px;
        padding-bottom: 36px
    }

    .section_aboutfd .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_aboutfd h2 {
        margin-bottom: 20px
    }

    .fileretouching_ul.aboutfd_list {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
        display: block;
        padding-top: 3px
    }
}

.retailfd {
    background: #1b1b1c
}

.retailfd .fileretouching_textblock_right {
    padding-left: 160px
}

@media (max-width:1439px) {
    .retailfd .fileretouching_textblock_right {
        padding-left: 40px
    }
}

@media (max-width:1279px) {
    .retailfd .fileretouching_textblock {
        display: block
    }

    .retailfd .fileretouching_textblock_imgleft {
        position: static;
        width: 100%;
        padding-left: 120px;
        padding-right: 120px
    }

    .retailfd .fileretouching_textblock_right {
        padding-left: 0;
        margin-left: 0;
        max-width: 800px;
        width: 100%
    }
}

@media (max-width:767px) {
    .retailfd .fileretouching_textblock_imgleft {
        padding-left: 40px;
        padding-right: 40px
    }
}

.fdbigimage {
    position: relative
}

.fdbigimage .fileretouching_textblock {
    position: static;
    min-height: 480px
}

.fdbigimage .fileretouching_textblock_imgleft,
.fdbigimage .fileretouching_textblock_imgright {
    background: center/cover no-repeat;
    width: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.fdbigimage .fileretouching_textblock_right {
    padding-left: 160px
}

@media (max-width:1439px) {
    .fdbigimage .fileretouching_textblock_right {
        padding-left: 40px
    }
}

@media (max-width:1279px) {
    .fdbigimage {
        position: relative;
        padding-top: 0
    }

    .fdbigimage .fileretouching_textblock {
        display: block;
        padding-bottom: 0
    }

    .fdbigimage .fileretouching_textblock_imgleft,
    .fdbigimage .fileretouching_textblock_imgright {
        position: static;
        width: 100vw;
        margin-left: -40px;
        margin-right: -40px;
        height: 70vw;
        margin-bottom: 0;
        padding-top: 60px;
        text-align: center
    }

    .fdbigimage .fileretouching_textblock_left,
    .fdbigimage .fileretouching_textblock_right {
        width: 100%;
        max-width: 540px;
        margin-left: 0;
        padding-top: 102px;
        padding-bottom: 80px
    }

    .fdbigimage .fileretouching_textblock_right {
        padding-left: 0
    }
}

@media (max-width:479px) {

    .fdbigimage .fileretouching_textblock_imgleft,
    .fdbigimage .fileretouching_textblock_imgright {
        margin-left: -20px;
        margin-right: -20px
    }
}

.reallyfloor {
    background: #151515
}

.reallyfloor h2,
.reallyfloor p {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto
}

.section_floordecals_photos {
    padding-bottom: 138px
}

.section_floordecals_photos .scg_pagination {
    margin-top: 56px
}

.floordecals_photos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.floordecals_photo {
    width: 50%;
    height: 800px;
    background: center/cover no-repeat
}

@media (max-width:1279px) {
    .floordecals_photos {
        display: block
    }

    .floordecals_photo {
        height: 560px;
        width: 100%;
        display: none
    }

    .floordecals_photo:first-child {
        display: block
    }
}

@media (max-width:767px) {

    .fdbigimage .fileretouching_textblock_imgleft,
    .fdbigimage .fileretouching_textblock_imgright {
        height: 66.666667vw
    }

    .fdbigimage .fileretouching_textblock_left,
    .fdbigimage .fileretouching_textblock_right {
        padding-top: 54px;
        padding-bottom: 52px
    }

    .floordecals_photo {
        height: 83.33333vw
    }

    .section_floordecals_photos {
        padding-bottom: 74px
    }
}