.fullstackpage {
    background: #1b1b1c
}

.fullstackpage .section_title {
    background: url(../img/fullstackpage.jpg) center/cover no-repeat
}

.fullstackpage h1 {
    max-width: 780px
}

.fullstack {
    min-height: calc(37.5vw + 160px);
    padding-bottom: 80px;
    padding-top: 80px;
    background: #181818
}

.fullstack_image {
    position: absolute;
    right: 120px;
    top: 50%;
    margin-top: -18.75vw;
    background: url(../img/fullstack_image.jpg) center/cover no-repeat;
    padding: 80px 160px 120px 80px
}

@media (max-width:1919px) {
    .fullstack_image {
        right: 80px
    }
}

@media (max-width:1439px) {
    .fullstack_image {
        right: 40px
    }
}

@media (max-width:1279px) {
    .fullstack_image {
        position: relative;
        top: 0;
        right: 40px;
        left: 40px;
        padding: 40px;
        width: calc(100% - 80px);
        margin-top: 0
    }
}

@media (max-width:767px) {
    .fullstack_image {
        right: 20px;
        left: 20px;
        width: calc(100% - 40px)
    }
}

.fullstack_img {
    background: url(../img/fullstack_img.png) center/contain no-repeat;
    width: 27.083vw;
    height: 27.083vw;
    -webkit-box-shadow: 0 10px 80px 10px rgba(145, 138, 29, .4);
    box-shadow: 0 10px 80px 10px rgba(145, 138, 29, .4);
    border-radius: 1.8223vw
}

@media (max-width:1279px) {
    .fullstack_img {
        width: 520px;
        height: 520px;
        margin: 0 auto
    }
}

.fullstack1 {
    background: url(../img/fullstack1.jpg) center/cover no-repeat;
    text-align: center;
    padding: 98px 0
}

.fullstack1 h2 {
    font-size: 150px;
    line-height: 148px;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase
}

@media (max-width:1279px) {
    .fullstack1 h2 {
        font-size: 75px;
        line-height: 74px
    }
}

@media (max-width:767px) {
    .fullstack_img {
        width: 100%;
        height: 76vw;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .fullstack1 h2 {
        font-size: 34px;
        line-height: 40px
    }
}

.fullstack2_left .fileretouching_ul {
    margin-top: -30px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    min-height: 100%
}

.fullstack2_left .fileretouching_ul li {
    display: inline-table;
    width: 100%;
    padding-right: 20px
}

.fullstack2_left .fileretouching_ul li:first-child {
    margin-top: 30px
}

.fullstack2_right_row {
    margin: 0 -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fullstack2_right_col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 20px
}

@media (max-width:1279px) {
    .fullstack2_left .fileretouching_ul {
        margin-top: 0;
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }

    .fullstack2_left .fileretouching_ul li {
        display: block;
        padding-right: 0
    }

    .fullstack2_left .fileretouching_ul li:first-child {
        margin-top: 0
    }

    .fullstack2_right_row {
        display: block
    }

    .fullstack2_right_col+.fullstack2_right_col {
        margin-top: 74px
    }
}

.fullstack2_right .fileretouching_ul+.section_ul_title {
    margin-top: 74px
}

.fullstack2 .fileretouching_ul li {
    text-transform: uppercase
}

.fullstackgallery {
    display: grid;
    height: 100vw;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "item1 item1 item2 item2""item3 item5 item5 item7""item4 item5 item5 item8""item4 item6 item6 item9"
}

.fullstackgallery_item {
    background: center/cover no-repeat
}

.item1 {
    grid-area: item1
}

.item2 {
    grid-area: item2
}

.item3 {
    grid-area: item3
}

.item4 {
    grid-area: item4
}

.item5 {
    grid-area: item5
}

.item6 {
    grid-area: item6
}

.item7 {
    grid-area: item7
}

.item8 {
    grid-area: item8
}

.item9 {
    grid-area: item9
}

.section_fullstacklogos {
    text-align: center;
    padding-top: 107px;
    padding-bottom: 160px
}

.section_fullstacklogos h2 {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase
}

@media (max-width:767px) {
    .fullstackgallery {
        height: 400vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "item5 item5""item5 item5""item1 item1""item2 item2""item3 item7""item4 item8""item4 item9""item6 item6"
    }

    .section_fullstacklogos {
        padding-bottom: 60px;
        padding-top: 72px
    }
}

.fullstacklogos {
    max-width: 1440px;
    width: 100%;
    margin: 89px auto 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (max-width:1279px) {
    .section_fullstacklogos h2 {
        font-size: 34px;
        line-height: 40px
    }

    .fullstacklogos {
        margin-top: 22px;
        margin-bottom: 52px
    }
}

.fullstacklogo {
    width: 200px;
    height: 200px;
    background: center/contain no-repeat;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 20px
}

@media (max-width:1599px) {
    .fullstacklogo {
        width: 160px;
        height: 160px
    }
}

@media (max-width:1439px) {
    .fullstacklogos {
        max-width: 720px
    }

    .fullstacklogo {
        width: 200px;
        height: 200px
    }
}

@media (max-width:1023px) {
    .fullstacklogo {
        width: 160px;
        height: 160px
    }
}

.section_fullstackmultiplatforms {
    padding-top: 80px;
    padding-bottom: 80px
}

.fullstackmultiplatforms {
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    background: url(../img/fullstackmultiplatforms.png) center left/contain no-repeat;
    min-height: 600px
}

@media (max-width:767px) {
    .fullstackmultiplatforms {
        font-size: 42px;
        line-height: 48px;
        min-height: 480px
    }
}

.fullstacklogo9 .fileretouching_ul {
    margin-top: -20px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    min-height: 100%
}

.fullstacklogo9 .fileretouching_ul li {
    display: inline-table;
    width: 100%;
    padding-right: 20px
}

.fullstacklogo9 .fileretouching_ul li:first-child {
    margin-top: 20px
}

.section_fullstackrush {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: 147px;
    padding-bottom: 508px
}

.section_fullstackrush h2 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em
}

@media (max-width:767px) {
    .section_fullstackrush h2 {
        font-size: 42px;
        line-height: 48px
    }
}

@media (max-width:479px) {
    .fullstacklogo {
        width: 120px;
        height: 120px;
        margin: 10px
    }

    .fullstackmultiplatforms {
        font-size: 30px;
        line-height: 36px;
        min-height: 360px
    }

    .section_fullstackrush h2 {
        font-size: 30px;
        line-height: 36px
    }
}

@media (max-width:1279px) {
    .fullstacklogo9 .fileretouching_ul {
        margin-top: 0;
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }

    .fullstacklogo9 .fileretouching_ul li {
        display: block;
        padding-right: 0
    }

    .fullstacklogo9 .fileretouching_ul li:first-child {
        margin-top: 0
    }

    .section_fullstackrush {
        padding-top: 96px;
        padding-bottom: 240px
    }
}

@media (max-width:767px) {
    .section_fullstackrush {
        padding-top: 72px;
        padding-bottom: 144px
    }
}

.fullstackrush {
    position: relative;
    z-index: 2
}

.fullstackrush_img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/delivery_img1.png) right center/contain no-repeat
}

@media (max-width:1279px) {
    .fullstackrush_img {
        background-size: 75% auto;
        background-position: right bottom
    }
}

.fullstackrush_button {
    margin-top: 81px
}