.gallerypage {
    background: #1a1a1b
}

.gallerypage .section_title {
    background: url(../img/gallerypage_bg.jpg) center/cover no-repeat
}

.gallery_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.gallery_item {
    display: block;
    width: 50%;
    height: 41.666667vw;
    background: center/cover no-repeat;
    position: relative
}

.gallery_item video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.gallery_showmore {
    padding: 80px 0;
    text-align: center
}

.gallery_showmore .button {
    max-width: 800px;
    width: 100%
}

@media (max-width:1279px) {
    .gallery_list {
        display: block
    }

    .gallery_item {
        width: 100%;
        height: 100vw;
        display: none
    }

    .gallery_item:nth-child(-n+4) {
        display: block
    }
}

.gallery_item_playvideo {
    border-radius: 50%;
    background: #fff;
    width: 104px;
    height: 104px;
    z-index: 3;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -52px;
    margin-top: -52px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    cursor: pointer
}

.gallery_item_playvideo:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 40px solid #2c2c2e;
    border-bottom: 24px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -14px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.gallery_item_playvideo:hover {
    background: #2c2c2e
}

.gallery_item_playvideo:hover:before {
    border-left-color: #fff
}

@media (max-width:767px) {
    .gallery_showmore {
        padding: 60px 0
    }

    .section_gallery .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .gallery_item_playvideo {
        width: 72px;
        height: 72px;
        margin-left: -36px;
        margin-top: -36px
    }

    .gallery_item_playvideo:before {
        border-top: 12px solid transparent;
        border-left: 20px solid #2c2c2e;
        border-bottom: 12px solid transparent;
        margin-top: -12px;
        margin-left: -10px
    }
}