.greeninitiativepage {
    background: url(../img/greeninitiativepage.jpg) center top/100% auto no-repeat #1b1b1c
}

.greeninitiativepage .section_title {
    background: 0 0
}

.section_keepworld {
    min-height: 100vh;
    padding-top: 160px;
    padding-bottom: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background: url(../img/section_keepworld.jpg) center/cover no-repeat;
    text-align: center
}

.section_keepworld .wrapper {
    width: auto
}

.keepworld_title {
    font-size: 136px;
    line-height: 148px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 900
}

@media (max-width:1279px) {
    .section_keepworld {
        min-height: 640px
    }

    .keepworld_title {
        font-size: 96px;
        line-height: 104px
    }
}

@media (max-width:767px) {
    .section_keepworld {
        min-height: 420px;
        padding-top: 114px;
        padding-bottom: 96px
    }

    .keepworld_title {
        font-size: 48px;
        line-height: 52px
    }
}

.section_weare {
    position: relative;
    background: url(../img/section_weare.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding-top: 144px;
    padding-bottom: 160px;
    z-index: 2
}

.section_weare h2 {
    margin-bottom: 72px
}

.weare_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.leaves1 {
    width: 130px;
    height: 176px;
    position: absolute;
    top: -56px;
    left: 20.83333vw;
    background: url(../img/leaves1.png) center/contain no-repeat
}

.leaves2 {
    width: 94px;
    height: 60px;
    position: absolute;
    top: 115px;
    right: 20.83333vw;
    background: url(../img/leaves2.png) center/contain no-repeat
}

.leaves3 {
    width: 255px;
    height: 340px;
    position: absolute;
    bottom: -92px;
    right: 240px;
    background: url(../img/leaves3.png) center/contain no-repeat
}

.weare_content {
    position: relative;
    z-index: 2
}

.weare_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 155px
}

.weare_item {
    width: 33.33333%;
    padding-left: 20px;
    padding-right: 20px
}

.weare_item_icon {
    height: 400px;
    margin-bottom: 6px;
    background: center/contain no-repeat
}

.weare_item_title {
    font-size: 24px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 900
}

.weare_button {
    text-align: center
}

.weare_button .button {
    width: 100%;
    max-width: 800px
}

@media (max-width:1279px) {
    .section_weare {
        padding-top: 117px
    }

    .weare_item_icon {
        margin: 0 -100px -42px
    }

    .section_weare h2 {
        margin-bottom: -25px
    }

    .weare_item_title {
        font-size: 20px;
        line-height: 32px
    }

    .weare_list {
        margin-bottom: 70px
    }

    .leaves1 {
        left: 104px
    }

    .leaves2 {
        right: 92px
    }

    .leaves3 {
        right: 60px
    }
}

@media (max-width:767px) {
    .section_weare {
        padding-top: 56px;
        padding-bottom: 60px
    }

    .section_weare h2 {
        font-size: 50px
    }

    .weare_item_icon {
        margin-bottom: -72px
    }

    .weare_list {
        margin-bottom: 40px
    }

    .leaves1 {
        left: 0;
        width: 78px;
        height: 105px
    }

    .leaves2 {
        right: 40px;
        top: 0
    }

    .leaves3 {
        right: 0;
        width: 133px;
        height: 177px
    }
}

.weare_list.owl-carousel {
    padding-bottom: 70px
}

.weare_list.owl-carousel .weare_item {
    width: 100%
}

.weare_list.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.weare_list.owl-carousel .owl-nav button.owl-next,
.weare_list.owl-carousel .owl-nav button.owl-prev {
    position: static;
    margin: 0 10px
}

.ourmission_textblock {
    position: relative;
    color: #fff;
    background: url(../img/ourmission_textblock.jpg) center/cover no-repeat;
    text-align: center;
    padding-top: 124px;
    padding-bottom: 152px
}

.ourmission_textblock_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.ourmission_textblock_content {
    position: relative;
    z-index: 3
}

.ourmission_title {
    font-size: 180px;
    line-height: 200px;
    letter-spacing: .1em;
    color: rgba(255, 255, 255, 0);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 92px
}

.ourmission_text {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 900;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto
}

.ourmission_resources {
    background: #ebe9ea;
    position: relative;
    padding-top: 146px;
    padding-bottom: 170px
}

.ourmission_resources h2 {
    margin-bottom: 48px
}

.ourmission_resources .wrapper {
    padding-right: 50%
}

.ourmission_resources .fileretouching_ul li:before {
    background: #1b1b1c
}

.ourmission_resources .fileretouching_ul li+li {
    margin-top: 30px
}

.ourmission_resources_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../img/ourmission_resources_img.jpg) center/cover no-repeat
}

.leaves4 {
    width: 90px;
    height: 67px;
    position: absolute;
    top: 348px;
    left: 15.625vw;
    background: url(../img/leaves4.png) center/contain no-repeat
}

.leaves5 {
    width: 209px;
    height: 173px;
    position: absolute;
    top: -124px;
    right: 13.02083vw;
    background: url(../img/leaves5.png) center/contain no-repeat
}

.leaves6 {
    width: 108px;
    height: 198px;
    position: absolute;
    bottom: 48px;
    right: 33.33333vw;
    background: url(../img/leaves6.png) center/contain no-repeat
}

@media (max-width:1279px) {
    .ourmission_textblock {
        background: url(../img/ourmission_textblock_bg.jpg) center/cover no-repeat;
        padding-top: 68px;
        padding-bottom: 68px
    }

    .ourmission_title {
        background: url(../img/ourmission_title.png) center/contain no-repeat;
        font-size: 0;
        width: 100%;
        height: 32.5vw;
        margin-bottom: 48px
    }

    .ourmission_text {
        font-size: 28px;
        line-height: 36px
    }

    .leaves5 {
        right: 0
    }

    .leaves4 {
        left: 0;
        top: 70%
    }

    .leaves6 {
        right: 0;
        bottom: 0
    }

    .ourmission_resources {
        padding-top: 0;
        padding-bottom: 48px
    }

    .ourmission_resources_img {
        position: static;
        width: 100%;
        height: 100vw;
        margin-bottom: 56px
    }

    .ourmission_resources h2 br {
        display: none
    }

    .ourmission_resources .wrapper {
        padding-right: 20px
    }
}

.section_ourmission {
    z-index: 4
}

.section_ecofriendly {
    background: 0 0;
    color: #fff;
    text-align: center;
    position: relative;
    padding-top: 157px
}

.section_ecofriendly h4 {
    letter-spacing: .9em;
    margin-bottom: 24px
}

.ecofriendly_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden
}

.ecofriendly_content {
    position: relative;
    z-index: 2
}

.ecofriendly_video {
    height: 912px;
    background: url(../img/ecofriendly_video.png) bottom center/contain no-repeat;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 110px;
    padding-bottom: 72px
}

.ecofriendly_video_play {
    display: block;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto 40px;
    width: 104px;
    height: 104px;
    position: relative;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.ecofriendly_video_play:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 40px solid #2c2c2e;
    border-bottom: 24px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -14px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.ecofriendly_video_play:hover {
    background: #2c2c2e
}

.ecofriendly_video_play:hover:before {
    border-left-color: #fff
}

.ecofriendly_video_title {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .9em;
    text-align: center
}

.ecofriendly_bg1 {
    display: block;
    width: 336px;
    height: 405px;
    background: url(../img/ecofriendly_bg1.png) center/contain no-repeat;
    position: absolute;
    left: -136px;
    top: 92px
}

.ecofriendly_bg2 {
    display: block;
    width: 64px;
    height: 103px;
    background: url(../img/ecofriendly_bg2.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    top: 0
}

.ecofriendly_bg3 {
    display: block;
    width: 74px;
    height: 214px;
    background: url(../img/ecofriendly_bg3.png) center/contain no-repeat;
    position: absolute;
    left: 45%;
    top: 250px
}

.ecofriendly_bg4 {
    display: block;
    width: 73px;
    height: 57px;
    background: url(../img/ecofriendly_bg4.png) center/contain no-repeat;
    position: absolute;
    left: 40%;
    bottom: 240px
}

@media (max-width:1279px) {
    .ecofriendly_video {
        padding-bottom: 0;
        height: 63.75vw;
        margin-top: 60px
    }

    .section_ecofriendly {
        padding-top: 108px
    }

    .section_ecofriendly h4 {
        margin-bottom: 36px
    }
}

@media (max-width:767px) {
    .ecofriendly_video_play {
        width: 52px;
        height: 52px;
        margin-bottom: 20px
    }

    .ecofriendly_video_play:before {
        border-top: 12px solid transparent;
        border-left: 20px solid #2c2c2e;
        border-bottom: 12px solid transparent;
        margin-top: -12px;
        margin-left: -8px
    }

    .ecofriendly_bg3 {
        display: none
    }

    .ecofriendly_bg1 {
        width: 229px;
        height: 276px
    }
}