@font-face {
    font-family: MTTMilano;
    src: url(../fonts/MTTMilano-Regular.eot);
    src: url(../fonts/MTTMilano-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/MTTMilano-Regular.woff2) format("woff2"), url(../fonts/MTTMilano-Regular.woff) format("woff"), url(../fonts/MTTMilano-Regular.ttf) format("truetype"), url(../fonts/MTTMilano-Regular.svg#MTTMilano) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: MTTMilano;
    src: url(../fonts/MTTMilano-Medium.eot);
    src: url(../fonts/MTTMilano-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/MTTMilano-Medium.woff2) format("woff2"), url(../fonts/MTTMilano-Medium.woff) format("woff"), url(../fonts/MTTMilano-Medium.ttf) format("truetype"), url(../fonts/MTTMilano-Medium.svg#MTTMilano) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: MTTMilano;
    src: url(../fonts/MTTMilano-Bold.eot);
    src: url(../fonts/MTTMilano-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/MTTMilano-Bold.woff2) format("woff2"), url(../fonts/MTTMilano-Bold.woff) format("woff"), url(../fonts/MTTMilano-Bold.ttf) format("truetype"), url(../fonts/MTTMilano-Bold.svg#MTTMilano) format("svg");
    font-weight: 700;
    font-style: normal
}

.greenpage {
    background: #000d14;
    font-family: MTTMilano, "Open Sans", sans-serif;
    font-weight: 400;
    color: #e9eae5;
    position: relative;
    min-height: 100vh
}

.greenpage .header {
    background: #000d14
}

button,
input,
textarea {
    font-family: MTTMilano, "Open Sans", sans-serif
}

h1 {
    font-size: 94px;
    line-height: 87px;
    font-weight: 700
}

h2 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 400;
    letter-spacing: -.02em
}

h3 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: .02em
}

h4 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .02em
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .02em
}

.button {
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 16px;
    padding: 0 36px;
    min-width: 240px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    border: none
}

.button_black {
    background: #000d14;
    color: #b6b9ad
}

.button_black:hover,
.button_green {
    background: #1d4646;
    color: #b6b9ad
}

.button_green:hover {
    background: #000d14;
    color: #b6b9ad
}

.wrapper {
    max-width: 1520px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px
}

.nextsection {
    display: block;
    width: 120px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, .3);
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    cursor: pointer;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.nextsection:hover {
    border-color: #fff
}

.nextsection:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 3px solid #eceee5;
    border-bottom: 3px solid #eceee5;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: -6px;
    margin-bottom: -2px;
    -webkit-animation: 2s infinite pulse;
    animation: 2s infinite pulse
}

@-webkit-keyframes pulse {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0) rotate(45deg)
    }

    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px) rotate(45deg)
    }
}

@keyframes pulse {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0) rotate(45deg)
    }

    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px) rotate(45deg)
    }
}

.clouds {
    overflow: hidden
}

.cloud {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: .2
}

@-webkit-keyframes animCloud {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes animCloud {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

.cloud1 {
    -webkit-animation: 20s linear infinite animCloud;
    animation: 20s linear infinite animCloud;
    background: url(../img/cloud-01.png) center/100% auto no-repeat
}

.cloud2 {
    -webkit-animation: 40s linear infinite animCloud;
    animation: 40s linear infinite animCloud;
    background: url(../img/cloud-02.png) center/100% auto no-repeat
}

.cloud3 {
    -webkit-animation: 60s linear infinite animCloud;
    animation: 60s linear infinite animCloud;
    background: url(../img/cloud-03.png) center/100% auto no-repeat
}

.cloud4 {
    -webkit-animation: 80s linear infinite animCloud;
    animation: 80s linear infinite animCloud;
    background: url(../img/cloud-04.png) center/100% auto no-repeat
}

@media (max-width:1599px) {
    h1 {
        font-size: 72px;
        line-height: 70px
    }
}

@media (max-width:767px) {
    .button {
        height: 48px;
        line-height: 48px;
        min-width: 192px
    }

    h1 {
        font-size: 48px;
        line-height: 44px
    }

    h2 {
        font-size: 36px;
        line-height: 38px
    }

    h3 {
        font-size: 20px;
        line-height: 22px
    }

    h4 {
        font-size: 18px;
        line-height: 20px
    }

    p {
        font-size: 14px;
        line-height: 22px
    }

    .cloud {
        width: 250%
    }
}

@media (max-width:479px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    h1 {
        font-size: 36px;
        line-height: 32px
    }

    h2 {
        font-size: 24px;
        line-height: 26px
    }

    h4 {
        font-size: 16px;
        line-height: 20px
    }
}

.green_section {
    position: relative;
    background: url(../img/green_section_bg.jpg) center bottom/cover no-repeat;
    text-align: center;
    min-height: calc(100vh + 8.75vw);
    padding-bottom: 8.75vw;
    padding-top: 0
}

.green_section .cloud {
    opacity: .35
}

.green_section_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.green_section_content {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 218px;
    padding-bottom: 109px
}

.green_section_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.green_section_text {
    width: calc(50% + 40px);
    margin-right: -15px;
    padding-top: 62px
}

.green_section_text h1 {
    margin-bottom: 29px
}

.green_section_text h4 {
    margin-bottom: 55px
}

.green_section_img {
    width: calc(50% - 40px);
    text-align: left;
    margin-left: -15px
}

@media (max-width:767px) {
    .green_section_flex {
        display: block
    }

    .green_section_text {
        width: 100%;
        padding-top: 0;
        margin-right: 0;
        margin-bottom: 36px
    }

    .green_section_img {
        width: 100%;
        text-align: center;
        margin-left: 0
    }

    .green_section_content {
        padding-bottom: 48px
    }
}

.weuse_section {
    background: url(../img/weuse_section.jpg) center bottom/contain no-repeat #242426;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 180px;
    position: relative;
    min-height: calc(100vh - 5.625vw)
}

.weuse_section h2 {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    color: #b6b9ad;
    margin-bottom: 92px
}

.weuse_section .nextsection {
    bottom: 60px
}

.weuse_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.weuse_item {
    width: 33.33333%;
    max-width: 384px;
    padding-left: 12px;
    padding-right: 12px
}

.weuse_item_icon {
    display: block;
    width: 100%;
    height: 240px;
    background: center/contain no-repeat;
    margin-bottom: 55px
}

.weuse_item_title {
    color: #b6b9ad;
    margin-bottom: 22px
}

.weuse_item_text {
    color: #718787
}

.weuse_list.owl-carousel .weuse_item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px
}

.weuse_list.owl-carousel .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: 0
}

.weuse_list.owl-carousel .owl-dots .owl-dot {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px
}

.weuse_list.owl-carousel .owl-dots .owl-dot.active {
    background: #b6b9ad;
    border-color: transparent
}

@media (max-width:1279px) {
    .weuse_section {
        min-height: 0
    }
}

@media (max-width:767px) {
    .weuse_section h2 {
        margin-bottom: 36px
    }

    .weuse_item_icon {
        height: 120px;
        margin-bottom: 36px
    }
}

.savesnature_section {
    position: relative
}

.savesnature_section .nextsection {
    bottom: 180px
}

.savesnature_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/savesnature_bg.jpg) center/cover no-repeat;
    overflow: hidden
}

.savesnature_bg1 {
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 1;
    background: url(../img/savesnature_bg1.png) center/cover no-repeat
}

.savesnature_bg2 {
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 2;
    background: url(../img/savesnature_bg2.png) center/cover no-repeat
}

.savesnature_bg3 {
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 3;
    background: url(../img/savesnature_bg3.png) center/cover no-repeat
}

.savesnature_bg4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: url(../img/savesnature_bg4.png) center/cover no-repeat
}

.savesnature_content {
    position: relative;
    z-index: 2;
    min-height: calc(100vh + 5.2083333vw);
    height: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 64.4583333vw;
    padding-top: 240px;
    padding-bottom: 240px
}

.savesnature_title {
    font-size: 112px;
    line-height: 100px;
    margin-bottom: 46px
}

@media (max-height:1000px) and (min-width:1280px) {
    .savesnature_section .nextsection {
        bottom: 60px
    }
}

@media (max-width:1279px) {
    .savesnature_content {
        min-height: 0;
        max-height: none;
        height: auto
    }

    .savesnature_section .nextsection {
        bottom: 60px
    }

    .savesnature_title {
        font-size: 72px;
        line-height: 66px;
        margin-bottom: 36px
    }
}

.writeus_section {
    position: relative;
    background: url(../img/writeus_section.jpg) center/contain no-repeat #242426;
    text-align: center;
    padding-top: 132px;
    padding-bottom: 360px
}

.writeus_section h2 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 174px
}

.writeus_section .nextsection {
    bottom: 120px
}

.writeus_form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%
}

.writeus_form input[type=text] {
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(12, 21, 27, .9);
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.writeus_form input[type=text]::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.writeus_form input[type=text]::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.writeus_form input[type=text]:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.writeus_form input[type=text]::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.writeus_form input[type=text]::placeholder {
    color: #fff;
    opacity: 1
}

.writeus_form input[type=text]:focus {
    background: #0c151b
}

.writeus_form input[type=text]+input[type=text] {
    margin-top: 30px
}

.writeus_form input[type=text]+button {
    margin-top: 60px
}

@media (max-width:767px) {
    .savesnature_title {
        font-size: 48px;
        line-height: 44px;
        margin-bottom: 36px
    }

    .writeus_section {
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 240px
    }

    .writeus_form input[type=text] {
        height: 60px;
        font-size: 20px
    }

    .writeus_form input[type=text]+input[type=text] {
        margin-top: 20px
    }

    .writeus_form input[type=text]+button {
        margin-top: 40px
    }

    .writeus_section h2 {
        margin-bottom: 48px
    }
}

.greeninitiative_section {
    position: relative;
    background: url(../img/greeninitiative_section.jpg) center/cover no-repeat;
    text-align: center
}

.greeninitiative_section .wrapper {
    padding-top: 180px;
    padding-bottom: 240px
}

.greeninitiative_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3
}

.greeninitiative_border {
    position: absolute;
    left: 15.625vw;
    top: 9.375vw;
    z-index: 1;
    border: 10px solid #e9eae5
}

.greeninitiative_mount {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(../img/greeninitiative_mount.png) center/cover no-repeat
}

.greeninitiative_content {
    position: relative;
    z-index: 5
}

.greeninitiative_title {
    font-size: 120px;
    line-height: 120px;
    letter-spacing: .02em;
    display: inline-block;
    text-transform: uppercase;
    border: 10px solid transparent;
    font-weight: 700;
    font-family: ProximaNova;
    padding: 112px 128px 108px
}

@media (max-width:1279px) {
    .greeninitiative_title {
        font-size: 72px;
        line-height: 72px;
        width: 100%;
        padding: 72px 40px 68px
    }
}

@media (max-width:767px) {
    .greeninitiative_title {
        font-size: 48px;
        line-height: 48px;
        padding: 36px 20px 32px
    }

    .greeninitiative_section .wrapper {
        padding-top: 120px;
        padding-bottom: 120px
    }
}

@media (pointer:coarse) {
    .nextsection:hover {
        border-color: rgba(255, 255, 255, .3) !important
    }

    .nextsection:hover:before {
        bottom: 50% !important
    }
}

.tet {
    height: 1111111px
}