.inkonpaperpage .header {
    background: #111214
}

.inkonpaper_main {
    background: url(../img/inkonpaper_bg.jpg) center/cover no-repeat fixed;
    position: relative
}

.inkonpaper_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 160px);
    background: url(../img/inkonpaper_bg2.png) center right/cover no-repeat;
    z-index: 1
}

.inkonpaper_content {
    position: relative;
    z-index: 3;
    color: #fff
}

.inkonpaper_h1 {
    font-size: 144px;
    line-height: 144px;
    font-weight: 800;
    text-transform: uppercase
}

.inkonpaper_center {
    min-height: calc(100vh - 160px - 96px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 96px;
    padding-bottom: 120px
}

.inkonpaper_bottom {
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 96px;
    color: #fff
}

.inkonpaper_bottom a {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: -24px;
    margin-right: -24px
}

.inkonpaper_bottom a:before {
    content: '';
    display: block;
    width: 25vw;
    height: 1px;
    background: #2d2f37;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%
}

.inkonpaper_bottom a:after {
    content: '';
    display: block;
    width: 100vw;
    height: 1px;
    background: #2d2f37;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%
}

.inkonpaper_bottom_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 10px);
    background: #090a0c
}

.inkonpaper_bg_img {
    position: absolute;
    right: 96px;
    top: 160px;
    height: calc(100% - 160px - 96px);
    width: 940px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/inkonpaper_img.png) right center/contain no-repeat;
    z-index: 2
}

@media (max-width:1919px) {
    .inkonpaper_bg_img {
        right: 48px
    }
}

@media (max-width:1279px) {
    .inkonpaper_bg_img {
        width: 50%
    }
}

@media (max-width:767px) {
    .inkonpaper_h1 {
        font-size: 72px;
        line-height: 72px
    }

    .inkonpaper_bg {
        height: calc(100% - 120px)
    }

    .inkonpaper_center {
        padding-top: 48px;
        padding-bottom: 72px
    }

    .inkonpaper_bg_img {
        right: 20px
    }

    .inkonpaper_bottom {
        height: 48px
    }
}

.inkonpaper_halftext_section {
    background: #1e2025;
    color: #fff;
    text-align: center;
    overflow: hidden
}

.inkonpaper_halftext {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.inkonpaper_half_text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%
}

.inkonpaper_half_text .wrapper {
    max-width: 720px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 760px;
    padding: 80px 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.inkonpaper_half_smalltitle {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2em;
    margin-bottom: 53px
}

.inkonpaper_half_title {
    font-size: 30px;
    line-height: 46px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 63px
}

.inkonpaper_half_p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    position: relative;
    padding-top: 21px
}

.inkonpaper_half_p:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: 0
}

.inkonpaper_half_img {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background: center/cover no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px
}

.inkonpaper_play {
    font-size: 14px;
    letter-spacing: .4em;
    text-transform: uppercase
}

.inkonpaper_play i {
    display: block;
    width: 128px;
    height: 128px;
    border: 1px solid rgba(255, 255, 255, .6);
    position: relative;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    margin-bottom: 14px
}

.inkonpaper_play i:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 26px solid #fff;
    border-bottom: 16px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    margin-left: -16px
}

.inkonpaper_play:hover i {
    border-color: #fff
}

@media (max-width:1023px) {
    .inkonpaper_halftext {
        display: block
    }

    .inkonpaper_half_img {
        width: 100%;
        height: 100vw
    }

    .inkonpaper_half_text .wrapper {
        display: block;
        min-height: 0
    }
}

.inkonpaper_title_section {
    position: relative;
    background: url(../img/inkonpaper_bg.jpg) center/cover no-repeat fixed
}

.inkonpaper_title_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: center/cover no-repeat
}

.inkonpaper_title_content {
    position: relative;
    z-index: 2;
    min-height: 576px;
    padding-top: 96px;
    padding-bottom: 96px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center
}

.inkonpaper_title_content .wrapper {
    max-width: 1060px
}

.inkonpaper_title_smalltitle {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .9em;
    margin-bottom: 50px
}

.inkonpaper_title_title {
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 82px
}

.inkonpaper_title_title:after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    margin-left: -18px;
    position: absolute;
    left: 50%;
    bottom: 0
}

.inkonpaper_title_p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 21px;
    margin-top: 19px
}

@media (max-width:767px) {
    .inkonpaper_title_title {
        font-size: 32px;
        line-height: 36px
    }

    .inkonpaper_half_title {
        font-size: 24px;
        line-height: 28px
    }

    .inkonpaper_title_content {
        min-height: 0
    }
}

.inkonpaper_special_section {
    background: #0d0e11;
    color: #fff;
    padding-bottom: 180px
}

.inkonpaper_special_list {
    margin-left: -3px;
    margin-right: -3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.inkonpaper_special {
    padding: 3px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    height: 390px
}

.inkonpaper_special_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 50px 48px
}

.inkonpaper_special_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: center/cover no-repeat;
    opacity: .3;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.inkonpaper_special_title {
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .9em;
    text-transform: uppercase;
    margin-bottom: 30px
}

.inkonpaper_special_link {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: relative;
    z-index: 2
}

.inkonpaper_special:hover .inkonpaper_special_img {
    opacity: .8
}

@media (max-width:1439px) {
    .inkonpaper_special_wrapper {
        padding: 24px
    }

    .inkonpaper_special {
        height: 288px
    }
}

@media (max-width:1279px) {
    .inkonpaper_special {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%
    }
}

@media (max-width:1023px) {
    .inkonpaper_special {
        height: 288px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    .inkonpaper_special_section {
        padding-bottom: 96px
    }
}

@media (max-width:639px) {
    .inkonpaper_special_list {
        display: block
    }

    .inkonpaper_special {
        height: 90vw
    }

    .inkonpaper_special_section {
        padding-bottom: 72px
    }
}

.inkonpaper_portfolio_section {
    background: #0d0e11;
    color: #fff;
    padding-bottom: 192px
}

.inkonpaper_portfolio {
    position: relative;
    padding: 96px 0 96px 50%
}

.inkonpaper_portfolio_left {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% + 96px);
    height: 100%;
    z-index: 1;
    background: center/cover no-repeat
}

.inkonpaper_portfolio_right {
    background: #1e2025;
    position: relative;
    z-index: 2
}

.inkonpaper_portfolio_item {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 120px 48px;
    min-height: 672px
}

.inkonpaper_portfolio_logo {
    height: 60px;
    background: center/contain no-repeat;
    margin-bottom: 114px
}

.inkonpaper_portfolio_smalltitle {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .9em;
    text-transform: uppercase;
    margin-bottom: 52px
}

.inkonpaper_portfolio_title {
    font-size: 30px;
    line-height: 46px;
    font-weight: 800;
    text-transform: uppercase
}

.inkonpaper_portfolio_button {
    text-align: center;
    margin-top: 48px
}

.inkonpaper_portfolio_counter {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 48px;
    font-size: 16px;
    letter-spacing: .1em;
    z-index: 2
}

.inkonpaper_portfolio_counter span {
    font-size: 24px;
    font-weight: 800
}

@media (max-width:1439px) {
    .inkonpaper_portfolio_item {
        min-height: 480px
    }

    .inkonpaper_portfolio_logo {
        margin-bottom: 48px
    }

    .inkonpaper_portfolio_smalltitle {
        margin-bottom: 42px
    }
}

@media (max-width:1023px) {
    .inkonpaper_portfolio_left {
        position: relative;
        width: 100%;
        height: 90vw
    }

    .inkonpaper_portfolio {
        padding: 0
    }

    .inkonpaper_portfolio_item {
        padding: 48px 24px;
        min-height: 0
    }

    .inkonpaper_portfolio_title {
        font-size: 24px;
        line-height: 28px
    }

    .inkonpaper_portfolio_counter {
        padding: 24px
    }
}