.laminationpage {
    background: #1b1b1c
}

.laminationpage .section_title {
    background: url(../img/laminationpage.jpg) center/cover no-repeat
}

.lamination {
    min-height: calc(38vw + 160px);
    padding-bottom: 80px;
    padding-top: 80px
}

.lamination_image {
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -19vw;
    background: url(../img/lamination_image.svg) center/contain no-repeat;
    padding: 0 206px
}

@media (max-width:1439px) {
    .lamination_image {
        right: 40px
    }
}

@media (max-width:1279px) {
    .lamination_image {
        position: relative;
        top: 0;
        right: 40px;
        left: 40px;
        padding: 0 40px;
        width: calc(100% - 80px);
        margin-top: 0
    }
}

@media (max-width:767px) {
    .lamination_image {
        right: 20px;
        left: 20px;
        padding: 0 20px;
        width: calc(100% - 40px)
    }
}

.lamination_img {
    background: url(../img/lamination_img.jpg) center/contain no-repeat;
    width: 28.8541vw;
    height: 38vw
}

.section_boxprintingtext {
    padding-top: 110px;
    padding-bottom: 149px
}

.section_boxprintingtext h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 65px
}

.section_boxprintingtext p {
    font-size: 16px;
    max-width: 1115px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.section_boxprintingtext p+p {
    margin-top: 70px
}

@media (max-width:1279px) {
    .lamination_img {
        width: 100%;
        height: 64vw
    }

    .section_boxprintingtext {
        padding-top: 96px;
        padding-bottom: 72px
    }

    .section_boxprintingtext h2 {
        font-size: 34px;
        line-height: 40px
    }

    .section_boxprintingtext p {
        font-size: 14px
    }

    .section_boxprintingtext p+p {
        margin-top: 30px
    }
}

@media (max-width:767px) {
    .lamination_img {
        height: 66vw
    }

    .section_boxprintingtext h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 18px
    }

    .section_boxprintingtext h2 br {
        display: none
    }
}

.section_menuclients {
    padding-top: 112px;
    padding-bottom: 80px;
    overflow: hidden
}

.section_menuclients h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 72px;
    text-transform: uppercase
}

.section_menuclients .fileretouching_ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    position: relative;
    padding-left: 16.6667%
}

.section_menuclients .fileretouching_ul li {
    display: inline-table;
    width: 100%;
    padding-bottom: 30px;
    padding-right: 20px
}

.section_menuclients .fileretouching_ul li+li {
    margin-top: 0
}

@media (max-width:1279px) {
    .section_menuclients {
        padding-top: 72px;
        padding-bottom: 48px
    }

    .section_menuclients .fileretouching_ul {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        padding-left: 0
    }
}

@media (max-width:479px) {
    .section_menuclients .fileretouching_ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }
}

.section_billboardservices {
    padding-top: 140px;
    padding-bottom: 160px
}

.section_billboardservices h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: .1em
}

.billboardservices {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 72px
}

@media (max-width:767px) {
    .section_billboardservices {
        padding-top: 72px;
        padding-bottom: 80px
    }

    .section_billboardservices h2 {
        text-align: center
    }

    .billboardservices {
        margin-top: 36px;
        display: block
    }
}

.billboardservice {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

.billboardservices_button {
    margin-top: 80px
}

.billboardservices_button .button {
    max-width: 360px;
    width: 100%
}

.billboardservice_p {
    padding-right: 40px
}

.billboardservice_ul {
    padding-left: 80px
}

.billboardservice_ul .fileretouching_ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin-top: -20px
}

.billboardservice_ul .fileretouching_ul li {
    display: inline-table;
    width: 100%
}

.billboardservice_ul .fileretouching_ul li:first-child {
    margin-top: 20px
}

@media (max-width:1279px) {
    .section_billboardservices h2 {
        font-size: 34px;
        line-height: 40px
    }

    .billboardservice_ul {
        padding-left: 40px
    }

    .billboardservice_ul .fileretouching_ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }
}

@media (max-width:767px) {
    .billboardservice_p {
        padding-right: 0
    }

    .billboardservice_ul {
        padding-left: 0;
        margin-top: 24px
    }

    .billboardservice_ul .fileretouching_ul {
        margin-top: 0
    }
}