.laprinting_page {
    background: url(../img/laprinting_section.jpg) center top/contain no-repeat #1b1b1c
}

.laprinting_page h1 {
    max-width: 620px
}

.laprinting_page .contact_section_main {
    background: 0 0;
    border-bottom: none
}

.laprinting_maincontent_text,
.laprinting_maincontent_title {
    position: relative;
    z-index: 3
}

.laprinting_maincontent_text {
    text-align: left
}

.laprinting_maincontent {
    background: url(../img/laprinting_maincontent.png) center/contain no-repeat;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 148px 148px 305px 236px;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    color: #fff
}

.laprinting_maincontent_title {
    font-size: 88px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
    padding-top: 250px
}

.laprinting_maincontent_title span {
    display: block;
    font-size: 360px;
    font-weight: 700;
    line-height: 256px;
    margin-left: -18px
}

.laprinting_maincontent_text h2 {
    margin-bottom: 120px
}

.laprinting_maincontent_img {
    position: absolute;
    left: 0;
    top: -142px;
    width: 100%;
    height: 100%;
    background: url(../img/laprinting_maincontent_img.png) 74% top/78.64583vw auto no-repeat;
    z-index: 1
}

.laprintingtext_and_video_video {
    height: 100%;
    min-height: 800px;
    width: 100%;
    position: relative;
    background: url(../img/laprintingtext_and_video_video.jpg) center/cover no-repeat;
    overflow: hidden
}

.laprintingtext_and_video_video_inner {
    width: 100%;
    height: 570px;
    position: absolute;
    left: 160px;
    top: 50%;
    margin-top: -285px;
    background: url(../img/video.png) center/contain no-repeat
}

.laprintingtext_and_video_video_inner a {
    width: 148px;
    height: 148px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -74px;
    top: 50%;
    margin-top: -74px
}

.laprintingtext_and_video_video_inner a:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-left: 36px solid #1b1b1c;
    border-bottom: 28px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: 50%;
    margin-top: -28px
}

.laprintinglist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.laprintingitem {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    color: #fff;
    height: 800px;
    position: relative
}

.laprintingitem .content {
    padding-bottom: 240px;
    padding-top: 148px;
    position: static
}

.laprintingitem .button {
    position: absolute;
    bottom: 80px;
    width: 320px
}

.laprintingitem_number {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 56px
}

.indoorprinting .rightimage {
    min-height: 880px
}

.outdoorprinting {
    background: #dbdde9;
    min-height: 880px;
    position: relative;
    overflow: hidden
}

.outdoorprinting-img {
    width: 894px;
    height: 100%;
    position: absolute;
    right: 160px;
    bottom: 0;
    z-index: 1
}

.outdoorprinting_img {
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    background: url(../img/outdoorprinting_img.png) center bottom/contain no-repeat
}

.section_laprinting_workflow {
    color: #fff;
    padding: 146px 0 288px
}

.laprinting_workflow_title {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: 110px
}

.laprinting_workflow_item {
    display: block;
    height: 360px
}

.laprinting_workflow_item_number {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .02em;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 56px
}

.laprinting_workflow_item_number:before {
    content: '';
    display: block;
    width: 270px;
    height: 270px;
    position: absolute
}

.laprinting_workflow_item1:before {
    left: -33px;
    top: -16px;
    width: 270px;
    height: 270px
}

.laprinting_workflow_item2:before {
    left: -2px;
    top: -19px;
    width: 163px;
    height: 181px
}

.laprinting_workflow_item3:before {
    left: 0;
    top: -32px;
    width: 198px;
    height: 192px
}

.laprinting_workflow_item4:before {
    left: 0;
    top: -6px;
    width: 237px;
    height: 167px
}

.laprinting_workflow_item5:before {
    left: 0;
    top: -61px;
    width: 175px;
    height: 235px
}

.laprinting_workflow_item6:before {
    left: 0;
    top: -6px;
    width: 184px;
    height: 166px
}

.laprinting_workflow_item7:before {
    left: 0;
    top: -31px;
    width: 190px;
    height: 191px
}

.laprinting_workflow_item8:before {
    left: -28px;
    top: -56px;
    width: 216px;
    height: 216px
}

.laprinting_workflow_item9:before {
    left: 0;
    top: -2px;
    width: 188px;
    height: 162px
}

.laprinting_workflow_item_title {
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    max-width: 400px;
    margin-bottom: 22px
}

.laprinting_workflow_item_text {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: .02em;
    max-width: 400px;
    position: relative;
    z-index: 2
}

.laprinting_workflow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 80px
}

.laprinting_workflow_col:first-child {
    padding-top: 0 !important;
    margin-top: 0 !important
}

.laprinting_workflow_col:first-child .laprinting_workflow_item:before {
    display: none !important
}

.laprinting_workflow_col:first-child .laprinting_workflow_item:after {
    -webkit-transform: rotate(17deg) !important;
    -ms-transform: rotate(17deg) !important;
    transform: rotate(17deg) !important
}

.laprinting_workflow_col:last-child .laprinting_workflow_item:after {
    display: none !important
}

.laprinting_workflow_col:nth-child(odd) {
    -webkit-flex-basis: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
    margin-top: -42px
}

.laprinting_workflow_col:nth-child(odd) .laprinting_workflow_item {
    position: relative
}

.laprinting_workflow_col:nth-child(odd) .laprinting_workflow_item:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #242426;
    position: absolute;
    left: 80px;
    top: 80px;
    -webkit-transform: rotate(19deg);
    -ms-transform: rotate(19deg);
    transform: rotate(19deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center
}

.laprinting_workflow_col:nth-child(odd) .laprinting_workflow_item:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #242426;
    position: absolute;
    left: 80px;
    top: 80px;
    -webkit-transform: rotate(-19deg);
    -ms-transform: rotate(-19deg);
    transform: rotate(-19deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center
}

.laprinting_workflow_col:nth-child(even) {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
    padding-top: 290px
}

.laprinting_workflow.owl-carousel {
    display: block
}

.laprinting_workflow.owl-carousel .laprinting_workflow_col {
    max-width: 100%;
    padding: 0;
    text-align: center;
    padding-top: 0 !important;
    margin-top: 0 !important;
    display: block
}

.laprinting_workflow.owl-carousel .laprinting_workflow_item {
    height: auto;
    padding-bottom: 114px;
    padding-top: 62px
}

.laprinting_workflow.owl-carousel .laprinting_workflow_item_number {
    margin-left: auto;
    margin-right: auto
}

.laprinting_workflow.owl-carousel .laprinting_workflow_item_text,
.laprinting_workflow.owl-carousel .laprinting_workflow_item_title {
    max-width: 100%
}

.laprinting_workflow .owl-nav {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    height: 40px
}

.laprinting_workflow .owl-nav button.owl-prev {
    left: auto;
    right: calc(50% + 10px);
    top: 0;
    margin-top: 0
}

.laprinting_workflow .owl-nav button.owl-next {
    right: auto;
    left: calc(50% + 10px);
    top: 0;
    margin-top: 0
}

.section_lapapaersize {
    color: #fff
}

.section_lapapaersize_inner {
    padding: 148px 80px 200px
}

.section_lapapaersize_inner1 {
    padding-bottom: 0 !important
}

.section_lapapaersize_inner2 {
    background: #050505 !important;
    padding-top: 0 !important
}

.lapapaersize_text_tab {
    display: none
}

.section_lapapaersize h2 {
    margin-bottom: 42px
}

.section_lapapaersize p {
    max-width: 400px
}

.section_lapapaersize p+.lapapaersize_button {
    margin-top: 118px
}

.lapapaersize_button {
    width: 332px
}

.lapapaersize_button+.lapapaersize_button {
    margin-top: 10px
}

.lapapaersize_format_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
    padding-left: 80px;
    padding-right: 80px
}

.lapapaersize_format_item {
    width: 126px;
    height: 162px;
    border-radius: 10px;
    background: url(../img/lapapaersize_format_item.png) center/contain no-repeat;
    margin: 7px;
    padding: 36px 16px 0;
    cursor: pointer
}

.lapapaersize_format_item.selected,
.lapapaersize_format_item:hover {
    background-image: url(../img/lapapaersize_format_item_s.png)
}

.lapapaersize_format_item.selected .lapapaersize_format_item_unit,
.lapapaersize_format_item:hover .lapapaersize_format_item_unit {
    color: #fff
}

.lapapaersize_format_item.big {
    width: 266px;
    background: url(../img/lapapaersize_format_item_big.png) center/contain no-repeat
}

.lapapaersize_format_item.big.selected,
.lapapaersize_format_item.big:hover {
    background-image: url(../img/lapapaersize_format_item_big_s.png)
}

.lapapaersize_format_item_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 26px
}

.lapapaersize_format_item_size {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 8px;
    padding-top: 10px
}

.lapapaersize_format_item_size:before {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

.lapapaersize_format_item_unit {
    font-size: 14px;
    color: #717177
}

.lapapaersize_image {
    padding: 54px 0 92px;
    position: relative
}

.lapapaersize_image_img {
    width: 1600px;
    margin-left: auto;
    margin-right: auto
}

.lapapaersize_image_text {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 900;
    width: 216px;
    text-align: right;
    position: absolute;
    top: -173px;
    left: 60%
}

.lapapaersize_image_text_icon {
    margin-top: 36px;
    height: 450px;
    width: 220px;
    position: relative;
    overflow: hidden;
    background: url(../img/lapapaersize_image_text_icon.png) center/contain no-repeat
}

.lapapaersize_image_text_icon1 {
    display: block;
    width: 60px;
    height: 60px;
    background: #1b1b1c;
    border: 20px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.lapapaersize_image_text_icon2 {
    display: block;
    width: 43px;
    height: 43px;
    border: 5px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 2
}

.lapapaersize_format_buttons,
.lapapaersize_image_tab {
    display: none
}

@media (max-width:1919px) {
    .outdoorprinting-img {
        width: 760px
    }
}

@media (max-width:1599px) {
    .laprinting_maincontent {
        padding-left: 154px;
        padding-right: 80px
    }

    .outdoorprinting-img {
        right: 80px
    }

    .laprinting_workflow {
        padding-left: 80px
    }

    .lapapaersize_image_img {
        width: 1280px
    }

    .lapapaersize_image_text {
        top: -220px;
        left: 62%
    }

    .lapapaersize_format_list {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1439px) {
    .laprinting_maincontent {
        padding-left: 114px
    }

    .outdoorprinting-img {
        right: -160px
    }

    .laprinting_workflow {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 1280px
    }

    .laprinting_workflow_col:nth-child(odd) .laprinting_workflow_item:after {
        -webkit-transform: rotate(21deg);
        -ms-transform: rotate(21deg);
        transform: rotate(21deg)
    }

    .laprinting_workflow_col:nth-child(odd) .laprinting_workflow_item:before {
        -webkit-transform: rotate(-21deg);
        -ms-transform: rotate(-21deg);
        transform: rotate(-21deg)
    }

    .laprinting_workflow_col:first-child .laprinting_workflow_item:after {
        -webkit-transform: rotate(19deg) !important;
        -ms-transform: rotate(19deg) !important;
        transform: rotate(19deg) !important
    }

    .lapapaersize_image_img {
        width: 1120px
    }

    .lapapaersize_image_text {
        top: -250px;
        left: 62%
    }

    .lapapaersize_format_list {
        padding-left: 0
    }
}

@media (max-width:1279px) {
    .laprinting_maincontent {
        display: block;
        padding: 77px 40px 80px
    }

    .laprinting_maincontent_title {
        text-align: center;
        padding-top: 0;
        margin-bottom: 148px
    }

    .laprinting_maincontent_text h2 {
        margin-bottom: 174px
    }

    .laprinting_maincontent_img {
        background-position: calc(100% + 187px) 87%;
        background-size: 800px auto;
        top: 0
    }

    .laprintingtext_and_video h2,
    .laprintingtext_and_video p {
        max-width: 65%
    }

    .laprintingtext_and_video_video {
        height: 560px;
        min-height: 0
    }

    .laprintingtext_and_video_video_inner {
        width: 90%;
        left: 5%;
        height: 372px;
        margin-top: -186px
    }

    .laprintingtext_and_video_video_inner a {
        width: 110px;
        height: 110px;
        margin-left: -55px;
        margin-top: -55px
    }

    .laprintingitem {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .indoorprinting h2,
    .indoorprinting p {
        max-width: 100%
    }

    .indoorprinting .rightimage {
        min-height: 720px
    }

    .outdoorprinting-img {
        width: calc(50% + 160px);
        right: -160px
    }

    .outdoorprinting {
        min-height: 720px
    }

    .laprinting_workflow_item:after,
    .laprinting_workflow_item:before {
        display: none !important
    }

    .laprinting_workflow_col:nth-child(odd) {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding-right: 15px
    }

    .laprinting_workflow_col:nth-child(even) {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding-left: 15px
    }

    .laprinting_workflow_title {
        font-size: 50px;
        line-height: 58px;
        margin-bottom: 190px
    }

    .section_laprinting_workflow {
        padding: 94px 40px 202px
    }

    .lapapaersize_text_tab {
        display: block
    }

    .lapapaersize_image_des {
        display: none
    }

    .lapapaersize_image_tab {
        display: block
    }

    .section_lapapaersize_inner {
        padding: 160px 40px 80px
    }

    .lapapaersize_image {
        padding-top: 212px
    }

    .lapapaersize_image_img {
        width: 680px
    }

    .lapapaersize_image_text_icon {
        width: 376px;
        height: 280px;
        background-image: url(../img/lapapaersize_image_text_icon_t.png)
    }

    .lapapaersize_image_text_icon1 {
        right: auto;
        left: 0
    }

    .lapapaersize_image_text_icon2 {
        left: auto;
        right: 0
    }

    .lapapaersize_image_text {
        top: 0;
        left: 90px
    }

    .lapapaersize_text .row {
        margin-left: -20px;
        margin-right: -20px
    }

    .lapapaersize_text [class*=col-] {
        padding: 40px 20px 0
    }

    .lapapaersize_format_list {
        padding-right: 0
    }

    .lapapaersize_text {
        padding-bottom: 92px
    }

    .lapapaersize_notab {
        display: none !important
    }

    .lapapaersize_format_buttons {
        margin: 83px -10px 0;
        display: block
    }

    .lapapaersize_format_buttons .button {
        margin: 10px
    }
}

@media (max-width:767px) {
    .laprinting_maincontent_title {
        font-size: 51px;
        line-height: 41px;
        margin-bottom: 28px
    }

    .laprinting_maincontent_title span {
        font-size: 209px;
        line-height: 154px
    }

    .laprinting_maincontent_title .laprinting_maincontent_text {
        text-align: left
    }

    .laprinting_maincontent {
        display: block;
        padding: 58px 20px 80px
    }

    .laprinting_maincontent_img {
        position: static;
        width: 100%;
        height: 96.66667vw;
        background-size: 135%;
        background-position: center;
        margin-bottom: 42px
    }

    .laprinting_maincontent_text h2 {
        margin-bottom: 70px
    }

    .laprinting_maincontent_text .button {
        width: 100%
    }

    .laprintingtext_and_video h2,
    .laprintingtext_and_video p {
        max-width: 360px
    }

    .laprintingitem {
        height: auto;
        min-height: 100vw
    }

    .laprintingitem .content {
        padding-bottom: 140px;
        padding-top: 32px
    }

    .laprintingitem .button {
        width: calc(100% - 40px);
        left: 20px;
        bottom: 40px
    }

    .laprintingitem_number {
        font-size: 34px;
        margin-bottom: 40px
    }

    .indoorprinting .rightimage {
        min-height: 480px
    }

    .outdoorprinting-img {
        width: 100%;
        position: relative;
        right: 0;
        height: 81.9444vw;
        padding: 0 20px
    }

    .outdoorprinting_img {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: static
    }

    .outdoorprinting {
        min-height: 0
    }

    .section_laprinting_workflow {
        padding: 66px 20px 0
    }

    .laprinting_workflow_title {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 54px
    }

    .laprinting_workflow,
    .laprinting_workflow_col {
        display: block;
        padding-left: 0;
        padding-right: 0
    }

    .laprinting_workflow_item {
        height: auto;
        padding-bottom: 114px
    }

    .section_lapapaersize_inner {
        padding-left: 20px;
        padding-right: 20px
    }

    .lapapaersize_image_img {
        width: 440px
    }

    .lapapaersize_image_text {
        padding-left: 70px;
        text-align: left;
        width: 300px
    }

    .lapapaersize_image_text_icon {
        height: 165px;
        width: 220px;
        position: absolute;
        margin-top: 0;
        left: 0;
        top: 15px
    }

    .lapapaersize_image_text_icon1 {
        width: 30px;
        height: 30px;
        border-width: 10px
    }

    .lapapaersize_image_text_icon2 {
        width: 21px;
        height: 21px;
        border: 3px solid #fff
    }

    .lapapaersize_image {
        padding: 110px 0 30px
    }

    .lapapaersize_image_text {
        top: 30px;
        left: 80px
    }

    .lapapaersize_format_buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0
    }

    .lapapaersize_format_buttons .button {
        margin: 10px 0;
        min-width: 100%
    }

    .section_lapapaersize p {
        max-width: 100%
    }
}

@media (max-width:479px) {
    .laprintingtext_and_video_video {
        height: 300px
    }

    .laprintingtext_and_video_video_inner {
        height: 186px;
        margin-top: -93px
    }

    .laprintingtext_and_video_video_inner a {
        width: 56px;
        height: 56px;
        margin-left: -28px;
        margin-top: -28px
    }

    .laprintingtext_and_video_video_inner a:before {
        border-top: 9px solid transparent;
        border-left: 12px solid #1b1b1c;
        border-bottom: 9px solid transparent;
        margin-left: -6px;
        margin-top: -9px
    }

    .lapapaersize_image_img {
        width: 320px
    }

    .lapapaersize_image_text {
        top: 5px;
        left: 0
    }

    .section_lapapaersize_inner {
        padding: 70px 20px 40px
    }

    .lapapaersize_text {
        padding-bottom: 24px
    }

    .lapapaersize_format_item {
        display: none
    }

    .lapapaersize_format_item:nth-child(-n+8) {
        display: block
    }

    .lapapaersize_format_buttons {
        margin-top: 53px
    }
}

.section_lapapaersize {
    background: url(../img/section_lapapaersize_bg2.jpg) top center/cover no-repeat fixed
}

.section_lapapaersize_inner {
    background: url(../img/section_lapapaersize_inner2.png) top right/cover no-repeat
}

@media (pointer:coarse),
(max-width:1279px) {
    .section_lapapaersize {
        background-attachment: scroll
    }

    .section_lapapaersize_inner_mask {
        font-size: 32vw;
        line-height: 28vw
    }
}

.section_lapapaersize_inner1 {
    position: relative;
    min-height: 75vw;
    z-index: 2
}

.lapapaersize_image2 {
    position: absolute;
    left: 43.75%;
    top: -80px;
    padding-bottom: 76px
}

.lapapaersize_image_img2 {
    width: 47.65625vw
}

.lapapaersize_image_text2 {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 900;
    width: 320px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: -120px
}

.lapapaersize_image_text2 .lapapaersize_image_text_icon {
    height: 394px;
    width: 320px;
    margin-top: 0;
    margin-bottom: 46px;
    background: url(../img/lapapaersize_image_text_icon2.png) center/contain no-repeat
}

.lapapaersize_image_text2 .lapapaersize_image_text_icon1 {
    top: auto;
    right: auto;
    left: 0;
    bottom: 0
}

.lapapaersize_image_text2 .lapapaersize_image_text_icon2 {
    left: auto;
    bottom: auto;
    right: 0;
    top: 0
}

.lapapaersize_logos {
    position: absolute;
    left: 160px;
    bottom: 240px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.lapapaersize_logo_snap {
    display: block;
    width: 160px;
    height: 160px;
    background: url(../img/lapapaersize_logo_snap.png) center/contain no-repeat;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 35px #4f2f6c;
    box-shadow: 0 0 35px #4f2f6c;
    margin-right: 80px
}

.lapapaersize_logo_nike {
    display: block;
    width: 158px;
    height: 55px;
    background: url(../img/lapapaersize_logo_nike.png) center/contain no-repeat
}

.laprinting_workflow_item1:before {
    background: url(../img/laprinting_workflow_item1.png) center/contain no-repeat
}

.laprinting_workflow_item2:before {
    background: url(../img/laprinting_workflow_item2.png) center/contain no-repeat
}

.laprinting_workflow_item3:before {
    background: url(../img/laprinting_workflow_item3.png) center/contain no-repeat
}

.laprinting_workflow_item4:before {
    background: url(../img/laprinting_workflow_item4.png) center/contain no-repeat
}

.laprinting_workflow_item5:before {
    background: url(../img/laprinting_workflow_item5.png) center/contain no-repeat
}

.laprinting_workflow_item6:before {
    background: url(../img/laprinting_workflow_item6.png) center/contain no-repeat
}

.laprinting_workflow_item7:before {
    background: url(../img/laprinting_workflow_item7.png) center/contain no-repeat
}

.laprinting_workflow_item8:before {
    background: url(../img/laprinting_workflow_item8.png) center/contain no-repeat
}

.laprinting_workflow_item9:before {
    background: url(../img/laprinting_workflow_item9.png) center/contain no-repeat
}

.section_laprinting_workflow {
    background: 0 0;
    position: relative;
    z-index: 3
}

.section_laprinting_workflow_bg {
    background: url(../img/section_laprinting_workflow_bg2.jpg) center top/cover no-repeat fixed #000;
    position: relative
}

.section_lapapaersize_inner3 {
    background: 0 0
}

.section_lapapaersize {
    position: relative
}

.section_lapapaersize_inner_mask {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    background-color: #050505;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 28.17708333vw;
    font-weight: 900;
    line-height: 21.875vw;
    text-transform: uppercase;
    text-align: right;
    mix-blend-mode: darken
}

.section_lapapaersize_inner_mask_text {
    position: relative;
    top: -16px;
    right: -82px
}

.section_lapapaersize3 {
    position: relative
}

.section_lapapaersize_inner4 {
    z-index: 2;
    position: relative
}

.section_lapapaersize_inner_mask_cursor {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 160px;
    margin-left: -80px;
    height: 160px;
    margin-top: -80px;
    border-radius: 50%;
    background: #fff
}

.section_laprinting_workflow_mask {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    background-color: #111;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 28.17708333vw;
    font-weight: 900;
    line-height: 31.25vw;
    text-transform: uppercase;
    text-align: right;
    mix-blend-mode: darken
}

.section_laprinting_workflow_mask_text {
    position: relative;
    top: 450px;
    right: 110px
}

.section_laprinting_workflow_mask_cursor {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 160px;
    margin-left: -80px;
    height: 160px;
    margin-top: -80px;
    border-radius: 50%;
    background: #fff
}

.section_laprinting_workflow_lines {
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0
}

.section_laprinting_workflow_lines_fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
    overflow: hidden
}

.section_laprinting_workflow {
    margin-top: -100vh
}

.section_laprinting_workflow__lines {
    width: 132.291667vw;
    height: 87.037037vh;
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg)
}

.section_laprinting_workflow_line {
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    position: absolute;
    -webkit-animation: 10s cubic-bezier(.52, .01, .16, 1) infinite line;
    animation: 10s cubic-bezier(.52, .01, .16, 1) infinite line;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain
}

@-webkit-keyframes line {

    from,
    to {
        -webkit-transform: translateX(101%);
        transform: translateX(101%)
    }

    25% {
        -webkit-transform: translateX(101);
        transform: translateX(101)
    }

    50%,
    75% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%)
    }
}

@keyframes line {

    from,
    to {
        -webkit-transform: translateX(101%);
        transform: translateX(101%)
    }

    25% {
        -webkit-transform: translateX(101);
        transform: translateX(101)
    }

    50%,
    75% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%)
    }
}

.section_laprinting_workflow_line1 {
    height: 32px;
    top: 0;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background-image: url(../img/line1.png);
    background-position-x: 1215px
}

.section_laprinting_workflow_line2 {
    height: 23px;
    top: 6%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    background-image: url(../img/line2.png);
    background-position-x: 2004px
}

.section_laprinting_workflow_line3 {
    height: 27px;
    top: 18%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-image: url(../img/line3.png);
    background-position-x: 2146px
}

.section_laprinting_workflow_line4 {
    height: 24px;
    top: 21%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-image: url(../img/line4.png);
    background-position-x: 1960px
}

.section_laprinting_workflow_line5 {
    height: 21px;
    top: 26%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background-image: url(../img/line5.png);
    background-position-x: 1805px
}

.section_laprinting_workflow_line6 {
    height: 33px;
    top: 37%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    background-image: url(../img/line6.png);
    background-position-x: 927px
}

.section_laprinting_workflow_line7 {
    height: 34px;
    top: 46%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-image: url(../img/line7.png);
    background-position-x: 1260px
}

.section_laprinting_workflow_line8 {
    height: 27px;
    top: 54%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-image: url(../img/line8.png);
    background-position-x: 322px
}

.section_laprinting_workflow_line9 {
    height: 35px;
    top: 66%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background-image: url(../img/line9.png);
    background-position-x: 0
}

.section_laprinting_workflow_line10 {
    height: 25px;
    top: 76%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    background-image: url(../img/line10.png);
    background-position-x: 488px
}

.section_laprinting_workflow_line11 {
    height: 33px;
    bottom: 0;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-image: url(../img/line11.png);
    background-position-x: 612px
}

@media (pointer:coarse) {

    .section_lapapaersize_inner_mask_cursor,
    .section_laprinting_workflow_mask_cursor {
        display: none !important
    }
}

@media (max-width:1919px) {
    .lapapaersize_logos {
        left: 80px;
        bottom: 160px
    }
}

@media (max-width:1439px) {
    .lapapaersize_logo_snap {
        margin-right: 40px;
        width: 120px;
        height: 120px
    }
}

@media (max-width:1279px) {
    .lapapaersize_image2 {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 48px
    }

    .lapapaersize_image_img2 {
        width: 100%
    }

    .lapapaersize_logos {
        position: static;
        margin-bottom: 80px
    }

    .section_laprinting_workflow_mask_text {
        right: 0
    }

    .lapapaersize_image_text2 {
        left: 0
    }
}

@media (max-width:1023px) {
    .section_laprinting_workflow_mask_text {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@media (max-width:767px) {
    .lapapaersize_image_text_icon {
        display: none
    }

    .lapapaersize_image_text2 {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px
    }

    .lapapaersize_image2 {
        padding-bottom: 0
    }
}

@media (max-width:479px) {
    .lapapaersize_logos {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 40px
    }

    .lapapaersize_logo_snap {
        margin-right: 20px;
        width: 60px;
        height: 60px
    }

    .lapapaersize_logo_nike {
        width: 80px;
        height: 30px
    }
}