.largeformatpage {
    background: url(../img/largeformatpage.jpg) right top/100% auto no-repeat #1b1b1c;
    min-height: calc(69.95vw - 60px);
    padding-bottom: 160px
}

.largeformatpage .section_title {
    background: 0 0
}

.largeformatpage h1 {
    max-width: 620px
}

.largeformatpage_image {
    position: absolute;
    right: 160px;
    bottom: 0
}

.largeformatpage_img {
    position: relative
}

.largeformatpage_img_img {
    background: url(../img/largeformatpage_img.png) center bottom/contain no-repeat;
    width: 58.4895vw;
    height: 69.95vw
}

.largeformatpage__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 207px;
    padding-top: 20.625vw;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 18.75vw no-repeat
}

.largeformatpage__text1 {
    right: 37.5vw;
    bottom: 12.239583vw
}

.largeformatpage__text2 {
    right: 16.66667vw;
    bottom: 16.40625vw
}

.largeformatpage__text3 {
    right: 3.90625vw;
    bottom: 20.572916667vw
}

.largeformatpage_bottomcontent {
    padding: 0;
    position: absolute;
    left: 240px;
    bottom: -320px
}

.largeformatpage_bottomtext {
    max-width: 560px;
    border: 5px solid #fff;
    font-size: 50px;
    line-height: 68px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 64px 48px 54px 76px
}

@media (max-width:1919px) {
    .largeformatpage_image {
        right: 80px
    }

    .largeformatpage_bottomcontent {
        left: 160px
    }
}

@media (max-width:1599px) {
    .largeformatpage_image {
        right: 40px
    }

    .largeformatpage_bottomcontent {
        left: 80px
    }
}

@media (max-width:1279px) {
    .largeformatpage {
        padding-top: 72px;
        padding-bottom: 0
    }

    .largeformatpage .fileretouching_express_left .contentleft {
        max-width: 680px;
        margin-bottom: 18px
    }

    .largeformatpage_image {
        position: relative;
        right: 0;
        padding-left: 40px;
        padding-right: 40px
    }

    .largeformatpage_img_img {
        width: 100%;
        height: 107.8vw;
        background-position: center top
    }

    .largeformatpage_bottomcontent {
        left: 40px;
        bottom: -240px
    }

    .largeformatpage_bottomtext {
        font-size: 32px;
        line-height: 43px;
        padding: 72px 36px 68px 48px;
        max-width: 360px
    }

    .largeformatpage__text {
        padding-top: 396px;
        background-size: contain
    }

    .largeformatpage__text1 {
        right: 55vw;
        bottom: 15vw
    }

    .largeformatpage__text2 {
        right: 35.625vw;
        bottom: 30vw
    }

    .largeformatpage__text3 {
        right: 16vw;
        bottom: 10vw
    }
}

@media (max-width:767px) {
    .largeformatpage_image {
        padding-left: 20px;
        padding-right: 20px
    }

    .largeformatpage {
        padding-top: 8px;
        padding-bottom: 0
    }

    .largeformatpage__text {
        padding-top: 0;
        background: url(../img/largeformatpage_text_mob.png) left bottom/36px auto no-repeat;
        padding-bottom: 205px;
        width: 150px;
        text-align: left
    }

    .largeformatpage__text1 {
        right: auto;
        bottom: 88.8888vw;
        left: 5.55555vw
    }

    .largeformatpage__text2 {
        right: auto;
        bottom: 62.5vw;
        left: 27.77777vw
    }

    .largeformatpage__text3 {
        right: auto;
        bottom: 38.8889vw;
        left: 44.44444vw
    }

    .largeformatpage_bottomcontent {
        left: 60px;
        bottom: -142px
    }

    .largeformatpage_bottomtext {
        font-size: 21px;
        line-height: 29px;
        padding: 26px 24px 28px 32px;
        max-width: 240px
    }

    .largeformatpage_img_img {
        background-position: center bottom;
        height: 172vw
    }
}

.largeformatpageimage {
    padding: 160px 0 0
}

.largeformatpageimage .section_fileretouching_textures_content {
    background: url(../img/largeformatpageimage.png) center top/contain no-repeat;
    padding-top: 720px;
    padding-bottom: 160px
}

@media (max-width:1279px) {
    .largeformatpageimage {
        padding: 150px 0 0
    }

    .largeformatpageimage .section_fileretouching_textures_content {
        padding-top: 330px;
        padding-bottom: 80px
    }
}

@media (max-width:767px) {
    .largeformatpageimage {
        padding: 90px 0 0
    }

    .largeformatpageimage .section_fileretouching_textures_content {
        padding-top: 150px;
        padding-bottom: 60px
    }
}

.lfnearme .fileretouching_textblock_left {
    padding-right: 0;
    width: 1200px
}

.lfnearme .fileretouching_textblock_imgright {
    padding-top: 520px
}

.lfnearme_text_group {
    max-width: 420px;
    position: relative;
    padding-top: 45px;
    margin-top: 30px;
    padding-bottom: 22px
}

.lfnearme_text_group:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

@media (max-width:1279px) {
    .lfnearme {
        padding-top: 160px
    }

    .lfnearme .fileretouching_textblock {
        display: block
    }

    .lfnearme .fileretouching_textblock_imgright {
        padding-top: 0;
        position: relative;
        width: 100%;
        padding-left: 80px
    }

    .lfnearme .fileretouching_textblock_left {
        width: 100%;
        padding-top: 80px
    }

    .lfnearme_text_group {
        max-width: 580px
    }
}

@media (max-width:767px) {
    .lfnearme {
        padding-top: 56px
    }

    .lfnearme .fileretouching_textblock_imgright {
        padding-left: 40px;
        margin-bottom: 0
    }

    .lfnearme .fileretouching_textblock_left {
        padding-top: 50px
    }
}

.section_productapplications {
    background: url(../img/productapplications.jpg) center top/cover no-repeat;
    position: relative;
    padding-top: 146px;
    padding-bottom: 220px
}

.section_productapplications h2 {
    font-weight: 900;
    letter-spacing: 0;
    margin-bottom: 12px
}

.productapplications_text {
    font-size: 14px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase
}

.productapplications_buttondown {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/arrowleftblack.png) center/8px 12px no-repeat #fff;
    cursor: pointer;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 60px;
    z-index: 2;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.productapplications_buttondown:hover {
    opacity: .75
}

.productapplications_borderbottom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(../img/productapplications_borderbottom.png) center top/auto 100% no-repeat;
    width: 100%;
    height: 80px
}

@media (max-width:1279px) {
    .section_productapplications {
        padding-top: 116px;
        padding-bottom: 184px
    }
}

.outdoorprintingservices {
    position: relative;
    background: #151515
}

.outdoorprintingservices .fileretouching_textblock {
    position: static
}

.outdoorprintingservices .fileretouching_textblock_imgright {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .section_productapplications {
        padding-top: 52px;
        padding-bottom: 154px
    }

    .section_productapplications h2 {
        margin-bottom: 6px
    }

    .productapplications_text {
        line-height: 24px
    }

    .outdoorprintingservices {
        padding-top: 0
    }

    .outdoorprintingservices .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .outdoorprintingservices .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.outdoorbanners {
    position: relative
}

.outdoorbanners .fileretouching_textblock {
    position: static
}

.outdoorbanners .fileretouching_textblock_imgleft {
    width: 50%;
    background: center/cover no-repeat
}

.lfbanners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.lfbanner {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 800px;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase;
    background: center/cover no-repeat;
    color: #fff;
    text-align: center
}

.lfbanner span.lfbanner_title {
    display: inline-block;
    max-width: 420px
}

@media (max-width:1599px) {
    .lfbanner {
        height: 600px
    }
}

@media (max-width:1439px) {
    .lfbanner {
        height: 400px
    }
}

@media (max-width:1279px) {
    .lfbanner {
        height: 320px;
        font-size: 16px;
        line-height: 22px
    }
}

.threemertified .fileretouching_textblock_imgright {
    background-size: 564px auto
}

@media (max-width:1279px) {
    .threemertified .fileretouching_textblock_imgright {
        background-size: calc(50vw - 50px) auto
    }
}

@media (max-width:767px) {
    .outdoorbanners {
        padding-top: 0
    }

    .outdoorbanners .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .outdoorbanners .fileretouching_textblock_imgleft {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }

    .lfbanners {
        display: block
    }

    .lfbanner {
        height: 300px
    }

    .threemertified .fileretouching_textblock_imgright {
        background-size: calc(100vw - 120px) auto
    }
}

.section_busdecals {
    position: relative;
    background: #b9b9b9;
    overflow: hidden;
    height: 800px
}

.busdecals_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/busdecals.jpg) center/contain no-repeat;
    z-index: 1
}

.busdecals_title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: absolute;
    left: 80px;
    bottom: 74px;
    z-index: 2
}

@media (max-width:1599px) {
    .section_busdecals {
        height: 600px
    }
}

@media (max-width:1439px) {
    .section_busdecals {
        height: 400px
    }
}

@media (max-width:1279px) {
    .section_busdecals {
        height: 320px
    }

    .busdecals_title {
        left: 40px
    }
}

@media (max-width:767px) {
    .section_busdecals {
        height: 300px
    }

    .busdecals_title {
        left: 20px;
        bottom: 54px
    }

    .busdecals_img {
        background-size: auto 300px;
        background-position: right center
    }
}

.vehiclewraps_title {
    min-height: 240px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    line-height: 54px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 48px 0;
    background: url(../img/vehiclewraps_bg.jpg) center/cover no-repeat;
    text-align: center
}

.vehiclewraps_title span {
    display: block
}

@media (max-width:1279px) {
    .vehiclewraps_title {
        min-height: 160px;
        font-size: 28px;
        line-height: 42px
    }
}

@media (max-width:767px) {
    .vehiclewraps_title {
        min-height: 120px;
        font-size: 18px;
        line-height: 27px
    }
}

.vehiclewraps_ba_slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    overflow: hidden
}

.vehiclewraps_ba_slider.ba-slider {
    display: block
}

.vehiclewraps_ba_slider.no-slider .resize {
    width: 50vw !important
}

.vehiclewraps_ba_slider.no-slider .handle {
    display: none !important
}

.vehiclewraps_ba_slider .handle {
    width: 2px;
    margin-left: -1px;
    height: 100%;
    background: #fff
}

.vehiclewraps_ba_slider .handle:before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 10px solid #fff;
    background: #151515;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    margin-left: -18px
}

.vehiclewrap_img {
    width: 50vw;
    height: 800px;
    background: center/cover no-repeat;
    position: relative
}

.vehiclewrap_img_title_a,
.vehiclewrap_img_title_b {
    position: absolute;
    bottom: 74px;
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em
}

.vehiclewrap_img_title_a {
    left: 80px
}

.vehiclewrap_img_title_b {
    right: 80px
}

@media (max-width:1599px) {
    .vehiclewrap_img {
        height: 600px
    }
}

@media (max-width:1439px) {
    .vehiclewrap_img {
        height: 400px
    }
}

@media (max-width:1279px) {
    .vehiclewrap_img {
        height: 320px
    }

    .vehiclewrap_img_title_a {
        left: 40px
    }

    .vehiclewrap_img_title_b {
        right: 40px
    }
}

@media (max-width:767px) {
    .vehiclewrap_img {
        height: 300px;
        width: 100vw
    }

    .vehiclewrap_img_title_a,
    .vehiclewrap_img_title_b {
        bottom: 54px;
        font-size: 16px
    }

    .vehiclewrap_img_title_a {
        left: 20px
    }

    .vehiclewrap_img_title_b {
        right: 20px
    }
}

.entrustedscg_title {
    min-height: 240px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    line-height: 54px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 48px 0;
    background: url(../img/vehiclewraps_bg.jpg) center/cover no-repeat;
    text-align: center
}

.entrustedscg_title span {
    display: block
}

@media (max-width:1279px) {
    .entrustedscg_title {
        min-height: 160px;
        font-size: 28px;
        line-height: 42px
    }
}

@media (max-width:767px) {
    .entrustedscg_title {
        min-height: 120px;
        font-size: 18px;
        line-height: 27px
    }
}

.section_entrustedscg .fileretouching_imagesblock_image {
    position: relative
}

.entrustedscg_tip_brand_l,
.entrustedscg_tip_brand_r {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    position: absolute;
    bottom: 74px
}

.entrustedscg_tip_brand_l {
    left: 80px
}

.entrustedscg_tip_brand_r {
    right: 80px
}

@media (max-width:1279px) {
    .entrustedscg_tip_brand_l {
        left: 40px
    }

    .entrustedscg_tip_brand_r {
        right: 40px
    }
}

.bg151515 {
    background: #151515
}

.section_lflist {
    background: #1b1b1c;
    padding-top: 153px;
    padding-bottom: 126px
}

.section_lflist .wrapper {
    max-width: 1440px
}

.section_lflist.bg151515 {
    background: #151515
}

.lflist_title {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 82px
}

.lflist.fileretouching_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.lflist.fileretouching_ul li {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    margin: 25px 0;
    padding-right: 20px
}

@media (max-width:767px) {

    .entrustedscg_tip_brand_l,
    .entrustedscg_tip_brand_r {
        width: 100%;
        text-align: center;
        bottom: 54px;
        left: 0;
        right: 0
    }

    .section_lflist {
        padding-top: 48px;
        padding-bottom: 36px
    }

    .section_lflist .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .lflist_title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 12px
    }

    .lflist.fileretouching_ul li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin: 12px 0;
        padding-left: 20px
    }

    .threemsertifiedbutton img {
        display: none
    }
}

.threemsertifiedbutton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.threemsertifiedbutton img {
    height: 148px
}

.lfbanner {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.ui-selectmenu-button.custom_select_button {
    background: #1f1f20;
    border-radius: 0;
    border: 1px solid #4b4b4b;
    height: 72px;
    padding: 28px 32px;
    text-transform: none;
    font-weight: 700;
    width: auto
}

.ui-selectmenu-button.custom_select_button .ui-selectmenu-text {
    margin-right: 32px
}

.ui-selectmenu-button.custom_select_button .ui-selectmenu-icon.ui-icon {
    width: 15px;
    height: 10px;
    margin-top: 3px
}

.ui-selectmenu-button.custom_select_button.ui-selectmenu-button-open {
    background: #1f1f20
}

.ui-selectmenu-menu.custom_select_menu .ui-menu {
    background: #1f1f20;
    border: 1px solid #4b4b4b;
    border-top: none;
    font-weight: 700
}

.ui-selectmenu-menu.custom_select_menu .ui-menu .ui-menu-item-wrapper.ui-state-active {
    background: #2c2c2c;
    border-color: #2c2c2c;
    font-weight: 700
}

.lfbanner_links {
    margin-top: 24px
}

@media (max-width:767px) {
    .lfbanner_links {
        margin-top: 12px
    }
}

.section_wallwraps {
    position: relative;
    background: url(../img/wallwraps_bg.jpg) center/cover no-repeat;
    padding-top: 260px;
    padding-bottom: 384px
}

.wallwraps_content {
    max-width: 1040px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #2d2d2e;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 44px 72px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.wallwraps_title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .02em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media (max-width:1279px) {
    .wallwraps_content {
        padding-left: 40px;
        padding-right: 40px
    }

    .section_wallwraps {
        padding-top: 160px;
        padding-bottom: 160px
    }
}

.fileretouching_ul.lf_vechiclecar_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fileretouching_ul.lf_vechiclecar_list li {
    margin: 15px 0;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

@media (max-width:767px) {
    .section_wallwraps {
        padding-top: 60px;
        padding-bottom: 60px
    }

    .section_wallwraps .busdecals_title {
        bottom: 20px
    }

    .section_wallwraps .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .wallwraps_content {
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        text-align: center
    }

    .wallwraps_title {
        font-size: 24px;
        margin-bottom: 24px
    }

    .fileretouching_ul.lf_vechiclecar_list {
        display: block
    }

    .fileretouching_ul.lf_vechiclecar_list li {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

.lf_vechiclecar_button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.lf_vechiclecar_button .button {
    height: 72px;
    line-height: 68px
}

.lf_vechiclecar_button .custom_select_button {
    margin-left: 20px
}

@media (max-width:1279px) {
    .lf_vechiclecar_button {
        display: block
    }

    .lf_vechiclecar_button .custom_select_button {
        margin: 20px 0 0
    }
}

.section_lfproduction {
    background: #151515
}

.section_lfproduction .lflist {
    background: url(../img/lfproduction.png) center/contain no-repeat
}

.lfclients {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.lfclient {
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    opacity: .2;
    height: 107px;
    display: block
}

.lfclient img {
    height: 107px;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain
}

.lfclient:hover {
    opacity: 1
}

.owl-carousel.lfclients .lfclient {
    padding-left: 60px;
    padding-right: 60px;
    opacity: 1
}

.owl-carousel.lfclients .owl-nav button.owl-prev {
    left: 0
}

.owl-carousel.lfclients .owl-nav button.owl-next {
    right: 0
}