.lenticularpage {
    background: #1a1a1b
}

.lenticularpage .section_title {
    background: url(../img/gallerypage_bg.jpg) center/cover no-repeat
}

.lenticular {
    padding-top: 66px;
    min-height: 62.5vw
}

.lenticular_image {
    position: absolute;
    top: -77px;
    right: 153px;
    z-index: 1
}

.lenticular_img {
    position: relative
}

.lenticular_img_img {
    width: 54.5833333vw;
    height: 62.5vw;
    background: url(../img/lenticular_img.png) center top/contain no-repeat
}

.lenticular__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 400px;
    padding: 20.625vw 7.60416667vw 0 0
}

.lenticular__text_arrow {
    width: 10.78125vw;
    height: 18.75vw;
    background: url(../img/lenticular__text_arrow.png) top right/contain no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    display: block
}

.lenticular__text1 {
    right: 30.416667vw;
    top: 26.40625vw
}

.lenticular__text2 {
    right: 13.5416667vw;
    top: 34.6875vw
}

@media (max-width:1919px) {
    .lenticular_image {
        right: 80px
    }

    .lenticular .fileretouching_express_left .contentleft {
        max-width: 500px
    }
}

@media (max-width:1439px) {
    .lenticular_image {
        right: 40px
    }
}

@media (max-width:1279px) {
    .lenticular {
        padding-top: 0;
        min-height: 0
    }

    .lenticular_image {
        width: 100%;
        right: 0;
        top: -22px;
        padding: 0 80px;
        position: relative;
        margin-bottom: -8px
    }

    .lenticular_img_img {
        width: 100%;
        height: 100vw
    }

    .lenticular__text_arrow {
        width: 19.5vw;
        height: 35.75vw;
        background: url(../img/lenticular__text_arrow_t.png) top right/contain no-repeat
    }

    .lenticular__text {
        width: 360px;
        padding: 40.25vw 12vw 0 0
    }

    .lenticular__text1 {
        right: 38vw;
        top: 35.5vw
    }

    .lenticular__text2 {
        right: 8vw;
        top: 52.25vw
    }

    .lenticular .fileretouching_express_left .contentleft {
        max-width: 600px
    }
}

@media (max-width:767px) {
    .lenticular {
        padding-top: 27px;
        padding-bottom: 90px
    }

    .lenticular_image {
        top: 0;
        padding: 0 20px;
        margin-bottom: -8px
    }

    .lenticular_img_img {
        width: 100%;
        height: 158vw
    }

    .lenticular__text_arrow {
        width: 10vw;
        height: 55vw;
        background: url(../img/aboutpromotion_img_about_mob.png) center top/contain no-repeat;
        right: auto;
        left: 0
    }

    .lenticular__text {
        width: 120px;
        padding: 57.777778vw 0 0;
        text-align: left
    }

    .lenticular__text1 {
        right: 44.44444vw;
        top: 31.66667vw
    }

    .lenticular__text2 {
        right: 5.55555vw;
        top: 47.7777vw
    }
}

.section_incorporate {
    position: relative;
    background: #141414
}

.incorporate_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/incorporate_bg.jpg) center/cover no-repeat
}

.incorporate_img {
    width: 50%;
    height: calc(100% + 308px);
    position: absolute;
    left: 74px;
    top: -160px;
    background: url(../img/incorporate_img.png) center/contain no-repeat
}

.incorporate_play {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background: #fff;
    margin-left: -96px;
    margin-top: -96px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.incorporate_play:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 24px solid #141e25;
    border-bottom: 14px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -14px;
    margin-left: -12px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.incorporate_play:hover {
    background: #242426
}

.incorporate_play:hover:before {
    border-left-color: #fff
}

.incorporate_text {
    position: relative;
    z-index: 2;
    width: 50%;
    margin-left: 50%;
    text-align: center;
    padding: 144px 80px 125px
}

.incorporate_text h2 {
    letter-spacing: 0;
    margin-bottom: 74px
}

.incorporate_text .button {
    max-width: 320px;
    width: 100%
}

@media (max-width:1919px) {
    .incorporate_text {
        padding-left: 0;
        padding-right: 0
    }

    .incorporate_img {
        left: 40px
    }
}

@media (max-width:1279px) {
    .incorporate_image {
        position: relative;
        height: 60vw
    }

    .incorporate_img {
        left: 0;
        width: 100%;
        height: calc(100% + 156px);
        top: -68px
    }

    .incorporate_text {
        width: 100%;
        margin-left: 0;
        padding-top: 150px;
        padding-bottom: 80px
    }

    .incorporate_text h2 {
        margin-bottom: 40px
    }
}

@media (max-width:767px) {
    .incorporate_image {
        height: 66.666667vw
    }

    .incorporate_img {
        height: calc(100% + 76px);
        top: -31px
    }

    .incorporate_play {
        width: 90px;
        height: 90px;
        margin-left: -45px;
        margin-top: -45px
    }

    .incorporate_text {
        padding-top: 84px;
        padding-bottom: 60px
    }

    .incorporate_text h2 {
        margin-bottom: 52px
    }
}

.motionprint {
    background: url(../img/motionprint_bg.jpg) center/cover no-repeat #141414;
    position: relative;
    padding-top: 272px;
    padding-bottom: 192px
}

.motionprint .fileretouching_textblock {
    position: static
}

.motionprint .fileretouching_textblock_imgright {
    right: auto;
    left: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: auto;
    bottom: 0;
    height: calc(100% - 160px)
}

@media (max-width:1279px) {
    .motionprint {
        padding-top: 104px;
        padding-bottom: 102px
    }

    .motionprint .fileretouching_textblock_imgright {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 50%;
        height: calc(100% - 40px);
        overflow: hidden;
        padding-left: 40px
    }

    .motionprint .fileretouching_textblock_imgright img {
        max-width: none;
        width: auto;
        height: 100%
    }
}

@media (max-width:767px) {
    .motionprint {
        padding-top: 64px;
        padding-bottom: 0;
        background-position: bottom center;
        background-size: 200% auto
    }

    .motionprint .fileretouching_textblock_imgright {
        display: block;
        width: 100%;
        height: auto;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 0;
        margin-top: 88px
    }

    .motionprint .fileretouching_textblock_imgright img {
        width: 100%;
        height: auto
    }
}

@media (max-width:1279px) {
    .largerun .fileretouching_textblock {
        display: block
    }

    .largerun .fileretouching_textblock_imgleft {
        position: static;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 36px
    }

    .largerun .fileretouching_textblock_right {
        padding-left: 0;
        width: 100%;
        margin-left: 0;
        max-width: 600px
    }
}

@media (max-width:767px) {
    .largerun .fileretouching_textblock_imgleft {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 48px
    }
}

.section_comiconexpo {
    background: url(../img/comiconexpo.jpg) center/cover no-repeat;
    padding-top: 158px;
    padding-bottom: 150px
}

.comiconexpo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px
}

.comiconexpo_img {
    width: 50%;
    padding: 0 80px
}

.comiconexpo_img .ba-slider {
    padding: 66px 0
}

.comiconexpo_img .ba-slider .resize {
    top: 66px;
    height: calc(100% - 132px)
}

.comiconexpo_img .ba-slider .handle {
    width: 32px;
    margin-left: -16px;
    background: 0 0
}

.comiconexpo_img .ba-slider .handle:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px
}

.comiconexpo_img .ba-slider .handle:after {
    content: '';
    display: block;
    width: 4px;
    margin-left: -2px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0
}

.comiconexpo_text {
    width: 50%;
    padding-left: 40px;
    padding-top: 8px
}

.comiconexpo_columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    padding-top: 32px;
    position: relative
}

.comiconexpo_columns:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 40px;
    top: 0
}

.comiconexpo_columns p {
    padding: 15px 40px;
    display: inline-table;
    width: 100%
}

.comiconexpo_columns p+p {
    margin-top: 0
}

@media (max-width:1599px) {
    .comiconexpo_img {
        padding-left: 40px;
        padding-right: 40px
    }

    .comiconexpo_text {
        padding-left: 0
    }
}

@media (max-width:1439px) {
    .comiconexpo_columns p {
        padding-left: 20px;
        padding-right: 20px
    }

    .comiconexpo_columns:before {
        left: 20px
    }
}

@media (max-width:1279px) {
    .section_comiconexpo {
        padding-top: 68px;
        padding-bottom: 74px
    }

    .comiconexpo {
        display: block;
        margin-top: 42px
    }

    .comiconexpo_img,
    .comiconexpo_text {
        width: 100%
    }

    .comiconexpo_img .ba-slider {
        padding: 58px 0
    }

    .comiconexpo_img .ba-slider .resize {
        top: 58px;
        height: calc(100% - 116px)
    }

    .comiconexpo_text {
        padding-top: 0
    }

    .comiconexpo_columns {
        margin-left: -20px;
        margin-right: -20px
    }
}

.findbest {
    position: relative;
    background: url(../img/findbest.jpg) left bottom/cover no-repeat #141414
}

.findbest .fileretouching_textblock {
    position: static
}

.findbest .fileretouching_textblock_imgright {
    width: 50%;
    background: url(../img/findbest_img.jpg) center/cover no-repeat
}

@media (max-width:767px) {
    .section_comiconexpo {
        padding-top: 55px;
        padding-bottom: 55px
    }

    .comiconexpo_img {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 40px
    }

    .comiconexpo_img .ba-slider {
        padding: 28px 0
    }

    .comiconexpo_img .ba-slider .resize {
        top: 28px;
        height: calc(100% - 56px)
    }

    .comiconexpo_columns {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
        padding-top: 10px
    }

    .findbest {
        padding-top: 0
    }

    .findbest .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -40px;
        margin-right: -40px
    }
}

@media (max-width:479px) {
    .findbest .fileretouching_textblock_imgright {
        margin-left: -20px;
        margin-right: -20px
    }
}

.lalp {
    background: url(../img/lalp_bg.jpg) right center/cover no-repeat #1b1b1d
}

@media (max-width:1279px) {
    .lalp {
        background: url(../img/lalp_bg_t.jpg) center top/100% auto no-repeat #1b1b1d;
        padding-top: 45.5vw
    }

    .lalp .fileretouching_textblock_right {
        padding-left: 0;
        width: 100%;
        margin-left: 0
    }
}

.section_lpservices {
    background: url(../img/lpservices_bg.jpg) center/cover no-repeat;
    padding-top: 146px;
    padding-bottom: 144px
}

.section_lpservices .wrapper {
    max-width: 1140px
}

.section_lpservices h2 {
    letter-spacing: 0;
    margin-bottom: 28px
}

@media (max-width:1279px) {
    .section_lpservices {
        padding-top: 70px;
        padding-bottom: 116px
    }
}

@media (max-width:767px) {
    .section_lpservices {
        padding-top: 52px;
        padding-bottom: 66px
    }

    .section_lpservices h2 {
        margin-bottom: 20px
    }
}

.section_alllent {
    background: #141414;
    padding: 80px 0;
    text-align: center
}

.section_alllent .button {
    width: 100%;
    max-width: 800px
}

@media (max-width:767px) {
    .section_alllent {
        padding: 60px 0
    }
}

.section_ourclients {
    background: url(../img/ourclients_bg.jpg) center/cover no-repeat;
    padding-top: 105px;
    padding-bottom: 80px
}

.section_ourclients h2 {
    letter-spacing: 0;
    margin-bottom: 144px
}

.ourclients_list {
    padding-bottom: 160px
}

.ourclients_list .owl-dots {
    bottom: 0
}

.ourclients_item {
    position: relative;
    height: 100%
}

.ourclients_item:before {
    content: '';
    display: block;
    width: 200%;
    height: 3px;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    background: #656565
}

.ourclients_item_odd:before {
    -webkit-transform: rotate(56deg);
    -ms-transform: rotate(56deg);
    transform: rotate(56deg)
}

.ourclients_item_even {
    margin-left: 0;
    margin-top: 240px
}

.ourclients_item_even:before {
    -webkit-transform: rotate(-56deg);
    -ms-transform: rotate(-56deg);
    transform: rotate(-56deg)
}

.ourclients_icon {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: center/cover no-repeat;
    position: relative;
    z-index: 2
}

.owl-item:last-child .ourclients_item:before {
    display: none
}

@media (max-width:1279px) {
    .section_ourclients {
        padding-top: 68px;
        padding-bottom: 80px
    }

    .section_ourclients h2 {
        margin-bottom: 194px
    }
}

@media (max-width:767px) {
    .ourclients_item {
        margin: 0 10px
    }

    .ourclients_item:before {
        display: none
    }

    .ourclients_list {
        padding-bottom: 60px
    }

    .ourclients_list .owl-item {
        opacity: .5;
        -webkit-transition: .15s ease-out;
        -o-transition: .15s ease-out;
        transition: .15s ease-out
    }

    .ourclients_list .owl-item.center {
        opacity: 1
    }

    .section_ourclients {
        padding-top: 52px;
        padding-bottom: 60px
    }

    .section_ourclients h2 {
        margin-bottom: 48px
    }
}