.localdeliverypage {
    background: url(../img/localdeliverypage.jpg) right top/100% auto no-repeat #1b1b1c
}

.localdeliverypage .section_title {
    background: 0 0
}

.localdeliverypage h1 {
    max-width: 860px
}

@media (max-width:767px) {
    .localdeliverypage {
        background: #1b1b1c
    }

    .localdeliverypage .section_title {
        background: url(../img/localdeliverypage.jpg) center top/auto 100% no-repeat
    }
}

.localdelivery {
    min-height: 100vh;
    padding-top: 116px;
    padding-bottom: 160px
}

.localdelivery .fileretouching_express_left .contentleft {
    max-width: 540px;
    padding-bottom: 0;
    margin-bottom: 0
}

.ld_image {
    width: 62.5vw;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden
}

.ld_img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/ld_image.png) left center/auto 692px no-repeat
}

@media (max-width:1279px) {
    .localdelivery {
        padding-top: 80px
    }

    .ld_image {
        position: relative;
        width: 100%;
        height: 608px
    }

    .ld_img {
        left: 77px;
        background-size: auto 100%;
        background-image: url(../img/ld_image_t.png)
    }

    .localdelivery .fileretouching_express_left .contentleft {
        max-width: 440px
    }
}

@media (max-width:767px) {
    .localdelivery {
        padding-top: 104px;
        padding-bottom: 180px
    }

    .ld_image {
        height: 334px;
        margin-bottom: -10px
    }

    .ld_img {
        left: 18px;
        background-image: url(../img/ld_image_m.png)
    }
}

.localdeliveryimage {
    padding-top: 400px;
    padding-bottom: 400px
}

.localdeliveryimage_content {
    position: relative;
    z-index: 3
}

.localdeliveryimage_content .wrapper {
    max-width: 1440px
}

.localdeliveryimage_text {
    width: 480px;
    border: 5px solid #fff;
    font-size: 40px;
    line-height: 52px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    padding: 64px 48px 62px 74px
}

.localdeliveryimage_images {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.localdeliveryimage_image1 {
    width: 38.4375vw;
    height: 28.125vw;
    background: url(../img/localdeliveryimage_image1.png) center/contain no-repeat;
    z-index: 1;
    position: absolute;
    top: 17.96875vw;
    left: 33.3333vw
}

.localdeliveryimage_image2 {
    width: 34.7911167vw;
    height: 29.375vw;
    background: url(../img/localdeliveryimage_image2.png) center/contain no-repeat;
    z-index: 2;
    position: absolute;
    top: -6.875vw;
    right: 15.625vw
}

.localdeliveryimage_image3 {
    width: 27.08333vw;
    height: calc(100% + 173px);
    z-index: 3;
    position: absolute;
    right: 0;
    top: -72px;
    overflow: hidden
}

.localdeliveryimage_image3 .parallax_img-100 {
    background: url(../img/localdeliveryimage_image3.png) right center/contain no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -50px;
    top: 0
}

@media (max-width:1279px) {
    .localdeliveryimage {
        padding-top: 170px;
        padding-bottom: 160px
    }

    .localdeliveryimage_content {
        padding-left: 40px;
        padding-right: 40px
    }

    .localdeliveryimage_image1 {
        top: 14.4vw;
        left: 45.6vw
    }

    .localdeliveryimage_image2 {
        top: -21vw;
        right: 4vw
    }

    .localdeliveryimage_image3 .parallax_img-100 {
        background-position-y: top
    }

    .ld_notifications .fileretouching_textblock {
        display: block
    }

    .ld_notifications .fileretouching_textblock_imgleft {
        position: relative;
        width: 100%;
        margin-bottom: 48px
    }

    .ld_notifications .fileretouching_textblock_right {
        margin-left: 0
    }

    .ld_emails .fileretouching_textblock_imgright {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.ld_emails {
    position: relative
}

.ld_emails .fileretouching_textblock {
    position: static
}

.ld_emails .fileretouching_textblock_imgright {
    width: 50%;
    overflow: hidden
}

.ld_emails .fileretouching_textblock_imgright img {
    position: relative;
    right: -160px;
    width: calc(100% + 160px);
    max-width: calc(100% + 160px)
}

@media (max-width:767px) {
    .localdeliveryimage {
        padding-top: 180px;
        padding-bottom: 80px
    }

    .localdeliveryimage .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .localdeliveryimage_content {
        padding-left: 0;
        padding-right: 0
    }

    .localdeliveryimage_text {
        width: 100%;
        max-width: 320px;
        text-align: center;
        font-size: 26px;
        line-height: 34px;
        padding: 41px 48px
    }

    .localdeliveryimage_image1 {
        left: 5.5555vw;
        top: 20vw;
        width: 56.6667vw;
        height: 41.66667vw
    }

    .localdeliveryimage_image2 {
        top: -33.33333vw;
        right: 16.6667vw;
        width: 50.83333vw;
        height: 43.05555vw
    }

    .localdeliveryimage_image3 {
        top: -30.5556vw;
        right: 0;
        width: 41.66667vw;
        height: 94.44444vw
    }

    .ld_emails .fileretouching_textblock_imgright {
        width: 100%
    }

    .ld_emails .fileretouching_textblock_imgright img {
        max-width: 100%;
        width: 100%;
        right: 0
    }
}

.section_ldtrack {
    padding-top: 148px
}

.section_ldtrack h2 {
    margin-bottom: 70px
}

.ldtrack_text {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em
}

.ldtrack_form {
    width: 100%;
    max-width: 1080px;
    margin: 42px auto 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.ldtrack_form input {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    background: #303030;
    font-size: 36px;
    letter-spacing: .02em;
    font-weight: 600;
    padding: 0 50px;
    color: #fff
}

.ldtrack_form input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.ldtrack_form input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.ldtrack_form input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.ldtrack_form input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.ldtrack_form input::placeholder {
    color: #fff;
    opacity: 1
}

.ldtrack_form button {
    display: block;
    width: 240px;
    height: 120px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    background: #303030;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .02em
}

.ldtrack_form button:before {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background: #7c7c7d;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px
}

@media (max-width:1279px) {
    .section_ldtrack {
        padding-top: 130px
    }

    .section_ldtrack h2 {
        margin-bottom: 52px
    }

    .ldtrack_form {
        margin: 50px 0 160px;
        display: block
    }

    .ldtrack_form input {
        width: 100%;
        display: block;
        margin-bottom: 40px
    }

    .ldtrack_form button {
        height: 80px;
        background: #fff;
        color: #242426;
        display: inline-block
    }

    .ldtrack_form button:before {
        display: none
    }
}

@media (max-width:767px) {
    .section_ldtrack {
        padding-top: 88px
    }

    .section_ldtrack h2 {
        margin-bottom: 42px
    }

    .section_ldtrack .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .ldtrack_form {
        margin-bottom: 66px
    }

    .ldtrack_form input {
        font-size: 24px;
        text-align: center;
        margin-bottom: 26px
    }

    .ldtrack_form button {
        height: 60px
    }
}

.experientalmarketing {
    min-height: 0;
    padding-bottom: 0;
    padding-top: 67px
}

.em_image {
    position: absolute;
    right: 240px;
    top: 67px
}

.em_img {
    background: url(../img/em_img.png) center top/contain no-repeat;
    width: 39.63541666vw;
    height: 42.55208333vw
}

.em_bottomcontent {
    margin-left: 160px;
    padding-bottom: 0
}

.em_bottomtext {
    width: 640px;
    border: 5px solid #fff;
    font-size: 66px;
    line-height: 88px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 64px 48px 62px 72px
}

@media (max-width:1919px) {
    .em_image {
        right: 160px
    }
}

@media (max-width:1599px) {
    .em_image {
        right: 80px
    }

    .em_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1279px) {
    .experientalmarketing {
        padding-top: 72px;
        padding-bottom: 0
    }

    .em_image {
        position: relative;
        right: 0;
        top: 0;
        padding-left: 40px;
        padding-right: 40px
    }

    .em_img {
        width: 100%;
        height: 97vw;
        background-position: center top
    }

    .em_bottomcontent {
        margin-left: 40px
    }

    .em_bottomtext {
        font-size: 32px;
        line-height: 43px;
        padding: 72px 36px 68px 48px;
        width: 360px
    }
}

@media (max-width:767px) {
    .em_image {
        padding-left: 20px;
        padding-right: 20px
    }

    .experientalmarketing {
        padding-top: 72px;
        padding-bottom: 0
    }

    .em_bottomcontent {
        margin-left: 0
    }

    .em_bottomtext {
        font-size: 21px;
        line-height: 29px;
        padding: 26px 24px 28px 32px;
        max-width: 360px;
        width: 100%
    }
}

.experientalmarketingimage {
    padding: 860px 0 160px;
    position: relative;
    margin-top: -220px
}

.experientalmarketingimage .experientalmarketingimage_bgimg {
    background: url(../img/experientalmarketingimage.png) center top/auto 100% no-repeat;
    position: absolute;
    left: 0;
    top: -96px;
    z-index: 2;
    width: 100%;
    height: calc(100% + 96px)
}

.experientalmarketingimage .section_fileretouching_textures_content {
    z-index: 3
}

.experientalmarketingimage_button .button {
    max-width: 320px;
    width: 100%
}

@media (max-width:1599px) {
    .experientalmarketingimage {
        padding-top: 576px
    }
}

@media (max-width:1279px) {
    .experientalmarketingimage {
        padding-top: 330px;
        padding-bottom: 80px;
        margin-top: -120px
    }
}

.fusion {
    position: relative
}

.fusion .fileretouching_textblock {
    position: static
}

.fusion .fileretouching_textblock_imgleft {
    width: 50%;
    background: right center/cover no-repeat
}

@media (max-width:767px) {
    .experientalmarketingimage {
        margin-top: -90px;
        padding-top: 150px;
        padding-bottom: 60px
    }

    .fusion {
        padding-top: 0
    }

    .fusion .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .fusion .fileretouching_textblock_imgleft {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.whatem {
    position: relative
}

.whatem .fileretouching_textblock {
    position: static
}

.whatem .fileretouching_textblock_imgright {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .whatem {
        padding-top: 0
    }

    .whatem .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .whatem .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.section_emcompanies {
    background: url(../img/emcompanies_bg.jpg) right top/100% auto no-repeat #141414;
    padding: 143px 0 160px
}

.section_emcompanies h2 {
    letter-spacing: 0
}

.emcompanies_textgroup {
    position: relative;
    padding-top: 48px
}

.emcompanies_textgroup:before {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

.emcompanies_textgroup+.emcompanies_textgroup {
    margin-top: 48px
}

.emcompanies_title {
    margin-bottom: 194px
}

@media (max-width:1279px) {
    .section_emcompanies {
        padding-top: 96px
    }

    .section_emcompanies .fileretouching_textblock {
        display: block
    }

    .section_emcompanies .fileretouching_textblock_imgright {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 48px
    }

    .emcompanies_title {
        margin-bottom: 72px
    }
}

.managedprint {
    background: #1b1b1c;
    position: relative
}

.managedprint .fileretouching_textblock {
    position: static
}

.managedprint .fileretouching_textblock_imgleft {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .section_emcompanies {
        padding-bottom: 64px
    }

    .section_emcompanies .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .managedprint {
        padding-top: 0
    }

    .managedprint .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .managedprint .fileretouching_textblock_imgleft {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.digitamarketing {
    position: relative;
    background: #141414
}

.digitamarketing .fileretouching_textblock {
    position: static
}

.digitamarketing .fileretouching_textblock_imgright {
    width: 50%;
    overflow: hidden
}

.digitamarketing .fileretouching_textblock_imgright img {
    position: relative;
    right: -160px
}

@media (max-width:1279px) {
    .digitamarketing .fileretouching_textblock {
        display: block
    }

    .digitamarketing .fileretouching_textblock_imgright {
        position: relative;
        width: 100%;
        margin-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px
    }

    .digitamarketing .fileretouching_textblock_imgright img {
        right: auto
    }
}

.section_whatexamples {
    background: #1b1b1c;
    padding: 146px 0 170px
}

.section_whatexamples .fileretouching_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto
}

.section_whatexamples .fileretouching_ul li {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin: 30px 0
}

.whatexamples_title {
    max-width: 1040px;
    letter-spacing: 0;
    margin: 0 auto 67px
}

@media (max-width:1279px) {
    .section_whatexamples {
        padding-top: 96px
    }

    .section_whatexamples .fileretouching_ul li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        margin: 30px 0
    }

    .whatexamples_title {
        margin-bottom: 72px
    }
}

@media (max-width:767px) {

    .digitamarketing .fileretouching_textblock_imgright,
    .digitamarketing .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_whatexamples {
        padding-bottom: 64px
    }

    .section_whatexamples .fileretouching_ul {
        display: block
    }

    .section_whatexamples .fileretouching_ul li {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        margin: 30px 0
    }

    .section_whatexamples .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:479px) {
    .ldtrack_form button {
        width: 100%
    }

    .section_whatexamples .fileretouching_ul li {
        margin: 15px 0
    }
}

.outdoorprintingservices {
    position: relative;
    background: #151515
}

.outdoorprintingservices .fileretouching_textblock {
    position: static
}

.outdoorprintingservices .fileretouching_textblock_imgright {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .outdoorprintingservices {
        padding-top: 0
    }

    .outdoorprintingservices .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .outdoorprintingservices .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}

.outdoorbanners {
    position: relative
}

.outdoorbanners .fileretouching_textblock {
    position: static
}

.outdoorbanners .fileretouching_textblock_imgleft {
    width: 50%;
    background: center/cover no-repeat
}

.lfbanners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.lfbanner {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 800px;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase;
    background: center/cover no-repeat;
    color: #fff;
    text-align: center
}

.lfbanner span {
    display: inline-block;
    max-width: 420px
}

@media (max-width:1599px) {
    .lfbanner {
        height: 600px
    }
}

@media (max-width:1439px) {
    .lfbanner {
        height: 400px
    }
}

.threemertified .fileretouching_textblock_imgright {
    background-size: 564px auto
}

@media (max-width:1279px) {
    .lfbanner {
        height: 320px;
        font-size: 16px;
        line-height: 22px
    }

    .threemertified .fileretouching_textblock_imgright {
        background-size: calc(50vw - 50px) auto
    }
}

@media (max-width:767px) {
    .outdoorbanners {
        padding-top: 0
    }

    .outdoorbanners .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .outdoorbanners .fileretouching_textblock_imgleft {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }

    .lfbanners {
        display: block
    }

    .lfbanner {
        height: 300px
    }

    .threemertified .fileretouching_textblock_imgright {
        background-size: calc(100vw - 120px) auto
    }
}

.section_busdecals {
    position: relative;
    background: #b9b9b9;
    overflow: hidden;
    height: 800px
}

.busdecals_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/busdecals.jpg) center/contain no-repeat;
    z-index: 1
}

.busdecals_title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: absolute;
    left: 80px;
    bottom: 74px;
    z-index: 2
}

@media (max-width:1599px) {
    .section_busdecals {
        height: 600px
    }
}

@media (max-width:1439px) {
    .section_busdecals {
        height: 400px
    }
}

@media (max-width:1279px) {
    .section_busdecals {
        height: 320px
    }

    .busdecals_title {
        left: 40px
    }
}

@media (max-width:767px) {
    .section_busdecals {
        height: 300px
    }

    .busdecals_title {
        left: 20px;
        bottom: 54px
    }

    .busdecals_img {
        background-size: auto 300px;
        background-position: right center
    }
}

.vehiclewraps_title {
    min-height: 240px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    line-height: 54px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 48px 0;
    background: url(../img/vehiclewraps_bg.jpg) center/cover no-repeat;
    text-align: center
}

.vehiclewraps_title span {
    display: block
}

@media (max-width:1279px) {
    .vehiclewraps_title {
        min-height: 160px;
        font-size: 28px;
        line-height: 42px
    }
}

@media (max-width:767px) {
    .vehiclewraps_title {
        min-height: 120px;
        font-size: 18px;
        line-height: 27px
    }
}

.vehiclewraps_ba_slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    overflow: hidden
}

.vehiclewraps_ba_slider.ba-slider {
    display: block
}

.vehiclewraps_ba_slider.no-slider .resize {
    width: 50vw !important
}

.vehiclewraps_ba_slider.no-slider .handle {
    display: none !important
}

.vehiclewraps_ba_slider .handle {
    width: 2px;
    margin-left: -1px;
    height: 100%;
    background: #fff
}

.vehiclewraps_ba_slider .handle:before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 10px solid #fff;
    background: #151515;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    margin-left: -18px
}

.vehiclewrap_img {
    width: 50vw;
    height: 800px;
    background: center/cover no-repeat;
    position: relative
}

.vehiclewrap_img_title_a,
.vehiclewrap_img_title_b {
    position: absolute;
    bottom: 74px;
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em
}

.vehiclewrap_img_title_a {
    left: 80px
}

.vehiclewrap_img_title_b {
    right: 80px
}

@media (max-width:1599px) {
    .vehiclewrap_img {
        height: 600px
    }
}

@media (max-width:1439px) {
    .vehiclewrap_img {
        height: 400px
    }
}

@media (max-width:1279px) {
    .vehiclewrap_img {
        height: 320px
    }

    .vehiclewrap_img_title_a {
        left: 40px
    }

    .vehiclewrap_img_title_b {
        right: 40px
    }
}

@media (max-width:767px) {
    .vehiclewrap_img {
        height: 300px;
        width: 100vw
    }

    .vehiclewrap_img_title_a,
    .vehiclewrap_img_title_b {
        bottom: 54px;
        font-size: 16px
    }

    .vehiclewrap_img_title_a {
        left: 20px
    }

    .vehiclewrap_img_title_b {
        right: 20px
    }
}

.entrustedscg_title {
    min-height: 240px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    line-height: 54px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 48px 0;
    background: url(../img/vehiclewraps_bg.jpg) center/cover no-repeat;
    text-align: center
}

.entrustedscg_title span {
    display: block
}

@media (max-width:1279px) {
    .entrustedscg_title {
        min-height: 160px;
        font-size: 28px;
        line-height: 42px
    }
}

@media (max-width:767px) {
    .entrustedscg_title {
        min-height: 120px;
        font-size: 18px;
        line-height: 27px
    }
}

.section_entrustedscg .fileretouching_imagesblock_image {
    position: relative
}

.entrustedscg_tip_brand_l,
.entrustedscg_tip_brand_r {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    position: absolute;
    bottom: 74px
}

.entrustedscg_tip_brand_l {
    left: 80px
}

.entrustedscg_tip_brand_r {
    right: 80px
}

@media (max-width:1279px) {
    .entrustedscg_tip_brand_l {
        left: 40px
    }

    .entrustedscg_tip_brand_r {
        right: 40px
    }
}

.bg151515 {
    background: #151515
}

.section_lflist {
    background: #1b1b1c;
    padding-top: 153px;
    padding-bottom: 126px
}

.section_lflist .wrapper {
    max-width: 1440px
}

.section_lflist.bg151515 {
    background: #151515
}

.lflist_title {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 82px
}

.lflist.fileretouching_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.lflist.fileretouching_ul li {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    margin: 25px 0;
    padding-right: 20px
}

@media (max-width:767px) {

    .entrustedscg_tip_brand_l,
    .entrustedscg_tip_brand_r {
        width: 100%;
        text-align: center;
        bottom: 54px;
        left: 0;
        right: 0
    }

    .section_lflist {
        padding-top: 48px;
        padding-bottom: 36px
    }

    .section_lflist .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .lflist_title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 12px
    }

    .lflist.fileretouching_ul li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin: 12px 0;
        padding-left: 20px
    }
}