@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova.eot);
    src: url(../fonts/ProximaNova.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova.woff2) format("woff2"), url(../fonts/ProximaNova.woff) format("woff"), url(../fonts/ProximaNova.ttf) format("truetype"), url(../fonts/ProximaNova.svg#ProximaNova) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaSemibold.eot);
    src: url(../fonts/ProximaNovaSemibold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaSemibold.woff2) format("woff2"), url(../fonts/ProximaNovaSemibold.woff) format("woff"), url(../fonts/ProximaNovaSemibold.ttf) format("truetype"), url(../fonts/ProximaNovaSemibold.svg#ProximaNova) format("svg");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaBold.eot);
    src: url(../fonts/ProximaNovaBold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaBold.woff2) format("woff2"), url(../fonts/ProximaNovaBold.woff) format("woff"), url(../fonts/ProximaNovaBold.ttf) format("truetype"), url(../fonts/ProximaNovaBold.svg#ProximaNova) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaExtrabold.eot);
    src: url(../fonts/ProximaNovaExtrabold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaExtrabold.woff2) format("woff2"), url(../fonts/ProximaNovaExtrabold.woff) format("woff"), url(../fonts/ProximaNovaExtrabold.ttf) format("truetype"), url(../fonts/ProximaNovaExtrabold.svg#ProximaNova) format("svg");
    font-weight: 900;
    font-style: normal
}

body {
    background: #1b1b1c;
    padding: 0;
    margin: 0;
    font-family: ProximaNova, "Open Sans", sans-serif;
    color: #242426;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative
}

section {
    background: #1b1b1c
}

button,
input,
textarea {
    font-family: ProximaNova, "Open Sans", sans-serif;
    -webkit-appearance: none;
    border: transparent;
    outline: 0;
    background: 0 0;
    border-radius: 0
}

button {
    cursor: pointer;
    padding: 0
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
ol li,
p,
ul li {
    margin: 0;
    padding: 0
}

*,
:focus,
:hover,
:visited {
    text-decoration: none;
    outline: 0 !important
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

img {
    max-width: 100%
}

a {
    color: inherit;
    cursor: pointer
}

.modal {
    -webkit-overflow-scrolling: touch
}

.tac {
    text-align: center
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: .02em
}

h1.h1before {
    padding-left: 94px;
    position: relative
}

h1.h1before:before {
    content: '';
    display: block;
    width: 66px;
    height: 6px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 40px
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: .02em
}

h2.borderbottom {
    position: relative;
    padding-bottom: 34px
}

h2.borderbottom:after {
    content: '';
    display: block;
    height: 3px;
    width: 36px;
    background: #242426;
    position: absolute;
    left: 0;
    bottom: 0
}

h2.borderbottom.h2white:after {
    background: #fff
}

h2.borderbottom.h2center:after {
    left: 50%;
    margin-left: -18px
}

.uppercase {
    text-transform: uppercase
}

.colorwhite h2.borderbottom:after {
    background: #fff
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: .02em
}

h4 {
    font-size: 12px;
    font-weight: 900
}

p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: .02em
}

p.big {
    font-weight: 900
}

p+p {
    margin-top: 30px
}

.button {
    display: inline-block;
    height: 80px;
    line-height: 76px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 24px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .08em;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    min-width: 240px;
    border: 2px solid transparent
}

.button_2line {
    line-height: 21px;
    padding-top: 18px;
    padding-bottom: 18px;
    white-space: normal
}

.button_middle {
    height: 60px;
    line-height: 56px
}

.button_radius {
    border-radius: 5px
}

.button_transparent_grey {
    background: 0 0;
    border-color: rgba(255, 255, 255, .2);
    color: #fff
}

.button_transparent_grey:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.button_transparent_black {
    background: 0 0;
    border-color: #242426;
    color: #1b1b1c
}

.button_transparent_black:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.button_transparent_white {
    background: 0 0;
    border-color: #fff;
    color: #fff
}

.button_transparent_white:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.button_grey {
    background: #323232;
    border-color: #323232;
    color: #fff
}

.button_grey:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.button_lightgrey {
    background: #e9ebf2;
    border-color: #e9ebf2;
    color: #242426
}

.button_lightgrey:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.button_white {
    background: #323232;
    border-color: #323232;
    color: #fff
}

.button_white:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.button_black {
    background: #181819;
    border-color: #181819;
    color: #fff
}

.button_black:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.button_green {
    background: #4ca374;
    border-color: #4ca374;
    color: #fff
}

.button_green:hover {
    background: #fff;
    border-color: #fff;
    color: #242426
}

.colorwhite {
    color: #fff
}

.colorpurple {
    color: #7a4afa
}

.content {
    padding: 80px;
    z-index: 10;
    position: relative
}

header {
    position: absolute;
    z-index: 12;
    width: 100%;
    left: 0;
    top: 0
}

header.opened {
    background: #1a1a1b;
    position: fixed !important
}

.header {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 160px;
    border-bottom: 1px solid #4b4b4b;
    padding: 40px 80px
}

.header_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.header_logo {
    display: block;
    width: 88px;
    height: 32px;
    background: url(../img/logo.png) left center/contain no-repeat;
    margin-right: 72px
}

.header_menu_opener {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer
}

.header_menu_opener i {
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    left: -7px;
    top: 50%;
    margin-top: -17px;
    background: url(../img/header_menu_icon.png) center/20px 16px no-repeat;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    border: 2px solid transparent;
    border-radius: 50%
}

.header_menu_opener.opened i {
    background: url(../img/crosswhite.png) center/contain no-repeat;
    border-color: #fff
}

.header_menu_opener.opened i:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.header_menu_opener_text {
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    position: relative;
    padding-right: 20px
}

.header_menu_opener_text:before {
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px
}

.header_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 16px;
    letter-spacing: .02em;
    font-weight: 700;
    white-space: nowrap
}

.header_right a {
    display: block
}

.header_right span {
    display: block;
    position: relative
}

.header_right span:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -14px;
    left: 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.header_right span:hover:after {
    width: 100%
}

.header_login {
    margin-right: 82px
}

.header_login a {
    position: relative;
    padding-right: 48px
}

.header_login a:before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
    background: url(../img/header_login.png) center/contain no-repeat #fff
}

.header_phone {
    font-size: 22px;
    margin-left: 52px;
    white-space: nowrap
}

.header_phone a {
    display: block;
    padding-left: 42px;
    position: relative
}

.header_phone a:before {
    content: '';
    display: block;
    width: 22px;
    height: 36px;
    background: url(../img/header_icon_phone.png) center/contain no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18px
}

.main_section {
    position: relative;
    padding: 160px;
    min-height: 100vh;
    color: #fff;
    background: url(../img/main_section_bg.png) center right/33.33333% auto no-repeat
}

.main_section header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%
}

.main_section_bglb {
    width: 400px;
    height: 400px;
    background: url(../img/main_section_bglb.png) right bottom/cover no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1
}

.main_section_bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 160px;
    position: absolute;
    left: 160px;
    bottom: 0;
    width: calc(100% - 160px);
    border-top: 1px solid #4b4b4b;
    padding: 0 80px;
    z-index: 2
}

.main_section_bottom ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.main_section_bottom ul li {
    position: relative;
    padding-left: 92px;
    margin-left: 32px
}

.main_section_bottom ul li:before {
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background: #fff;
    opacity: .2;
    position: absolute;
    left: 0;
    top: 50%
}

.main_section_bottom ul li:first-child {
    padding-left: 0;
    margin-left: 0
}

.main_section_bottom ul li:first-child:before {
    display: none
}

.main_section_bottom_right {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    padding-left: 40px;
    position: relative
}

.main_section_bottom_right:before {
    content: '';
    display: block;
    width: 20px;
    height: 26px;
    background: url(../img/place_icon.png) center/contain no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px
}

.main_section_left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: calc(100% - 160px);
    border-right: 1px solid #4b4b4b;
    z-index: 2
}

.main_section_left ul {
    position: absolute;
    left: -48px;
    bottom: 188px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.main_section_left ul li {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    position: relative;
    padding-left: 92px;
    margin-left: 32px
}

.main_section_left ul li:before {
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background: #fff;
    opacity: .2;
    position: absolute;
    left: 0;
    top: 50%
}

.main_section_left ul li:first-child {
    padding-left: 0;
    margin-left: 0
}

.main_section_left ul li:first-child:before {
    display: none
}

.main_section_right {
    position: absolute;
    right: 0;
    top: 160px;
    width: 160px;
    height: calc(100% - 320px);
    border-left: 1px solid #4b4b4b;
    z-index: 2
}

.main_section_right ul {
    position: absolute;
    left: 80px;
    bottom: 68px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center
}

.main_section_right ul li {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    position: relative;
    padding-left: 92px;
    margin-left: 32px
}

.main_section_right ul li:before {
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background: #fff;
    opacity: .2;
    position: absolute;
    left: 0;
    top: 50%
}

.main_section_right ul li:first-child {
    padding-left: 0;
    margin-left: 0
}

.main_section_right ul li:first-child:before {
    display: none
}

.scroll_icon {
    display: block;
    width: 40px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 12px;
    position: relative
}

.scroll_icon:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -4px
}

.main_section_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: calc(100vh - 320px);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3
}

.main_section_content .content {
    position: relative;
    z-index: 2
}

.main_section_content .main_section_content_img {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/main_section_content.jpg) left center/cover no-repeat;
    z-index: 1
}

.main_section_beforetitle {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .9em;
    margin-bottom: 53px
}

.main_section_title {
    font-size: 86px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: .02em;
    margin-bottom: 63px
}

.textsection {
    color: #fff;
    text-align: center;
    padding-top: 157px;
    padding-bottom: 173px
}

.textsection h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: .1em
}

.textsection h4 {
    letter-spacing: .9em;
    text-transform: uppercase
}

.textsection h4+h2 {
    margin-top: 53px
}

.textsection h2+h3 {
    margin-top: 52px
}

.textsection p {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto
}

.textsection h2+p {
    margin-top: 18px
}

.section_about {
    background: url(../img/section_about_bg.jpg) center/cover no-repeat
}

.section_commercialprinting {
    background: url(../img/section_commercialprinting_bg.jpg) center/cover no-repeat
}

.section_printingservices {
    background: url(../img/section_printingservices_bg.jpg) center/cover no-repeat
}

.section_largeformat {
    background: url(../img/section_largeformat_bg.jpg) center/cover no-repeat
}

.section_managedservices {
    background: url(../img/section_managedservices_bg.jpg) center/cover no-repeat
}

.section_colormanagement {
    background: url(../img/section_colormanagement_bg.jpg) center/cover no-repeat
}

.section_streetart {
    background: url(../img/section_streetart_bg.jpg) center/cover no-repeat
}

.section_delivery {
    background: url(../img/section_delivery_bg.jpg) center/cover no-repeat
}

.section_clothes {
    background: url(../img/section_clothes_bg.jpg) center/cover no-repeat
}

.printmarketing_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.printmarketing_carousel_item {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    overflow: hidden
}

.printmarketing_carousel_item_img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px)
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/arrowleftwhite.png) center/8px 12px no-repeat rgba(255, 255, 255, .3);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: url(../img/arrowleftblack.png) center/8px 12px no-repeat #fff
}

.owl-carousel .owl-nav button.owl-prev {
    left: 50px
}

.owl-carousel .owl-nav button.owl-next {
    right: 50px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 80px;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.owl-carousel button.owl-dot {
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    margin: 0 6px;
    opacity: .3;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.owl-carousel button.owl-dot.active,
.owl-carousel button.owl-dot:hover {
    opacity: 1
}

.owl-whitebutton .owl-nav button.owl-next,
.owl-whitebutton .owl-nav button.owl-prev {
    background: url(../img/arrowleftblack.png) center/8px 12px no-repeat #fff
}

.owl-whitebutton .owl-nav button.owl-next:hover,
.owl-whitebutton .owl-nav button.owl-prev:hover {
    background: url(../img/arrowleftwhite.png) center/8px 12px no-repeat rgba(255, 255, 255, .3)
}

.owl-darkdots button.owl-dot {
    background: #a4a5ae
}

.owl-darkdots button.owl-dot.active {
    background: #242426
}

.printmarketing_left {
    background: url(../img/printmarketing_left.jpg) center/cover no-repeat;
    padding-top: 57px;
    position: relative
}

.printmarketing_left .content {
    padding-bottom: 240px
}

.printmarketing_left .printmarketing_button {
    position: absolute;
    left: 80px;
    bottom: 80px;
    z-index: 11
}

.contentleft h2,
.contentleft h3,
.contentleft p {
    max-width: 480px
}

.contentleft h2+p {
    margin-top: 66px
}

.contentleft h2+h3 {
    margin-top: 68px
}

.contentleft h3+p {
    margin-top: 25px
}

.printmarketing_button_inner {
    position: relative;
    padding-right: 86px
}

.printmarketing_button_inner .printmarketing_button_phone {
    display: block;
    height: 100%;
    width: 86px;
    border-left: 1px solid #474747;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/phone_icon.png) center/18px auto no-repeat #323232;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.printmarketing_button_inner .printmarketing_button_phone:hover {
    background: url(../img/phone_icon_black.png) center/18px auto no-repeat #fff
}

.section_needcommercialprinting {
    background: url(../img/section_needcommercialprinting.jpg) center right/cover no-repeat #dbdde9;
    padding-top: 4px;
    min-height: 100vh;
    position: relative;
    overflow: hidden
}

.section_needcommercialprinting .content {
    padding-bottom: 240px
}

.section_needcommercialprinting .button {
    position: absolute;
    left: 80px;
    bottom: 80px;
    z-index: 11
}

.needcommercialprinting_download {
    position: relative;
    display: block;
    padding-left: 80px;
    font-size: 16px;
    line-height: 24px;
    color: #202021;
    margin-bottom: 57px
}

.needcommercialprinting_download span {
    font-weight: 600;
    display: block
}

.needcommercialprinting_download:before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: url(../img/attached_icon.png) center/27px auto no-repeat #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.needcommercialprinting_download.whiteicon:before {
    background-color: #1b1b1c;
    background-image: url(../img/attached_icon_black.png)
}

.needcommercialprinting_download.whiteicon:hover:before {
    background-color: #fff;
    background-image: url(../img/attached_icon.png)
}

.needcommercialprinting_download:hover:before {
    background-color: #1b1b1c;
    background-image: url(../img/attached_icon_black.png)
}

.colorwhite .needcommercialprinting_download {
    color: #fff
}

.section_customprinting {
    background: #dbdde9;
    min-height: 100vh;
    position: relative;
    overflow: hidden
}

.section_customprinting .content {
    padding-bottom: 240px
}

.section_customprinting .button {
    position: absolute;
    left: 80px;
    bottom: 80px;
    z-index: 10
}

.section_customprinting_img {
    position: absolute;
    right: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 1;
    background: url(../img/section_customprinting.jpg) right center/auto 100% no-repeat
}

.outdoor_item {
    min-height: 100vh
}

.section_outdoor_buttons {
    position: absolute;
    left: 80px;
    bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.section_outdoor_buttons .button+.button {
    margin-left: 18px
}

.outdoor1 {
    background: #dbdde9
}

.outdoor1_img {
    background: url(../img/outdoor1.png) left bottom/100% auto no-repeat;
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 1
}

.outdoor2 {
    background: url(../img/outdoor2.jpg) right center/cover no-repeat
}

.outdoor2_img {
    background: url(../img/outdoor2_img.png) center right/auto 100% no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.outdoor3 {
    background: url(../img/outdoor3.jpg) center/cover no-repeat;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 1
}

.outdoor3_bg {
    background: url(../img/outdoor3.jpg) center/cover no-repeat
}

.outdoor4 {
    background: url(../img/outdoor4.jpg) left bottom/cover no-repeat #630e12
}

.outdoor4_img {
    background: url(../img/outdoor4_img.png) center/auto 100% no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.images_section_img {
    min-height: 50vh;
    height: 480px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .6
}

.images_section_img a.button {
    opacity: 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.images_section_img:hover {
    z-index: 10;
    opacity: 1
}

.images_section_img:hover a {
    opacity: 1
}

@media (pointer:coarse) {
    .images_section_img {
        opacity: .75
    }
}

.images_section {
    position: relative;
    z-index: 2
}

.images_section [class*=col-]:hover {
    z-index: 2
}

.images_section_img_right {
    background-image: url(../img/images_section_img_right.jpg);
    min-height: 100vh
}

.images_section_img1 {
    background-image: url(../img/images_section_img1.jpg)
}

.images_section_img2 {
    background-image: url(../img/images_section_img2.jpg)
}

.images_section_img3 {
    background-image: url(../img/images_section_img3.jpg)
}

.owl_button_bottom .owl-nav {
    position: absolute;
    left: 50%;
    bottom: 64px;
    width: 184px;
    margin-left: -92px;
    height: 40px;
    z-index: 10
}

.owl_button_bottom .owl-nav button.owl-prev {
    left: 0;
    top: 0;
    margin-top: 0
}

.owl_button_bottom .owl-nav button.owl-next {
    right: 0;
    top: 0;
    margin-top: 0
}

.colormanagement_title {
    font-size: 36px;
    font-weight: 900;
    line-height: 54px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .01em;
    margin-bottom: 64px
}

.colormanagement_inner {
    text-align: center;
    opacity: 0;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    position: relative;
    z-index: 2
}

@media (pointer:coarse) {
    .colormanagement_inner {
        opacity: .75
    }
}

.colormanagement:hover .colormanagement_inner {
    opacity: 1
}

.colormanagement {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 640px;
    min-height: 50vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative
}

.colormanagement_img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out
}

.colormanagement1 {
    background-image: url(../img/colormanagement1.jpg)
}

.colormanagement2 {
    background-image: url(../img/colormanagement2.jpg)
}

.colormanagement3 {
    background-image: url(../img/colormanagement3.jpg)
}

.colormanagement4 {
    background-image: url(../img/colormanagement4.jpg)
}

.colormanagement:hover .colormanagement4 {
    opacity: .3
}

.section_streetart_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    height: 960px;
    background: url(../img/section_streetart_content.jpg) center/cover no-repeat
}

.outdoor6 {
    background: url(../img/outdoor6.jpg) center right/auto 100% no-repeat #dbdde9
}

.outdoor6_img1 {
    background: url(../img/outdoor6_img1.png) center/auto 100% no-repeat;
    position: absolute;
    left: 0;
    top: 2.5vw;
    width: 49.114vw;
    height: 50vw;
    z-index: 1
}

.outdoor6_img2 {
    background: url(../img/outdoor6_img2.png) center/auto 100% no-repeat;
    position: absolute;
    right: 0;
    top: -2.5vw;
    width: 31.25vw;
    height: 39.0625vw;
    z-index: 2
}

.section_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 66px
}

.delivery {
    position: relative
}

.outdoor_item {
    position: relative;
    overflow: hidden
}

.outdoor_item .content {
    padding-bottom: 240px;
    z-index: 2;
    position: relative
}

.outdoor_item .section_outdoor_buttons {
    z-index: 6
}

.delivery_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.delivery_img1 {
    background: url(../img/delivery_img1.png) center right/auto 100% no-repeat
}

.delivery_img2 {
    background: url(../img/delivery_img2.png) center right/auto 100% no-repeat;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 2
}

.delivery_img3 {
    background: url(../img/delivery_img3.png) center right/auto 100% no-repeat;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 3
}

.delivery_img4 {
    background: url(../img/delivery_img4.png) center/auto 100% no-repeat;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 4
}

.section_head_tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    position: absolute;
    left: 442px;
    top: 106px;
    z-index: 5
}

.section_head_tab {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-left: 100px;
    position: relative;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline
}

.section_head_tab:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: 0 0;
    position: absolute;
    left: 0;
    bottom: -12px
}

.section_head_tab.active:after {
    background: #fff
}

.content_link {
    margin-top: 60px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: underline
}

.outdoor7 {
    background: url(../img/outdoor7.jpg) top right/contain no-repeat #242426
}

.outdoor8 {
    background: #242426
}

.outdoor9 {
    background: #dbdde9
}

.outdoor9-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%
}

.outdoor9_img {
    background: url(../img/outdoor9_img.png) center right/auto 100% no-repeat;
    width: 100%;
    height: 100%
}

.portfolio_item {
    height: 640px;
    position: relative
}

.portfolio_item a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    opacity: .5
}

.portfolio_item a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1
}

.portfolio_item1 {
    background-image: url(../img/portfolio_item1.jpg)
}

.portfolio_item2 {
    background-image: url(../img/portfolio_item2.jpg)
}

.portfolio_item3 {
    background-image: url(../img/portfolio_item3.jpg)
}

.portfolio_item4 {
    background-image: url(../img/portfolio_item4.jpg)
}

.portfolio_item5 {
    background-image: url(../img/portfolio_item5.jpg)
}

.portfolio_item6 {
    background-image: url(../img/portfolio_item6.jpg)
}

footer {
    background: url(../img/footer_bg.jpg) center top/cover no-repeat;
    overflow: hidden;
    border-top: 1px solid #4b4b4b
}

.footer {
    position: relative;
    padding: 160px 0 0 160px;
    color: #fff
}

.footer_top {
    position: absolute;
    top: 0;
    left: 160px;
    border-bottom: 1px solid #505051;
    height: 160px;
    width: calc(100% - 160px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 80px
}

.footer_search_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-right: 116px;
    white-space: nowrap
}

.footer_search_form {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.footer_search_form button {
    min-width: 240px
}

.footer_search_form input {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 1px solid #505051;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    padding: 0 20px;
    color: #fff
}

.footer_search_form input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_search_form input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.footer_search_form input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_search_form input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_search_form input::placeholder {
    color: #fff;
    opacity: 1
}

.footer_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 100%;
    border-right: 1px solid #505051
}

.footer_left ul {
    position: absolute;
    left: -38px;
    top: 181px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.footer_left ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    padding-left: 92px;
    margin-left: 32px
}

.footer_left ul li:before {
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background: #fff;
    opacity: .2;
    position: absolute;
    left: 0;
    top: 50%
}

.footer_left ul li:first-child {
    padding-left: 0;
    margin-left: 0
}

.footer_left ul li:first-child:before {
    display: none
}

.footer_content {
    padding: 66px 80px 72px
}

.footer_content_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 110px
}

.footer_content_head h2 {
    position: relative
}

.footer_content_head h2:after {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    left: 0;
    background: #fff;
    width: 36px;
    bottom: -32px
}

.footer_content_head_tabs {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 130px
}

.footer_content_head_tabs a {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px
}

.footer_content_head_tabs a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -12px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.footer_content_head_tabs a.active:after,
.footer_content_head_tabs a:hover:after {
    width: 100%
}

.footer_content_help {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em
}

.footer_content_help a {
    position: relative;
    display: inline-block
}

.footer_content_help a:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -12px
}

.footer_feedback .row {
    margin-left: -6px;
    margin-right: -6px
}

.footer_feedback [class*=col-] {
    padding: 6px
}

.footer_feedback_input {
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #505051;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 0 20px;
    color: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.footer_feedback_input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_input::placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_input:focus {
    background: #5c5c5c;
    border-color: #5c5c5c
}

.footer_feedback_textarea {
    display: block;
    width: 100%;
    height: 192px;
    border: 1px solid #505051;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 36px 20px;
    resize: none;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    color: #fff
}

.footer_feedback_textarea::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_textarea::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_textarea:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_textarea::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_textarea::placeholder {
    color: #fff;
    opacity: 1
}

.footer_feedback_textarea:focus {
    background: #5c5c5c;
    border-color: #5c5c5c
}

.footer_feedback_select {
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #505051;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 0 20px;
    color: #fff;
    -webkit-appearance: none;
    background-color: transparent;
    background-position: calc(100% - 60px) center;
    background-image: url(../img/select.png);
    background-repeat: no-repeat;
    background-size: 24px;
    -moz-appearance: none;
    text-indent: .01px;
    -o-text-overflow: '';
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    cursor: pointer;
    outline: 0
}

.footer_feedback_select::-ms-expand {
    display: none
}

.footer_feedback_select option {
    background: #1b1b1c;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .05em
}

.ui-front {
    z-index: 1060
}

.ui-selectmenu-button.ui-button {
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #505051;
    padding: 21px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .05em;
    color: #fff
}

.ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
    background: #5c5c5c
}

.ui-selectmenu-button.ui-button .ui-selectmenu-icon.ui-icon {
    width: 16px;
    height: 16px;
    background: url(../img/arrowdownwhite.png) center/10px auto no-repeat
}

.ui-selectmenu-menu .ui-menu {
    background: #1a1a1b;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .05em;
    border: 1px solid #4b4b4b
}

.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
    padding: 11px 30px
}

.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper.ui-state-active {
    background: #2c2c2c;
    border-color: #2c2c2c
}

.footer_feedback_buttons {
    text-align: center;
    padding: 20px 0
}

.footer_feedback_buttons .button {
    height: 48px;
    line-height: 44px;
    min-width: 0;
    padding: 0 30px;
    margin-left: 10px;
    margin-right: 10px
}

.footer_feedback_upload input {
    display: none !important
}

.footer_feedback_upload span {
    display: block;
    width: 100%
}

.footer_links_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 96px
}

.footer_links_block_logo {
    width: 88px;
    height: 32px;
    background: url(../img/logo.png) left center/contain no-repeat;
    position: relative;
    min-width: 320px
}

.footer_links_block_logo:after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -42px
}

.footer_links {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.footer_links li+li {
    margin-top: 15px
}

.footer_links a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    position: relative;
    display: inline-block
}

.footer_links a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.footer_links a:hover:after {
    width: 100%
}

.footer_links_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer_links_col {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
    padding-right: 20px
}

.footer_links_title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .02em;
    margin-bottom: 50px
}

.footer_bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: .02em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.footer_social .footer_social_title {
    margin-bottom: 12px
}

.footer_social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.footer_social ul li {
    margin-left: 50px
}

.footer_social ul li:first-child {
    margin-left: 0
}

.footer_social ul li a {
    display: block;
    height: 18px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.footer_social ul li a:hover {
    opacity: .6
}

.linkedin {
    background-image: url(../img/linkedin.png)
}

.behance {
    background-image: url(../img/behance.png)
}

.youtube {
    background-image: url(../img/youtube.png)
}

.vimeo {
    background-image: url(../img/vimeo.png)
}

.printingservices_item {
    width: 100%;
    height: 480px;
    color: #fff;
    padding: 0 80px 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 1
}

.printingservices_item.printingservices_item_big {
    height: 960px
}

.printingservices_item1 {
    background: url(../img/printingservices_item1.jpg) right center/cover no-repeat
}

.printingservices_item2 {
    background: url(../img/printingservices_item2.jpg) right center/cover no-repeat
}

.printingservices_item3 {
    background: url(../img/printingservices_item3.jpg) center/cover no-repeat
}

.printingservices_item4 {
    background: url(../img/printingservices_item4.jpg) right bottom/cover no-repeat
}

.printingservices_item5 {
    background: url(../img/printingservices_item5.jpg) center/cover no-repeat
}

.printingservices_item6 {
    background: url(../img/printingservices_item6.jpg) center/cover no-repeat
}

.printingservices_item7 {
    background: url(../img/printingservices_item7.jpg) center/cover no-repeat
}

.printingservices_item8 {
    background: url(../img/printingservices_item8.jpg) center/cover no-repeat
}

.printingservices_item_number {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .5em;
    margin-bottom: 32px
}

.printingservices_item_title {
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 20px;
    min-height: 72px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.printingservices_item_button {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    background: url(../img/arrowleftwhite.png) center/8px auto no-repeat;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.printingservices_item_button:hover {
    background: url(../img/arrowleftblack.png) center/8px auto no-repeat #fff
}

.printingservices_content {
    position: relative;
    z-index: 2
}

.printingservices_item_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    -webkit-box-shadow: 0 6px 59px transparent;
    box-shadow: 0 6px 59px transparent
}

.printingservices_item {
    position: relative;
    opacity: .5;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.printingservices_item:hover {
    z-index: 2;
    opacity: 1
}

.footer_tabs {
    margin-bottom: 68px
}

.footer_map {
    width: 100%;
    height: 480px
}

#map {
    height: 480px
}

.section_awards {
    color: #fff;
    text-align: center;
    background: url(../img/section_awards.jpg) center top/100% auto no-repeat;
    overflow: hidden
}

.awards_categories {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 155px
}

.awards_category {
    text-align: left;
    padding-left: 80px;
    position: relative
}

.awards_category_icon {
    width: 61px;
    height: 55px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain
}

.awards_category_icon1 {
    background-image: url(../img/awards_category_icon1.png)
}

.awards_category_icon2 {
    background-image: url(../img/awards_category_icon2.png)
}

.awards_category_icon3 {
    background-image: url(../img/awards_category_icon3.png)
}

.awards_category_icon4 {
    background-image: url(../img/awards_category_icon4.png)
}

.awards_category_number {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: .1em
}

.awards_category_text {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase
}

.awards_timeline {
    height: 192px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #606061;
    position: relative;
    margin-bottom: 123px
}

.awards_timeline a {
    display: block;
    height: 160px;
    width: 24px;
    position: absolute;
    bottom: 0;
    margin-left: -12px
}

.awards_timeline a .awards_timeline_year {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .02em;
    position: absolute;
    left: 12px;
    bottom: 100%;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    display: none
}

.awards_timeline a .awards_timeline_date {
    width: 1px;
    background: #fff;
    display: block;
    position: absolute;
    left: 12px;
    bottom: 24px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.awards_timeline a.awards_timeline_big .awards_timeline_date {
    height: 77px
}

.awards_timeline a.awards_timeline_small .awards_timeline_date {
    height: 40px;
    opacity: .6
}

.awards_timeline a.active .awards_timeline_year,
.awards_timeline a:hover .awards_timeline_year {
    font-size: 48px
}

.awards_timeline a.active .awards_timeline_date,
.awards_timeline a:hover .awards_timeline_date {
    width: 5px;
    height: 100px
}

.awards_timeline a .awards_timeline_active {
    display: none;
    height: 80px;
    width: 5px;
    background: #fff;
    position: absolute;
    left: 12px;
    bottom: -56px
}

.awards_timeline a .awards_timeline_active .awards_timeline_active1 {
    display: block;
    width: 140px;
    height: 140px;
    opacity: .3;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -16px;
    margin-left: -72px;
    z-index: 1
}

.awards_timeline a .awards_timeline_active .awards_timeline_active2 {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: .2;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -42px;
    bottom: 14px;
    z-index: 2
}

.awards_timeline a .awards_timeline_active .awards_timeline_active3 {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -27px;
    bottom: 29px
}

.awards_timeline a.active .awards_timeline_active {
    display: block
}

.awards_timeline a.active .awards_timeline_year {
    display: block !important
}

.awards_item {
    text-align: left
}

.awards_item_icon {
    display: block;
    width: 38px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    margin-bottom: 17px
}

.awards_item_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: .02em
}

.awards {
    padding-top: 132px
}

.awards_item+.awards_item {
    margin-top: 26px
}

.awards_list .row {
    margin-left: -48px;
    margin-right: -48px
}

.awards_list [class*=col-] {
    padding-left: 48px;
    padding-right: 48px
}

.menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background: #1a1a1b;
    display: none;
    color: #fff;
    height: calc(100vh - 160px);
    text-align: left;
    border-bottom: 1px solid #4b4b4b;
    padding-bottom: 96px
}

.main_menu_content {
    max-width: 1584px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 72px 0;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.main_menu_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.main_menu_row_col {
    padding-right: 24px;
    position: relative;
    padding-bottom: 168px
}

.main_menu_row_col1 {
    padding-bottom: 214px
}

.main_menu_row_col1_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 56px
}

.main_menu_row_col1_bottom .main_menu_2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600
}

.main_menu_row_col1_bottom .main_menu_2 a {
    display: block;
    margin-left: 30px
}

.main_menu_row_col1_bottom .main_menu_2 a i {
    display: block;
    width: 17px;
    height: 23px;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -12px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain
}

.main_menu_row_col1_bottom .main_menu_2 .main_menu_row_col1_bottom_file i {
    background-image: url(../img/attached_icon_black.png)
}

.main_menu_row_col1_bottom .main_menu_2 .main_menu_row_col1_bottom_phone i {
    background-image: url(../img/header_icon_phone.png)
}

.main_menu_row_col1_bottom .main_menu_2 .main_menu_row_col1_bottom_map i {
    background-image: url(../img/place_icon.png)
}

.main_menu_1,
.main_menu_2_tablettittle {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 24px;
    display: block;
    margin-bottom: 34px;
    white-space: nowrap
}

.main_menu_2 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 27px;
    white-space: nowrap
}

.main_menu_2 a {
    position: relative
}

.main_menu_2 a:before {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.main_menu_2 a:hover:before {
    width: 100%
}

.main_menu_2>li+li {
    margin-top: 12px
}

.main_menu_2 .with_menu3>a {
    display: inline-block;
    position: relative;
    padding-right: 20px
}

.main_menu_2 .with_menu3>a:after {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    bottom: 10px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.with_menu3.opened>a:after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.with_menu3.opened>a:before {
    width: 100%
}

.main_menu_3 {
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .02em;
    color: #a9a9a9;
    white-space: nowrap;
    margin-top: 32px;
    margin-bottom: 27px;
    padding-top: 21px;
    padding-bottom: 26px;
    display: none
}

.main_menu_3 li a:hover,
.main_menu_3 li.active {
    color: #fff
}

.main_menu_3>li+li {
    margin-top: 6px
}

.main_menu_2_tablettittle {
    position: relative;
    display: none
}

.main_menu_2_tablettittle:after {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) center/contain no-repeat;
    position: absolute;
    right: 36px;
    top: 50%;
    margin-top: -3px
}

.needcommercialprinting-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.needcommercialprinting_img {
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    z-index: 1;
    background: url(../img/needcommercialprinting_img.png) right center/auto 100% no-repeat
}

.custom_radio {
    display: inline-block;
    cursor: pointer;
    position: relative;
    line-height: 20px
}

.custom_radio input {
    display: none !important
}

.custom_radio span {
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .02em;
    padding-left: 30px
}

.custom_radio span:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #4b4b4b;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%
}

.custom_radio input:checked+span:before {
    border: 2px solid #fff
}

.custom_radio input:checked+span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px
}

.breadcrumbs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em
}

.breadcrumbs li {
    position: relative;
    padding-right: 30px;
    margin-right: 10px
}

.breadcrumbs li:after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: #5b5b5c;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px
}

.breadcrumbs li:last-child {
    padding-right: 0;
    margin-right: 0
}

.breadcrumbs li:last-child:after {
    display: none
}

.breadcrumbs+h1 {
    margin-top: 48px
}

.outdoor10 {
    background: #dbdde9
}

.outdoor10_img {
    background: url(../img/outdoor10_img.jpg) center/cover no-repeat;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0
}

.menu_mobilebottom {
    position: relative;
    left: 0;
    bottom: 0;
    width: calc(100% + 48px);
    margin-left: -24px;
    margin-right: -24px;
    height: 96px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid #4b4b4b;
    font-size: 18px;
    font-weight: 700;
    display: none
}

.menu_mobilebottom .header_phone {
    margin-left: 0
}

.outdoor1 .needcommercialprinting-img {
    width: 50%;
    left: 50%
}

.outdoor6 .needcommercialprinting-img {
    width: 66%;
    left: 33%
}

.rightimage {
    height: 100%;
    min-height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.main_menu_row_col_mobile {
    display: none
}

.section_outdoor2 {
    position: relative
}

@media (max-width:1919px) {
    .wrapper {
        padding-left: 40px;
        padding-right: 40px
    }

    .awards_timeline a:last-child .awards_timeline_year {
        left: auto;
        right: 12px
    }

    .section_customprinting .needcommercialprinting-img {
        left: 40%;
        width: 60%
    }

    .section_customprinting .needcommercialprinting_img {
        background-position: left center
    }

    .outdoor7 .delivery_img {
        left: 50%;
        background-position: left center
    }

    .section_needcommercialprinting .needcommercialprinting-img {
        left: 40%;
        width: 60%
    }

    .section_customprinting_img,
    .section_needcommercialprinting .needcommercialprinting_img {
        background-position: left center
    }
}

@media (max-width:1599px) {

    .footer_left,
    .main_section_left {
        width: 80px
    }

    .footer_left ul,
    .main_section_left ul {
        left: -84px
    }

    .main_section {
        padding-left: 80px;
        padding-right: 80px;
        background-size: auto 100%
    }

    .main_section_right {
        width: 80px
    }

    .main_section_right ul {
        left: 40px
    }

    .footer_top,
    .main_section_bottom {
        left: 80px;
        width: calc(100% - 80px);
        padding-left: 40px;
        padding-right: 40px
    }

    .footer {
        padding-left: 40px
    }

    .section_customprinting .needcommercialprinting-img {
        left: 50%;
        width: 50%
    }

    .outdoor6 .needcommercialprinting-img {
        width: 50%;
        left: 50%
    }
}

@media (max-width:1439px) {
    .content {
        padding-left: 40px;
        padding-right: 40px
    }

    .printmarketing_left .printmarketing_button,
    .section_customprinting .button,
    .section_needcommercialprinting .button {
        left: 40px
    }

    .outdoor4 .needcommercialprinting-img {
        left: 0
    }

    .needcommercialprinting-img {
        left: 50%
    }

    .needcommercialprinting_img {
        background-position: left center
    }

    .footer_links_block_logo {
        min-width: 160px
    }

    .outdoor2 .needcommercialprinting-img {
        width: 80%;
        left: 20%
    }

    .outdoor2_img {
        height: 80%
    }

    .outdoor9-img {
        width: 50%;
        left: 50%
    }

    .outdoor9_img {
        background-position: left center
    }
}

@media (max-width:1279px) {
    .header {
        padding-left: 40px;
        padding-right: 40px
    }

    .header_contacts {
        display: none
    }

    .header_login {
        margin-right: 0
    }

    .main_section {
        background: #1a1a1b;
        padding-left: 0;
        padding-right: 0
    }

    .main_section_bglb,
    .main_section_left {
        display: none
    }

    .main_section_beforetitle {
        max-width: 180px;
        font-size: 12px;
        line-height: 24px
    }

    .main_section_title {
        font-size: 60px;
        line-height: 60px;
        font-weight: 600;
        max-width: 220px
    }

    .main_section_bottom {
        left: 0;
        width: 100%;
        padding-left: 136px
    }

    .main_section_bottom:before {
        content: '';
        display: block;
        width: 105px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-right: 1px solid #4b4b4b;
        background: url(../img/scrolldown.png) center/24px auto no-repeat
    }

    .main_section_bottom ul {
        display: block
    }

    .main_section_bottom ul li {
        padding-left: 0;
        margin-left: 0
    }

    .main_section_bottom ul li:before {
        display: none
    }

    .main_section_bottom ul li:first-child:before {
        display: block;
        left: 64px
    }

    .main_section_right {
        z-index: 3;
        border-left: none
    }

    .main_section_content .main_section_content_img {
        background-image: url(../img/main_section_content_tab.jpg)
    }

    .textsection h2 {
        font-size: 50px;
        line-height: 72px
    }

    h3 {
        font-size: 16px;
        line-height: 30px
    }

    .textsection {
        padding-top: 109px;
        padding-bottom: 73px
    }

    .textsection h4+h2 {
        margin-top: 21px
    }

    .contentleft h2+h3 {
        margin-top: 40px
    }

    .printmarketing_left .printmarketing_button {
        left: 40px
    }

    .printmarketing_button a {
        width: 100%
    }

    .printmarketing_button a span.button {
        min-width: 0;
        width: 100%
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
        line-height: 40px
    }

    .printmarketing_left {
        padding-top: 24px
    }

    h2.borderbottom {
        position: relative;
        padding-bottom: 24px
    }

    .contentleft h2+p {
        margin-top: 40px
    }

    .owl-carousel .owl-nav button.owl-next {
        right: 20px
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: 20px
    }

    .needcommercialprinting-img {
        left: 0
    }

    .section_customprinting_img {
        background-position: left bottom;
        background-size: 100% auto;
        background-image: url(../img/section_customprinting_tab.jpg)
    }

    .printingservices_item.printingservices_item_big {
        height: 480px
    }

    .outdoor1_img {
        background: url(../img/outdoor1_tab.png) left bottom/100% auto no-repeat
    }

    .owl_button_bottom .owl-nav {
        bottom: 24px
    }

    .images_section_img {
        height: 480px;
        min-height: 0
    }

    .owl-carousel .owl-dots {
        bottom: 40px
    }

    .awards_categories {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .awards_category {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding-bottom: 40px
    }

    .awards_timeline_year {
        display: none !important
    }

    .awards_item {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .section_ecommerce .needcommercialprinting-img {
        background: url(../img/needcommercialprinting-img_tab.jpg) right center/cover no-repeat
    }

    .section_ecommerce .outdoor6_img1,
    .section_ecommerce .outdoor6_img2 {
        display: none
    }

    .contentleft h2,
    .contentleft p {
        max-width: 40%
    }

    .printmarketing_section h2,
    .printmarketing_section p {
        max-width: 100%
    }

    .section_delivery_content .borderbottom {
        margin-bottom: 144px;
        min-height: 104px
    }

    .section_head_tabs {
        left: 40px;
        top: 220px
    }

    .section_head_tab:first-child {
        margin-left: 0
    }

    .outdoor9_img {
        background-position: left center
    }

    .footer_left {
        display: none
    }

    .footer_top {
        left: 0;
        width: 100%;
        padding-left: 136px
    }

    .footer_top:before {
        content: '';
        display: block;
        width: 105px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-left: 1px solid #4b4b4b;
        background: url(../img/scrolldown.png) center/24px auto no-repeat;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .footer_content_help,
    .footer_search_title {
        display: none
    }

    .footer {
        padding-left: 0
    }

    .footer_content {
        padding-left: 40px;
        padding-right: 40px
    }

    .footer_feedback_select {
        background-position: calc(100% - 20px) center
    }

    .footer_links_col {
        -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
        max-width: 33%;
        margin-bottom: 40px
    }

    .footer_bottom {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }

    .main_menu_row_col1 {
        padding-bottom: 96px
    }

    .main_menu_row_col1_bottom {
        display: none
    }

    .section_needcommercialprinting .needcommercialprinting-img {
        width: 60%;
        left: 40%
    }

    .section_customprinting .needcommercialprinting-img {
        width: 70%;
        left: 30%
    }

    .outdoor1 .needcommercialprinting-img {
        width: 50%;
        left: 50%
    }

    .outdoor1 p {
        max-width: 40%
    }

    .outdoor2 h2,
    .outdoor2 p {
        max-width: 25%
    }

    .outdoor2 .needcommercialprinting-img {
        width: 80%;
        left: 20%
    }

    .outdoor10 p {
        max-width: 40%
    }

    .section_outdoor .owl-carousel .owl-nav button.owl-prev {
        left: 0
    }

    .section_outdoor .owl-carousel .owl-nav button.owl-next {
        right: 0
    }

    .outdoor4 {
        background: url(../img/outdoor4_tab_bg.png) right bottom/cover no-repeat
    }

    .outdoor4_img {
        background: url(../img/outdoor4_img_tab.png) left center/contain no-repeat
    }

    .outdoor8 {
        background: url(../img/outdoor8_tab.jpg) right bottom/100% auto no-repeat #242426
    }

    .delivery_img2,
    .delivery_img3,
    .delivery_img4 {
        display: none
    }

    .outdoor9 .outdoor9-img {
        width: 50%;
        left: 50%
    }

    .main_section,
    .main_section_content,
    .outdoor_item,
    .section_customprinting,
    .section_needcommercialprinting {
        min-height: 0
    }

    .outdoor2_img {
        background-position: left center
    }

    .outdoor6_img1,
    .outdoor6_img2 {
        display: none
    }

    .outdoor6 .needcommercialprinting-img {
        left: 0;
        width: 100%
    }

    .section_needcommercialprinting {
        background: url(../img/section_needcommercialprinting_tab.png) top right/50% auto no-repeat #dbdde9
    }

    .main_menu_row_col_mobile {
        display: block
    }

    .owl_carousel_customnav .owl-dots,
    .owl_carousel_customnav .owl-nav {
        display: none !important
    }

    .section_outdoor_buttons {
        left: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding-right: 80px
    }

    .outdoor_carousel_mobile_nav {
        height: 40px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .outdoor_carousel_mobile-nav-next,
    .outdoor_carousel_mobile-nav-prev {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: url(../img/arrowleftblack.png) center/8px 12px no-repeat #fff;
        -webkit-transition: .15s ease-out;
        -o-transition: .15s ease-out;
        transition: .15s ease-out
    }

    .outdoor_carousel_mobile-nav-next:hover,
    .outdoor_carousel_mobile-nav-prev:hover {
        background: url(../img/arrowleftwhite.png) center/8px 12px no-repeat rgba(255, 255, 255, .3)
    }

    .outdoor_carousel_mobile-nav-next {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-left: 12px
    }

    .images_section_img a.button {
        opacity: 1
    }
}

@media (max-width:767px) {

    .awards_timeline a.active .awards_timeline_year,
    .awards_timeline a:hover .awards_timeline_year {
        font-size: 24px
    }

    .contentleft h2,
    .contentleft p {
        max-width: 100%
    }

    .portfolio_item {
        height: 480px
    }

    .awards_timeline a .awards_timeline_active .awards_timeline_active1,
    .awards_timeline a .awards_timeline_active .awards_timeline_active2,
    .header_right {
        display: none
    }

    .header_left {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%
    }

    .main_section_content {
        display: block;
        text-align: center
    }

    .main_section_content .main_section_content_img {
        position: static;
        width: 100%;
        height: 100vw
    }

    .main_section_right {
        display: none
    }

    .main_section_beforetitle,
    .main_section_title {
        max-width: 100%
    }

    .header {
        min-height: 120px
    }

    .menu {
        height: calc(100vh - 120px);
        padding-bottom: 0
    }

    .menu_mobilebottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .main_section {
        padding-top: 120px;
        padding-bottom: 0
    }

    .main_section_bottom {
        position: relative;
        left: 0;
        top: 0;
        border-bottom: 1px solid #4b4b4b
    }

    .main_section_bottom_right {
        display: none
    }

    .textsection h2 {
        font-size: 34px;
        line-height: 40px
    }

    .textsection h4+h2 {
        margin-top: 18px
    }

    h3 {
        font-size: 14px;
        line-height: 24px
    }

    .textsection h2+h3 {
        margin-top: 28px
    }

    .printmarketing_row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .printmarketing_carousel_item {
        height: 100vw !important;
        min-height: 100vw
    }

    .printmarketing_left .printmarketing_button {
        width: 100%;
        left: 0 !important;
        padding-left: 40px;
        padding-right: 40px
    }

    .needcommercialprinting-img {
        left: 0;
        width: 100%;
        top: auto;
        bottom: 0;
        height: 160vw
    }

    .section_needcommercialprinting .content {
        padding-bottom: 175vw
    }

    .printingservices_item {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        opacity: 1
    }

    .printingservices_item_button {
        margin-left: auto;
        margin-right: auto
    }

    .outdoor1_img {
        background-position: center bottom
    }

    .outdoor3_bg .outdoor3 {
        display: none
    }

    .section_outdoor_buttons {
        left: 40px
    }

    .colormanagement,
    .colormanagement_img {
        height: 100vw;
        min-height: 0
    }

    .awards_category {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }

    .section_outdoor_buttons .button {
        margin: 10px
    }

    .footer_top {
        display: none
    }

    .footer_content_head {
        display: block;
        margin-bottom: 48px
    }

    .footer_content_head h2 {
        margin-bottom: 96px
    }

    .footer_content_head_tabs {
        padding: 0
    }

    .footer {
        padding-top: 0
    }

    .footer_content_head_tabs a {
        margin-left: 48px
    }

    .footer_content_head_tabs a:first-child {
        margin-left: 0
    }

    #map {
        height: 360px
    }

    .footer_links_block_logo {
        display: none
    }

    .footer_links_row {
        display: block
    }

    .footer_links_col {
        max-width: 100%;
        background: #39393c;
        margin-bottom: 2px
    }

    .footer_links_col ul {
        display: none;
        padding: 24px 16px
    }

    .footer_links_title {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .02em;
        position: relative;
        padding: 14px 20px 14px 16px
    }

    .footer_links_title:after {
        content: '';
        display: block;
        width: 12px;
        height: 8px;
        background: url(../img/arrowdownwhite.png) center/contain no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -4px;
        cursor: pointer
    }

    .footer_bottom {
        display: block;
        text-align: center
    }

    .footer_social ul {
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .copyright {
        margin-top: 48px
    }

    .colormanagement3 {
        background-size: contain;
        background-color: #1e1f23;
        background-image: url(../img/colormanagement3_tab.jpg);
        background-position: center bottom
    }

    .colormanagement-3,
    .colormanagement3 {
        height: 70vw
    }

    .breadcrumbs {
        display: none
    }

    h1.h1before {
        padding-left: 0
    }

    h1.h1before:before {
        display: none
    }

    h1 {
        font-size: 60px;
        line-height: 60px;
        font-weight: 600
    }

    .outdoor_item {
        height: auto;
        max-height: initial;
        min-height: 100%
    }

    .outdoor1 {
        background: url(../img/outdoor1_mob.png) left bottom/auto 144vw no-repeat #dbdde9
    }

    .outdoor1 .needcommercialprinting-img {
        display: none
    }

    .outdoor1 .content {
        padding-bottom: 155vw
    }

    .section_outdoor2 .outdoor_item {
        min-height: 265vw;
        height: 100%
    }

    .outdoor2 .needcommercialprinting-img {
        width: 100%;
        left: 0;
        top: auto;
        bottom: 180px
    }

    .outdoor2_img {
        background-size: contain;
        background-position: center;
        height: 100%
    }

    .outdoor10_img {
        height: 108vw;
        width: 100%;
        left: 0;
        top: auto;
        bottom: 180px
    }

    .outdoor6 {
        background: #dbdde9
    }

    .outdoor6 .needcommercialprinting-img {
        position: relative;
        height: 144vw;
        background: url(../img/needcommercialprinting-img_m.jpg) center bottom/100% auto no-repeat
    }

    .outdoor6 .content {
        padding-bottom: 0
    }

    .outdoor7,
    .outdoor7 .content {
        padding-bottom: 40px
    }

    .outdoor7 .delivery_img1 {
        position: relative;
        height: 64vw;
        width: 100%;
        left: 0;
        background-position: center right;
        background-size: 85% auto
    }

    .outdoor7 .section_outdoor_buttons {
        position: relative;
        bottom: auto
    }

    .outdoor9,
    .outdoor9 .content {
        padding-bottom: 40px
    }

    .outdoor9 .outdoor9-img {
        position: relative;
        left: 0;
        width: 100%;
        height: 60vw;
        background: url(../img/outdoor9-img_tab.png) center/contain no-repeat;
        margin-bottom: 140px
    }

    .outdoor9 .section_outdoor_buttons {
        position: relative;
        bottom: 0
    }

    .outdoor9_img {
        display: none
    }

    .section_customprinting .needcommercialprinting-img {
        width: 100%;
        left: 0;
        position: relative;
        height: 105vw;
        background: url(../img/needcommercialprinting-img_mob.png) center/contain no-repeat
    }

    .section_customprinting .content {
        padding-bottom: 40px
    }

    .section_customprinting_img {
        display: none
    }

    .section_customprinting .button {
        position: relative;
        bottom: 0
    }

    .section_customprinting {
        padding-bottom: 40px
    }

    .owl-item {
        height: 100%
    }

    .section_needcommercialprinting {
        background-size: 100% auto
    }

    .section_needcommercialprinting .needcommercialprinting-img {
        width: 100%;
        left: 0
    }

    .needcommercialprinting_img {
        background: url(../img/needcommercialprinting_img_m.png) center bottom/100% auto no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0
    }

    .owl_carousel_customnav .section_outdoor_buttons {
        display: block;
        bottom: 40px
    }

    .owl_carousel_customnav .section_outdoor_buttons .button {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%
    }

    .owl_carousel_customnav .outdoor_carousel_mobile_nav {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 20px
    }

    .outdoor8 {
        background-position: calc(100% + 40px) 80%
    }

    .outdoor8 .content {
        padding-bottom: 380px
    }
}

@media (max-width:639px) {
    .section_outdoor_buttons {
        left: 20px;
        width: calc(100% - 40px)
    }

    .section_outdoor_buttons .button {
        width: 100%
    }

    .owl_carousel_customnav .section_outdoor_buttons {
        padding-right: 0
    }

    h1 {
        font-size: 48px;
        line-height: 48px
    }
}

@media (max-width:479px) {
    .textsection h2 {
        font-size: 24px;
        line-height: 30px
    }

    .content,
    .footer_content,
    .header,
    .printmarketing_left .printmarketing_button {
        padding-left: 20px;
        padding-right: 20px
    }

    .main_section_bottom {
        padding-left: 102px;
        padding-right: 20px;
        min-height: 80px
    }

    .main_section_bottom:before {
        width: 61px;
        background: url(../img/place_icon.png) center/20px auto no-repeat
    }

    .main_section_content .content {
        padding-top: 45px;
        padding-bottom: 40px
    }

    .main_section_beforetitle {
        margin-bottom: 24px
    }

    .button {
        height: 60px;
        line-height: 56px
    }

    .button_2line {
        line-height: 21px;
        padding-top: 8px;
        padding-bottom: 8px
    }

    .main_section_content .button {
        width: 100%
    }

    .textsection {
        padding-top: 58px;
        padding-bottom: 88px
    }

    .printmarketing_left .printmarketing_button {
        left: 20px
    }

    .section_needcommercialprinting .button {
        left: 20px;
        width: calc(100% - 40px)
    }

    .section_outdoor_buttons {
        left: 20px;
        width: calc(100% - 40px)
    }

    .section_customprinting .button {
        left: 20px;
        width: calc(100% - 40px)
    }

    .section_outdoor_buttons .button {
        width: 100%
    }

    .section_head_tabs {
        left: 20px;
        display: block
    }

    .section_head_tab {
        display: block;
        margin: 0
    }

    .section_head_tab+.section_head_tab {
        margin-top: 24px
    }

    .footer_feedback_buttons {
        display: block
    }

    .footer_feedback_buttons .button {
        width: 100%;
        margin: 5px 0
    }

    .footer_tabs {
        margin-bottom: 40px
    }

    .outdoor10_img,
    .outdoor2 .needcommercialprinting-img {
        position: relative;
        height: 100vw
    }

    .section_outdoor2 .outdoor_item {
        min-height: 265vw;
        height: 100%
    }

    .printmarketing_button_inner {
        padding-right: 60px
    }

    .printmarketing_button_inner .printmarketing_button_phone {
        width: 60px
    }
}

@media (min-width:768px) {
    .footer_links_col ul {
        display: block !important
    }
}

@media (max-width:1279px) {
    .main_menu_row_col_mobile {
        display: block
    }

    .main_menu_content {
        padding-left: 48px;
        padding-right: 48px
    }

    .main_menu_row {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        min-height: calc(100% - 96px)
    }

    .main_menu_row_col {
        padding-bottom: 0;
        padding-right: 0;
        position: static
    }

    .main_menu_2 {
        position: absolute;
        left: 100%;
        top: 0;
        min-width: 272px;
        border-left: 1px solid #4b4b4b;
        overflow-scrolling: touch;
        padding-bottom: 0;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        height: 0;
        overflow: hidden
    }

    .main_menu_2::-webkit-scrollbar {
        width: 0
    }

    .main_menu_2.opened {
        -webkit-transition: .4s ease-out;
        -o-transition: .4s ease-out;
        transition: .4s ease-out;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 48px
    }

    .main_menu_backto {
        display: none
    }

    .main_menu_2>li,
    .main_menu_2_tablettittle {
        padding: 0 36px
    }

    .main_menu_1,
    .main_menu_2_tablettittle {
        font-size: 18px;
        margin-bottom: 36px;
        position: relative;
        padding-right: 24px
    }

    .main_menu_2_tablettittle {
        display: block
    }

    .active.main_menu_2_tablettittle:after,
    .main_menu_1.active:after {
        content: '';
        display: block;
        width: calc(100% - 36px);
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 100%
    }

    .main_menu_1:before,
    .main_menu_2_tablettittle:before {
        content: '';
        display: block;
        width: 9px;
        height: 6px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
        background: url(../img/arrowdownwhite.png) center/contain no-repeat;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    .main_menu_1:after,
    .main_menu_2_tablettittle:after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 100%;
        -webkit-transition: .15s ease-out;
        -o-transition: .15s ease-out;
        transition: .15s ease-out
    }

    .main_menu_1:hover:after,
    .main_menu_2_tablettittle:hover:after {
        width: calc(100% - 36px)
    }

    .main_menu_2_tablettittle:before {
        display: none
    }

    .outdoor4 {
        background: url(../img/outdoor4_mob_bg.jpg) center/cover no-repeat
    }

    .outdoor4 .needcommercialprinting-img {
        position: relative;
        height: 42vw;
        padding-bottom: 48px
    }

    .outdoor4 .content {
        padding-bottom: 48px
    }

    .outdoor4 .section_outdoor_buttons {
        position: relative;
        margin-top: 48px
    }

    .outdoor4_img {
        background-position: center
    }
}

header+section {
    padding-top: 160px
}

@media (max-width:767px) {
    .main_menu_2 {
        position: static;
        border-left: none
    }

    .main_menu_2_tablettittle {
        display: none
    }

    .main_menu_2>li {
        padding-left: 0;
        padding-right: 0
    }

    .active.main_menu_2_tablettittle:before,
    .main_menu_1.active:before {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }

    .main_menu_content {
        padding-left: 24px;
        padding-right: 24px
    }

    .main_menu {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        overflow-scrolling: touch;
        padding-bottom: 106px
    }

    .main_menu_row_col_mobile {
        display: block
    }

    .main_menu_buttom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    header+section {
        padding-top: 120px
    }
}

@media (max-width:479px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_title .content {
        padding-top: 25px;
        padding-bottom: 0
    }
}

h2.big {
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    letter-spacing: .1em
}

@media (max-width:1279px) {
    h2.big {
        font-size: 50px;
        line-height: 58px
    }
}

.section_title {
    color: #fff;
    position: relative;
    padding-top: 160px;
    background: 0 0
}

@media (max-width:767px) {
    h2.big {
        font-size: 34px;
        line-height: 40px
    }

    .section_title {
        padding-top: 120px
    }
}

.section_title_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid #4b4b4b;
    min-height: 560px
}

.section_title_content_left {
    border-right: 1px solid #4b4b4b;
    min-width: 160px;
    position: relative;
    left: 0;
    bottom: 0;
    height: auto
}

.section_title_content_right {
    border-left: 1px solid #4b4b4b;
    min-width: 160px;
    position: relative;
    right: 0;
    top: 0;
    height: auto
}

.section_title_content_center {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 75px;
    padding-bottom: 96px
}

.section_title_content_right_back {
    display: none;
    width: 104px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #4b4b4b;
    background: url(../img/arrowleftwhite.png) center/12px auto no-repeat
}

@media (max-width:1599px) {

    .section_title_content_left,
    .section_title_content_right {
        min-width: 80px
    }
}

@media (max-width:1279px) {
    .section_title_content {
        min-height: 0;
        z-index: 4;
        display: block
    }

    .section_title_content_right {
        border-left: none;
        border-top: 1px solid #4b4b4b;
        width: 100%;
        height: 160px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 134px
    }

    .section_title_content_right ul {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    .section_title_content_right_back {
        display: block
    }

    .section_title_content_center {
        display: block;
        padding-bottom: 12px;
        min-height: 0;
        padding-top: 0
    }
}

.scg_pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600
}

.scg_pagination li {
    margin: 0 7px
}

.scg_pagination li a {
    display: block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    background: #2e2e2f;
    color: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.scg_pagination li.scg_pagination_prev {
    margin-right: 65px
}

.scg_pagination li.scg_pagination_next {
    margin-left: 65px
}

.scg_pagination li a:hover,
.scg_pagination li.active a {
    background: #fff;
    color: #252525
}

.scg_pagination .scg_pagination_next a,
.scg_pagination .scg_pagination_prev a {
    background: url(../img/arrowleftwhite.png) center/12px auto no-repeat #2e2e2f
}

.scg_pagination .scg_pagination_next a:hover,
.scg_pagination .scg_pagination_prev a:hover {
    background: url(../img/arrowleftblack.png) center/12px auto no-repeat #fff
}

.scg_pagination .scg_pagination_next a {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media (max-width:767px) {
    .section_title {
        text-align: center
    }

    .section_title_content_center {
        padding-bottom: 86px;
        padding-left: 20px;
        padding-right: 20px
    }

    .section_title_content_right_back {
        width: 57px
    }

    .section_title_content_right {
        padding-left: 78px;
        height: 80px
    }

    .section_title_content_right ul {
        display: block;
        text-align: left
    }

    .section_title_content_right ul li {
        margin-left: 0;
        padding-left: 0
    }

    .section_title_content_right ul li:first-child:after {
        content: '';
        display: block;
        width: 65px;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 64px;
        top: 50%;
        opacity: .2
    }

    .scg_pagination li {
        margin: 0 5px;
        display: none
    }

    .scg_pagination li.scg_pagination_prev {
        margin-right: 15px;
        display: block
    }

    .scg_pagination li.scg_pagination_next {
        margin-left: 15px;
        display: block
    }

    .scg_pagination li:nth-child(-n+4) {
        display: block
    }
}

.prom_nav {
    padding-left: 92px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    margin-top: 64px;
    text-align: left
}

.prom_nav_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.prom_nav_list li {
    position: relative;
    margin-right: 30px
}

.prom_nav_list a {
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.prom_nav_list a:hover {
    opacity: .2
}

.prom_nav_withsubmenu>a {
    position: relative;
    padding-right: 20px
}

.prom_nav_withsubmenu>a:after {
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) center/contain no-repeat;
    right: 0;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.prom_nav_submenu {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .15s ease-out, _ .15s ease-out;
    -o-transition: .15s ease-out, _ .15s ease-out;
    transition: .15s ease-out, _ .15s ease-out;
    padding-top: 16px
}

.prom_nav_submenu li {
    margin-top: 8px;
    margin-bottom: 8px
}

.prom_nav_withsubmenu:hover .prom_nav_submenu {
    visibility: visible;
    opacity: 1
}

@media (max-width:1919px) {
    .prom_nav {
        padding-left: 0
    }

    .prom_nav_list li {
        margin-right: 20px
    }
}

@media (max-width:1279px) {
    .section_title_content_center.content_withnav {
        position: relative;
        padding-bottom: 60px
    }

    .section_title_content_center.content_withnav .content {
        position: static
    }

    .prom_nav {
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 1px solid #4b4b4b;
        width: 100%;
        height: 60px;
        margin-top: 0
    }

    .prom_nav:after {
        content: '';
        display: block;
        width: 8px;
        height: 6px;
        background: url(../img/arrowdownwhite.png) center/contain no-repeat;
        right: 40px;
        margin-top: -3px;
        position: absolute;
        top: 50%;
        -webkit-transition: .15s ease-out;
        -o-transition: .15s ease-out;
        transition: .15s ease-out;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    .prom_nav.opened:after {
        display: none
    }

    .prom_nav_list {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 12px 40px;
        min-height: 60px;
        background: #1b1b1c
    }

    .prom_nav_list>li {
        display: none;
        margin-right: 0;
        margin-top: 8px;
        margin-bottom: 8px
    }

    .prom_nav_list>li.active {
        display: block
    }

    .prom_nav_list>li a {
        display: block;
        width: 100%
    }

    .prom_nav_withsubmenu>a:after {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    .prom_nav_list a {
        opacity: 1 !important
    }

    .prom_nav_submenu {
        display: none;
        opacity: 1;
        visibility: visible
    }

    .prom_nav.opened {
        z-index: 9
    }

    .prom_nav.opened .prom_nav_list {
        background: #1b1b1c
    }

    .prom_nav.opened .prom_nav_list li {
        display: block
    }

    .prom_nav.opened .prom_nav_withsubmenu>a:after {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }

    .prom_nav.opened .prom_nav_withsubmenu .prom_nav_submenu {
        display: block;
        padding-left: 40px;
        padding-top: 0;
        position: static;
        opacity: 1;
        visibility: visible
    }

    .promotionalproductspage .section_title_content_center {
        position: relative
    }

    .promotionalproductspage .section_title_content_center .content {
        position: static
    }
}

.section_social {
    border-top: 1px solid #4b4b4b;
    padding-top: 66px;
    padding-bottom: 66px
}

.social_buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.social_buttons li {
    margin: 0 15px
}

.social_buttons li a {
    display: block;
    width: 46px;
    height: 46px;
    background: center/cover no-repeat;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.social_buttons li a:hover {
    opacity: .6
}

@media (max-width:767px) {
    .prom_nav_list {
        padding-left: 20px;
        padding-right: 20px
    }

    .prom_nav.opened .prom_nav_withsubmenu .prom_nav_submenu {
        padding-left: 20px
    }

    .section_title_content_center.content_withnav {
        position: relative;
        padding-bottom: 160px
    }

    .section_title_content_center.content_withnav .content {
        position: static
    }

    .prom_nav:after {
        right: 20px
    }

    .section_social {
        padding-top: 36px;
        padding-bottom: 36px
    }
}

.header_links {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-transform: uppercase;
    padding: 0 32px;
    white-space: nowrap
}

.header_links ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.header_links ul li {
    margin: 0 50px
}

@media (max-width:1919px) {
    .header_links {
        padding: 0 20px
    }

    .header_links ul li {
        margin: 0 20px
    }

    .header_withlinks .header_login {
        margin-right: 40px
    }
}

@media (max-width:1599px) and (min-width:1280px) {
    .header_withlinks {
        padding-left: 40px;
        padding-right: 40px
    }

    .header_withlinks .header_login {
        margin-right: 40px
    }
}

@media (max-width:1439px) and (min-width:1280px) {
    .header_withlinks .header_logo {
        margin-right: 20px
    }

    .header_links ul li {
        margin: 0 10px
    }

    .header_phone {
        margin-left: 20px
    }

    .header_withlinks .header_login {
        margin-right: 20px
    }
}

@media (max-width:1279px) {
    .header_links {
        display: none
    }
}

@media (max-width:359px) {
    .button {
        padding-left: 10px;
        padding-right: 10px
    }
}