.menuprintingpage {
    background: #1b1b1c
}

.menuprintingpage .section_title {
    background: url(../img/menuprintingpage.jpg) center/cover no-repeat
}

.menuprinting1 .fileretouching_textblock_imgright {
    background: url(../img/menuprinting1_bg.svg) center/contain no-repeat;
    padding: 0 120px 40px
}

@media (max-width:1599px) {
    .menuprinting1 .fileretouching_textblock_imgright {
        padding: 0 80px 30px
    }
}

.menuprinting_service {
    background: url(../img/menuprinting_service.jpg) center/cover no-repeat
}

.section_menuclients {
    padding-top: 112px;
    padding-bottom: 80px
}

.section_menuclients h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 72px
}

.section_menuclients .fileretouching_ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3
}

.section_menuclients .fileretouching_ul li {
    display: inline-table;
    width: 100%;
    padding-bottom: 30px;
    padding-right: 20px
}

.section_menuclients .fileretouching_ul li+li {
    margin-top: 0
}

@media (max-width:1279px) {
    .section_menuclients {
        padding-top: 72px;
        padding-bottom: 48px
    }

    .section_menuclients .fileretouching_ul {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2
    }
}

.menuprinting_covid {
    background: url(../img/menuprinting12.jpg) center/cover no-repeat
}

.commercialbanner {
    min-height: calc(37.5vw + 160px);
    padding-bottom: 80px;
    padding-top: 80px
}

.commercialbanner_image {
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -18.75vw;
    background: url(../img/commercialbanner_image.svg) center/contain no-repeat;
    padding: 27px 95px 0 45px
}

@media (max-width:1439px) {
    .menuprinting1 .fileretouching_textblock_imgright {
        padding: 0 40px 20px
    }

    .commercialbanner_image {
        right: 40px
    }
}

@media (max-width:1279px) {
    .commercialbanner_image {
        margin-top: 0;
        position: relative;
        top: 0;
        right: 40px;
        left: 40px;
        padding: 0 40px;
        width: calc(100% - 80px)
    }
}

@media (max-width:767px) {
    .commercialbanner_image {
        right: 20px;
        left: 20px;
        padding: 0 20px;
        width: calc(100% - 40px)
    }
}

.commercialbanner_img {
    background: url(../img/commercialbanner_img.png) center/contain no-repeat;
    width: 32.292vw;
    height: 37.5vw
}

.commercialbanner_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 42px
}

.commercialbanner_row p {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-right: 80px
}

.commercialbanner_row .fileretouching_ul {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

@media (max-width:1439px) {
    .commercialbanner_row {
        display: block
    }

    .commercialbanner_row .fileretouching_ul,
    .commercialbanner_row p {
        padding-right: 0
    }

    .commercialbanner_row .fileretouching_ul {
        margin-top: 24px
    }
}

.section_packaging {
    padding-top: 146px;
    padding-bottom: 88px
}

.section_packaging h2 {
    font-size: 42px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 51px
}

@media (max-width:1279px) {
    .commercialbanner_img {
        width: 100%;
        height: 90vw;
        background-position: center top
    }

    .commercialbanner_row {
        margin-top: 30px
    }

    .section_packaging {
        padding-top: 72px;
        padding-bottom: 72px
    }

    .section_packaging h2 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 24px
    }
}

.packaging_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -40px;
    margin-right: -40px
}

.packaging_item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    padding: 18px 40px
}

@media (max-width:1599px) {
    .packaging_item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }
}

@media (max-width:767px) {
    .packaging_list {
        margin-left: 0;
        margin-right: 0;
        display: block
    }

    .packaging_item {
        padding: 18px 0
    }

    .flushcut .fileretouching_textblock {
        min-height: 0;
        background-position: 75% center
    }
}

.packaging_titlegroup {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 48px
}

.packaging {
    max-width: 480px;
    width: 100%;
    position: relative;
    padding-left: 160px
}

.packaging_icon {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 9px;
    background: center/contain no-repeat
}

@media (max-width:1279px) {
    .packaging_titlegroup {
        margin-bottom: 24px
    }

    .packaging {
        padding-left: 96px
    }

    .packaging_icon {
        width: 80px;
        height: 80px
    }
}

@media (max-width:479px) {
    .section_menuclients .fileretouching_ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }

    .packaging_item {
        text-align: center
    }

    .packaging {
        padding-left: 0
    }

    .packaging_icon {
        position: static;
        margin: 0 auto 12px;
        width: 120px;
        height: 120px
    }
}

.packaging_title {
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px
}

.section_bannerssul {
    padding-top: 112px;
    padding-bottom: 68px
}

.section_bannerssul .fileretouching_ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3
}

.section_bannerssul .fileretouching_ul li {
    display: inline-table;
    width: 100%;
    padding-bottom: 30px;
    padding-right: 20px
}

.section_bannerssul .fileretouching_ul li+li {
    margin-top: 0
}

@media (max-width:1279px) {
    .section_bannerssul {
        padding-top: 72px;
        padding-bottom: 48px
    }

    .section_bannerssul .fileretouching_ul {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2
    }
}

@media (max-width:479px) {
    .section_bannerssul .fileretouching_ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }
}

.section_bannerssul_title {
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 48px
}

.flushcut {
    background: url(../img/commercialbanner6.jpg) center/cover no-repeat
}