.netflixpage h1 {
    max-width: 980px
}

.netflixpage .section_title {
    background: url(../img/netflixpage.jpg) center top/100% auto no-repeat #1b1b1c
}

.section_netflix {
    padding-top: 12px
}

.netflix_image {
    position: absolute;
    top: -32px;
    right: 84px
}

.netflix_img_img {
    width: 57.65625vw;
    height: 51.7708333vw;
    background: url(../img/netflix_img_main.png) center top/contain no-repeat
}

.section_netflix_bottomcontent {
    margin-left: 160px;
    margin-top: 30px;
    position: relative;
    z-index: 3;
    padding-bottom: 0
}

.section_netflix_bottomtext {
    max-width: 640px;
    border: 5px solid #fff;
    padding: 74px 24px 65px 72px;
    font-size: 82px;
    line-height: 110px;
    font-weight: 900;
    text-transform: uppercase
}

@media (max-width:1599px) {
    .netflixpage .section_title {
        background-size: auto
    }

    .netflix_image {
        right: 40px
    }

    .section_netflix_bottomcontent {
        margin-left: 80px
    }

    .section_netflix .fileretouching_express_left .contentleft {
        max-width: 520px
    }
}

@media (max-width:1279px) {
    .section_netflix {
        padding-top: 0
    }

    .netflix_image {
        position: relative;
        top: -20px;
        right: 0;
        margin-bottom: -12.5vw
    }

    .netflix_img {
        padding-left: 40px;
        padding-right: 40px
    }

    .netflix_img_img {
        width: 100%;
        height: 84.25vw
    }

    .section_netflix_bottomcontent {
        margin-left: 0;
        margin-top: 0;
        padding-top: 40px
    }

    .section_netflix_bottomtext {
        font-size: 38px;
        line-height: 51px;
        max-width: 300px;
        padding: 30px 24px 30px 32px
    }
}

@media (max-width:767px) {
    .netflixpage .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_netflix {
        padding-top: 40px
    }

    .netflix_image {
        top: 0
    }

    .netflix_img {
        padding-left: 0;
        padding-right: 0
    }

    .netflix_img_img {
        height: 86.5vw
    }
}

@media (max-width:479px) {
    .section_netflix_bottomtext {
        max-width: 100%
    }
}

.section_netflixdm {
    padding: 0 0 160px;
    position: relative;
    margin-top: -160px
}

.section_netflixdm_img {
    background: url(../img/section_netflixdm_img.png) 80% top/contain no-repeat;
    height: 43.2291667vw;
    position: relative;
    z-index: 2;
    top: -220px;
    margin-bottom: -10.67708333vw
}

.netflixdm_video {
    max-width: 964px;
    width: 100%;
    height: 480px;
    margin: 120px auto 0;
    background: url(../img/netflixdm_video.jpg) center/cover no-repeat;
    position: relative
}

.netflixdm_video_playbutton {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 112px;
    height: 112px;
    margin-left: -61px;
    margin-top: -61px
}

.netflixdm_video_playbutton svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.netflixdm_video_playbutton:hover svg {
    fill: #242426
}

@media (max-width:1279px) {
    .section_netflixdm {
        margin-top: -140px
    }

    .section_netflixdm_img {
        height: 49vw;
        top: -40px;
        margin-bottom: 0
    }

    .netflixdm h2 br {
        display: none
    }

    .netflixdm_video {
        margin-top: 92px;
        height: 400px
    }
}

@media (max-width:767px) {
    .section_netflixdm {
        margin-top: 0;
        padding-bottom: 60px
    }

    .section_netflixdm_img {
        height: 62vw;
        top: -10px;
        margin-bottom: 28px
    }

    .netflixdm_video {
        margin-top: 67px;
        height: 300px
    }
}

.section_netflixtoday {
    position: relative
}

.section_netflixtoday .fileretouching_textblock {
    position: static
}

.section_netflixtoday .fileretouching_textblock_imgleft {
    overflow: hidden
}

.netflixtoday_img {
    position: relative;
    width: 100%;
    left: -96px
}

.netflixtoday_img img {
    width: 100%;
    position: relative
}

.netflixtoday_playbutton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .75);
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -37px;
    margin-left: -37px
}

.netflixtoday_playbutton svg {
    width: 21px;
    height: 24px
}

.netflixtoday_playbutton:hover {
    background: #000
}

@media (max-width:1279px) {
    .section_netflixtoday .fileretouching_textblock {
        display: block
    }

    .section_netflixtoday .fileretouching_textblock_imgleft {
        position: relative;
        width: 100%
    }

    .section_netflixtoday .fileretouching_textblock_right {
        padding-left: 0;
        margin-left: 0;
        max-width: 420px;
        width: 100%
    }

    .section_netflixtoday .fileretouching_textblock_right h2 {
        font-size: 48px;
        line-height: 58px
    }

    .netflixtoday_img {
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 118px
    }
}

@media (max-width:767px) {
    .section_netflixtoday {
        padding-bottom: 60px
    }

    .netflixtoday_img {
        margin-bottom: 32px
    }
}

.section_netflixart {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0
}

.section_netflixart .fileretouching_textblock {
    position: static;
    height: 960px
}

.section_netflixart .fileretouching_textblock_imgright {
    width: 50%
}

.section_netflixart .fileretouching_textblock_imgright img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width:1279px) {
    .section_netflixart .fileretouching_textblock {
        height: auto;
        display: block
    }

    .section_netflixart .fileretouching_textblock_imgright {
        width: calc(100% + 80px);
        height: 100vw;
        position: static;
        margin-left: -40px;
        margin-right: -40px;
        margin-bottom: 0
    }

    .section_netflixart .fileretouching_textblock_left {
        padding-top: 148px;
        padding-bottom: 160px
    }

    .section_netflixart .fileretouching_textblock_left h2 {
        font-size: 48px;
        line-height: 58px
    }
}

@media (max-width:767px) {
    .section_netflixart .fileretouching_textblock_left {
        padding-top: 48px;
        padding-bottom: 60px
    }

    .section_netflixart .fileretouching_textblock_imgright {
        height: 116.66667vw
    }
}

.section_netflixevolution {
    padding-top: 185px;
    padding-bottom: 160px;
    position: relative;
    color: #fff;
    text-align: center;
    background: #1b1b1c
}

.netflixevolution {
    max-width: 1920px;
    width: 100%;
    margin: 142px auto 0
}

.netflixevolution_period {
    position: relative;
    width: 50%
}

.netflixevolution_period:nth-child(odd) {
    border-right: 4px solid #323233;
    text-align: left
}

.netflixevolution_period:nth-child(odd) .netflixevolution_period_date {
    left: 100%;
    margin-left: -62px
}

.netflixevolution_period:nth-child(odd) .netflixevolution_period_content {
    padding-left: 320px
}

.netflixevolution_period:nth-child(even) {
    border-left: 4px solid #323233;
    margin-left: calc(50% - 4px);
    text-align: right
}

.netflixevolution_period:nth-child(even) .netflixevolution_period_date {
    right: 100%;
    margin-right: -62px
}

.netflixevolution_period:nth-child(even) .netflixevolution_period_content {
    padding-right: 320px
}

.netflixevolution_period_date {
    font-size: 48px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    width: 124px;
    position: absolute;
    top: 50%;
    margin-top: -36px;
    background: #1b1b1c;
    z-index: 3
}

.netflixevolution_period_content {
    position: relative;
    z-index: 2;
    padding: 55px 80px
}

.netflixevolution_period_content img {
    -webkit-box-shadow: 0 23px 71.9px 7.1px rgba(10, 10, 10, .67);
    box-shadow: 0 23px 71.9px 7.1px rgba(10, 10, 10, .67)
}

.netflixevolution_period_img+.netflixevolution_period_img {
    margin-top: 48px
}

.netflixevolution_period_bg {
    position: absolute;
    left: 0;
    top: 248px;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: transparent
}

.netflixevolution_period1998 {
    background: url(../img/netflix1998.png) center top/auto 208px no-repeat
}

.netflixevolution_period2000 {
    background: url(../img/netflix2000.png) 80px center/208px auto no-repeat
}

.netflixevolution_period2001 {
    background: url(../img/netflix2001.png) calc(100% - 80px) center/208px auto no-repeat
}

.netflixevolution_period2004 {
    background: url(../img/netflix2004.png) 80px center/208px auto no-repeat
}

.netflixevolution_period2005 {
    background: url(../img/netflix2005.png) center top/auto 208px no-repeat
}

.netflixevolution_period2014 {
    background: url(../img/netflix2014.png) center top/auto 208px no-repeat
}

.netflixevolution_period2015 {
    background: url(../img/netflix2015.png) center top/auto 208px no-repeat
}

@media (max-width:1919px) {
    .netflixevolution_period:nth-child(odd) .netflixevolution_period_content {
        padding-left: 240px
    }

    .netflixevolution_period:nth-child(even) .netflixevolution_period_content {
        padding-right: 240px
    }
}

@media (max-width:1599px) {
    .netflixevolution_period:nth-child(odd) .netflixevolution_period_content {
        padding-left: 160px
    }

    .netflixevolution_period:nth-child(even) .netflixevolution_period_content {
        padding-right: 160px
    }
}

@media (max-width:1439px) {
    .netflixevolution_period:nth-child(odd) .netflixevolution_period_content {
        padding-left: 80px
    }

    .netflixevolution_period:nth-child(even) .netflixevolution_period_content {
        padding-right: 80px
    }
}

@media (max-width:1279px) {
    .section_netflixevolution {
        padding-top: 148px;
        padding-bottom: 80px
    }

    .netflixevolution .netflixevolution_period {
        width: 100%;
        border: none;
        text-align: center;
        margin-left: 0;
        padding-top: 256px
    }

    .netflixevolution .netflixevolution_period .netflixevolution_period_date {
        left: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        top: 102px;
        line-height: 52px
    }

    .netflixevolution {
        overflow: hidden;
        margin-top: 54px
    }

    .netflixevolution_period_bg:before {
        content: '';
        display: block;
        width: 4px;
        height: 1000%;
        position: absolute;
        left: 50%;
        margin-left: -2px;
        bottom: 0;
        background: #2e2e2f;
        z-index: -1
    }

    .netflixevolution_period_bg {
        height: 208px;
        background-size: auto 100%;
        background-position: center top
    }

    .netflixevolution_period2000 {
        background-image: url(../img/netflix2000_tab.png)
    }

    .netflixevolution_period2001 {
        background-image: url(../img/netflix2001_tab.png)
    }

    .netflixevolution_period2004 {
        background-image: url(../img/netflix2004_tab.png)
    }

    .netflixevolution_period:last-child {
        padding-bottom: 100px
    }

    .netflixevolution_period:last-child:after {
        content: '';
        display: block;
        width: 4px;
        margin-left: -2px;
        height: 180px;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
        background: #2e2e2f
    }

    .netflixevolution .netflixevolution_period .netflixevolution_period_content {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:767px) {
    .netflixevolution .netflixevolution_period .netflixevolution_period_content {
        padding-left: 20px;
        padding-right: 20px
    }

    .netflixevolution_period_date {
        font-size: 30px;
        background: 0 0
    }

    .netflixevolution_period_bg {
        background: 0 0;
        color: #151515;
        font-size: 98px;
        font-weight: 900;
        top: 100px
    }

    .section_netflixevolution {
        padding-top: 112px;
        padding-bottom: 60px
    }

    .netflixevolution .netflixevolution_period {
        padding-top: 116px
    }

    .netflixevolution .netflixevolution_period .netflixevolution_period_date {
        top: 54px
    }

    .netflixevolution_period:last-child {
        padding-bottom: 35px
    }
}