.newcustomerpage {
    background: #1a1a1b
}

.newcustomerpage .section_title {
    background: url(../img/contact_section_main.jpg) center/cover no-repeat
}

.contact_address_section {
    background: #242426;
    color: #fff
}

.contact_address_section p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em
}

.contact_address_section h2+p {
    margin-top: 14px
}

.contact_address_item {
    position: relative;
    padding-left: 80px;
    display: block
}

.contact_address_item_icon {
    position: absolute;
    left: 0;
    top: 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.contact_address_item_title {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .02em;
    margin-bottom: 13px;
    text-transform: uppercase
}

.contact_address_item_text {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px
}

.contact_address_list {
    padding-top: 69px
}

.contact_address_row+.contact_address_row {
    margin-top: 50px
}

#map2 {
    height: 720px;
    max-height: 100vh
}

.social_section {
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    padding: 66px 0;
    background: #1b1b1c
}

.social_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.social_list li {
    margin: 0 15px
}

.social_list a {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat
}

.contact_address_borderleft {
    border-left: 1px solid #4b4b4b
}

@media (max-width:1279px) {
    .main_section_right {
        border-left: none;
        border-top: 1px solid #4b4b4b;
        width: 100%;
        height: 160px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 134px
    }

    .main_section_right ul {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    .contact_address_section .content {
        padding-top: 80px;
        padding-bottom: 160px
    }

    .contact_address_list {
        padding-top: 83px
    }

    .social_section {
        display: none
    }
}

@media (max-width:479px) {
    .contact_address_list {
        padding-top: 48px
    }

    .contact_address_item_text {
        font-size: 22px;
        line-height: 32px
    }

    .contact_address_item_title {
        margin-bottom: 22px
    }

    .contact_address_row+.contact_address_row {
        margin-top: 57px
    }

    .contact_address_section .content {
        padding-top: 80px;
        padding-bottom: 75px
    }
}

.newcustomer {
    color: #fff;
    background: url(../img/newcustomer.jpg) top right/cover no-repeat;
    padding-top: 82px;
    padding-bottom: 204px
}

@media (max-width:767px) {
    .main_section_right {
        padding-left: 78px;
        height: 80px
    }

    .main_section_right ul {
        display: block;
        text-align: left
    }

    .main_section_right ul li {
        margin-left: 0;
        padding-left: 0
    }

    .main_section_right ul li:first-child:after {
        content: '';
        display: block;
        width: 65px;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 64px;
        top: 50%;
        opacity: .2
    }

    .contact_address_borderleft {
        border-left: none;
        margin-top: 28px
    }

    #map2 {
        height: 300px
    }

    .newcustomer {
        background: #1c1c1c
    }
}

.newcustomer_group+.newcustomer_group {
    margin-top: 88px
}

.newcustomer_group_title {
    position: relative;
    padding-left: 72px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 31px
}

.newcustomer_group_title span {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    line-height: 52px;
    text-align: center;
    background: #fff;
    color: #151515;
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 30px
}

@media (max-width:1279px) {
    .newcustomer {
        padding-top: 56px;
        padding-bottom: 64px
    }

    .newcustomer_group+.newcustomer_group {
        margin-top: 68px
    }

    .newcustomer_group_title {
        font-size: 34px;
        line-height: 42px;
        padding-left: 58px;
        margin-bottom: 50px
    }

    .newcustomer_group_title span {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 24px
    }
}

@media (max-width:767px) {
    .newcustomer_group_title {
        font-size: 30px;
        line-height: 34px;
        padding-left: 56px;
        margin-bottom: 32px
    }

    .newcustomer_group_title span {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 20px;
        top: 50%;
        margin-top: -18px
    }
}

.newcustomer_innergroup+.newcustomer_innergroup {
    margin-top: 46px
}

.newcustomer_innergroup .row {
    margin: -12px
}

.newcustomer_innergroup [class*=col-] {
    padding: 8px 12px
}

.newcustomer_input {
    height: 50px;
    width: 100%;
    display: block;
    border: 1px solid #505051;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0 18px
}

.newcustomer_input:focus {
    border-color: #fff
}

.newcustomer_input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.newcustomer_input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.newcustomer_input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.newcustomer_input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.newcustomer_input::placeholder {
    color: #fff;
    opacity: 1
}

.newcustomer_radio {
    display: inline-block;
    cursor: pointer;
    margin-right: 48px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600
}

.newcustomer_radio:last-child {
    margin-right: 0
}

.newcustomer_radio input {
    display: none !important
}

.newcustomer_radio span {
    display: block;
    position: relative;
    padding-left: 30px
}

.newcustomer_radio span:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.newcustomer_radio input:checked+span:before {
    border-width: 2px
}

.newcustomer_radio input:checked+span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px
}

@media (max-width:1279px) {
    .newcustomer_innergroup [class*=col-] {
        padding: 5px 12px
    }

    .newcustomer_radio {
        margin-right: 24px
    }
}

@media (max-width:767px) {
    .newcustomer_radio {
        margin: 10px 24px 10px 0
    }
}

.newcustomer_radiobuttons {
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.newcustomer_innergroup_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px
}

@media (max-width:1279px) {
    .newcustomer_innergroup_title {
        margin-bottom: 18px
    }
}

@media (max-width:767px) {
    .newcustomer_innergroup_title {
        margin-bottom: 8px
    }
}

.newcustomer_checkbox {
    display: block;
    cursor: pointer;
    margin-right: 48px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400
}

.newcustomer_checkbox:last-child {
    margin-right: 0
}

.newcustomer_checkbox input {
    display: none !important
}

.newcustomer_checkbox span {
    display: block;
    position: relative;
    padding-left: 36px
}

.newcustomer_checkbox span:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.newcustomer_checkbox input:checked+span:before {
    border-width: 2px
}

.newcustomer_checkbox input:checked+span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px
}

.newcustomer_submit {
    margin-top: 36px
}

.newcustomer_submit .button {
    width: 100%
}

@media (max-width:1279px) {
    .newcustomer_submit {
        margin-top: 48px
    }

    .newcustomer_submit .newcustomer_checkbox {
        margin-top: 24px
    }
}