.offsetprintingpage {
    background: #1b1b1c
}

.offsetprintingpage .section_title {
    background: url(../img/offsetprintingpage.jpg) right center/auto 100% no-repeat #1b1b1c
}

.offsetprintingpage h1 {
    max-width: 580px
}

.offsetprinting {
    padding-top: 36px
}

.offsetprinting_image {
    position: absolute;
    top: -10px;
    right: 160px;
    z-index: 1;
    overflow: hidden
}

.offsetprinting_img {
    position: relative
}

.offsetprinting_img_img {
    width: 58.33333vw;
    height: 62.5vw;
    background: url(../img/offsetprinting_img.png) center top/contain no-repeat
}

.offsetprinting_img7 {
    display: block;
    width: 12.8125vw;
    height: 12.8125vw;
    border-radius: 50%;
    background: url(../img/offsetprinting_img7.png) center/contain no-repeat;
    position: absolute;
    left: 4.166667vw;
    top: 12.5vw;
    z-index: 3
}

.offsetprinting__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 207px;
    padding-top: 20.625vw;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 18.75vw no-repeat
}

.offsetprinting__text1 {
    right: 21.09375vw;
    top: 37.39583vw
}

.offsetprinting__text2 {
    right: 7.96875vw;
    top: 31.25vw
}

.offsetprinting_bottomcontent {
    padding-bottom: 0;
    margin-left: 160px;
    position: relative;
    z-index: 1;
    padding-top: 40px
}

.offsetprinting_bottomtext {
    font-size: 40px;
    line-height: 52px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 80px 48px 78px 74px;
    border: 5px solid #fff;
    max-width: 640px
}

@media (min-width:1920px) {
    .offsetprinting__text {
        width: 10.83333vw
    }

    .section_fileretouching_express {
        min-height: 70vw
    }
}

@media (max-width:1919px) {
    .offsetprinting_image {
        right: 80px
    }

    .offsetprinting_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1599px) {
    .offsetprinting_image {
        right: 40px
    }

    .offsetprinting_bottomcontent {
        margin-left: 40px
    }
}

@media (max-width:1279px) {
    .offsetprintingpage .section_title {
        background-size: cover
    }

    .offsetprinting {
        padding-top: 82px
    }

    .offsetprinting_image {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: -10px
    }

    .offsetprinting_img_img {
        width: 100%;
        height: 90vw
    }

    .offsetprinting_img7 {
        width: 20vw;
        height: 20vw;
        left: 6.25vw;
        top: 40vw
    }

    .offsetprinting__text {
        padding-top: 306px;
        background-size: auto 288px
    }

    .offsetprinting__text1 {
        right: 36.5vw;
        top: 42.75vw
    }

    .offsetprinting__text2 {
        right: 13.75vw;
        top: 37.5vw
    }

    .offsetprinting_bottomtext {
        font-size: 27px;
        line-height: 36px;
        padding: 64px 64px 88px 74px;
        max-width: 400px
    }
}

@media (max-width:767px) {
    .offsetprinting_image {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0
    }

    .offsetprinting {
        padding-top: 84px
    }

    .offsetprinting_img_img {
        height: 156.6667vw
    }

    .offsetprinting_img7 {
        width: 22.22222vw;
        height: 22.22222vw;
        left: 17px;
        top: 87px
    }

    .offsetprinting__text {
        padding-top: 210px;
        text-align: left;
        background: url(../img/fileretouching_express__text1_bg_mob.png) left top/auto 200px no-repeat;
        width: 100px
    }

    .offsetprinting__text1 {
        right: auto;
        top: 53.3333vw;
        left: 16.66667vw
    }

    .offsetprinting__text2 {
        right: auto;
        top: 63.88889vw;
        left: 61.1111vw
    }

    .offsetprinting_bottomcontent {
        margin-left: 0;
        padding-top: 96px
    }

    .offsetprinting_bottomtext {
        font-size: 19px;
        line-height: 26px;
        padding: 40px 40px 34px 34px
    }
}

.offsetprintingimage {
    margin-top: -160px;
    padding-bottom: 60px
}

.offsetprintingimage_img {
    position: relative;
    z-index: 2;
    top: -160px;
    overflow: hidden;
    padding-left: 130px
}

.offsetprintingimage_img img {
    width: 65.36458333vw;
    height: auto
}

@media (max-width:1279px) {
    .offsetprintingimage {
        margin-top: -400px;
        padding: 112px 0 82px
    }

    .offsetprintingimage_img {
        top: 0;
        padding-left: 60px
    }

    .offsetprintingimage_img img {
        width: 65vw
    }
}

.commercialoffsetprinting {
    position: relative
}

.commercialoffsetprinting .fileretouching_textblock {
    position: static
}

.commercialoffsetprinting .fileretouching_textblock_imgright {
    width: 50%;
    height: 100%;
    background: url(../img/commercialoffsetprinting_bg.jpg) center/cover no-repeat;
    position: absolute;
    top: 0;
    right: 0
}

@media (max-width:767px) {
    .offsetprintingimage {
        margin-top: -130px;
        padding: 92px 0 40px
    }

    .offsetprintingimage_img {
        padding-left: 0
    }

    .offsetprintingimage_img img {
        width: 100%
    }

    .commercialoffsetprinting {
        padding-top: 0;
        padding-bottom: 60px
    }

    .commercialoffsetprinting .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        position: static;
        margin: 0 -40px
    }

    .commercialoffsetprinting .fileretouching_textblock_left {
        padding-top: 53px
    }
}

@media (max-width:479px) {
    .offsetprinting_bottomtext {
        max-width: 100%
    }

    .commercialoffsetprinting .fileretouching_textblock_imgright {
        margin: 0 -20px
    }
}

.section_offsetprinting {
    padding-top: 192px;
    padding-bottom: 194px
}

.section_offsetprinting_text {
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto 105px
}

.section_offsetprinting_text h2 {
    margin-bottom: 38px
}

.section_offsetprinting_list {
    padding-left: 80px
}

.section_offsetprinting_list .fileretouching_ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4
}

.section_offsetprinting_list .fileretouching_ul li {
    display: inline-table;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px
}

.section_offsetprinting_list .fileretouching_ul li:before {
    top: 25px
}

.section_offsetprinting_list .fileretouching_ul li+li {
    margin: 0
}

@media (max-width:1279px) {
    .section_offsetprinting_list {
        padding-left: 0
    }

    .section_offsetprinting_list .fileretouching_ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }

    .section_offsetprinting {
        padding-top: 150px;
        padding-bottom: 136px
    }

    .section_offsetprinting_text h2 {
        margin-bottom: 42px
    }

    .section_offsetprinting_text {
        margin-bottom: 72px
    }
}

.fourcolorprinting {
    background: #151515
}

.eightcolorprinting {
    position: relative
}

.eightcolorprinting .fileretouching_textblock {
    position: static
}

.eightcolorprinting .fileretouching_textblock_imgright {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/eightcolorprinting.jpg) center/cover no-repeat;
    width: 50%
}

@media (max-width:767px) {
    .section_offsetprinting {
        padding-top: 52px;
        padding-bottom: 88px
    }

    .section_offsetprinting .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_offsetprinting_text h2 {
        margin-bottom: 32px
    }

    .section_offsetprinting_list {
        padding-left: 0;
        margin-right: -10px
    }

    .section_offsetprinting_list .fileretouching_ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }

    .section_offsetprinting_list .fileretouching_ul li {
        padding-right: 5px
    }

    .eightcolorprinting {
        padding-top: 0;
        padding-bottom: 60px
    }

    .eightcolorprinting .fileretouching_textblock_imgright {
        position: static;
        width: 100vw;
        height: 100vw;
        margin: 0 -40px
    }

    .eightcolorprinting .fileretouching_textblock_left {
        padding-top: 53px
    }
}

@media (max-width:479px) {
    .eightcolorprinting .fileretouching_textblock_imgright {
        margin: 0 -20px
    }
}

.ninecolorprinting {
    position: relative;
    background: #151515
}

.ninecolorprinting .fileretouching_textblock {
    position: static
}

.ninecolorprinting .fileretouching_textblock_imgleft {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/ninecolorprinting_img.jpg) center/cover no-repeat;
    width: 50%
}

@media (max-width:767px) {
    .ninecolorprinting {
        padding-top: 0;
        padding-bottom: 60px
    }

    .ninecolorprinting .fileretouching_textblock_imgleft {
        position: static;
        width: 100vw;
        height: 100vw;
        margin: 0 -40px
    }

    .ninecolorprinting .fileretouching_textblock_right {
        padding-top: 53px
    }
}

@media (max-width:479px) {
    .ninecolorprinting .fileretouching_textblock_imgleft {
        margin: 0 -20px
    }
}

.section_whatoffer {
    background: #1b1b1c;
    padding-top: 185px;
    padding-bottom: 155px
}

.section_whatoffer h2 {
    margin-bottom: 108px
}

.whatoffer_list .fileretouching_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.whatoffer_list .fileretouching_ul li {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    max-width: 300px
}

.whatoffer_list .fileretouching_ul li:before {
    top: 25px
}

@media (max-width:1279px) {
    .section_whatoffer {
        padding-top: 148px;
        padding-bottom: 138px
    }

    .section_whatoffer h2 {
        margin-bottom: 86px
    }

    .whatoffer_list .fileretouching_ul li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
}

.section_businessprinting {
    background: #dbdde9
}

@media (max-width:767px) {
    .section_whatoffer {
        padding-top: 53px;
        padding-bottom: 55px
    }

    .section_whatoffer .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_whatoffer h2 {
        margin-bottom: 32px
    }

    .whatoffer_list .fileretouching_ul {
        display: list-item
    }

    .whatoffer_list .fileretouching_ul li {
        padding-right: 0
    }

    .whatoffer_list .fileretouching_ul li+li {
        margin-top: 10px
    }

    .section_businessprinting .whatoffer_list {
        padding-left: 40px;
        padding-right: 40px
    }
}