.ordermanagementpage {
    background: url(../img/ordermanagement.jpg) center top/100% auto no-repeat #1b1b1c
}

.ordermanagementpage h1 {
    max-width: 700px
}

@media (max-width:1599px) {
    .ordermanagementpage {
        background-size: auto
    }
}

.section_ordermanagement {
    position: relative;
    padding-top: 92px
}

.section_ordermanagement .fileretouching_express_left {
    max-width: 50%
}

.ordermanagement_image {
    position: absolute;
    top: 72px;
    right: 160px;
    z-index: 1;
    overflow: hidden
}

.ordermanagement_img {
    position: relative;
    background: url(../img/ordermanagement_img_bg.png) center top/contain no-repeat;
    padding: 4.53125vw 4.53125vw 12.13541667vw 2.86458333vw
}

.ordermanagement_img_img {
    width: 45.6770833vw;
    height: 38.222916667vw;
    background: url(../img/ordermanagement_img.png) center top/contain no-repeat;
    position: relative
}

.ordermanagement_img_button {
    display: block;
    width: 6.7708333vw;
    height: 6.7708333vw;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -3.33333vw;
    margin-top: -8.85416667vw
}

.ordermanagement_img_button svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.ordermanagement_img_button:hover svg {
    fill: #4ca374
}

.ordermanagement_bottomcontent {
    margin: 160px 0 0 160px;
    padding-bottom: 0
}

.ordermanagement_bottomtext {
    border: 5px solid #fff;
    width: 800px;
    padding: 54px 72px 52px;
    letter-spacing: .01em;
    font-size: 51px;
    line-height: 68px;
    font-weight: 900;
    text-transform: uppercase
}

@media (max-width:1919px) {
    .ordermanagement_image {
        right: 80px
    }

    .ordermanagement_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1599px) {
    .ordermanagement_image {
        right: 0
    }

    .ordermanagement_bottomcontent {
        margin-left: 0
    }
}

@media (max-width:1279px) {
    .ordermanagement_image {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        padding: 0 80px;
        margin-bottom: -110px
    }

    .ordermanagement_img {
        padding: 55px 0 118px
    }

    .ordermanagement_img_img {
        width: 100%;
        height: 58vw
    }

    .section_ordermanagement {
        padding-top: 26px
    }

    .ordermanagement_img_button {
        width: 80px;
        height: 80px;
        margin-left: -40px;
        margin-top: -106px
    }

    .section_ordermanagement .fileretouching_express_left {
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px
    }

    .ordermanagement_bottomcontent {
        margin-top: 0;
        padding-top: 40px
    }

    .ordermanagement_bottomtext {
        max-width: 440px;
        width: 100%;
        padding: 53px 54px 52px;
        font-size: 43px;
        line-height: 57px;
        margin-left: -40px
    }
}

@media (max-width:767px) {
    .ordermanagement_image {
        padding: 0 20px;
        margin-bottom: -19px
    }

    .ordermanagement_img_img {
        height: 242px
    }

    .ordermanagement_img_button {
        width: 42px;
        height: 42px;
        margin-left: -21px;
        margin-top: -54px
    }

    .section_ordermanagement .fileretouching_express_left {
        padding-left: 0;
        padding-right: 0
    }

    .section_ordermanagement {
        padding-top: 60px
    }

    .ordermanagement_img {
        padding: 27px 0 60px
    }

    .ordermanagement_bottomcontent {
        padding-top: 60px
    }

    .ordermanagement_bottomtext {
        margin-left: 0
    }
}

@media (max-width:479px) {
    .ordermanagement_bottomtext {
        max-width: 220px;
        padding: 25px 24px 26px;
        font-size: 20px;
        line-height: 28px
    }
}

.section_ordermanagement_steps {
    position: relative;
    margin-top: -80px;
    padding: 0 0 160px
}

.section_ordermanagement_steps_img {
    width: 100%;
    position: relative;
    top: -87px;
    right: 0;
    z-index: 2;
    margin-bottom: 5.46875vw;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.section_ordermanagement_steps_img .parallax_img50 {
    height: 33.33333vw;
    width: 84.375vw;
    background: url(../img/section_ordermanagement_steps_img.png) left top/contain no-repeat;
    margin-right: -50px
}

.ordermanagement_steps {
    position: relative;
    z-index: 2
}

.ordermanagement_steps_list {
    max-width: 1440px;
    width: 100%;
    margin: 110px auto 0;
    overflow: hidden
}

.ordermanagement_steps_list .owl-nav button.owl-prev {
    left: 0
}

.ordermanagement_steps_list .owl-nav button.owl-next {
    right: 0
}

.ordermanagement_steps_item {
    display: block;
    width: 100%
}

.ordermanagement_steps_item_icon {
    width: 100%;
    height: 68px;
    background: center/contain no-repeat;
    margin-bottom: 30px
}

.ordermanagement_steps_item_title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    text-transform: uppercase;
    padding-bottom: 88px;
    position: relative
}

.ordermanagement_steps_item_title:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #efefef;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -10px;
    z-index: 2
}

.ordermanagement_steps_item_title:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #4b4b4b;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 1
}

.ordermanagement_steps_button {
    margin-top: 236px
}

.ordermanagement_steps_button .button {
    max-width: 320px;
    width: 100%
}

@media (max-width:1279px) {
    .section_ordermanagement_steps_img {
        top: -30.25vw;
        margin-bottom: -15.5vw
    }

    .section_ordermanagement_steps_img .parallax_img50 {
        width: 58vw;
        height: 40vw;
        background-size: cover
    }

    .ordermanagement_steps_button {
        margin-top: 72px
    }
}

@media (max-width:767px) {
    .section_ordermanagement_steps_img {
        top: 0;
        margin-bottom: 21.66667vw
    }

    .section_ordermanagement_steps_img .parallax_img50 {
        width: 100%;
        height: 62.5vw
    }

    .section_ordermanagement_steps {
        padding-top: 10px;
        padding-bottom: 60px
    }

    .ordermanagement_steps_list {
        margin-top: 48px
    }

    .ordermanagement_steps_button {
        margin-top: 60px
    }
}

@media (max-width:479px) {
    .ordermanagement_steps_button .button {
        max-width: 100%
    }
}

.section_ordermanagementimg3 {
    position: relative
}

.section_ordermanagementimg3 .fileretouching_textblock_left {
    max-width: 500px;
    padding-right: 0
}

.section_ordermanagementimg3 .fileretouching_textblock {
    position: static
}

.section_ordermanagementimg3 .fileretouching_textblock_imgright {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 80px;
    padding-left: 80px;
    width: calc(100% - 500px)
}

@media (max-width:1439px) {
    .ordermanagement_steps_list {
        padding-left: 40px;
        padding-right: 40px
    }

    .section_ordermanagementimg3 .fileretouching_textblock_left {
        max-width: 420px
    }

    .section_ordermanagementimg3 .fileretouching_textblock_imgright {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-right: 40px;
        padding-left: 40px;
        width: calc(100% - 420px)
    }
}

@media (max-width:1279px) {
    .section_fileretouching_textblock.section_ordermanagementimg3 {
        padding-bottom: 0
    }

    .section_ordermanagementimg3 .fileretouching_textblock_left {
        max-width: 360px
    }

    .section_ordermanagementimg3 .fileretouching_textblock {
        display: block
    }

    .section_ordermanagementimg3 .fileretouching_textblock_imgright {
        display: block;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 48px;
        width: 100%;
        position: static;
        margin-bottom: 0
    }
}

@media (max-width:767px) {
    .section_ordermanagementimg3 .fileretouching_textblock_imgright {
        padding-right: 0;
        padding-left: 0
    }
}

.section_ordermanagementimg4 {
    position: relative
}

.section_ordermanagementimg4 .fileretouching_textblock_right {
    max-width: 420px;
    margin-left: calc(100% - 420px);
    padding-left: 0
}

.section_ordermanagementimg4 .fileretouching_textblock {
    position: static
}

.section_ordermanagementimg4 .fileretouching_textblock_imgleft {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 80px;
    padding-left: 80px;
    width: calc(100% - 460px)
}

@media (max-width:1439px) {
    .section_ordermanagementimg4 .fileretouching_textblock_imgleft {
        padding-right: 40px;
        padding-left: 40px
    }
}

@media (max-width:1279px) {
    .section_fileretouching_textblock.section_ordermanagementimg4 {
        padding-bottom: 0
    }

    .section_ordermanagementimg4 .fileretouching_textblock_right {
        margin-left: 0
    }

    .section_ordermanagementimg4 .fileretouching_textblock {
        display: block
    }

    .section_ordermanagementimg4 .fileretouching_textblock_imgleft {
        display: block;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 72px;
        width: 100%;
        position: static;
        margin-bottom: 0
    }
}

.section_ordermanagement_options {
    background: #dbdde9;
    text-align: center;
    padding: 146px 0 152px
}

.section_ordermanagement_options h2 {
    margin-bottom: 110px;
    font-weight: 900;
    letter-spacing: 0
}

.ordermanagement_options_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.ordermanagement_options_item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.ordermanagement_options_item_icon {
    height: 104px;
    width: 100%;
    margin-bottom: 42px;
    background: center/contain no-repeat
}

.ordermanagement_options_item_title {
    font-size: 25px;
    line-height: 34px;
    font-weight: 900;
    text-transform: uppercase
}

.ordermanagement_options_list.owl-carousel {
    padding-bottom: 80px
}

.ordermanagement_options_list.owl-carousel button.owl-dot {
    background: #a4a5ae;
    margin-left: 18px;
    margin-right: 18px
}

.ordermanagement_options_list.owl-carousel button.owl-dot.active {
    background: #242426
}

@media (max-width:767px) {
    .section_ordermanagementimg4 .fileretouching_textblock_imgleft {
        padding-right: 0;
        padding-left: 0
    }

    .section_ordermanagement_options {
        padding: 52px 0 20px
    }

    .section_ordermanagement_options h2 {
        margin-bottom: 56px
    }

    .section_ordermanagement_options h2 br {
        display: none
    }

    .ordermanagement_options_item_icon {
        height: 72px;
        margin-bottom: 32px
    }

    .ordermanagement_options_item_title {
        font-size: 18px;
        line-height: 24px
    }

    .ordermanagement_options_item_title br {
        display: none
    }

    .ordermanagement_options_item_title span {
        display: block
    }
}