.packagingpage {
    background: url(../img/packagingpage.jpg) right top no-repeat #1b1b1c
}

.packagingpage .section_title {
    background: 0 0
}

@media (max-width:1279px) {
    .packagingpage {
        background-size: 100% auto
    }
}

.packaging {
    padding-top: 66px
}

.packaging .fileretouching_express_left .contentleft {
    max-width: 640px
}

.packaging_image {
    position: absolute;
    right: 0;
    top: -82px;
    overflow: hidden
}

.packaging_img {
    width: 69.635116667vw;
    height: 62.760411vw;
    background: url(../img/packaging_img.png) center top/contain no-repeat;
    right: -154px;
    position: relative
}

.packaging_bottomcontent {
    margin-left: 160px;
    margin-top: 160px;
    padding-bottom: 0;
    position: relative;
    z-index: 3
}

.packaging_bottomtext {
    font-size: 66px;
    line-height: 88px;
    text-transform: uppercase;
    font-weight: 900;
    max-width: 640px;
    border: 5px solid #fff;
    padding: 66px 36px 60px 72px
}

@media (max-width:1599px) {
    .packaging_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1279px) {
    .packaging {
        padding-top: 0
    }

    .packaging .fileretouching_express_left .contentleft {
        margin-bottom: 0
    }

    .packaging_bottomcontent {
        margin-left: 0;
        margin-top: 0;
        padding-top: 0
    }

    .packaging_image {
        position: relative;
        top: -40px;
        right: 0;
        padding-left: 40px;
        padding-right: 40px
    }

    .packaging_img {
        width: 100%;
        height: 81.6vw;
        right: 0
    }

    .packaging_bottomtext {
        font-size: 45px;
        line-height: 60px;
        padding: 42px 24px 42px 48px;
        max-width: 440px
    }
}

@media (max-width:767px) {
    .packaging {
        padding-top: 60px
    }

    .packaging_image {
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: -10px
    }

    .packaging_bottomcontent {
        margin-top: 60px
    }

    .packaging_bottomtext {
        max-width: 320px;
        font-size: 32px;
        line-height: 44px;
        padding: 31px 24px 28px 34px
    }
}

.packagingimages {
    margin-top: -220px;
    padding-top: 92px;
    padding-bottom: 160px
}

.packagingimage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 118px
}

.packagingimage1 img {
    width: 38.07291667vw
}

.packagingimage2 {
    padding-top: 50px
}

.packagingimage2 img {
    width: 42.60416667vw
}

.packagingimages_button .button {
    max-width: 320px;
    width: 100%
}

@media (max-width:1279px) {
    .packagingimages {
        margin-top: -196px;
        padding-top: 135px
    }

    .packagingimage {
        margin-bottom: 160px
    }
}

@media (max-width:767px) {
    .packagingimages {
        margin-top: -140px;
        padding-top: 125px;
        padding-bottom: 94px
    }

    .packagingimages .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .packagingimage2 {
        padding-top: 10px
    }

    .packagingimage {
        margin-bottom: 48px
    }
}

@media (max-width:479px) {

    .packaging_bottomtext,
    .packagingimages_button .button {
        max-width: 100%
    }
}

.flexiblpacking .fileretouching_textblock_right p span.bold {
    font-weight: 900;
    text-transform: uppercase
}

.packagingcarousel_item {
    background: center/cover no-repeat
}

.packagingcarousel_content {
    max-width: 1180px;
    padding: 146px 120px 228px;
    margin: 0 auto;
    text-align: center
}

.packagingcarousel_content h2 {
    letter-spacing: 0;
    margin-bottom: 63px
}

.packagingcarousel_icon {
    display: block;
    width: 166px;
    height: 166px;
    margin: 0 auto 69px;
    background: center/contain no-repeat;
    border-radius: 50%
}

.packagingcarousel_text {
    font-size: 14px;
    line-height: 36px;
    letter-spacing: .02em;
    font-weight: 900;
    text-transform: uppercase
}

.packagingcarousel button.owl-dot {
    width: 14px;
    height: 14px;
    background: #fff;
    margin: 0 13px;
    opacity: .3
}

.packagingcarousel .owl-dots {
    bottom: 154px
}

@media (max-width:1279px) {
    .flexiblpacking .fileretouching_textblock_imgleft {
        padding-left: 120px;
        padding-right: 120px
    }

    .packagingcarousel_content h2 {
        margin-bottom: 31px
    }
}

@media (max-width:767px) {
    .flexiblpacking .fileretouching_textblock_imgleft {
        padding-left: 80px;
        padding-right: 80px
    }

    .packagingcarousel_content {
        padding: 17px 20px 150px
    }

    .packagingcarousel_icon {
        width: 126px;
        height: 126px;
        margin-bottom: 42px
    }

    .packagingcarousel_content h2 {
        margin-bottom: 35px
    }

    .packagingcarousel_text {
        font-size: 12px;
        line-height: 28px
    }

    .packagingcarousel .owl-dots {
        bottom: 84px
    }

    .packagingcarousel .owl-nav button.owl-next,
    .packagingcarousel .owl-nav button.owl-prev {
        margin-top: 0;
        top: 216px
    }
}

.section_packagingtypes {
    padding-top: 146px;
    padding-bottom: 60px;
    background: #141414
}

.section_packagingtypes h2 {
    letter-spacing: 0;
    margin-bottom: 90px
}

.packagingtypes_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 60px
}

.packagingtypes_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 680px;
    border: 20px solid #141414;
    overflow: hidden
}

.packagingtypes_item_content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 80px 72px 80px 0
}

.packagingtypes_item_title {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 14px;
    font-weight: 900;
    text-transform: uppercase
}

.packagingtypes_item_title:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0
}

.packagingtypes_item_text {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .02em;
    font-weight: 600
}

.packagingtypes_item_img {
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden
}

.packagingtypes_item_img img {
    position: relative;
    max-width: none
}

.packagingtypes_item1 {
    background: #698349
}

.packagingtypes_item1 .packagingtypes_item_img {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.packagingtypes_item1 .packagingtypes_item_img img {
    height: 520px
}

.packagingtypes_item2 {
    background: #fa7818
}

.packagingtypes_item2 .packagingtypes_item_img {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.packagingtypes_item2 .packagingtypes_item_img img {
    height: 535px
}

.packagingtypes_item3 {
    background: #cd4a2b
}

.packagingtypes_item3 .packagingtypes_item_img {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.packagingtypes_item3 .packagingtypes_item_img img {
    height: 535px;
    left: -60px
}

.packagingtypes_item4 {
    background: #898989
}

.packagingtypes_item4 .packagingtypes_item_img {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.packagingtypes_item4 .packagingtypes_item_img img {
    height: 520px
}

.packagingtypes_item5 {
    background: #3b778e
}

.packagingtypes_item5 .packagingtypes_item_img {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 60px
}

.packagingtypes_item5 .packagingtypes_item_img img {
    height: 420px
}

.packagingtypes_item6 {
    background: #ebaa1e
}

.packagingtypes_item6 .packagingtypes_item_img {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 60px
}

.packagingtypes_item6 .packagingtypes_item_img img {
    height: 520px
}

@media (max-width:1279px) {
    .packagingtypes_list {
        display: block;
        padding-left: 20px;
        padding-right: 20px
    }

    .packagingtypes_item {
        height: 600px
    }

    .section_packagingtypes h2 {
        letter-spacing: 0;
        margin-bottom: 56px
    }

    .packagingtypes_item1 .packagingtypes_item_img img,
    .packagingtypes_item2 .packagingtypes_item_img img {
        height: 480px
    }

    .packagingtypes_item3 .packagingtypes_item_img img {
        height: 460px
    }

    .packagingtypes_item4 .packagingtypes_item_img img {
        height: 430px
    }

    .packagingtypes_item5 .packagingtypes_item_img img {
        height: 320px
    }

    .packagingtypes_item6 .packagingtypes_item_img img {
        height: 480px
    }
}

@media (max-width:767px) {
    .section_packagingtypes {
        padding-top: 56px;
        padding-bottom: 30px
    }

    .section_packagingtypes h2 {
        letter-spacing: 0
    }

    .packagingtypes_list {
        padding-left: 0;
        padding-right: 0
    }

    .packagingtypes_item {
        display: block;
        height: auto;
        border-width: 10px
    }

    .packagingtypes_item_content {
        padding: 52px 40px 62px
    }

    .packagingtypes_item .packagingtypes_item_img {
        display: block;
        padding: 0;
        text-align: center
    }

    .packagingtypes_item .packagingtypes_item_img img {
        position: static;
        width: 100%;
        height: auto
    }

    .packagingtypes_item5 .packagingtypes_item_img {
        padding-bottom: 72px
    }

    .packagingtypes_item6 .packagingtypes_item_img {
        padding-left: 72px;
        padding-right: 72px
    }
}