@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.eot);
    src: url(../fonts/Helvetica.eot?#iefix) format("embedded-opentype"), url(../fonts/Helvetica.woff2) format("woff2"), url(../fonts/Helvetica.woff) format("woff"), url(../fonts/Helvetica.ttf) format("truetype"), url(../fonts/Helvetica.svg#Helvetica) format("svg");
    font-weight: 400;
    font-style: normal
}

.payperclickpage {
    background: url(../img/payperclickpage.jpg) right top no-repeat #181819;
    color: #fff
}

.payperclickpage h1 {
    max-width: 960px;
    font-weight: 600;
    font-size: 82px;
    line-height: 80px;
    padding-left: 114px
}

.payperclickpage .wrapper {
    padding-left: 160px;
    padding-right: 160px
}

.payperclickpage section {
    max-width: 1420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.payperclickpage .button_radius {
    border-radius: 10px
}

@media (max-width:1439px) {
    .payperclickpage {
        background-size: 100% auto
    }

    .payperclickpage .wrapper {
        padding-left: 40px;
        padding-right: 40px
    }

    .payperclickpage h1 {
        font-size: 64px;
        line-height: 80px;
        padding-left: 94px
    }
}

.payperclick_section {
    background: 0 0;
    padding-top: 112px;
    padding-bottom: 138px
}

.ppc_smalltitle {
    font-size: 36px;
    letter-spacing: .02em;
    font-weight: 600;
    margin-bottom: 38px
}

@media (max-width:767px) {
    .payperclickpage .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .payperclickpage h1 {
        padding-left: 0;
        font-size: 48px;
        line-height: 48px
    }

    .payperclick_section {
        text-align: center;
        padding-top: 72px;
        padding-bottom: 96px
    }

    .ppc_smalltitle {
        font-size: 20px
    }
}

.section_mpr {
    padding: 10px;
    background: 0 0
}

.mpr_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.mpr_formblock,
.mpr_textblock {
    width: 50%;
    padding: 0 10px
}

.mpr_img {
    display: block;
    width: 100%;
    height: 480px;
    background: center/cover no-repeat;
    margin-bottom: 20px
}

.mpr_text {
    padding: 76px 50px 90px;
    background: #1f1f21;
    min-height: 50%
}

.mpr_text .button {
    font-family: Helvetica;
    letter-spacing: .2em;
    height: 60px;
    line-height: 56px;
    min-width: 180px
}

.mpr_text p {
    margin-bottom: 44px
}

.mpr_text_title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .02em;
    margin-bottom: 34px
}

.mpr_formblock_content {
    background: url(../img/mpr_formblock.jpg) center/cover no-repeat;
    min-height: 100%;
    padding: 76px 50px 0
}

.mpr_formblock_title {
    font-family: Helvetica;
    font-size: 32px;
    letter-spacing: .02em;
    margin-bottom: 22px
}

.mpr_formblock_small_title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase
}

.mpr_form {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 90px
}

.mpr_form_input {
    display: block;
    width: 100%;
    position: relative
}

.mpr_form_input input {
    display: block;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, .2);
    color: #181819;
    font-family: Helvetica;
    font-size: 20px;
    letter-spacing: .02em;
    padding: 0 62px 0 36px;
    border: 2px solid transparent;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.mpr_form_input input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.mpr_form_input input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.mpr_form_input input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.mpr_form_input input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.mpr_form_input input::placeholder {
    color: #fff;
    opacity: 1
}

.mpr_form_input input:focus,
.mpr_form_input.noempty input,
.mpr_form_input.valid input {
    background: #fff;
    color: #181819
}

.mpr_form_input.valid:after {
    content: '';
    display: block;
    width: 64px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/input_valid.png) center/21px auto no-repeat;
    z-index: 2
}

.mpr_form_input.invalid input {
    border-color: #ff87cb !important;
    background: rgba(255, 135, 203, .3) !important;
    color: #fff !important
}

.mpr_form_input.invalid:after {
    content: '';
    display: block;
    width: 64px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/input_invalid.png) center/15px auto no-repeat;
    z-index: 2
}

.mpr_form_input+.mpr_form_input {
    margin-top: 20px
}

.mpr_form_button {
    margin-top: 42px
}

.mpr_form_button .button {
    width: 100%;
    height: 60px;
    line-height: 56px;
    letter-spacing: .2em
}

.ui-selectmenu-button.mpr_form_select_button {
    display: block;
    width: 100%;
    margin-top: 30px;
    height: 80px;
    border: none;
    background: rgba(255, 255, 255, .2);
    border-radius: 0;
    font-size: 20px;
    font-family: Helvetica;
    padding: 28px 98px 28px 36px
}

.ui-selectmenu-button.mpr_form_select_button .ui-selectmenu-icon.ui-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 100%;
    background: url(../img/mpr_form_select.png) center/14px auto no-repeat;
    border-left: 1px solid #bc9bea
}

.ui-selectmenu-button.mpr_form_select_button .ui-selectmenu-text {
    margin-right: 0
}

.ui-selectmenu-button.mpr_form_select_button.ui-selectmenu-button-open {
    background: #fff;
    color: #181819
}

.ui-selectmenu-button.mpr_form_select_button.ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon {
    display: none
}

.ui-selectmenu-menu.mpr_form_select_menu .ui-menu {
    background: #fff;
    color: #181819;
    border: none;
    border-top: 1px solid #181819;
    border-radius: 0;
    font-family: Helvetica;
    font-size: 20px
}

.ui-selectmenu-menu.mpr_form_select_menu .ui-menu .ui-menu-item-wrapper {
    padding: 11px 36px
}

@media (max-width:1279px) {

    .mpr_formblock_content,
    .mpr_text {
        padding-left: 40px;
        padding-right: 40px
    }

    .mpr_flex {
        display: block
    }

    .mpr_textblock {
        width: 100%;
        margin-bottom: 20px;
        padding: 0
    }

    .mpr_formblock {
        width: 100%;
        padding: 0
    }
}

@media (max-width:767px) {
    .mpr_img {
        height: calc(100vw - 40px) !important
    }

    .mpr_formblock_content,
    .mpr_text {
        padding-left: 20px;
        padding-right: 20px
    }

    .mpr_form_input input {
        padding-left: 20px;
        font-size: 16px;
        height: 60px
    }

    .ui-selectmenu-button.mpr_form_select_button {
        height: 60px;
        font-size: 16px;
        padding: 21px 98px 20px 20px
    }

    .ui-selectmenu-menu.mpr_form_select_menu .ui-menu .ui-menu-item-wrapper {
        padding: 11px 20px
    }

    .ui-selectmenu-menu.mpr_form_select_menu .ui-menu {
        font-size: 16px
    }
}

@media (max-width:479px) {
    .payperclickpage .button {
        width: 100%
    }

    .mpr_form_button .button,
    .mpr_formblock_content,
    .mpr_text {
        padding-left: 10px;
        padding-right: 10px
    }
}

.section_cps {
    background: 0 0;
    padding: 10px 20px
}

.cps_inner {
    background: #1f1f21;
    padding-top: 40px
}

.cps_title {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-family: Helvetica;
    position: relative;
    padding-bottom: 50px;
    letter-spacing: .02em;
    z-index: 3
}

.cps_title:after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background: #4e4e4e;
    position: absolute;
    left: 50%;
    bottom: 0
}

.cps_content {
    position: relative;
    padding-top: 76px;
    padding-bottom: 130px
}

.cps_text {
    padding: 0 50px;
    max-width: 580px;
    width: 100%;
    position: relative;
    z-index: 2
}

.cps_item {
    position: relative;
    padding-left: 92px
}

.cps_item:before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../img/cps_item.png) center/21px auto no-repeat #2a2a2b;
    position: absolute;
    left: 0;
    top: 8px
}

.cps_item+.cps_item {
    margin-top: 28px
}

.cps_item_title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .08em
}

.cps_list {
    margin-bottom: 98px
}

.cps_button .button {
    height: 60px;
    line-height: 56px;
    width: 100%;
    max-width: 300px;
    letter-spacing: .2em
}

.cps_img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding-left: 40px;
    padding-right: 20px;
    z-index: 1
}

@media (max-width:767px) {
    .cps_img {
        width: 100%;
        padding-left: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .cps_content {
        padding-top: 48px;
        padding-bottom: 96px
    }

    .cps_text {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    .cps_item {
        padding-left: 0;
        padding-top: 76px
    }

    .cps_item:before {
        width: 48px;
        height: 48px;
        left: 50%;
        margin-left: -24px;
        top: 0
    }

    .cps_title {
        padding-bottom: 0
    }

    .cps_title:after {
        display: none
    }

    .cps_list {
        margin-bottom: 0;
        padding-bottom: 98px
    }

    .cps_list .owl-nav {
        position: absolute;
        left: 0;
        bottom: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%
    }

    .cps_list .owl-nav button.owl-next,
    .cps_list .owl-nav button.owl-prev {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 10px
    }
}

.section_lfb {
    padding: 10px;
    background: 0 0
}

.lfb_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #1f1f21;
    border-left: 10px solid #181819;
    border-right: 10px solid #181819;
    position: relative
}

.lfb_row:nth-child(odd) .lfb_img {
    border-right: 10px solid #181819
}

.lfb_row:nth-child(odd) .lfb_text {
    border-left: 10px solid #181819
}

.lfb_row:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.lfb_row:nth-child(even) .lfb_img {
    border-left: 10px solid #181819
}

.lfb_row:nth-child(even) .lfb_text {
    border-right: 10px solid #181819
}

.lfb_img {
    width: 50%;
    background: center/cover no-repeat;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch
}

.lfb_text {
    width: 50%;
    padding: 79px 50px 96px
}

.lfb_text p {
    margin-bottom: 44px
}

.lfb_text .button {
    height: 60px;
    line-height: 56px;
    letter-spacing: .2em;
    min-width: 180px
}

.lfb_title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .02em;
    text-transform: uppercase;
    margin-bottom: 32px
}

@media (max-width:1279px) {
    .lfb_text {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1023px) {
    .section_lfb {
        padding-right: 20px;
        padding-left: 20px
    }

    .lfb_row {
        display: block;
        border-left: none;
        border-right: none
    }

    .lfb_row:nth-child(odd) .lfb_img {
        border-right: none
    }

    .lfb_row:nth-child(odd) .lfb_text {
        border-left: none
    }

    .lfb_row:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .lfb_row:nth-child(even) .lfb_img {
        border-left: none
    }

    .lfb_row:nth-child(even) .lfb_text {
        border-right: none
    }

    .lfb_img {
        width: 100%;
        height: calc(100vw - 40px)
    }

    .lfb_text {
        width: 100%;
        max-width: 560px
    }
}

@media (max-width:767px) {
    .lfb_text {
        padding-left: 20px;
        padding-right: 20px
    }

    .lfb_title {
        font-size: 24px;
        line-height: 26px
    }
}

.section_fullservice {
    background: 0 0;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 138px
}

.fullservice_title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 78px;
    margin-bottom: 19px
}

.fullservice_title:after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background: #4e4e4e;
    position: absolute;
    left: 50%;
    bottom: 0
}

.fullservice_item {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto
}

.fullservice_number {
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #242425;
    line-height: 60px;
    margin: 0 auto 21px;
    font-size: 24px;
    font-weight: 700
}

.fullservice_item_title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 30px
}

.fullservice_list {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:1279px) {
    .fullservice_item {
        max-width: none
    }
}

@media (max-width:767px) {
    .fullservice_item {
        padding-left: 80px;
        padding-right: 80px
    }

    .section_fullservice {
        padding-top: 72px;
        padding-bottom: 96px
    }

    .fullservice_title {
        font-size: 24px;
        line-height: 26px;
        padding-bottom: 0
    }

    .fullservice_title:after {
        display: none
    }

    .fullservice_number {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 20px
    }
}

.section_feedback {
    padding: 10px 20px;
    background: 0 0
}

.feedback_inner {
    background: #1f1f21;
    padding: 132px 40px 110px
}

.feedback_content {
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 20px
}

.feedback_content:before {
    content: '';
    display: block;
    width: 54px;
    height: 44px;
    background: url(../img/quote1.png) center/contain no-repeat;
    position: absolute;
    left: 0;
    top: 0
}

.feedback_content:after {
    content: '';
    display: block;
    width: 54px;
    height: 44px;
    background: url(../img/quote2.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    bottom: 20px
}

.feedback_text {
    position: relative;
    padding-left: 180px
}

.feedback_text p {
    line-height: 36px;
    color: #a4a4a4
}

.feedback_photo {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -16px;
    background: center/cover no-repeat
}

.feedback_title {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .05em;
    margin-bottom: 7px
}

@media (max-width:1279px) {
    .feedback_content {
        padding-left: 80px;
        padding-right: 80px
    }
}

@media (max-width:767px) {
    .feedback_inner {
        padding: 76px 20px 96px
    }

    .feedback_content {
        padding: 0
    }

    .feedback_content:after,
    .feedback_content:before {
        display: none
    }

    .feedback_text {
        padding-left: 0;
        text-align: center
    }

    .feedback_photo {
        position: static;
        width: 80px;
        height: 80px;
        margin: 0 auto 18px
    }
}

.section_ppccontants {
    background: 0 0;
    padding: 110px 20px 60px
}

.ppccontants_innner {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px
}

.ppc_client {
    width: 100%;
    padding: 0 20px;
    opacity: .2;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.ppc_client:hover {
    opacity: 1
}

@media (pointer:coarse) {
    .ppc_client {
        opacity: 1
    }
}

.ppc_client_logo {
    display: block;
    height: 80px;
    width: 100%;
    background: center/contain no-repeat
}

.ppccontants_buttons {
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.ppccontants_buttons .button {
    display: block;
    width: 100%;
    letter-spacing: .2em;
    height: 60px;
    line-height: 56px
}

.ppccontants_buttons .button+.button {
    margin-top: 20px
}

.button_blue {
    color: #fff;
    border-color: #6965d8;
    background: #6965d8
}

.button_blue:hover {
    color: #181819;
    border-color: #fff;
    background: #fff
}

.button_purple {
    color: #fff;
    border-color: #9f62e0;
    background: #9f62e0
}

.button_purple:hover {
    color: #181819;
    border-color: #fff;
    background: #fff
}

.ppccontants_socials {
    background: #1f1f21;
    padding: 60px 40px
}

.ppccontants_socials ul {
    max-width: 680px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.ppccontants_socials ul a {
    display: block;
    height: 18px;
    width: 21px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.ppccontants_socials ul a:hover {
    opacity: .2
}

.ppc_clients {
    margin-bottom: 120px
}

@media (max-width:1279px) {
    .ppc_clients {
        padding-left: 80px;
        padding-right: 80px
    }
}

@media (max-width:767px) {
    .ppc_client {
        padding-left: 10px;
        padding-right: 10px
    }

    .ppc_clients {
        padding-left: 60px;
        padding-right: 60px
    }

    .ppccontants_socials {
        padding: 40px 20px
    }

    .ppc_clients,
    .ppccontants_innner {
        margin-bottom: 60px
    }

    .section_ppccontants {
        padding-top: 76px
    }
}

.payperclickheader {
    display: block;
    position: static
}

.payperclick_header {
    max-width: 1420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px
}

.ppc_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 53px 50px 53px 43px;
    margin-bottom: 5px
}

.ppc_header .header_phone {
    width: 0;
    display: none;
    overflow: hidden
}

.ppc_header_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.ppc_header_logo {
    display: block;
    width: 240px;
    height: 51px;
    margin-right: 40px;
    background: url(../img/ppc_header_logo.png) center/contain no-repeat
}

.ppc_header_logo_title {
    font-size: 20px;
    letter-spacing: .02em;
    font-weight: 600
}

.ppc_header_menu {
    background: #1f1f21;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 58px 0
}

.ppc_header_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .015em;
    padding: 0 43px
}

.ppc_header_link a {
    position: relative
}

.ppc_header_link a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -14px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.ppc_header_link a:hover:after {
    width: 100%
}

.ppc_header_call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .02em;
    padding-left: 37px;
    padding-right: 47px;
    position: relative;
    margin-left: 54px
}

.ppc_header_call:before {
    content: '';
    display: block;
    width: 1px;
    height: 50px;
    background: #4e4e4e;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px
}

.ppc_header_call_title {
    position: relative;
    padding-left: 43px;
    margin-right: 28px
}

.ppc_header_call_title:before {
    content: '';
    display: block;
    width: 18px;
    height: 30px;
    background: url(../img/ppc_header_call_title.png) center/contain no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px
}

@media (max-width:1279px) {
    .ppc_header_logo_title {
        display: none
    }

    .ppc_header {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0
    }

    .ppc_header .header_phone {
        display: block;
        width: auto;
        margin-left: auto;
        overflow: visible
    }

    .ppc_header_menu {
        display: none
    }

    .ppc_header_logo {
        width: 88px;
        height: 32px;
        background: url(../img/logo.png) left center/contain no-repeat
    }
}

@media (max-width:767px) {
    .ppc_header .header_phone {
        display: none
    }

    .ppc_header {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .payperclick_header {
        padding-left: 20px;
        padding-right: 20px
    }
}

.payperclickheader.opened .ppc_header_menu {
    display: none !important
}

.payperclickheader .menu {
    height: calc(100vh - 138px)
}