.request_popup {
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.request_popup .popup_content {
    position: relative;
    padding: 92px 0 110px;
    background: 0 0
}

.request_popup .modal-content {
    background: 0 0
}

.request_popup_top {
    text-align: center;
    padding: 0 48px;
    position: relative;
    margin-bottom: 66px
}

.request_popup_top .popup_close {
    right: 0;
    top: 50%;
    margin-top: -17px
}

.popup_top_title {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .77em;
    color: #fff
}

.popup_close {
    display: block;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
    top: -56px;
    border-radius: 50%;
    cursor: pointer;
    background: url(../img/crosswhite.png) center/contain no-repeat;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.popup_close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.request_popup_content {
    background: #1a1a1b;
    padding: 70px 80px 0;
    position: relative
}

.request_popup_head_nav {
    position: absolute;
    right: 0;
    top: 77px;
    z-index: 2;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em;
    padding: 0 80px
}

.request_popup_head_nav a {
    position: relative;
    margin-left: 92px
}

.request_popup_head_nav a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -12px
}

.request_popup_head_nav a.active:after,
.request_popup_head_nav a:hover:after {
    width: 100%
}

.request_popup_title {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: .02em;
    margin-bottom: 29px
}

.request_popup .row {
    margin-left: -10px;
    margin-right: -10px
}

.request_popup [class*=col-] {
    padding: 5px 10px
}

.request_popup .footer_feedback_input {
    height: 50px
}

.request_popup .ui-selectmenu-button.ui-button {
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 0
}

.request_popup .footer_feedback_textarea {
    padding-top: 12px;
    padding-bottom: 12px
}

.request_popup_form_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .02em
}

.request_popup_jobdate .request_popup_form_title {
    margin-bottom: 12px
}

.request_popup_jobdate_radio {
    line-height: 50px
}

.request_popup_jobdate_radio .custom_radio {
    margin-right: 48px;
    white-space: nowrap
}

.request_popup_jobdate_date input {
    text-align: center
}

.request_popup_bottom {
    margin-left: -80px;
    margin-right: -80px;
    padding: 32px 80px;
    background: #1f1f20
}

.request_popup_input {
    display: inline-block;
    height: 50px;
    line-height: 48px;
    padding: 0 32px;
    text-transform: none;
    letter-spacing: .02em;
    min-width: 120px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    border-width: 1px;
    font-weight: 400
}

.request_popup_bottom_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.rowcenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.request_popup_buttons {
    text-align: center;
    margin-top: 60px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%
}

.request_popup_buttons .button {
    height: 50px;
    line-height: 46px
}

.request_popup_jobdate {
    padding-top: 32px;
    padding-bottom: 42px
}

.login_popup {
    max-width: 528px;
    margin-left: auto;
    margin-right: auto
}

.modal-content {
    background: #1a1a1b;
    color: #fff;
    border: none;
    border-radius: 0
}

.popup_content {
    padding: 60px 72px
}

.popup_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: .007em
}

.title13 {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .007em;
    margin-bottom: 12px
}

.input_border {
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
    border: 1px solid #4b4b4b;
    letter-spacing: .007em;
    display: block;
    height: 72px;
    width: 100%
}

.input_border:focus {
    border: 1px solid #fff
}

.popup_title+form {
    margin-top: 52px
}

.popup_form_group+.popup_form_group {
    margin-top: 32px
}

.popup_form_button .button {
    width: 100%
}

.popup_bottom_text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-top: 42px
}

.popup_form_group+.popup_form_button {
    margin-top: 57px
}

.dropzonepreview,
.dropzonepreview2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px
}

.request_popup_uploadimage-img {
    height: 76px;
    width: auto;
    margin: 0 auto 12px
}

.request_popup_uploadimage-name {
    display: block;
    width: 100%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    letter-spacing: .02em
}

.request_popup_uploadimage {
    max-width: 76px;
    margin: 10px;
    position: relative
}

.request_popup_uploadimage-remove {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/crosswhite.png) center 16px/48px auto no-repeat rgba(26, 26, 26, .3);
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    opacity: 0;
    cursor: pointer
}

.request_popup_uploadimage-remove:hover {
    opacity: 1
}

.video_popup {
    width: 100%;
    height: 640px;
    margin-left: auto;
    margin-right: auto
}

.video_popup iframe {
    width: 100%;
    height: 100%
}

@media (max-width:1279px) {
    .request_popup_content {
        padding-left: 40px;
        padding-right: 40px
    }

    .video_popup {
        width: 90vw;
        height: 50.625vw
    }

    .request_popup_head_nav {
        position: static;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 40px
    }

    .request_popup_head_nav a {
        margin-left: 0;
        margin-right: 48px
    }
}

@media (max-width:767px) {

    .login_popup .popup_content,
    .request_popup_content {
        padding-left: 20px;
        padding-right: 20px
    }

    .popup_content {
        padding: 60px 40px
    }
}

@media (max-width:479px) {
    .request_popup_head_nav a {
        margin: 20px 0
    }

    .popup_content {
        padding: 60px 20px
    }
}

.request_popup_content iframe {
    min-height: 1000px;
    margin-bottom: 40px
}