.portfoliopage {
    background: url(../img/awardsbrandspage.jpg) center top/100% auto no-repeat #1b1b1c
}

.portfoliopage .section_title {
    background: 0 0
}

.section_projects {
    background: 0 0;
    padding: 44px 80px 80px;
    color: #fff
}

.projects_filter_reset {
    text-align: right;
    font-size: 16px;
    letter-spacing: .02em;
    color: #acacac;
    font-weight: 600;
    margin-bottom: 5px
}

.projects_filter_reset span {
    display: inline-block;
    position: relative;
    padding-right: 24px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    cursor: pointer
}

.projects_filter_reset span i {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.projects_filter_reset span i:before {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background: #acacac;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.projects_filter_reset span i:after {
    content: '';
    display: block;
    width: 2px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: #acacac;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.projects_filter_reset span:hover {
    color: #fff
}

.projects_filter_reset span:hover i:after,
.projects_filter_reset span:hover i:before {
    background: #fff
}

.ui-selectmenu-button.ui-button.projects_filter_select {
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 0;
    background: #303031;
    padding: 31px 40px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em
}

.projects {
    margin-top: 64px
}

.ui-selectmenu-menu.projects_filter_select_menu .ui-menu {
    background: 0 0;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em
}

.ui-selectmenu-menu.projects_filter_select_menu .ui-menu .ui-menu-item {
    margin-top: 1px
}

.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
    background: #242425;
    color: #acacac;
    padding: 25px 40px 24px
}

.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper.ui-state-active {
    background: #303031;
    font-weight: 600;
    color: #fff
}

.projects_filter .row {
    margin-left: -5px;
    margin-right: -5px
}

.projects_filter [class*=col-] {
    padding: 10px 5px
}

.projects_list .row {
    margin-left: -20px;
    margin-right: -20px
}

.projects_list .row [class*=col-] {
    padding: 20px
}

.projects_list .row .row [class*=col-] {
    padding: 0 20px
}

.projects_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 25vw
}

.projects_item_img {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: center/cover no-repeat #242425;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    opacity: 1
}

.projects_text_bigimage {
    background: center/cover no-repeat #242425;
    height: 100%
}

.projects_text_video {
    width: 100%;
    min-height: 25vw;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background: #242425;
    overflow: hidden
}

.projects_text_video video {
    display: block;
    width: 100%
}

.projects_text_video+.projects_textitem {
    margin-top: 40px
}

.projects_item_text {
    height: 100px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #303031;
    padding: 19px 40px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.projects_item_name {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .02em;
    font-weight: 600;
    margin-bottom: 2px
}

.projects_item_quantity {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .02em;
    color: #9a9896
}

.projects_group h2 {
    margin-bottom: 55px
}

.projects_group+.projects_group {
    margin-top: 87px
}

.projects_list {
    margin-bottom: 20px
}

.projects_all_button .button {
    letter-spacing: 0
}

.projects_showmore_areas {
    MARGIN-TOP: 77PX;
    TEXT-ALIGN: CENTER
}

.projects_showmore_areas .BUTTON {
    WIDTH: 100%;
    MAX-WIDTH: 800PX
}

.projects_item_img:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #151515;
    opacity: 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.projects_item:hover .projects_item_text {
    background: #fff;
    color: #1a1a1b
}

.projects_item:hover .projects_item_img:before {
    opacity: .6
}

@media (max-width:1439px) {
    .projects_item_text {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:1279px) {
    .section_projects {
        padding: 14px 40px 80px
    }

    .projects_filter {
        margin-bottom: 87px
    }

    .projects_group h2 {
        margin-bottom: 49px
    }

    .projects_item {
        height: 60vw
    }

    .projects_item_text {
        padding-left: 40px;
        padding-right: 40px
    }

    .projects_list .row {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr
    }

    .projects_list .row .col-md-6 {
        grid-column: span 2
    }

    .projects_list .row .col-md-3,
    .projects_list>.row>.col-sm-6 {
        grid-column: span 1;
        max-width: 100%
    }

    .projects_group+.projects_group {
        margin-top: 120px
    }
}

@media (max-width:767px) {
    .section_projects {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px
    }

    .projects_list>.row {
        display: block
    }

    .projects_list>.row>[class*=col-] {
        padding: 10px 20px;
        display: none
    }

    .ui-selectmenu-button.ui-button.projects_filter_select {
        height: 60px;
        padding: 21px 30px;
        letter-spacing: 0
    }

    .projects_filter [class*=col-] {
        padding: 5px
    }

    .projects {
        margin-top: 43px
    }

    .projects_group h2 {
        margin-bottom: 20px
    }

    .projects_item {
        height: 90vw
    }

    .projects_item_text {
        padding-left: 20px;
        padding-right: 20px
    }

    .projects_all_button {
        text-align: center
    }

    .projects_group+.projects_group {
        margin-top: 46px
    }

    .projects_list>.row>[class*=col-]:nth-child(-n+2) {
        display: block
    }

    .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
        padding: 21px 30px
    }
}

@media (max-width:479px) {
    .projects_all_button .button {
        width: 100%
    }
}

.projects_textitem {
    background: #242425;
    min-height: 25vw;
    padding: 53px 40px 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.projects_textitem+.projects_textitem_smallimages {
    margin-top: 40px
}

.projects_textitem_title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: .02em;
    margin-bottom: 32px
}

.projects_textitem_p {
    margin-bottom: 30px
}

.projects_textitem_buttons {
    margin: auto -5px -5px
}

.projects_textitem_buttons .button {
    margin: 5px
}

@media (max-width:1439px) {
    .projects_textitem_smallimages {
        display: none !important
    }

    .projects_textitem {
        margin-bottom: 0
    }

    .projects_textitem_buttons .button {
        min-width: 180px
    }
}

@media (max-width:1279px) {
    .projects_text_bigimage {
        height: 60vw
    }

    .projects_textitem_buttons .button {
        width: calc(50% - 10px)
    }

    .projects_list .row.projects_text_row {
        display: block
    }

    .projects_text_video {
        height: auto
    }
}

@media (max-width:767px) {
    .projects_textitem {
        padding: 32px 20px 40px
    }

    .projects_textitem_title {
        margin-bottom: 20px
    }

    .projects_text_video+.projects_textitem {
        margin-top: 20px
    }
}

@media (max-width:479px) {
    .projects_textitem_buttons {
        margin: auto 0 0
    }

    .projects_textitem_buttons .button {
        width: 100%;
        margin: 0
    }

    .projects_textitem_buttons .button+.button {
        margin-top: 10px
    }
}

.projects_text_video_play {
    border-radius: 50%;
    background: #fff;
    width: 104px;
    height: 104px;
    z-index: 3;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -52px;
    margin-top: -52px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    cursor: pointer
}

.projects_text_video_play:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 40px solid #2c2c2e;
    border-bottom: 24px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -14px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.projects_text_video_play:hover {
    background: #2c2c2e
}

.projects_text_video_play:hover:before {
    border-left-color: #fff
}

@media (max-width:767px) {
    .projects_text_video_play {
        width: 72px;
        height: 72px;
        margin-left: -36px;
        margin-top: -36px
    }

    .projects_text_video_play:before {
        border-top: 12px solid transparent;
        border-left: 20px solid #2c2c2e;
        border-bottom: 12px solid transparent;
        margin-top: -12px;
        margin-left: -10px
    }
}

.projects_item_img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.projects_item_view {
    position: relative;
    z-index: 2;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    height: 60px;
    line-height: 56px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 24px;
    text-transform: uppercase;
    letter-spacing: .08em;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    min-width: 180px;
    opacity: 0
}

.projects_item:hover .projects_item_view {
    opacity: 1
}