.premediaservicespage {
    background: url(../img/premediaservicespage.jpg) center top/100% auto no-repeat #1b1b1c
}

.premediaservicespage h1 {
    max-width: 680px
}

@media (max-width:1599px) {
    .premediaservicespage {
        background-size: auto
    }
}

.section_premediaservices {
    padding-top: 10px
}

.premediaservices_image {
    position: absolute;
    top: 60px;
    right: 85px;
    z-index: 1;
    overflow: hidden
}

.premediaservices_img_img {
    display: block;
    width: 61.145833vw;
    height: 38.4375vw;
    background: url(../img/premediaservices_img.png) center top/contain no-repeat
}

.section_premediaservices_bottomcontent {
    margin-left: 160px;
    margin-top: 80px;
    padding-bottom: 0;
    z-index: 3;
    position: relative
}

.section_premediaservices_bottomtext {
    max-width: 560px;
    border: 5px solid #fff;
    padding: 68px 24px 66px 72px;
    font-size: 84px;
    line-height: 112px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .03em
}

@media (max-width:1599px) {
    .premediaservices_image {
        right: 40px
    }

    .section_premediaservices .fileretouching_express_left .contentleft {
        max-width: 500px
    }

    .section_premediaservices_bottomcontent {
        margin-left: 80px
    }
}

@media (max-width:1279px) {
    .premediaservices_image {
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: -28px
    }

    .premediaservices_img_img {
        width: 100%;
        height: 62.5vw
    }

    .premediaservices_img {
        padding-right: 26px
    }

    .section_premediaservices {
        padding-top: 80px
    }

    .section_premediaservices_bottomcontent {
        padding-top: 40px;
        margin-top: 0;
        margin-left: 40px
    }

    .section_premediaservices_bottomtext {
        font-size: 61px;
        line-height: 81px;
        padding: 55px 24px 92px 74px;
        max-width: 560px
    }
}

@media (max-width:767px) {
    .section_premediaservices {
        padding-top: 68px
    }

    .premediaservices_img {
        padding-right: 6px
    }

    .premediaservices_image {
        margin-bottom: 14px
    }

    .section_premediaservices_bottomcontent {
        margin-left: 0;
        padding-top: 60px
    }

    .section_premediaservices_bottomtext {
        max-width: 420px;
        width: 100%;
        font-size: 35px;
        line-height: 46px;
        padding: 39px 24px 39px 41px
    }

    .section_premediaservices {
        padding-bottom: 58px
    }
}

.section_premediaservices_steps {
    margin-top: -240px;
    padding-bottom: 80px
}

.section_premediaservices_steps_img {
    height: 44.7916667vw;
    background: url(../img/section_premediaservices_steps_img.png) 75% top/contain no-repeat;
    position: relative;
    top: -7.3vw;
    z-index: 2;
    margin-bottom: -1.777083vw
}

.premediaservices_steps_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 90px auto 110px
}

.premediaservices_steps_list li {
    position: relative;
    padding-left: 28px;
    text-align: left;
    padding-right: 40px;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin: 30px 0
}

.premediaservices_steps_list li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 10px
}

@media (max-width:1279px) {
    .section_premediaservices_steps {
        padding-top: 100px
    }

    .premediaservices_steps_list {
        margin: 75px auto 96px
    }

    .premediaservices_steps_list li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin: 15px 0
    }

    .section_premediaservices_steps_img {
        top: 0;
        height: 60vw;
        margin-bottom: 6vw
    }
}

@media (max-width:767px) {
    .premediaservicespage .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_premediaservices_steps {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 60px
    }

    .section_premediaservices_steps_img {
        height: 63vw;
        background-position: center top;
        margin-bottom: 18.5vw
    }

    .premediaservices_steps_list {
        display: block;
        margin-top: 38px;
        margin-bottom: 48px
    }

    .premediaservices_steps_list li {
        margin: 0;
        padding-right: 0
    }

    .premediaservices_steps_list li+li {
        margin-top: 30px
    }
}

@media (max-width:479px) {
    .premediaservices_steps_button .button {
        width: 100%
    }
}