@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.eot);
    src: url(../fonts/Helvetica.eot?#iefix) format("embedded-opentype"), url(../fonts/Helvetica.woff2) format("woff2"), url(../fonts/Helvetica.woff) format("woff"), url(../fonts/Helvetica.ttf) format("truetype"), url(../fonts/Helvetica.svg#Helvetica) format("svg");
    font-weight: 400;
    font-style: normal
}

.preventivepage {
    background: url(../img/payperclickpage.jpg) right top no-repeat #181819;
    color: #fff
}

.preventivepage .section_title {
    background: 0 0
}

.preventivepage h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .02em
}

.preventivepage section {
    background: 0 0
}

.wrapper1440 {
    max-width: 1440px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

.prevent_section {
    padding-top: 10px;
    padding-bottom: 10px
}

.prevent_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.prevent_left {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%
}

.prevent_left_img {
    padding: 10px
}

.prevent_left__img {
    width: 100%;
    height: 522px;
    background: url(../img/prevent_left_img.jpg) center/cover no-repeat
}

.prevent_left_text {
    padding: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%
}

.prevent_left__text {
    background: #242426;
    padding: 80px 50px 60px
}

.prevent_left__text h2 {
    margin-bottom: 25px
}

.prevent_left__text p {
    margin-bottom: 40px
}

.prevent_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 10px
}

.prevent_request {
    background: url(../img/prevent_right.jpg) center/cover no-repeat;
    width: 100%;
    min-height: 100%;
    padding: 80px 50px 60px
}

.prevent_request_title2 {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .02em;
    margin-top: 20px;
    margin-bottom: 19px
}

.prevent_form_group+.prevent_form_group {
    margin-top: 20px
}

.prevent_form_input {
    background: rgba(255, 255, 255, .2);
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    display: block;
    width: 100%;
    height: 80px;
    padding: 0 80px 0 35px;
    font-size: 20px;
    font-family: Helvetica;
    color: #fff;
    border: 2px solid transparent
}

.prevent_form_input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.prevent_form_input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.prevent_form_input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.prevent_form_input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.prevent_form_input::placeholder {
    color: #fff;
    opacity: 1
}

.prevent_form_input:focus {
    background: #fff
}

.prevent_form_button {
    margin-top: 46px
}

.prevent_form_button .button {
    width: 100%
}

.prevent_form_group label {
    display: block;
    width: 100%;
    position: relative
}

.prevent_form_group label.noempty input,
.prevent_form_group label.valid input {
    background: #fff;
    color: #181819
}

.prevent_form_group label.valid:after {
    content: '';
    display: block;
    width: 64px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/input_valid.png) center/21px auto no-repeat;
    z-index: 2
}

.prevent_form_group label.invalid input {
    border-color: #ff87cb !important;
    background: rgba(255, 135, 203, .3) !important;
    color: #fff !important
}

.prevent_form_group label.invalid:after {
    content: '';
    display: block;
    width: 64px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/input_invalid.png) center/15px auto no-repeat;
    z-index: 2
}

.ui-selectmenu-button.prevent_form_select_button {
    display: block;
    width: 100%;
    margin-top: 30px;
    height: 80px;
    background: rgba(255, 255, 255, .2);
    border-radius: 0;
    font-size: 20px;
    font-family: Helvetica;
    padding: 26px 96px 26px 34px;
    border: 2px solid transparent
}

.ui-selectmenu-button.prevent_form_select_button .ui-selectmenu-icon.ui-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 100%;
    background: url(../img/mpr_form_select.png) center/14px auto no-repeat;
    border-left: 1px solid rgba(255, 255, 255, .2)
}

.ui-selectmenu-button.prevent_form_select_button .ui-selectmenu-text {
    margin-right: 0
}

.ui-selectmenu-button.prevent_form_select_button.ui-selectmenu-button-open {
    background: #fff;
    color: #181819
}

.ui-selectmenu-button.prevent_form_select_button.ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon {
    display: none
}

.ui-selectmenu-menu.prevent_form_select_menu .ui-menu {
    background: #fff;
    color: #181819;
    border: none;
    border-top: 1px solid #181819;
    border-radius: 0;
    font-family: Helvetica;
    font-size: 20px
}

.ui-selectmenu-menu.prevent_form_select_menu .ui-menu .ui-menu-item-wrapper {
    padding: 11px 36px
}

.prevent_form_group .invalid .ui-selectmenu-button.prevent_form_select_button {
    border-color: #ff87cb;
    background: rgba(255, 135, 203, .3)
}

.prevent_form_group .invalid .ui-selectmenu-button.prevent_form_select_button .ui-selectmenu-icon.ui-icon {
    background: url(../img/input_invalid.png) center/15px auto no-repeat
}

@media (max-width:1439px) {

    .prevent_left__text,
    .prevent_request {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:1279px) {
    .prevent_flex {
        display: block
    }

    .prevent_left__img {
        height: 72.5vw !important
    }

    .prevent_left_img,
    .prevent_left_text,
    .prevent_right {
        padding-left: 0;
        padding-right: 0
    }

    .prevent_left__text,
    .prevent_request {
        padding-left: 50px;
        padding-right: 50px
    }
}

@media (max-width:767px) {
    .ui-selectmenu-button.prevent_form_select_button {
        height: 60px;
        font-size: 16px;
        padding: 21px 98px 20px 20px;
        margin-top: 20px
    }

    .ui-selectmenu-menu.prevent_form_select_menu .ui-menu .ui-menu-item-wrapper {
        padding: 11px 20px
    }

    .ui-selectmenu-menu.prevent_form_select_menu .ui-menu {
        font-size: 16px
    }

    .preventivepage h2 {
        font-size: 24px;
        line-height: 36px
    }

    .prevent_left__text,
    .prevent_request {
        padding-left: 20px;
        padding-right: 20px
    }

    .prevent_form_input {
        height: 60px;
        padding-left: 20px;
        padding-right: 50px;
        font-size: 19px
    }

    .prevent_request_title2 {
        margin-top: 0
    }
}

@media (max-width:359px) {
    .wrapper1440 {
        padding-left: 10px;
        padding-right: 10px
    }
}

.section_fullservice h2 {
    position: relative;
    padding-bottom: 78px;
    margin-bottom: 19px
}

.section_fullservice h2:after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background: #4e4e4e;
    position: absolute;
    left: 50%;
    bottom: 0
}

@media (max-width:767px) {
    .section_fullservice h2 {
        padding-bottom: 0
    }

    .section_fullservice h2:after {
        display: none
    }
}

.fullservice_item p {
    color: #a4a4a4
}

.pricecalculator_group>.row {
    margin-left: -20px;
    margin-right: -20px
}

.pricecalculator_group>.row>[class*=col-] {
    padding: 26px 20px
}

.pricecalculator_group .row .row {
    margin-left: -10px;
    margin-right: -10px
}

.pricecalculator_group .row .row>[class*=col-] {
    padding-left: 10px;
    padding-right: 10px
}

.pricecalculator_title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .02em;
    font-weight: 700;
    min-height: 36px;
    margin-bottom: 29px
}

.ui-selectmenu-button.ui-button.pricecalculator_select_button {
    display: block;
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: #fff;
    border: none;
    color: #1f1f21;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: .02em;
    border-radius: 0
}

.ui-selectmenu-button.ui-button.pricecalculator_select_button .ui-selectmenu-text {
    margin-right: 0;
    padding: 22px 60px 22px 20px
}

.ui-selectmenu-button.ui-button.pricecalculator_select_button .ui-selectmenu-icon {
    display: block;
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #cacaca;
    background: url(../img/select_doublearrow.png) center/14px auto no-repeat
}

.ui-selectmenu-menu.pricecalculator_select_menu .ui-menu {
    background: #fff;
    border: none;
    border-top: 1px solid #cacaca;
    color: #1f1f21;
    border-radius: 0
}

.ui-selectmenu-menu.pricecalculator_select_menu .ui-menu .ui-menu-item-wrapper.ui-state-active {
    background: #181819;
    border-color: #181819;
    color: #fff
}

.pricecalculator_input {
    display: block;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: .02em;
    background: #fff;
    color: #1f1f21
}

.pricecalculator_input::-webkit-input-placeholder {
    color: #1f1f21;
    opacity: 1
}

.pricecalculator_input::-moz-placeholder {
    color: #1f1f21;
    opacity: 1
}

.pricecalculator_input:-ms-input-placeholder {
    color: #1f1f21;
    opacity: 1
}

.pricecalculator_input::-ms-input-placeholder {
    color: #1f1f21;
    opacity: 1
}

.pricecalculator_input::placeholder {
    color: #1f1f21;
    opacity: 1
}

.pricecalculator_group {
    background: #242426;
    padding: 25px 50px 36px
}

.pricecalculator_group h2 {
    margin-bottom: 50px;
    margin-top: 50px
}

.pricecalculator_colplus {
    position: relative
}

.pricecalculator__colplus {
    display: block;
    width: 12px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: -6px;
    bottom: 39px
}

.pricecalculator__colplus:before {
    content: '';
    display: block;
    width: 2px;
    height: 12px;
    position: absolute;
    left: 5px;
    top: -5px;
    background: #fff
}

.pricecalculator_checkbox {
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: .02em;
    cursor: pointer
}

.pricecalculator_checkbox input {
    display: none !important
}

.pricecalculator_checkbox span {
    display: block;
    position: relative;
    padding-left: 35px
}

.pricecalculator_checkbox span:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 6px;
    background: center/18px auto no-repeat #8d43fa
}

.pricecalculator_checkbox input:checked+span:before {
    background-image: url(../img/checkbox.png)
}

.pricecalculator_checkbox.uppercase {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .2em
}

.pricecalculator_checkbox.uppercase span {
    padding-left: 45px
}

.pricecalculator_title .pricecalculator_checkbox {
    margin-left: 60px
}

.pricecalculator_checkbox_full {
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px
}

.pricecalculator_checkbox_full label {
    line-height: 36px;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 60px;
    padding: 12px 24px;
    background: #373739;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .2em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.pricecalculator_checkbox_full label input {
    display: none !important
}

.pricecalculator_checkbox_full label span {
    display: inline-block;
    position: relative;
    padding-left: 35px
}

.pricecalculator_checkbox_full label span:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 6px;
    background: center/18px auto no-repeat #8d43fa
}

.pricecalculator_checkbox_full label input:checked+span:before {
    background-image: url(../img/checkbox.png)
}

.pricecalculator_group+.pricecalculator_group {
    margin-top: 20px
}

.pricecalculator_input+.pricecalculator_checkbox {
    margin-top: 24px
}

.pricecalculator_buttons .button {
    width: 100%
}

.pricecalculator_buttons .button_grey {
    background: #373739;
    border-radius: 10px;
    border-color: #373739
}

.pricecalculator_buttons .button_grey:hover {
    background: #8d43fa;
    border-color: #8d43fa;
    color: #fff
}

.pricecalculator_upload {
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid #343436;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 56px;
    text-align: center;
    font-weight: 700;
    letter-spacing: .02em;
    cursor: pointer;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.pricecalculator_upload:hover {
    background: #8d43fa;
    border-color: #8d43fa
}

.pricecalculator_upload input {
    display: none
}

.pricecalculator_upload span {
    text-align: center
}

.willreaching_title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .02em;
    margin-right: -30px;
    margin-bottom: 14px
}

.willreaching_check {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .02em;
    color: #747474;
    border-top: 1px solid #4f4f4f;
    padding-top: 8px
}

.willreaching_check a {
    color: #fff;
    border-bottom: 1px solid #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.willreaching_check a:hover {
    border-bottom-color: transparent
}

@media (max-width:1439px) and (min-width:1280px) {
    .pricecalculator_group {
        padding-left: 20px;
        padding-right: 20px
    }

    .willreaching_title {
        margin-right: 0
    }
}

.section_calculator {
    padding-bottom: 40px
}

.pricecalculator_form {
    padding-right: 10px;
    padding-left: 10px
}

@media (max-width:1279px) {
    .pricecalculator_form {
        padding-right: 0;
        padding-left: 0
    }

    .pricecalculator_group {
        padding-left: 20px;
        padding-right: 20px
    }

    .ui-selectmenu-button.ui-button.pricecalculator_select_button .ui-selectmenu-text {
        padding-right: 40px
    }

    .ui-selectmenu-button.ui-button.pricecalculator_select_button .ui-selectmenu-icon {
        width: 40px
    }
}

@media (max-width:767px) {
    .pricecalculator_group>.row>[class*=col-] {
        padding-top: 5px;
        padding-bottom: 5px
    }

    .pricecalculator_title {
        font-size: 14px;
        margin-bottom: 10px
    }

    .ui-selectmenu-button.ui-button.pricecalculator_select_button .ui-selectmenu-text {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 10px
    }

    .ui-selectmenu-button.ui-button.pricecalculator_select_button {
        height: 60px
    }

    .select2.select2-container--pricecalculator_select2 .select2-selection--single .select2-selection__rendered {
        padding-top: 11px;
        padding-bottom: 11px
    }

    .pricecalculator_input {
        height: 60px;
        padding-left: 10px
    }

    .pricecalculator_mobilerow {
        margin-top: 9px
    }

    .pricecalculator_group h2 {
        margin-bottom: 2px;
        margin-top: 0
    }

    .pricecalculator__colplus {
        bottom: 29px
    }

    .pricecalculator_title .pricecalculator_checkbox {
        margin-left: 0;
        display: block
    }

    .pricecalculator_checkbox_full label {
        padding-left: 10px;
        padding-right: 10px
    }

    .willreaching {
        padding-top: 24px
    }
}

@media (max-width:479px) {
    .pricecalculator_checkbox_full label {
        font-size: 10px
    }
}

.section_helpprevent {
    text-align: center;
    padding-top: 29px;
    padding-bottom: 10px
}

.section_helpprevent h2 {
    position: relative;
    padding-bottom: 21px;
    margin-bottom: 50px
}

.section_helpprevent h2:after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px
}

.helpprevent_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.helpprevent_item {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    padding: 10px
}

.helpprevent_img {
    position: relative;
    width: 100%;
    height: 376px
}

.helpprevent__img {
    background: center/cover no-repeat;
    width: 100%;
    height: 100%;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    opacity: .3
}

.helpprevent_icon {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/contact_address_item_icon_email.png) center/contain no-repeat #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -24px;
    z-index: 3
}

.helpprevent_text {
    background: #303031;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 190px;
    padding: 39px 20px
}

.helpprevent_title {
    font-size: 16px;
    line-height: 24px;
    font-family: Helvetica
}

.helpprevent_title2 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #9a9896
}

.helpprevent_item:hover .helpprevent__img {
    opacity: 1
}

@media (pointer:coarse) {
    .helpprevent__img {
        opacity: 1 !important
    }
}

@media (max-width:1279px) {
    .helpprevent_item {
        margin-left: auto;
        margin-right: auto;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%
    }
}

@media (max-width:767px) {
    .helpprevent_list {
        display: block
    }

    .helpprevent_img {
        height: 310px
    }

    .helpprevent_text {
        height: 160px
    }
}

.preventtext_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-right: 10px
}

.preventtext_row:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.preventtext_left,
.preventtext_right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    background: #242426
}

.preventtext_img {
    display: block;
    width: 100%;
    height: 100%;
    background: center/cover no-repeat
}

.preventtext_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 50px 90px;
    min-height: 557px
}

.preventtext_text h2 {
    margin-bottom: 59px
}

.preventtext_text p {
    margin-bottom: 45px;
    color: #a4a4a4
}

.preventtext_text p a {
    color: #fff;
    border-bottom: 1px solid #fff;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.preventtext_text p a:hover {
    border-bottom-color: transparent
}

.preventtext_text .preventtext_button {
    margin-top: auto
}

.preventtext_row+.preventtext_row {
    margin-top: 20px
}

@media (max-width:1279px) {
    .preventtext_row {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        padding-left: 0;
        padding-right: 0
    }

    .preventtext_img {
        height: 560px
    }

    .preventtext_text {
        max-width: 600px
    }
}

@media (max-width:767px) {
    .preventtext_img {
        height: 70vw
    }

    .preventtext_text {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
        min-height: 0
    }
}

.preventimage .row {
    margin: 0
}

.preventimage [class*=col-] {
    padding: 0
}

.preventimage .col-sm-6>.preventimage_img {
    height: 345px
}

.preventimage .col-12>.preventimage_img {
    height: 460px
}

.preventimage_img {
    background: center/cover no-repeat;
    display: block;
    width: 100%;
    height: 100%
}

.section_preventimage {
    padding-top: 20px
}

.preventimage {
    padding-left: 10px;
    padding-right: 10px
}

@media (max-width:1439px) {
    .preventimage .col-sm-6>.preventimage_img {
        height: 24.64285vw
    }

    .preventimage .col-12>.preventimage_img {
        height: 32.85714vw
    }
}

@media (max-width:1279px) {
    .preventimage {
        padding-left: 0;
        padding-right: 0
    }

    .preventimage .col-sm-6>.preventimage_img {
        height: 46.2962vw
    }

    .preventimage .col-12>.preventimage_img {
        height: 61.7284vw
    }
}

@media (max-width:767px) {
    .preventimage {
        padding-left: 0;
        padding-right: 0
    }

    .preventimage .col-12>.preventimage_img,
    .preventimage .col-sm-6>.preventimage_img {
        height: calc(100vw - 40px)
    }
}

.section_fullservice {
    padding-top: 140px
}

@media (max-width:1279px) {
    .fullservice_item {
        padding: 0 20px 60px
    }
}

.fullservice_list .owl-dots {
    bottom: 0
}

.feedback_content:before {
    display: block
}

@media (max-width:767px) {
    .feedback_text {
        text-align: left;
        padding-top: 80px
    }

    .feedback_title {
        font-size: 20px;
        line-height: 30px
    }

    .feedback_photo {
        position: absolute;
        top: -140px;
        left: 50%;
        width: 130px;
        height: 130px;
        margin-left: -75px
    }
}

.section_prevenfaq {
    padding: 20px
}

.section_prevenfaq h2 {
    text-align: center;
    position: relative;
    padding-bottom: 81px;
    margin-bottom: 51px
}

.section_prevenfaq h2:after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background: #4f4f4f;
    position: absolute;
    left: 50%;
    bottom: 0
}

.section_prevenfaq_inner {
    background: #242426
}

.prevenfaq {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    counter-reset: faq
}

.prevenfaq_item {
    background: #303031;
    color: #fff;
    border-bottom: 2px solid #242426
}

.prevenfaq_item_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 80px
}

.prevenfaq_item_number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 82px;
    line-height: 80px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    text-align: center;
    border-right: 2px solid #242426;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.prevenfaq_item_main {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 72px 6px 28px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: .02em
}

.prevenfaq_item_opener {
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 40px;
    top: 34px;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.prevenfaq_item.opened .prevenfaq_item_number {
    background: #8d43fa
}

.prevenfaq_item.opened .prevenfaq_item_opener {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.prevenfaq_item_content {
    border-left: 82px solid #242426;
    padding: 17px 72px 48px 28px;
    display: none
}

.prevenfaq_item_content p {
    max-width: 840px;
    color: #a4a4a4;
    font-size: 14px
}

.ppccontants_innner {
    margin-bottom: 10px
}

.section_prevenfaq_inner {
    padding: 142px 30px 90px
}

@media (max-width:1279px) {
    .section_prevenfaq_inner {
        padding: 74px 20px 60px
    }

    .prevenfaq_item_main {
        font-size: 14px
    }
}

@media (max-width:767px) {
    .prevenfaq_item_number {
        width: 62px
    }

    .section_prevenfaq_inner {
        padding: 44px 20px 40px
    }

    .prevenfaq_item_opener {
        right: 20px
    }

    .prevenfaq_item_main {
        padding-right: 40px;
        padding-left: 20px
    }

    .prevenfaq_item_content {
        border-left-width: 62px;
        padding-left: 20px
    }

    .section_prevenfaq h2 {
        padding-bottom: 50px;
        margin-bottom: 22px
    }

    .section_prevenfaq {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width:479px) {
    .prevenfaq_item_number {
        width: 32px
    }

    .prevenfaq_item_content {
        border-left-width: 32px
    }
}

.pricecalculator_select2_item {
    padding-right: 40px;
    position: relative
}

.pricecalculator_select2_title {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px
}

.pricecalculator_select2_color {
    display: block;
    width: 40px;
    height: 40px;
    background: center/contain no-repeat;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -20px
}

.select2.select2-container--pricecalculator_select2 {
    width: 100% !important;
    background: #fff;
    font-size: 20px;
    color: #1f1f21;
    line-height: 36px;
    letter-spacing: .02em
}

.select2.select2-container--pricecalculator_select2 .select2-selection--single {
    height: 80px
}

.select2.select2-container--pricecalculator_select2 .select2-selection--single .select2-selection__rendered {
    padding: 22px 60px 22px 20px
}

.select2.select2-container--pricecalculator_select2 .select2-selection__arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    border-left: 1px solid #cacaca;
    background: url(../img/select_doublearrow.png) center/14px auto no-repeat
}

.select2-container--pricecalculator_select2 {
    font-size: 20px;
    color: #1f1f21;
    line-height: 36px;
    letter-spacing: .02em
}

.select2-container--pricecalculator_select2 .select2-dropdown {
    background-color: #fff;
    border: none;
    border-top: 1px solid #cacaca;
    border-radius: 0
}

.select2-container--pricecalculator_select2 .select2-dropdown .pricecalculator_select2_item {
    padding: 0 40px 0 0
}

.select2-container--pricecalculator_select2 .select2-dropdown .pricecalculator_select2_color {
    width: 24px;
    height: 24px;
    right: 0;
    margin-top: -12px
}

.select2-container--pricecalculator_select2 .select2-results__option {
    padding: 0 20px
}

.select2-container--pricecalculator_select2 .select2-results__option.select2-results__option--highlighted {
    background: #373739;
    color: #fff
}

.covid_section {
    padding: 0 30px 20px
}

.covid_section_inner {
    background: url(../img/covid_bg.jpg) center/cover no-repeat;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 157px
}

.covid {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px
}

.covid_title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: .02em;
    margin-bottom: 49px
}

.covid_title span {
    white-space: nowrap
}

.covid_text {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .02em;
    font-weight: 600;
    color: #a4a4a4
}

.covidhelp_section {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 64px
}

.ccovidhelp_inner {
    background: url(../img/covidhelp_section.jpg) center/cover no-repeat;
    padding: 107px 50px 65px
}

.ccovidhelp_inner h2 {
    margin-bottom: 59px
}

.ccovidhelp_inner p {
    color: #a4a4a4
}

.ccovidhelp_ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin-top: 50px;
    margin-bottom: 4px
}

.ccovidhelp_ul li {
    display: inline-table;
    position: relative;
    padding: 46px 20px 42px 0
}

.ccovidhelp_ul li:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0
}

.ccovidhelp_ul p {
    max-width: 480px
}

.width1380 {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto
}

@media (max-width:1023px) {
    .ccovidhelp_ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }

    .covid_section_inner {
        padding-top: 160px;
        padding-bottom: 160px
    }
}

@media (max-width:767px) {
    .select2.select2-container--pricecalculator_select2 .select2-selection--single .select2-selection__rendered {
        padding: 11px 40px 11px 10px
    }

    .select2.select2-container--pricecalculator_select2 .select2-selection--single {
        height: 60px
    }

    .select2.select2-container--pricecalculator_select2 .select2-selection__arrow {
        width: 40px
    }

    .ccovidhelp_inner,
    .covid {
        padding-left: 20px;
        padding-right: 20px
    }

    .covid_title {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 36px
    }

    .covid_section_inner {
        padding-top: 72px;
        padding-bottom: 96px
    }

    .ccovidhelp_inner {
        padding-top: 72px
    }

    .ccovidhelp_inner h2 {
        margin-bottom: 36px
    }
}

.prevenfaq_item_number:before {
    counter-increment: faq;
    content: counter(faq)
}