.productionturnaroundpage,
.productionturnaroundpage .contact_section_main {
    background: #1b1b1c
}

.productionturnaroundpage .contact_main_content {
    border-bottom: none
}

.productionturnaroundpage h1 {
    max-width: 800px
}

.prodturnaround_section {
    position: relative;
    z-index: 2
}

.prodturnaround_section_title {
    position: relative;
    background: url(../img/prodturnaround_section.jpg) center/cover no-repeat;
    text-align: center;
    padding-top: 182px;
    padding-bottom: 250px
}

.prodturnaround_section_title .wrapper {
    position: relative;
    z-index: 2
}

.prodturnaround_cube {
    width: 761px;
    height: 689px;
    position: absolute;
    right: 200px;
    top: -240px;
    z-index: 1;
    overflow: hidden
}

.prodturnaround_cube_img {
    width: 100%;
    height: 100%;
    background: url(../img/prodturnaround_cube.png) center/contain no-repeat
}

.prodturnaround_section_note {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff
}

.prodturnaround_section_note_title {
    min-width: 560px;
    border-top: 4px solid #1b1b1c;
    border-right: 4px solid #1b1b1c;
    background: url(../img/prodturnaround_section_note_title.jpg) right center/cover no-repeat;
    padding: 54px 48px 54px 140px;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 320px
}

.prodturnaround_section_note_text {
    border-top: 4px solid #1b1b1c;
    font-size: 14px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: .02em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 60px 40px 60px 75px;
    background: url(../img/prodturnaround_section_note_text.jpg) right center/cover no-repeat #242426;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 320px
}

.prodturnaround_section_note_text_inner {
    position: relative;
    padding-left: 160px
}

.prodturnaround_section_note_text_inner:before {
    content: '';
    display: block;
    width: 86px;
    height: 104px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -52px;
    background: url(../img/prodturnaround_section_note_text_inner.png) center/contain no-repeat
}

@media (max-width:1599px) {

    .prodturnaround_section_note_text,
    .prodturnaround_section_note_title {
        padding-left: 80px
    }

    .prodturnaround_section_note_text_inner {
        padding-left: 130px
    }

    .prodturnaround_section_note_title {
        min-width: 480px
    }

    .prodturnaround_cube {
        width: 380px;
        height: 345px;
        right: 100px;
        top: -120px
    }
}

@media (max-width:1279px) {
    .prodturnaround_section_title {
        padding-top: 150px;
        padding-bottom: 164px
    }

    .prodturnaround_section_note {
        display: block
    }

    .prodturnaround_section_note_title {
        border-right: none;
        text-align: center;
        display: block;
        min-height: 0;
        min-width: 0;
        padding-left: 40px;
        padding-right: 40px
    }

    .prodturnaround_section_note_text {
        padding-left: 40px
    }

    .prodturnaround_cube {
        width: 420px;
        height: 380px;
        right: -105px;
        top: -60px
    }
}

@media (max-width:767px) {
    .prodturnaround_section_title {
        padding-top: 72px;
        padding-bottom: 68px
    }

    .prodturnaround_section_note_title {
        font-size: 36px;
        padding-top: 37px;
        padding-bottom: 31px
    }

    .prodturnaround_section_note_text {
        padding: 32px 30px 38px;
        text-align: center
    }

    .prodturnaround_section_note_text_inner {
        padding-left: 0;
        padding-top: 134px
    }

    .prodturnaround_section_note_text_inner:before {
        left: 0;
        top: 0;
        width: 100%;
        background-position: center top;
        margin-top: 0
    }

    .prodturnaround_cube {
        width: 224px;
        height: 204px;
        right: -76px;
        top: -10px
    }
}

.prodturnaround_textsection {
    overflow: hidden;
    color: #fff;
    text-align: center;
    padding-top: 144px;
    padding-bottom: 68px;
    position: relative
}

.prodturnaround_textsection_slides {
    position: relative;
    z-index: 2
}

.prodturnaround_textsection_slide h2 {
    max-width: 820px;
    margin: 0 auto 38px
}

.prodturnaround_textsection_slide h3 {
    max-width: 1280px;
    margin: 0 auto 116px;
    line-height: 36px;
    min-height: 72px
}

.prodturnaround_textsection_icon {
    min-width: 184px;
    width: 184px;
    height: 184px;
    position: relative;
    border-radius: 50%;
    text-align: center;
    border: 12px solid transparent
}

.prodturnaround_textsection_icon_content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #242426;
    border-radius: 50%;
    z-index: 2
}

.prodturnaround_textsection_icon_daytitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    position: absolute;
    left: 0;
    top: 27px;
    width: 100%
}

.prodturnaround_textsection_icon_fileupload_title {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: .02em
}

.prodturnaround_textsection_icon_weekday {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
    opacity: .4
}

.prodturnaround_textsection_icon_day {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .02em
}

.prodturnaround_textsection_icon.active {
    border-color: #868fde
}

.prodturnaround_textsection_icon.active:before {
    content: '';
    display: block;
    width: 184px;
    height: 184px;
    position: absolute;
    left: -12px;
    bottom: -24px;
    border: 12px solid #4b549b;
    border-radius: 50%;
    z-index: -1
}

.prodturnaround_textsection_icon.active .prodturnaround_textsection_icon_content {
    background: #fff;
    color: #1b1b1c
}

.prodturnaround_textsection_icon.active .prodturnaround_textsection_icon_weekday {
    opacity: 1
}

.prodturnaround_textsection_icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: -160px;
    margin-bottom: 168px;
    overflow: hidden
}

.prodturnaround_textsection_icons_group {
    position: relative;
    padding-bottom: 252px;
    width: 320px
}

.prodturnaround_textsection_icons_group:first-child .prodturnaround_textsection_icon:first-child:after {
    display: none !important
}

.prodturnaround_textsection_icons_group:first-child .prodturnaround_textsection_icon:last-child:after {
    background: #fff
}

.prodturnaround_textsection_icon:nth-child(even) {
    position: absolute;
    top: 240px;
    right: -24px
}

.prodturnaround_textsection_icon:nth-child(even):after {
    content: '';
    display: block;
    width: 240px;
    height: 2px;
    background: #242426;
    position: absolute;
    right: 50%;
    bottom: 50%;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(56deg);
    -ms-transform: rotate(56deg);
    transform: rotate(56deg);
    z-index: -2
}

.prodturnaround_textsection_icon:after {
    content: '';
    display: block;
    width: 240px;
    height: 2px;
    background: #242426;
    position: absolute;
    right: 50%;
    bottom: 50%;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(-53deg);
    -ms-transform: rotate(-53deg);
    transform: rotate(-53deg);
    z-index: -2
}

.prodturnaround_textsection_icon.active:after {
    background: #fff
}

.prodturnaround_textsection_icon_weekend .prodturnaround_textsection_icon_content {
    border: 3px solid #242426;
    background: #1b1b1c
}

.prodturnaround_textsection_icon_weekend .prodturnaround_textsection_weekend {
    font-size: 14px;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: .02em
}

.prodturnaround_textsection_icon_weekend .prodturnaround_textsection_weekend span {
    display: block
}

.prodturnaround_textsection_icon_weekend .prodturnaround_textsection_weekend span+span {
    border-top: 2px solid #2e2e30
}

.prodturnaround_textsection_slide .wrapper {
    max-width: 1544px;
    position: relative;
    z-index: 2
}

.prodturnaround_textsection_bottomtext {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left
}

.prodturnaround_textsection_bottomtext_title {
    padding-right: 36px;
    min-width: 280px;
    font-size: 14px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    border-right: 2px solid #4b4b4b;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline
}

.prodturnaround_textsection_bottomtext_p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    line-height: 30px;
    padding-left: 36px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.prodturnaround_textsection_slide_cubes {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.prodturnaround_textsection_slide_cube1 {
    width: 560px;
    height: 558px;
    display: block;
    position: absolute;
    left: -160px;
    top: -180px;
    background: url(../img/prodturnaround_textsection_slide_cube1.png) center/contain no-repeat
}

.prodturnaround_textsection_slide_cube2 {
    width: 562px;
    height: 510px;
    display: block;
    position: absolute;
    right: 36px;
    bottom: -72px;
    background: url(../img/prodturnaround_textsection_slide_cube2.png) center/contain no-repeat
}

.prodturnaround_textsection_slide {
    width: 100vw
}

.prodturnaround_textsection_icon.prodturnaround_textsection_icon_weekend.active {
    background: -webkit-gradient(linear, left top, right top, color-stop(-10%, #ad87e2), to(#db7c9c));
    background: -o-linear-gradient(left, #ad87e2 -10%, #db7c9c 100%);
    background: linear-gradient(90deg, #ad87e2 -10%, #db7c9c 100%);
    border: none
}

.prodturnaround_textsection_icon.prodturnaround_textsection_icon_weekend.active:before {
    left: 0;
    bottom: -12px
}

.prodturnaround_textsection_icon.prodturnaround_textsection_icon_weekend.active .prodturnaround_textsection_icon_content {
    background: 0 0;
    color: #fff;
    border: none
}

.prodturnaround_textsection_icon.prodturnaround_textsection_icon_weekend.active .prodturnaround_textsection_weekend span+span {
    border-top-color: rgba(255, 255, 255, .2)
}

.prodturnaround_textsection_slides {
    padding-bottom: 90px
}

.prodturnaround_textsection_slides .owl-dots {
    bottom: 0
}

.prodturnaround_textsection_slides button.owl-dot {
    margin: 0 12px
}

.prodturnaround_textsection_slides .owl-nav {
    position: absolute;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    bottom: 3px;
    top: auto;
    z-index: 2
}

@media (max-width:1599px) {
    .prodturnaround_textsection_icons_group {
        width: 280px
    }

    .prodturnaround_textsection_icons {
        margin-right: -110px
    }
}

@media (max-width:1439px) {
    .prodturnaround_textsection_icons_group {
        width: 240px
    }

    .prodturnaround_textsection_icons {
        margin-right: -72px
    }

    .prodturnaround_textsection_bottomtext_title {
        min-width: 240px
    }

    .prodturnaround_textsection_slide_cube1 {
        width: 280px;
        height: 280px;
        left: -80px;
        top: -80px
    }

    .prodturnaround_textsection_slide_cube2 {
        width: 280px;
        height: 255px;
        right: -40px;
        bottom: -72px;
        background: url(../img/prodturnaround_textsection_slide_cube2.png) center/contain no-repeat
    }
}

@media (max-width:1279px) {
    .prodturnaround_textsection_icon {
        min-width: 130px;
        width: 130px;
        height: 130px;
        border: 8px solid transparent
    }

    .prodturnaround_textsection_icon.active:before {
        width: 130px;
        height: 130px;
        left: -8px;
        bottom: -16px;
        border: 8px solid #4b549b
    }

    .prodturnaround_textsection_icon_daytitle {
        font-size: 12px;
        top: 19px
    }

    .prodturnaround_textsection_icon_weekday {
        font-size: 12px;
        bottom: 19px
    }

    .prodturnaround_textsection_icons_group {
        width: 144px;
        padding-bottom: 176px
    }

    .prodturnaround_textsection_icon_day {
        font-size: 28px
    }

    .prodturnaround_textsection_icon:nth-child(even) {
        top: 168px;
        right: -66px
    }

    .prodturnaround_textsection_icons {
        max-width: 712px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 82px
    }

    .prodturnaround_textsection_icon_fileupload_title {
        font-size: 12px;
        line-height: 16px;
        font-weight: 900
    }

    .prodturnaround_textsection_icon.prodturnaround_textsection_icon_weekend.active:before {
        bottom: -8px
    }

    .prodturnaround_textsection_icon:after {
        -webkit-transform: rotate(-68deg);
        -ms-transform: rotate(-68deg);
        transform: rotate(-68deg)
    }

    .prodturnaround_textsection_icon:nth-child(even):after {
        -webkit-transform: rotate(64deg);
        -ms-transform: rotate(64deg);
        transform: rotate(64deg)
    }

    .prodturnaround_textsection_slide h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 100px
    }

    .prodturnaround_textsection_slide_cube1 {
        top: -180px
    }

    .prodturnaround_textsection_bottomtext_title {
        min-width: 160px
    }

    .prodturnaround_textsection_slides {
        padding-bottom: 100px
    }

    .prodturnaround_textsection {
        padding-bottom: 78px
    }
}

@media (max-width:767px) {
    .prodturnaround_textsection_icons_group {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px
    }

    .prodturnaround_textsection_icon:nth-child(even) {
        position: relative;
        top: 0;
        right: 0
    }

    .prodturnaround_textsection_icons {
        display: block;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px
    }

    .prodturnaround_textsection_icon:after {
        display: none !important
    }

    .prodturnaround_textsection_bottomtext {
        display: block;
        text-align: center
    }

    .prodturnaround_textsection_bottomtext_title {
        min-width: 0;
        border-right: none;
        position: relative;
        padding-bottom: 32px;
        margin-bottom: 20px;
        padding-right: 0
    }

    .prodturnaround_textsection_bottomtext_title br {
        display: none
    }

    .prodturnaround_textsection_bottomtext_title:after {
        content: '';
        display: block;
        width: 70px;
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: 0
    }

    .prodturnaround_textsection_slides .owl-dots {
        display: none
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        position: static;
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px
    }

    .prodturnaround_textsection_slides .owl-nav {
        left: 0;
        margin-left: 0;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .prodturnaround_textsection_slide_cube1 {
        top: -200px;
        left: -100px
    }

    .prodturnaround_textsection {
        padding-top: 56px;
        padding-bottom: 58px
    }

    .prodturnaround_textsection .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .prodturnaround_textsection_slide h3 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 48px
    }

    .prodturnaround_textsection_slide h2 {
        margin-bottom: 18px
    }

    .prodturnaround_textsection_bottomtext_p {
        padding-left: 20px;
        padding-right: 20px
    }

    .prodturnaround_textsection_slides {
        padding-bottom: 80px
    }

    .prodturnaround_textsection_slide_cube2 {
        right: -160px
    }
}