.promotionalproductspage {
    background: #1a1a1b
}

.prom_nav {
    padding-left: 92px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    margin-top: 64px;
    text-align: left
}

.prom_nav_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.prom_nav_list li {
    position: relative;
    margin-right: 30px
}

.prom_nav_list a {
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.prom_nav_list a:hover {
    opacity: .2
}

.prom_nav_withsubmenu>a {
    position: relative;
    padding-right: 20px
}

.prom_nav_withsubmenu>a:after {
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) center/contain no-repeat;
    right: 0;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.prom_nav_submenu {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .15s ease-out, _ .15s ease-out;
    -o-transition: .15s ease-out, _ .15s ease-out;
    transition: .15s ease-out, _ .15s ease-out;
    padding-top: 16px
}

.prom_nav_submenu li {
    margin-top: 8px;
    margin-bottom: 8px
}

.prom_nav_withsubmenu:hover .prom_nav_submenu {
    visibility: visible;
    opacity: 1
}

@media (max-width:1919px) {
    .prom_nav {
        padding-left: 0
    }

    .prom_nav_list li {
        margin-right: 20px
    }
}

@media (max-width:1279px) {
    .prom_nav {
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 1px solid #4b4b4b;
        width: 100%;
        height: 60px;
        margin-top: 0
    }

    .prom_nav_list {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 12px 40px;
        min-height: 60px;
        background: #1b1b1c
    }

    .prom_nav_list>li {
        display: none;
        margin-right: 0;
        margin-top: 8px;
        margin-bottom: 8px
    }

    .prom_nav_list>li.active {
        display: block
    }

    .prom_nav_list>li a {
        display: block;
        width: 100%
    }

    .prom_nav_withsubmenu>a:after {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    .prom_nav_list a {
        opacity: 1 !important
    }

    .prom_nav_submenu {
        display: none;
        opacity: 1;
        visibility: visible
    }

    .prom_nav.opened {
        z-index: 9
    }

    .prom_nav.opened .prom_nav_list {
        background: #1b1b1c
    }

    .prom_nav.opened .prom_nav_list li {
        display: block
    }

    .prom_nav.opened .prom_nav_withsubmenu>a:after {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }

    .prom_nav.opened .prom_nav_withsubmenu .prom_nav_submenu {
        display: block;
        padding-left: 40px;
        padding-top: 0;
        position: static;
        opacity: 1;
        visibility: visible
    }

    .promotionalproductspage .section_title_content_center {
        position: relative
    }

    .promotionalproductspage .section_title_content_center .content {
        position: static
    }
}

.section_promtitle {
    background: url(../img/promtitle_bg.jpg) center/cover no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 720px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.section_promtitle .wrapper {
    max-width: 1100px
}

@media (max-width:1279px) {
    .section_promtitle {
        height: auto;
        min-height: 480px
    }
}

.promcatalog {
    border: 2px solid #1b1b1c
}

.promcatalog .row {
    width: 100%
}

.promcatalog_item {
    border: 2px solid #1b1b1c;
    overflow: hidden;
    width: 100%
}

.promcatalog_item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out
}

.promcatalog_item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.promcatalog_item960 {
    height: 50vw
}

.promcatalog_item480 {
    height: 25vw
}

.promcatalog_button {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 82px;
    display: none
}

.promcatalog_button .button {
    max-width: 332px;
    width: 100%
}

@media (max-width:1279px) {
    .promcatalog_item480 {
        height: 50vw
    }

    .promcatalog_item960 {
        height: 100vw
    }

    .promcatalog_button {
        display: block
    }
}

@media (max-width:767px) {
    .prom_nav_list {
        padding-left: 20px;
        padding-right: 20px
    }

    .prom_nav.opened .prom_nav_withsubmenu .prom_nav_submenu {
        padding-left: 20px
    }

    .section_promtitle {
        min-height: 400px
    }

    .promcatalog_item480 {
        height: 100vw
    }

    .promcatalog_item img {
        -o-object-fit: contain;
        object-fit: contain
    }

    .promcatalog_button {
        padding-top: 14px;
        padding-bottom: 24px
    }
}