.quoterequestpage {
    background: url(../img/quoterequestpage.jpg) center top/100% auto no-repeat #1b1b1c
}

.quoterequestpage h1 {
    max-width: 880px
}

@media (max-width:1599px) {
    .quoterequestpage {
        background-size: auto
    }
}

.section_quoterequest {
    background: 0 0;
    color: #fff;
    padding: 146px 0 160px
}

.section_quoterequest .wrapper {
    max-width: 1440px
}

.section_quoterequest h2+p {
    margin-top: 32px
}

.quoterequest_list {
    margin-top: 90px;
    margin-bottom: 142px
}

.quoterequest_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 48px 80px;
    background-color: #2d2d2d
}

.quoterequest_item:nth-child(1) {
    background-color: rgba(45, 45, 45, .4)
}

.quoterequest_item:nth-child(2) {
    background-color: rgba(45, 45, 45, .6)
}

.quoterequest_item:nth-child(3) {
    background-color: rgba(45, 45, 45, .8)
}

.quoterequest_item+.quoterequest_item {
    margin-top: 4px
}

.quoterequest_item_title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .02em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 20px
}

.quoterequest_item_button {
    display: block;
    width: 240px;
    height: 60px;
    border: 1px solid #fff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    line-height: 58px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.quoterequest_mailingquote_form {
    display: block
}

.quoterequest_mailingquote_list {
    margin-bottom: 72px;
    margin-top: 100px
}

.quoterequest_mailingquote_item+.quoterequest_mailingquote_item {
    margin-top: 4px
}

.quoterequest_mailingquote_item_opener {
    position: relative;
    padding-left: 136px;
    padding-right: 136px;
    min-height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.quoterequest_mailingquote_item_button {
    display: block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background: #2d2d2e;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.quoterequest_mailingquote_item_button:after,
.quoterequest_mailingquote_item_button:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff
}

.quoterequest_mailingquote_item_button:before {
    width: 30px;
    margin-left: -15px;
    height: 4px;
    margin-top: -2px
}

.quoterequest_mailingquote_item_button:after {
    width: 4px;
    margin-left: -2px;
    height: 30px;
    margin-top: -15px
}

.quoterequest_mailingquote_item_title {
    font-size: 32px;
    letter-spacing: .02em;
    font-weight: 600
}

.quoterequest_mailingquote_item.opened .quoterequest_mailingquote_item_button {
    background: #fff
}

.quoterequest_mailingquote_item.opened .quoterequest_mailingquote_item_button:before {
    background: #1b1b1c
}

.quoterequest_mailingquote_item.opened .quoterequest_mailingquote_item_button:after {
    display: none
}

.quoterequest_mailingquote_item_content {
    padding: 38px 136px 54px;
    display: none;
    overflow: hidden
}

.quoterequest_mailingquote_item_content .row {
    margin-left: -5px;
    margin-right: -5px
}

.quoterequest_mailingquote_item_content [class*=col-] {
    padding: 6px 5px
}

.mailingquote_input {
    height: 60px;
    border: 1px solid #505051;
    display: block;
    width: 100%;
    font-size: 14px;
    letter-spacing: .05em;
    color: #fff;
    font-weight: 600;
    padding: 0 28px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.mailingquote_input::-webkit-input-placeholder {
    color: #fff
}

.mailingquote_input::-moz-placeholder {
    color: #fff
}

.mailingquote_input:-ms-input-placeholder {
    color: #fff
}

.mailingquote_input::-ms-input-placeholder {
    color: #fff
}

.mailingquote_input::placeholder {
    color: #fff
}

.mailingquote_input:focus {
    border-color: #fff
}

@media (max-width:1279px) {
    .section_quoterequest {
        padding: 70px 0 80px
    }

    .section_quoterequest h2 {
        max-width: 440px
    }

    .quoterequest_mailingquote_item_content,
    .quoterequest_mailingquote_item_opener {
        padding-right: 0;
        padding-left: 120px
    }

    .quoterequest_mailingquote_item_content {
        padding-bottom: 30px
    }

    .quoterequest_list {
        margin-top: 66px;
        margin-bottom: 68px
    }

    .quoterequest_item {
        padding-left: 40px;
        padding-right: 40px
    }

    .quoterequest_mailingquote_list {
        margin-bottom: 88px;
        margin-top: 92px
    }
}

@media (max-width:767px) {
    .quoterequest_item {
        display: block;
        text-align: center;
        padding: 31px 20px 40px
    }

    .quoterequest_item_button {
        display: inline-block;
        width: 100%;
        max-width: 240px;
        height: 40px;
        line-height: 38px
    }

    .quoterequest_item_title {
        font-size: 26px;
        padding-right: 0;
        margin-left: -6px;
        margin-right: -6px;
        margin-bottom: 17px
    }

    .section_quoterequest {
        padding: 151px 0 40px
    }

    .section_quoterequest .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .quoterequest_mailingquote_item_button {
        width: 60px;
        height: 60px
    }

    .quoterequest_mailingquote_list {
        margin-bottom: 52px;
        margin-top: 32px
    }

    .quoterequest_mailingquote_item_title {
        font-size: 26px;
        line-height: 32px
    }

    .quoterequest_mailingquote_item_opener {
        min-height: 60px;
        padding-left: 100px
    }

    .quoterequest_mailingquote_item_content {
        padding: 28px 0 10px
    }
}

@media (max-width:479px) {
    .quoterequest_item_button {
        max-width: 100%
    }

    .quoterequest_mailingquote_button .button {
        width: 100%
    }
}

@media (max-width:359px) {
    .quoterequest_mailingquote_item_opener {
        padding-left: 80px
    }
}