.requestforrpage {
    background: #1a1a1b
}

.requestforrpage .section_title {
    background: url(../img/contact_section_main.jpg) center/cover no-repeat
}

.requestfor_section {
    padding-top: 72px;
    padding-bottom: 180px;
    color: #fff
}

.requestfor_section .row {
    margin: -10px
}

.requestfor_section [class*=col-] {
    padding: 10px
}

.requestfor_section h3 {
    margin-bottom: 11px
}

@media (max-width:767px) {
    .requestfor_section {
        padding-bottom: 40px
    }
}

.requestfor_input {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #505051;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    color: #fff;
    padding: 0 20px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.requestfor_input:focus {
    border-color: #fff
}

.requestfor_input::-webkit-input-placeholder {
    color: #fff
}

.requestfor_input::-moz-placeholder {
    color: #fff
}

.requestfor_input:-ms-input-placeholder {
    color: #fff
}

.requestfor_input::-ms-input-placeholder {
    color: #fff
}

.requestfor_input::placeholder {
    color: #fff
}

.requestfor_qty {
    margin-top: -19px;
    margin-right: 60px;
    max-width: 200px
}

@media (max-width:1279px) {
    .requestfor_qty {
        margin: 0 0 24px
    }

    .requestfor_customer .requestfor_textarea {
        height: 144px
    }
}

.requestfor_qty_title {
    display: block;
    font-size: 14px;
    letter-spacing: .02em;
    margin-bottom: 4px
}

.requestfor_type {
    display: block;
    white-space: nowrap;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 0;
    margin-right: 63px
}

.requestfor_type:last-child {
    margin-right: 0
}

.requestfor_type input {
    display: none
}

.requestfor_type span {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer
}

.requestfor_type span:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #4b4b4b;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.requestfor_type span:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 2px;
    background: 0 0;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.requestfor_type input:checked+span:before {
    border: 2px solid #fff
}

.requestfor_type input:checked+span:after {
    background: #fff
}

@media (max-width:1439px) {
    .requestfor_type {
        margin-right: 48px
    }
}

.requestfor_customer {
    background: #1f1f20;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 34px
}

.requestfortypes {
    margin-bottom: 56px;
    margin-top: 54px
}

.requestfor_select {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #505051;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    color: #fff;
    padding: 0 48px 0 20px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: .01px;
    -o-text-overflow: '';
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    background: url(../img/arrowdownwhite.png) calc(100% - 16px) center/16px auto no-repeat
}

.requestfor_select option {
    color: #242426
}

.requestfor_textarea {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #505051;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    color: #fff;
    padding: 14px 20px;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    resize: none
}

.requestfor_textarea:focus {
    border-color: #fff
}

.requestfor_textarea::-webkit-input-placeholder {
    color: #fff
}

.requestfor_textarea::-moz-placeholder {
    color: #fff
}

.requestfor_textarea:-ms-input-placeholder {
    color: #fff
}

.requestfor_textarea::-ms-input-placeholder {
    color: #fff
}

.requestfor_textarea::placeholder {
    color: #fff
}

.requestfor_job {
    margin-bottom: 55px
}

.requestfor_job_t {
    margin-bottom: 64px
}

.requestfor_job_d .requestfor_textarea {
    height: 110px
}

.requestfor_job_d .requestfor_input+.requestfor_input {
    margin-top: 10px
}

.requestfor_section .requestfor_paper .row {
    margin: 0
}

.requestfor_section .requestfor_paper [class*=col-] {
    padding: 0
}

.requestfor_paper {
    margin-bottom: 56px
}

.requestfor_paper .requestfor_input::-webkit-input-placeholder {
    color: transparent
}

.requestfor_paper .requestfor_input::-moz-placeholder {
    color: transparent
}

.requestfor_paper .requestfor_input:-ms-input-placeholder {
    color: transparent
}

.requestfor_paper .requestfor_input::-ms-input-placeholder {
    color: transparent
}

.requestfor_paper .requestfor_input::placeholder {
    color: transparent
}

.requestfor_paper .requestfor_input[disabled] {
    text-align: center
}

.requestfor_paper .col-md-1.col-12 {
    position: relative
}

.requestfor_paper .row:first-child .requestfor_paper_title {
    display: block
}

.requestfor_paper_title {
    position: absolute;
    left: 0;
    bottom: 100%;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    display: none
}

.requestfor_paper_title.visible {
    display: block
}

@media (max-width:1279px) {
    .requestfor_paper .requestfor_input::-webkit-input-placeholder {
        color: #fff
    }

    .requestfor_paper .requestfor_input::-moz-placeholder {
        color: #fff
    }

    .requestfor_paper .requestfor_input:-ms-input-placeholder {
        color: #fff
    }

    .requestfor_paper .requestfor_input::-ms-input-placeholder {
        color: #fff
    }

    .requestfor_paper .requestfor_input::placeholder {
        color: #fff
    }

    .requestfor_paper_title {
        display: block;
        position: static
    }
}

.requestforwork {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.requestforwork_textarea {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 480px;
    -ms-flex: 0 0 480px;
    flex: 0 0 480px;
    margin-left: 40px;
    position: relative
}

.requestforwork_textarea .requestfor_textarea {
    height: 100%
}

.requestforwork_title {
    position: absolute;
    left: 0;
    bottom: 100%;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase
}

@media (max-width:1279px) {
    .requestforwork {
        display: block
    }

    .requestforwork_textarea {
        margin: 40px 0 0
    }

    .requestforwork_textarea .requestfor_textarea {
        height: 110px
    }

    .requestforwork_title {
        position: static
    }
}

.requestforwork_inputs {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.requestfor_prep {
    margin-bottom: 59px
}

.requestfor_prep .requestfor_textarea {
    min-height: 149px
}

.title13 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px
}

.requestforfile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media (max-width:1279px) {
    .requestforfile {
        display: block
    }

    .requestforfile_upload {
        width: 100%
    }
}

.requestforfile_upload {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 588px;
    -ms-flex: 0 0 588px;
    flex: 0 0 588px;
    min-height: 192px;
    border: 2px dashed #39393c
}

.requestforfile_upload svg {
    width: 60px;
    height: 74px;
    fill: #39393c;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.requestforfile_upload p {
    color: #757575
}

.requestforfile_upload p span {
    color: #fff
}

.requestforfile_upload:hover svg {
    fill: #fff
}

.requestforfile_progress {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 66px;
    max-width: 650px
}

@media (max-width:1279px) {
    .requestforfile_progress {
        max-width: none;
        margin: 24px 0 0
    }

    .requestfor_binding .requestfor_textarea {
        height: 126px
    }
}

.requestforfileprogress {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.requestforfileprogress+.requestforfileprogress {
    margin-top: 28px
}

.requestforfile_preview {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px
}

.requestforfile_preview svg {
    fill: #4f4f50;
    width: 48px;
    height: 64px
}

.requestforfile_text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.requestforfile_name {
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 600;
    margin-bottom: 10px
}

.requestforfile_bar {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    position: relative;
    background: #4f4f50
}

.requestforfile_bar span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    border-radius: 3px
}

.requestforfile_bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 8px
}

.requestforfile_size {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #4f4f50
}

.requestforfile_status {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600
}

.requestfor_presswork {
    margin-bottom: 66px
}

.requestfor_proof {
    margin-bottom: 49px
}

.requestfor_binding {
    margin-bottom: 88px
}

.requestfor_shipping {
    margin-bottom: 72px
}

.requestforfileprogress.dz-complete .requestforfile_preview svg {
    fill: #fff
}