.saddlestitchpage {
    background: #1b1b1c
}

.saddlestitchpage h1 {
    max-width: 520px
}

.saddlestitchpage .section_title {
    background: url(../img/saddlestitch_bg.jpg) right top/auto 100% no-repeat #19191b
}

.saddlestitchpage .fileretouching_express_left .contentleft {
    max-width: 640px
}

.saddlestitch {
    min-height: calc(33.5vw + 160px);
    padding-bottom: 80px;
    padding-top: 80px
}

.saddlestitch_image {
    position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -16vw;
    background: url(../img/saddlestitch_image.svg) center/contain no-repeat;
    padding: 0 85px 0 258px
}

@media (max-width:1439px) {
    .saddlestitchpage .section_title {
        background-position: center;
        background-size: cover
    }

    .saddlestitch_image {
        right: 40px
    }
}

@media (max-width:1279px) {
    .saddlestitch_image {
        margin-top: 0;
        position: relative;
        top: 0;
        right: 40px;
        left: 40px;
        padding: 0 40px;
        width: calc(100% - 80px)
    }
}

@media (max-width:767px) {
    .saddlestitch_image {
        right: 20px;
        left: 20px;
        padding: 0 20px;
        width: calc(100% - 40px)
    }
}

.saddlestitch_img {
    background: url(../img/saddlestitch_img.png) center/contain no-repeat;
    width: 42.7vw;
    height: 33.072vw
}

@media (max-width:1279px) {
    .saddlestitch_img {
        width: 100%;
        height: 66vw;
        background-position: center top
    }
}

.largebanervinyl {
    background: #151515;
    position: relative
}

.largebanervinyl .fileretouching_textblock {
    position: static
}

.largebanervinyl .fileretouching_textblock_imgright {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .saddlestitch_img {
        height: 68vw
    }

    .largebanervinyl {
        padding-top: 0
    }

    .largebanervinyl .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .largebanervinyl .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}