.substratespage {
    background: url(../img/substratespage.jpg) center top/100% auto no-repeat #1b1b1c
}

.section_substrate_varnishes {
    background: 0 0;
    padding-top: 92px;
    position: relative;
    z-index: 3;
    min-height: 75vw
}

.substrate_varnishes_bottomtext {
    border: 5px solid #fff;
    max-width: 560px;
    font-size: 60px;
    line-height: 80px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 160px;
    padding: 76px 82px 74px;
    letter-spacing: .02em
}

.substrate_varnishes_image {
    position: absolute;
    top: -77px;
    right: 79px;
    z-index: 1;
    overflow: hidden
}

.substrate_varnishes_img {
    position: relative
}

.substrate_varnishes_img_img {
    width: 58.541667vw;
    height: 64.458333vw;
    background: url(../img/substrate_varnishes_img.png) center top/contain no-repeat
}

.substrate_varnishes__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 210px;
    padding-top: 20.625vw;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 18.75vw no-repeat
}

.substrate_varnishes__text1 {
    right: 34.42708333vw;
    top: 31.09375vw
}

.substrate_varnishes__text2 {
    right: 16.66667vw;
    top: 39.375vw
}

.substrate_varnishes__text3 {
    right: 8.125vw;
    top: 26.40625vw
}

@media (max-width:1599px) {
    .substratespage {
        background-size: auto
    }

    .substrate_varnishes_image {
        right: 0
    }

    .substrate_varnishes_bottomtext {
        margin-left: 80px
    }
}

@media (max-width:1439px) {
    .substrate_varnishes_img {
        right: -40px
    }
}

@media (max-width:1279px) {
    .substrate_varnishes_image {
        position: relative;
        top: 0;
        right: 0
    }

    .substrate_varnishes_img {
        right: 0
    }

    .substrate_varnishes_img_img {
        width: 100%;
        height: 97.5vw
    }

    .section_substrate_varnishes {
        padding-top: 70px
    }

    .substrate_varnishes__text {
        padding-top: 396px;
        background-size: auto 360px
    }

    .substrate_varnishes__text1 {
        right: 70vw;
        top: 37.5vw
    }

    .substrate_varnishes__text2 {
        right: 40vw;
        top: 41%
    }

    .substrate_varnishes__text3 {
        right: 19.5vw;
        top: 30vw
    }

    .substrate_varnishes_bottomtext {
        margin-left: 40px;
        font-size: 36px;
        line-height: 48px;
        max-width: 340px;
        padding: 45px 48px 43px
    }

    .substrate_varnishes_bottomcontent {
        padding-top: 40px;
        padding-bottom: 0
    }
}

@media (max-width:767px) {
    .section_substrate_varnishes {
        padding-top: 57px
    }

    .substrate_varnishes__text {
        width: 33.3333%;
        padding-top: 210px;
        text-align: left;
        background: url(../img/fileretouching_express__text1_bg_mob.png) left top/auto 200px no-repeat
    }

    .substrate_varnishes__text1 {
        right: auto;
        left: 5.55555vw;
        top: 32.5vw;
        padding-right: 32px
    }

    .substrate_varnishes__text2 {
        top: 55vw;
        padding-right: 32px;
        right: 27.77777vw
    }

    .substrate_varnishes__text3 {
        top: 39vw;
        right: -5.55555vw;
        padding-right: calc(5.55555vw + 20px)
    }

    .substrate_varnishes_img_img {
        height: 136.5vw
    }

    .substrate_varnishes_bottomtext {
        margin-left: 20px;
        font-size: 22px;
        line-height: 30px;
        max-width: 200px;
        padding: 26px 28px 23px
    }

    .substrate_varnishes_bottomcontent {
        padding-top: 96px
    }
}

.substrate_varnishes_bottomcontent {
    padding-bottom: 0
}

.section_typeofvarnish {
    background: url(../img/section_lapapaersize_bg.jpg) center/cover no-repeat fixed;
    position: relative;
    text-align: center;
    margin-top: -160px;
    padding-bottom: 150px
}

.section_typeofvarnish_img {
    position: relative;
    z-index: 2;
    text-align: right;
    margin-bottom: 83px;
    height: 32.2916667vw
}

.section_typeofvarnish__img {
    background: url(../img/section_typeofvarnish_img.png) right top/auto 100% no-repeat;
    position: absolute;
    right: 0;
    top: -172px;
    width: 100%;
    height: 100%
}

.section_typeofvarnish_content {
    position: relative;
    z-index: 3
}

.typeofvarnish_form {
    padding: 180px 0 226px
}

.typeofvarnish_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 82px
}

.typeofvarnish_item_img {
    width: 100%;
    height: 310px;
    background: center/contain no-repeat;
    margin: 0 auto 52px;
    position: relative
}

.typeofvarnish_item_img_logo {
    position: absolute;
    left: 0;
    top: 64px;
    width: 100%
}

.typeofvarnish_item_img_logo svg {
    fill: #fff;
    display: block;
    width: 142px;
    height: 28px;
    margin: 0 auto;
    -webkit-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out
}

.typeofvarnish_item_title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase
}

.typeofvarnish_item {
    display: block;
    width: 260px;
    cursor: pointer;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%
}

.typeofvarnish_item input {
    display: none !important
}

.typeofvarnish_item input:checked+.typeofvarnish_item_content .typeofvarnish_item_img_logo svg,
.typeofvarnish_item:hover .typeofvarnish_item_img_logo svg {
    fill: #f0d072
}

.typeofvarnish_form_button .button {
    width: 100%;
    max-width: 320px
}

.section_typeofvarnish_mattorgloss_img {
    max-width: 1066px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2
}

.section_typeofvarnish_mattorgloss_img .ba-slider .handle {
    background: 0 0;
    height: 100%;
    width: 74px;
    margin-left: -37px
}

.section_typeofvarnish_mattorgloss_img .ba-slider .handle:before {
    content: '';
    display: block;
    width: 74px;
    height: 85px;
    background: url(../img/handle.png) center/contain no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -37px;
    top: 50%;
    margin-top: -42px;
    z-index: 2
}

.section_typeofvarnish_mattorgloss_img .ba-slider .handle:after {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 0;
    z-index: 1
}

.section_typeofvarnish_mattorgloss {
    position: relative;
    margin-top: 113px
}

.section_typeofvarnish_mattorgloss_title {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900
}

.section_typeofvarnish_mattorgloss_title span {
    position: relative;
    z-index: 2
}

.section_typeofvarnish_mattorgloss_title:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1
}

.typeofvarnish_list.owl-carousel {
    padding-bottom: 40px
}

.typeofvarnish_list.owl-carousel .typeofvarnish_item {
    margin: 0 auto;
    width: 280px;
    padding-left: 20px
}

.typeofvarnish_list.owl-carousel .owl-dots {
    bottom: 0
}

@media (max-width:1599px) {
    .section_typeofvarnish_mattorgloss_title {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1279px) {
    .typeofvarnish_item {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-top: 76px
    }

    .typeofvarnish_list {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .section_typeofvarnish__img {
        top: -82px;
        background-position: -45% top
    }

    .section_typeofvarnish_img {
        margin-bottom: 12px;
        height: 57.5vw
    }

    .typeofvarnish_form {
        padding-top: 38px;
        padding-bottom: 155px
    }

    .section_typeofvarnish {
        margin-top: -50px;
        padding-bottom: 168px
    }

    .typeofvarnish_list.owl-carousel .owl-nav button.owl-prev {
        left: 0;
        margin-top: 0;
        top: 130px
    }

    .typeofvarnish_list.owl-carousel .owl-nav button.owl-next {
        right: 0;
        margin-top: 0;
        top: 130px
    }
}

@media (max-width:767px) {
    .section_typeofvarnish {
        margin-top: 0;
        padding-bottom: 112px
    }

    .section_typeofvarnish__img {
        top: -64px
    }

    .section_typeofvarnish_img {
        margin-bottom: 4px;
        height: 63.5vw
    }

    .section_typeofvarnish_content .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .typeofvarnish_form {
        padding-top: 56px;
        padding-bottom: 112px
    }

    .section_typeofvarnish_mattorgloss_title {
        padding-left: 14.1vw;
        padding-right: 14.1vw;
        height: 0;
        margin: 0
    }

    .section_typeofvarnish_mattorgloss_img .ba-slider .handle {
        width: 36px;
        margin-left: -18px
    }

    .section_typeofvarnish_mattorgloss_img .ba-slider .handle:before {
        width: 36px;
        height: 48px;
        margin-left: -18px;
        margin-top: -24px
    }
}

@media (max-width:479px) {
    .typeofvarnish_item {
        width: 220px
    }

    .typeofvarnish_item_img {
        height: 232px;
        margin-bottom: 30px
    }

    .typeofvarnish_list.owl-carousel .owl-nav button.owl-next,
    .typeofvarnish_list.owl-carousel .owl-nav button.owl-prev {
        top: 90px
    }

    .typeofvarnish_list.owl-carousel {
        padding-bottom: 50px;
        margin-bottom: 60px
    }

    .section_typeofvarnish_mattorgloss {
        margin-top: 28px
    }
}

.substrate_3items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.substrate_3item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.3333%;
    -ms-flex: 1 0 33.3333%;
    flex: 1 0 33.3333%;
    border-left: 2px solid #151515;
    border-right: 2px solid #151515;
    height: 800px;
    max-height: 100vh;
    background: center/cover no-repeat;
    padding: 75px 75px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.substrate_3item:first-child {
    border-left-width: 4px
}

.substrate_3item:last-child {
    border-right-width: 4px
}

.substrate_3item_number {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .5em;
    margin-bottom: 30px
}

.substrate_3item_title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 300px
}

@media (max-width:1919px) {
    .substrate_3item {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width:1599px) {
    .substrate_3item {
        height: 600px
    }
}

@media (max-width:1439px) {
    .section_typeofvarnish_mattorgloss_title {
        z-index: 3
    }

    .section_typeofvarnish_mattorgloss_title:before {
        display: none
    }

    .substrate_3item {
        height: 400px
    }
}

@media (max-width:1279px) {
    .substrate_3items {
        display: block
    }

    .substrate_3item {
        border-top: 2px solid #151515;
        border-bottom: 2px solid #151515;
        border-left: 4px solid #151515;
        border-right: 4px solid #151515;
        height: 320px;
        padding: 67px 34px
    }

    .substrate_3item:first-child {
        border-top-width: 4px
    }

    .substrate_3item:last-child {
        border-bottom-width: 4px
    }
}

.spotuvvarnish {
    position: relative
}

.spotuvvarnish_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.spotuvvarnish_bg .parallax_img50 {
    background: url(../img/SpotUVVarnish.jpg) left center/cover no-repeat;
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 100px);
    height: calc(100% + 100px)
}

.stampingpremium_section {
    position: relative;
    overflow: hidden
}

.stampingpremium_section .fileretouching_textblock {
    position: static
}

.stampingpremium_section .fileretouching_textblock_imgleft {
    left: -25px
}

@media (max-width:1279px) {
    .spotuvvarnish_bg .parallax_img50 {
        background-image: url(../img/SpotUVVarnish_tab.jpg)
    }

    .stampingpremium_section .fileretouching_textblock_imgleft {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media (max-width:767px) {
    .stampingpremium_section .fileretouching_textblock_imgleft {
        display: block;
        position: relative;
        left: -40px;
        width: calc(100% + 40px)
    }
}

@media (max-width:479px) {
    .stampingpremium_section .fileretouching_textblock_imgleft {
        left: -20px;
        width: calc(100% + 20px)
    }
}

.section_advantages_stamping {
    padding-top: 152px;
    padding-bottom: 130px
}

.advantages_stamping {
    padding-left: 80px;
    padding-right: 80px
}

.advantages_stamping_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px
}

.advantages_stamping_ul li {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: .02em;
    margin-top: 30px;
    padding-right: 24px
}

.advantages_stamping_ul li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 10px;
    background: #fff
}

.advantages_stamping_ul li span {
    display: inline-block;
    max-width: 330px
}

@media (max-width:1599px) {
    .advantages_stamping {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width:1279px) {
    .advantages_stamping_ul {
        margin-top: 0
    }

    .advantages_stamping_ul li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }

    .section_advantages_stamping {
        padding-bottom: 182px
    }
}

@media (max-width:767px) {
    .section_advantages_stamping {
        padding-top: 52px
    }

    .section_advantages_stamping .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .advantages_stamping_ul {
        display: block
    }

    .advantages_stamping_ul li {
        padding-right: 0
    }
}