.variabledatepage {
    background: #1b1b1c
}

.variabledatepage .section_title {
    background: url(../img/variabledatepage.jpg) right bottom/cover no-repeat #1b1b1c
}

.variabledatepage h1 {
    max-width: 560px
}

.variabledata {
    padding-top: 0
}

.variabledata_image {
    position: absolute;
    right: 60px;
    top: -120px;
    padding-left: 80px;
    overflow: hidden
}

.variabledata_img {
    position: relative;
    padding-bottom: 8px
}

.variabledata_img_img {
    width: 980px;
    height: 1064px;
    background: url(../img/variabledata_img.png) center/contain no-repeat
}

.variabledata__text {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 210px;
    padding-top: 396px;
    background: url(../img/fileretouching_express__text1_bg.png) right top/auto 360px no-repeat;
    right: 440px;
    bottom: 0
}

.variabledata_text2 {
    position: absolute;
    text-align: right;
    font-size: 14px;
    line-height: 19px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 900;
    right: 740px;
    top: 370px;
    height: 408px
}

.variabledata_text2 span {
    display: block;
    padding-right: 160px;
    position: absolute;
    right: 0
}

.variabledata_text2 span:after {
    content: '';
    display: block;
    width: 138px;
    height: 4px;
    background: url(../img/variabledata_text2_bg.png) center/contain no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px
}

.variabledata_text2 span.variabledata_text2_4 {
    top: 0
}

.variabledata_text2 span.variabledata_text2_3 {
    top: 8%
}

.variabledata_text2 span.variabledata_text2_2 {
    bottom: 25%
}

.variabledata_text2 span.variabledata_text2_1 {
    bottom: 0
}

.variabledata_bottomcontent {
    margin-left: 80px;
    padding-bottom: 0;
    position: relative;
    z-index: 3
}

.variabledata_bottomtext {
    font-size: 51px;
    line-height: 68px;
    font-weight: 900;
    text-transform: uppercase;
    border: 5px solid #fff;
    max-width: 480px;
    padding: 59px 42px 59px 75px
}

@media (max-width:1919px) {
    .variabledata_image {
        right: 0
    }
}

@media (max-width:1599px) {
    .variabledata_img {
        right: -240px
    }

    .variabledata_bottomcontent {
        margin-left: 40px;
        padding-top: 40px
    }
}

@media (max-width:1439px) {
    .variabledata_img {
        right: -40px
    }

    .variabledata_img_img {
        width: 760px;
        height: 834px
    }

    .variabledata_text2 {
        right: 600px;
        top: 280px;
        height: 322px
    }

    .variabledata_text2 span {
        padding-right: 60px
    }

    .variabledata_text2 span:after {
        width: 40px
    }

    .variabledata_text2 span.variabledata_text2_3 {
        top: 10%
    }

    .variabledata .fileretouching_express_left .contentleft {
        max-width: 480px
    }

    .variabledata__text {
        padding-top: 306px;
        right: 335px;
        background-size: auto 300px
    }
}

@media (max-width:1279px) {
    .variabledata_image {
        position: relative;
        top: -57px;
        right: 0;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: -80px
    }

    .variabledata_img {
        right: 0;
        max-width: 720px;
        margin: 0 auto
    }

    .variabledata_img_img {
        background: url(../img/variabledata_img_tab.png) center top/contain no-repeat;
        width: 100%;
        height: 760px
    }

    .variabledata_text2 {
        right: 420px;
        top: 208px;
        height: 256px
    }

    .variabledata_text2 span {
        padding-right: 160px
    }

    .variabledata_text2 span:after {
        width: 138px
    }

    .variabledata_text2 span.variabledata_text2_3 {
        top: 14%
    }

    .variabledata_text2 span.variabledata_text2_2 {
        bottom: 30%
    }

    .variabledata__text {
        right: 200px;
        padding-top: 302px;
        background-size: auto 270px
    }

    .variabledata_bottomtext {
        font-size: 21px;
        line-height: 28px;
        max-width: 200px;
        padding: 20px 10px 18px 27px
    }
}

@media (max-width:767px) {
    .variabledata_image {
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: -40px
    }

    .variabledata_img {
        max-width: 320px;
        padding-bottom: 0;
        padding-top: 276px
    }

    .variabledata_img_img {
        background: url(../img/variabledata_img_mob.png) center top/contain no-repeat;
        width: 100%;
        height: 550px
    }

    .variabledata__text {
        padding-top: 210px;
        text-align: left;
        background: url(../img/fileretouching_express__text1_bg_mob.png) left top/auto 200px no-repeat;
        right: auto;
        left: 42px;
        bottom: 56px
    }

    .variabledata_text2 {
        right: 0;
        top: 0;
        height: 256px;
        width: 300px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .variabledata {
        padding-top: 56px
    }

    .variabledata_bottomcontent {
        margin-left: 0;
        padding-top: 60px
    }
}

@media (max-width:479px) {
    .variabledata_bottomtext {
        max-width: 100%;
        padding: 27px 60px
    }

    .variabledata_bottomtext br {
        display: none
    }
}

.section_variabledate_image {
    position: relative;
    padding-top: 0;
    margin-top: -240px
}

.variabledate_image__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    z-index: 2;
    position: relative;
    top: -120px
}

.variabledate_image_img {
    position: relative;
    right: -50px;
    width: 83.80208333vw;
    height: auto
}

@media (max-width:1279px) {
    .section_variabledate_image {
        margin-top: -80px;
        padding-bottom: 30px
    }

    .variabledate_image__img {
        top: -74px
    }

    .ourexperience {
        padding-top: 0
    }

    .ourexperience .fileretouching_textblock {
        display: block
    }

    .ourexperience .fileretouching_textblock_imgleft {
        position: static;
        width: auto;
        margin: 0 -40px
    }

    .ourexperience .fileretouching_textblock_right {
        padding-left: 0;
        margin-left: 0
    }
}

@media (max-width:767px) {
    .variabledate_image__img {
        display: block;
        top: -45px
    }

    .variabledate_image_img {
        width: 100%;
        right: 0
    }

    .section_variabledate_image {
        margin-top: 20px;
        padding-bottom: 0
    }
}

.ourexperience {
    position: relative
}

.ourexperience .fileretouching_textblock {
    position: static
}

.ourexperience .fileretouching_textblock .fileretouching_textblock_imgleft img {
    width: 100%
}

@media (max-width:479px) {
    .ourexperience {
        padding-bottom: 60px
    }

    .ourexperience .fileretouching_textblock_imgleft {
        margin: 0 -20px
    }
}

.section_settingup {
    position: relative
}

.section_settingup .fileretouching_textblock {
    position: static
}

.section_settingup .fileretouching_textblock_imgright {
    width: 50%;
    height: 100%;
    background: url(../img/settingup_bg.jpg) center/cover no-repeat;
    overflow: hidden
}

.section_settingup .fileretouching_textblock_imgright img {
    left: 130px;
    position: relative
}

@media (max-width:1599px) {
    .section_settingup .fileretouching_textblock_imgright img {
        left: 60px
    }
}

@media (max-width:1279px) {
    .section_settingup {
        padding-top: 0
    }

    .section_settingup .fileretouching_textblock {
        display: block
    }

    .section_settingup .fileretouching_textblock_imgright {
        position: relative;
        margin-right: -40px;
        margin-left: -40px;
        width: calc(100% + 80px);
        padding: 124px 100px 72px;
        height: auto
    }

    .section_settingup .fileretouching_textblock_imgright img {
        left: 0;
        width: 100%
    }

    .section_settingup .fileretouching_textblock_left {
        padding-top: 130px;
        padding-right: 0
    }
}

@media (max-width:767px) {
    .section_settingup {
        padding-bottom: 60px
    }

    .section_settingup .fileretouching_textblock_imgright {
        position: relative;
        margin-right: -20px;
        margin-left: -20px;
        width: calc(100% + 40px);
        padding: 84px 20px 76px
    }

    .section_settingup .fileretouching_textblock_left {
        padding-top: 0
    }
}

.section_variableprinting .fileretouching_textblock_imgright {
    background: url(../img/variableprinting_bg.jpg) center/cover no-repeat
}

.section_croppingphotos {
    background: #1b1b1c;
    padding-top: 185px;
    padding-bottom: 235px
}

.section_croppingphotos h2.big {
    margin-bottom: 138px
}

.section_croppingphotos .fileretouching_textblock {
    min-height: 0
}

.section_croppingphotos .fileretouching_textblock.fileretouching_textblock_rewerse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.section_croppingphotos .fileretouching_textblock .fileretouching_textblock_imgleft,
.section_croppingphotos .fileretouching_textblock .fileretouching_textblock_imgright {
    position: static;
    height: auto;
    width: 50%
}

.section_croppingphotos .fileretouching_textblock .fileretouching_textblock_left,
.section_croppingphotos .fileretouching_textblock .fileretouching_textblock_right {
    margin-left: 0;
    padding-bottom: 50px
}

.section_croppingphotos .fileretouching_textblock+.fileretouching_textblock {
    margin-top: 148px
}

.croppingphotos_text {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 900;
    text-align: center
}

.croppingphoto .croppingphotos_text+img {
    margin-top: 50px
}

@media (max-width:1279px) {
    .section_croppingphotos {
        padding-top: 150px;
        padding-bottom: 125px
    }

    .section_croppingphotos h2.big {
        margin-bottom: 107px
    }

    .section_croppingphotos .fileretouching_textblock {
        display: block
    }

    .section_croppingphotos .fileretouching_textblock .fileretouching_textblock_imgleft,
    .section_croppingphotos .fileretouching_textblock .fileretouching_textblock_imgright {
        width: 100%;
        margin-bottom: 66px
    }

    .croppingphoto {
        margin: 0 -35px
    }

    .section_croppingphotos .fileretouching_textblock+.fileretouching_textblock {
        margin-top: 102px
    }

    .croppingphotos_text_top {
        padding-right: 33vw
    }

    .croppingphotos_text_bottom {
        padding-left: 33vw
    }

    .section_croppingphotos .fileretouching_textblock .fileretouching_textblock_right {
        padding-left: 0
    }

    .section_croppingphotos .fileretouching_textblock .fileretouching_textblock_left {
        padding-right: 0
    }
}

@media (max-width:767px) {
    .section_croppingphotos {
        padding-top: 52px;
        padding-bottom: 10px
    }

    .section_croppingphotos .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .section_croppingphotos h2.big {
        margin-bottom: 45px
    }

    .section_croppingphotos .fileretouching_textblock+.fileretouching_textblock {
        margin-top: 8px
    }

    .croppingphoto {
        margin: 0 -15px
    }

    .croppingphoto .croppingphotos_text+img {
        margin-top: 24px
    }

    .croppingphotos_text {
        font-size: 10px;
        line-height: 10px
    }

    .section_croppingphotos .fileretouching_textblock .fileretouching_textblock_imgleft,
    .section_croppingphotos .fileretouching_textblock .fileretouching_textblock_imgright {
        margin-bottom: 88px
    }
}

.varabile_barcode {
    position: relative
}

.varabile_barcode .fileretouching_textblock {
    position: static
}

.varabile_barcode .fileretouching_textblock_imgleft {
    width: 50%;
    height: 100%;
    background: url(../img/varabile_barcode_img.jpg) center/cover no-repeat
}

@media (max-width:1279px) {
    .varabile_barcode {
        padding: 0
    }

    .varabile_barcode .fileretouching_textblock {
        display: block
    }

    .varabile_barcode .fileretouching_textblock_imgleft {
        width: calc(100% + 80px);
        margin: 0 -40px;
        height: 560px;
        position: static
    }

    .varabile_barcode .fileretouching_textblock_right {
        margin-left: 0;
        padding: 153px 0 180px
    }
}

@media (max-width:767px) {
    .varabile_barcode .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .varabile_barcode .fileretouching_textblock_imgleft {
        width: calc(100% + 40px);
        margin: 0 -20px;
        height: 100vw
    }

    .varabile_barcode .fileretouching_textblock_right {
        margin-left: 0;
        padding: 53px 0 60px
    }
}