.vinylpage {
    background: url(../img/vinylpage_bg.jpg) right top/100% auto no-repeat #1b1b1c
}

.vinylpage h1 {
    max-width: 520px
}

.vinylpage .section_title {
    background: 0 0
}

.vinylpage .fileretouching_express_left .contentleft {
    max-width: 640px
}

.vinyl {
    min-height: calc(33.5vw + 160px);
    padding-bottom: 80px;
    padding-top: 80px
}

.vinyl_image {
    position: absolute;
    right: 200px;
    top: 80px;
    background: url(../img/vinyl_image.svg) center/contain no-repeat;
    padding: 35px 0 40px 40px
}

@media (max-width:1919px) {
    .vinyl_image {
        right: 80px
    }
}

@media (max-width:1439px) {
    .vinyl_image {
        right: 40px
    }
}

@media (max-width:1279px) {
    .vinyl_image {
        position: relative;
        top: 0;
        right: 40px;
        left: 40px;
        padding: 0 40px;
        width: calc(100% - 80px)
    }
}

@media (max-width:767px) {
    .vinyl_image {
        right: 20px;
        left: 20px;
        padding: 0 20px;
        width: calc(100% - 40px)
    }
}

.vinyl_img {
    background: url(../img/vinyl_img.png) center/contain no-repeat;
    width: 41vw;
    height: 33.5vw
}

@media (max-width:1279px) {
    .vinyl_img {
        width: 100%;
        height: 64vw;
        background-position: center top
    }
}

.largebanervinyl {
    background: #151515;
    position: relative
}

.largebanervinyl .fileretouching_textblock {
    position: static
}

.largebanervinyl .fileretouching_textblock_imgright {
    width: 50%;
    background: center/cover no-repeat
}

@media (max-width:767px) {
    .vinyl_img {
        height: 66vw
    }

    .largebanervinyl {
        padding-top: 0
    }

    .largebanervinyl .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .largebanervinyl .fileretouching_textblock_imgright {
        width: 100vw;
        height: 100vw;
        margin-left: -20px;
        margin-right: -20px
    }
}