.windowgraphicspage {
    background: #1b1b1c
}

.windowgraphicspage .section_title {
    background: url(../img/windowgraphicspage.jpg) right center/auto 100% no-repeat #1b1b1c
}

.windowgraphicspage h1 {
    max-width: 640px
}

.windowgraphics {
    padding-top: 0;
    padding-bottom: 160px;
    min-height: 61.5vw
}

.windowgraphics_image {
    position: absolute;
    top: 132px;
    right: 170px
}

.windowgraphics_img {
    width: 51.92708vw;
    height: 32.60416vw;
    background: url(../img/windowgraphics_img.png) center top/contain no-repeat
}

@media (max-width:1919px) {
    .windowgraphics_image {
        right: 80px
    }
}

@media (max-width:1279px) {
    .windowgraphicspage .section_title {
        background-size: cover
    }

    .windowgraphics {
        padding-top: 80px;
        padding-bottom: 215px
    }

    .windowgraphics_image {
        position: static;
        margin-bottom: 10px;
        padding: 0 40px
    }

    .windowgraphics_img {
        width: 100%;
        height: 57.5vw
    }
}

@media (max-width:767px) {
    .windowgraphics_image {
        padding: 0 20px;
        margin-bottom: -18px
    }

    .windowgraphics {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

.windowgraphicimage {
    padding: 240px 0 480px;
    text-align: left;
    position: relative
}

.windowgraphicimage .wrapper {
    max-width: 1440px
}

.windowgraphicimage .section_fileretouching_textures_content {
    z-index: 3
}

.windowgraphicimage_text {
    border: 5px solid #fff;
    max-width: 800px;
    font-size: 51px;
    line-height: 68px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 60px 48px 58px 77px;
    position: relative;
    z-index: 3
}

.windowgraphicimage_img {
    position: absolute;
    left: 40%;
    top: -160px;
    z-index: 2;
    height: 100%;
    width: 60%;
    overflow: hidden
}

.windowgraphicimage_img img {
    width: auto;
    max-width: none;
    height: 100%
}

@media (max-width:1279px) {
    .windowgraphicimage {
        padding: 120px 0 240px
    }

    .windowgraphicimage .wrapper {
        padding-left: 80px;
        padding-right: 80px
    }

    .windowgraphicimage_text {
        max-width: 400px;
        font-size: 25px;
        line-height: 34px;
        padding: 28px 36px 28px 37px
    }

    .windowgraphicimage_img {
        top: -80px
    }
}

@media (max-width:479px) {
    .windowgraphicimage_text {
        max-width: 100%
    }
}

.windowdecals {
    position: relative;
    background: url(../img/windowdecals.png) right top/auto 100% no-repeat #dbdde9
}

.windowdecals .fileretouching_textblock_left h2,
.windowdecals .fileretouching_textblock_left p {
    max-width: 400px
}

@media (max-width:1439px) {
    .windowgraphics_image {
        right: 40px
    }

    .windowdecals {
        background-size: 60% auto
    }
}

@media (max-width:1279px) {
    .windowdecals {
        background-size: 80% auto
    }

    .windowdecals .fileretouching_textblock_left h2,
    .windowdecals .fileretouching_textblock_left p {
        max-width: 320px
    }
}

@media (max-width:767px) {
    .windowgraphicimage {
        padding-top: 0;
        padding-bottom: 72px
    }

    .windowgraphicimage .wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .windowgraphicimage_text {
        font-size: 20px;
        line-height: 27px
    }

    .windowgraphicimage_img {
        position: relative;
        top: -24px;
        left: 0;
        width: 100%;
        height: auto
    }

    .windowgraphicimage_img img {
        height: auto;
        width: 100%
    }

    .windowdecals {
        padding-top: 100vw;
        padding-bottom: 60px;
        background-size: 100% auto
    }

    .windowdecals .fileretouching_textblock {
        min-height: 0
    }
}

.seethrudecals {
    position: relative
}

.seethrudecals .fileretouching_textblock {
    position: static
}

.seethrudecals .fileretouching_textblock_imgright {
    width: 50%;
    height: 100%;
    background: url(../img/seethrudecals_img.jpg) center/cover no-repeat
}

@media (max-width:1279px) {
    .seethrudecals {
        padding-top: 0
    }

    .seethrudecals .fileretouching_textblock {
        display: block
    }

    .seethrudecals .fileretouching_textblock_imgright {
        width: auto;
        height: 90vw;
        position: static;
        margin: 0 -40px
    }

    .seethrudecals .fileretouching_textblock_left {
        padding-top: 156px
    }
}

@media (max-width:767px) {
    .seethrudecals {
        padding-bottom: 60px
    }

    .seethrudecals .fileretouching_textblock {
        min-height: 0
    }

    .seethrudecals .fileretouching_textblock_imgright {
        height: 83.33333vw;
        margin: 0 -20px
    }

    .seethrudecals .fileretouching_textblock_left {
        padding-top: 52px
    }
}

.section_exampleproduct {
    padding-top: 186px;
    padding-bottom: 232px
}

.section_exampleproduct h2.big {
    margin-bottom: 130px
}

.exampleproduct {
    max-width: 1440px;
    margin: 0 auto
}

.exampleproduct .fileretouching_textblock {
    min-height: 0
}

.exampleproduct .fileretouching_textblock_imgleft,
.exampleproduct .fileretouching_textblock_imgright {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.exampleproduct .fileretouching_textblock+.fileretouching_textblock {
    margin-top: 225px
}

@media (max-width:1279px) {
    .section_exampleproduct {
        padding-top: 148px;
        padding-bottom: 152px
    }
}

@media (max-width:767px) {
    .section_exampleproduct {
        padding-top: 52px;
        padding-bottom: 60px
    }

    .section_exampleproduct h2.big {
        margin-bottom: 48px
    }

    .exampleproduct .fileretouching_textblock+.fileretouching_textblock {
        margin-top: 60px
    }
}