.aside_group+.aside_group {
    margin-top: 24px;
}

.aside_item {
    background: #1a1a1b;
    border-bottom: 2px solid #141415;
}

.aside_item_title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 0 60px 0 40px;
    position: relative;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
}

.aside_item_title i {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 40px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.aside_item_title i:before,
.aside_item_title i:after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
}

.aside_item_title i:before {
    width: 10px;
    height: 2px;
    margin-top: -1px;
    left: 0;
    top: 50%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.aside_item_title i:after {
    width: 2px;
    height: 10px;
    margin-left: -1px;
    left: 50%;
    top: 0;
}

.aside_item_title.opened i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.aside_item_title.opened i:before {
    opacity: 0;
}

.aside_item_content {
    padding: 12px 40px 12px 40px;
    display: none;
}

.aside_item2_title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    display: block;
}

.aside_item2_title span {
    display: inline-block;
    position: relative;
}

.aside_item2_title span:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.aside_item2_title:hover span:after {
    width: 100%;
}

.aside_item2.opened .aside_item2_title span:after {
    width: 100%;
}

.aside_item3 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    color: darkgrey;
    cursor: pointer;
}

.aside_item3:hover {
    color: #fff;
}

.aside_item3 span.number {
    display: block;
    min-width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    background: #484849;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: -60px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 6px;
}

.aside_item2_content {
    padding: 26px 60px 26px 0;
    display: none;
}

.aside_item2_content_border {
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    padding: 7px 0 8px;
}

.aside_item2_with .aside_item2_title i {
    display: block;
    width: 10px;
    height: 7px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.aside_item2_with.opened i {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.aside_menu_opener {
    padding: 0 40px;
    background: #1a1a1b;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    position: relative;
    display: none;
}

.aside_menu_opener i {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 40px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.aside_menu_opener i:before,
.aside_menu_opener i:after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
}

.aside_menu_opener i:before {
    width: 10px;
    height: 2px;
    margin-top: -1px;
    left: 0;
    top: 50%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.aside_menu_opener i:after {
    width: 2px;
    height: 10px;
    margin-left: -1px;
    left: 50%;
    top: 0;
}

.aside_menu_opener.opened i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.aside_menu_opener.opened i:before {
    opacity: 0;
}

@media (max-width: 1279px) {
    .main_content_withmenu {
        display: block;
    }

    .main_content_withmenu aside {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .main_content_withmenu .aside_menu_opener {
        display: block;
    }

    .main_content_withmenu .aside_menu {
        display: none;
    }
}

@media (max-width: 767px) {

    .aside_menu_opener,
    .aside_item_title,
    .aside_item_content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .aside_item_title i,
    .aside_menu_opener i {
        right: 20px;
    }
}

@media (min-width: 1280px) {
    .aside_menu {
        display: block !important;
    }
}