.feedback {
    max-width: 768px;
}

.feedback_group .title13 {
    display: block;
}

.feedback_group input {
    display: block;
    height: 72px;
    background: #1a1a1b;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .007em;
    color: #fff;
    padding: 0 24px;
}

.feedback_group textarea {
    display: block;
    background: #1a1a1b;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .007em;
    color: #fff;
    padding: 20px 24px;
    height: 264px;
    resize: none;
}

.feedback_group+.feedback_group {
    margin-top: 32px;
}

.feedback_form_button {
    margin-top: 20px;
}

.feedback_form_button .button {
    min-width: 172px;
}

@media (max-width: 479px) {
    .feedback_form_button .button {
        width: 100%;
    }
}

@media (max-width: 359px) {

    .feedback_group input,
    .feedback_group textarea {
        padding-left: 12px;
        padding-right: 12px;
    }
}