@font-face {
    font-family: "NeueHaas";
    src: url("../fonts/NeueHaasDisplay-Black.eot");
    src: url("../fonts/NeueHaasDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueHaasDisplay-Black.woff2") format("woff2"), url("../fonts/NeueHaasDisplay-Black.woff") format("woff"), url("../fonts/NeueHaasDisplay-Black.ttf") format("truetype"), url("../fonts/NeueHaasDisplay-Black.svg#NeueHaas") format("svg");
    font-weight: 900;
    font-style: normal;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "NeueHaas", "Open Sans", "sans-serif";
    font-weight: 900;
    color: #212121;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

input,
textarea,
button {
    font-family: "NeueHaas", "Open Sans", "sans-serif";
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
}

button {
    cursor: pointer;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li,
ol li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

*,
*:hover,
*:visited,
*:focus {
    text-decoration: none;
    outline: none !important;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

h1 {
    font-size: 48px;
    line-height: 72px;
}

h2 {
    font-size: 30px;
    line-height: 45px;
}

h2 span.required {
    color: #ff3232;
}

.button {
    display: inline-block;
    height: 120px;
    line-height: 120px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 40px;
    position: relative;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button_purple {
    background: #8d39ff;
    color: #fff;
}

.button_purple:hover {
    background: #fff;
    color: #212121;
}

.wrapper {
    max-width: 1640px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

.order_checkbox {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: middle;
    min-width: 76px;
}

.order_checkbox input {
    display: none !important;
}

.order_checkbox span.checkbox_text {
    display: block;
    padding: 11px 20px 11px 55px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order_checkbox span.checkbox_text:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: 11px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.order_checkbox span.checkbox_text:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 20px;
    top: 11px;
    background: no-repeat center / 18px 13px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.order_checkbox input:checked+span.checkbox_text {
    background: #cbcbcb;
}

.order_checkbox input:checked+span.checkbox_text:before {
    background: #8d39ff;
}

.order_checkbox input:checked+span.checkbox_text:after {
    background-image: url(../img/checkbox.svg);
}

.order_radiobutton {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: middle;
    min-width: 76px;
}

.order_radiobutton input {
    display: none !important;
}

.order_radiobutton span.radiobutton_text {
    display: block;
    padding: 11px 20px 11px 55px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order_radiobutton span.radiobutton_text:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: #fff;
    position: absolute;
    left: 20px;
    top: 11px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.order_radiobutton span.radiobutton_text:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 27px;
    top: 17px;
    background: transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.order_radiobutton input:checked+span.radiobutton_text {
    background: #cbcbcb;
}

.order_radiobutton input:checked+span.radiobutton_text:before {
    background: #8d39ff;
}

.order_radiobutton input:checked+span.radiobutton_text:after {
    background: #fff;
}

.colorPurple {
    color: #8d39ff;
}

.colorPink {
    color: #f51a5d;
}

.colorGrey {
    color: #858585;
}

.colorRed {
    color: #ff3232;
}

.header_orderpage {
    background: #212121;
    color: #fff;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 240px;
}

.header_logo {
    display: block;
    width: 233px;
    height: 65px;
}

.header_logo svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.header_logo:hover svg {
    fill: #858585;
}

.section_order {
    background: #dedede;
    padding-top: 62px;
}

.order_form_group {
    padding: 26px 0;
}

.order_form_group h2+.order_input_group {
    margin-top: 22px;
}

.order_form_group h2+.order_checkboxes {
    margin-top: 10px;
}

.order_form_group_name {
    margin-bottom: 36px;
}

.order_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.order_col_1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 12.5%;
}

.order_col_2 {
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
}

.order_col_4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
}

.order_form {
    display: block;
    width: 100%;
}

.order_input_title {
    font-size: 14px;
    margin-bottom: 8px;
    color: #ff3232;
    display: block;
}

.order_textarea {
    display: block;
    width: 100%;
    height: 180px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 18px;
    line-height: 27px;
    padding: 29px 38px;
    resize: none;
    color: #212121;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.order_textarea::-webkit-input-placeholder {
    color: #212121;
    opacity: 1;
}

.order_textarea::-moz-placeholder {
    color: #212121;
    opacity: 1;
}

.order_textarea:-ms-input-placeholder {
    color: #212121;
    opacity: 1;
}

.order_textarea::-ms-input-placeholder {
    color: #212121;
    opacity: 1;
}

.order_textarea::placeholder {
    color: #212121;
    opacity: 1;
}

.order_textarea:focus {
    border-color: #8d39ff;
}

.order_checkboxes .order_col_1 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.order_size_input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 540px;
}

.order_size_input .order_input_group {
    width: 100%;
    max-width: 360px;
}

.order_size_input_title {
    font-size: 18px;
    padding-right: 24px;
    margin-top: 25px;
}

.order_size_buttons_title {
    font-size: 18px;
    padding-right: 24px;
}

.order_input {
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid transparent;
    background: #fff;
    font-size: 18px;
    padding: 0 48px 0 16px;
    resize: none;
    color: #212121;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.order_input:focus {
    border-color: #8d39ff;
}

.order_input::-webkit-outer-spin-button,
.order_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order_size_input+.order_size_input {
    margin-top: 36px;
}

.order_form_button {
    background: #cbcbcb;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin-top: 152px;
}

.order_form_button .button {
    width: 100%;
    max-width: 480px;
}

.order_input_group {
    position: relative;
    padding-top: 25px;
}

.order_input_title {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.order_size {
    margin-top: 24px;
}

.order_size_buttons {
    margin-top: 24px;
}

.order_size_buttons+.order_size_buttons {
    margin-top: 64px;
}

.order_input_group.order_input_group_success:after {
    content: '';
    display: block;
    width: 18px;
    height: 13px;
    position: absolute;
    top: 46px;
    right: 24px;
    background: url(../img/success.svg) no-repeat center/18px 13px;
    z-index: 3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.order_input_group.order_input_group_success .order_input,
.order_input_group.order_input_group_success .order_textarea {
    border-color: #8d39ff;
}

.order_input_group.order_input_group_alert .order_input_title {
    display: block;
}

.order_input_group.order_input_group_alert .order_input,
.order_input_group.order_input_group_alert .order_textarea {
    border-color: #ff3232;
}

@media (max-width: 1439px) {
    .order_row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .order_col_1,
    .order_col_2,
    .order_col_4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1279px) {
    .header {
        height: 180px;
    }

    h1 {
        font-size: 30px;
        line-height: 44px;
    }

    .order_col_1 {
        width: 25%;
    }

    .order_col_2 {
        width: 25%;
    }

    .order_col_4 {
        width: 100%;
    }

    .order_checkboxes .order_col_1 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .order_size .order_col_4+.order_col_4 {
        margin-top: 48px;
    }
}

@media (max-width: 767px) {
    .header {
        height: auto;
        padding-top: 36px;
        padding-bottom: 36px;
        display: block;
        text-align: center;
    }

    .header_logo {
        width: 100%;
        margin-bottom: 44px;
    }

    .order_col_1 {
        width: 50%;
    }

    .order_col_2 {
        width: 50%;
    }

    .order_col_sm_8 {
        width: 100%;
    }

    .order_size_buttons+.order_size_buttons {
        margin-top: 24px;
    }

    .order_size_input+.order_size_input {
        margin-top: 24px;
    }

    .order_size_buttons .order_col_2 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .order_form_button {
        margin-top: 72px;
    }

    .button {
        height: 60px;
        line-height: 60px;
        font-size: 16px;
    }

    .order_textarea {
        padding: 18px;
    }
}

@media (max-width: 479px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_logo {
        height: 48px;
        margin-bottom: 18px;
    }

    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .order_textarea {
        font-size: 14px;
    }

    .order_row {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .order_col_1,
    .order_col_4,
    .order_col_2 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .order_checkbox span.checkbox_text,
    .order_radiobutton span.radiobutton_text {
        margin-left: -10px;
        margin-right: -10px;
    }

    .order_size_input {
        display: block;
    }

    .order_size_buttons_title br {
        display: none;
    }

    .button {
        width: 100%;
    }

    .order_form_button {
        padding-top: 36px;
        padding-bottom: 36px;
        margin-top: 36px;
    }

    .order_input_title {
        position: static;
    }

    .order_checkboxes .order_col_1,
    .order_size_buttons .order_col_2 {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.section_history {
    background: #212121;
    color: #fff;
}

.section_history_scroll {
    padding-top: 88px;
    padding-bottom: 88px;
    height: 100vh;
    max-height: 820px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: #878787 #535353;
}

.section_history_scroll::-webkit-scrollbar {
    width: 18px;
    padding-left: 1px;
    padding-right: 1px;
}

.section_history_scroll::-webkit-scrollbar-track {
    background: #535353;
    padding-left: 1px;
    padding-right: 1px;
}

.section_history_scroll::-webkit-scrollbar-thumb {
    background: #878787;
    width: 14px;
}

.history_table {
    font-size: 18px;
    font-weight: 900;
}

.history_table_tbody {
    border-bottom: 1px solid #545454;
}

.history_table_tbody:last-child {
    border-bottom: 0;
}

.history_table_mobile_title {
    display: none;
}

.history_table_row {
    padding-top: 19px;
    padding-bottom: 19px;
}

.projectname {
    text-transform: uppercase;
}

.projectdate {
    color: #858585;
}

.projectdate span {
    display: block;
}

.projectlpi {
    display: inline-block;
    vertical-align: middle;
    min-width: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.history_table_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.history_table_title {
    width: 120px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.history_table_items {
    margin-left: -20px;
    margin-right: -20px;
}

.history_table_item {
    display: inline-block;
    min-width: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.history_table_remove {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../img/remove.svg) #858585 no-repeat center/25px 24px;
}

.history_table_remove:hover {
    background-color: #8d39ff;
}

.history_table_thead,
.history_table_tbody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.history_table_thead {
    color: #858585;
}

.history_table_tbody {
    padding-bottom: 35px;
    padding-top: 24px;
}

.history_table_thead+.history_table_tbody {
    padding-top: 19px;
}

.history_table_col_name {
    width: calc(28%);
    padding-right: 120px;
}

.history_table_col_lpi {
    width: calc(32%);
    padding-right: 90px;
}

.history_table_col_size {
    width: calc(20%);
    padding-right: 120px;
}

.history_table_col_info {
    width: calc(20%);
    padding-right: 60px;
}

.history_table_col_remove {
    width: 60px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.history_table_removed {
    color: #858585;
}

.history_table_removed .history_table_remove {
    opacity: .5;
    background-color: #848484;
}

@media (max-width: 1599px) {
    .history_table_col_name {
        padding-right: 60px;
    }

    .history_table_col_lpi {
        padding-right: 60px;
    }

    .history_table_col_size {
        padding-right: 60px;
    }

    .history_table_col_info {
        padding-right: 30px;
    }
}

@media (max-width: 1439px) {
    .history_table_col_name {
        padding-right: 40px;
    }

    .history_table_col_lpi {
        padding-right: 40px;
    }

    .history_table_col_size {
        padding-right: 40px;
    }

    .history_table_col_info {
        padding-right: 20px;
    }

    .history_table_item {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 40px;
    }

    .history_table_items {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (max-width: 1279px) {
    .history_table_thead {
        display: none;
    }

    .history_table_mobile_title {
        display: block;
        color: #858585;
        margin-bottom: 12px;
    }

    .history_table_tbody {
        display: block;
        position: relative;
    }

    .history_table_col_name,
    .history_table_col_lpi,
    .history_table_col_name,
    .history_table_col_size,
    .history_table_col_info {
        width: 100%;
        padding-right: 0;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .history_table_thead+.history_table_tbody {
        padding-top: 24px;
    }

    .history_table_row {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .history_table_col_size {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .history_table_col_size .history_table_mobile_title {
        width: 100%;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .history_table_col_size .history_table_flex+.history_table_flex {
        margin-left: 40px;
    }

    .history_table_col_size .history_table_title {
        width: auto;
        margin-right: 6px;
    }

    .history_table_col_info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .history_table_col_info .history_table_mobile_title {
        width: 100%;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .history_table_col_info .history_table_flex+.history_table_flex {
        margin-left: 40px;
    }

    .history_table_col_info .history_table_title {
        width: auto;
        margin-right: 6px;
    }

    .history_table_remove {
        position: absolute;
        right: 0;
        top: 36px;
        width: 48px;
        height: 48px;
    }

    .history_table_col_name {
        padding-right: 60px;
    }
}

@media (max-width: 479px) {

    .history_table_col_size,
    .history_table_col_info {
        display: block;
    }

    .history_table_col_size .history_table_flex+.history_table_flex,
    .history_table_col_info .history_table_flex+.history_table_flex {
        margin-left: 0;
    }

    .history_table_items {
        margin-left: -5px;
        margin-right: -5px;
    }

    .history_table_item {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 1279px) {
    .section_history_scroll {
        height: auto;
        max-height: none;
        overflow-y: visible;
    }
}

.order_form_files {
    margin-top: 24px;
}

.order_form_file {
    display: inline-block;
}

.order_form_file input {
    display: none !important;
}

.order_form_file span.order_form_file_title {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 40px 0 46px;
    resize: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.order_form_names {
    font-size: 18px;
    margin-top: 18px;
}