.mainpage_mainsection {
    min-height: 100vh;
    background: url(../img/mainpage_mainsection_bg.jpg) no-repeat center/cover;
    padding: 210px 0 57px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mainpage_mainsection header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.mainpage_mainsection_loginform {
    width: 528px;
    margin: 0 auto;
    background: #1f1f20;
    padding: 48px 72px 36px;
}

.mainpage_mainsection_loginform_title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .007em;
    margin-bottom: 34px;
}

.mainpage_mainsection_loginform_group_title {
    display: block;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.mainpage_mainsection_loginform_group+.mainpage_mainsection_loginform_group {
    margin-top: 33px;
}

.mainpage_mainsection_loginform_group input {
    height: 72px;
    border: 1px solid #4b4b4b;
    display: block;
    width: 100%;
    font-size: 20px;
    color: #fff;
    letter-spacing: .007em;
    font-weight: 400;
    padding: 0 20px;
}

.mainpage_mainsection_loginform_buttons {
    margin-top: 47px;
}

.mainpage_mainsection_loginform_buttons .button {
    width: 100%;
}

.mainpage_mainsection_loginform_buttons .button+.button {
    margin-top: 18px;
}

.mainpage_mainsection_loginform_forgot {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-top: 29px;
}

.mainpage_images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mainpage_image {
    height: 384px;
    width: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainpage_image1 {
    background-image: url(../img/mainpage_image1.jpg);
}

.mainpage_image2 {
    background-image: url(../img/mainpage_image2.jpg);
}

.mainpage_image3 {
    background-image: url(../img/mainpage_image3.jpg);
}

.mainpage_trackorder {
    padding: 61px 0 58px;
    background: url(../img/mainpage_trackorder.jpg) no-repeat center/cover;
}

.mainpage_trackorder_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.mainpage_trackorder_form input {
    height: 68px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    background: #1f1f20;
    width: 480px;
    margin: 0 24px 0 30px;
}

.mainpage_trackorder_form input::-webkit-input-placeholder {
    color: #fff;
}

.mainpage_trackorder_form input::-moz-placeholder {
    color: #fff;
}

.mainpage_trackorder_form input:-ms-input-placeholder {
    color: #fff;
}

.mainpage_trackorder_form input::-ms-input-placeholder {
    color: #fff;
}

.mainpage_trackorder_form input::placeholder {
    color: #fff;
}

.mainpage_trackorder_form button {
    height: 68px;
    line-height: 64px;
    width: 312px;
}

.mainpage_trackorder_form_title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .007em;
    white-space: nowrap;
}

@media (max-width: 1023px) {
    .mainpage_mainsection {
        padding: 192px 0 48px;
    }

    .mainpage_image {
        height: 288px;
    }

    .mainpage_trackorder_form input {
        margin-right: 0;
        width: 432px;
    }

    .mainpage_trackorder_form button {
        width: 164px;
    }

    .mainpage_trackorder_form button span {
        display: none;
    }
}

@media (max-width: 767px) {
    .mainpage_mainsection_loginform {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }

    .mainpage_images {
        display: block;
    }

    .mainpage_image {
        height: 96px;
        width: 100%;
    }

    .mainpage_trackorder_form {
        display: block;
    }

    .mainpage_trackorder_form input {
        margin: 0 0 10px;
        width: 100%;
    }

    .mainpage_trackorder_form button {
        margin: 0;
        width: 100%;
    }

    .mainpage_trackorder_form_title {
        text-align: center;
    }

    .mainpage_mainsection {
        background: url(../img/mainpage_mainsection_bg_m.jpg) no-repeat center/cover;
    }
}

@media (max-width: 479px) {
    .mainpage_mainsection {
        padding: 138px 0 24px;
    }

    .mainpage_trackorder {
        padding: 36px 0 24px;
    }

    .mainpage_trackorder_form_title {
        margin-bottom: 36px;
    }
}