@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Semibold.eot");
    src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#GothamPro") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro.eot");
    src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro-Medium.eot");
    src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro-Bold.eot");
    src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#ProximaNova") format("svg");
    font-weight: 700;
    font-style: normal;
}

body {
    background: #141415;
    padding: 0;
    margin: 0;
    font-family: "GothamPro", "Open Sans", "sans-serif";
    color: #fff;
    width: 100%;
}

input,
textarea,
button {
    font-family: "GothamPro", "Open Sans", "sans-serif";
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    border-color: transparent;
    border-radius: 0;
}

button {
    cursor: pointer;
    padding: 0;
}

button:focus {
    outline: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li,
ol li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

*,
*:hover,
*:visited,
*:focus {
    text-decoration: none;
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-left: -.075em;
    margin-bottom: 39px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin-left: -.075em;
    line-height: 31px;
    letter-spacing: .007em;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flexcenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexbetween {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wrapper {
    width: 100%;
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 72px;
    padding-right: 72px;
}

.button {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    height: 48px;
    line-height: 44px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 24px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .08em;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button span.withicon {
    display: inline-block;
    vertical-align: middle;
}

.button i.gmail {
    display: inline-block;
    vertical-align: middle;
    width: 29px;
    height: 29px;
    background: url(../img/gmail_icon.png) no-repeat center/contain;
    margin-right: 26px;
}

.button i.download {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 25px;
    margin-right: 12px;
    background: url(../img/icon_download.png) no-repeat center/contain;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button:hover i.download {
    background-image: url(../img/icon_download_h.png);
}

.button.button_normal {
    text-transform: none;
}

.button_big {
    height: 72px;
    line-height: 68px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .16em;
}

.button_middle {
    height: 60px;
    line-height: 56px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .16em;
}

.button_medium {
    display: inline-block;
    height: 58px;
    line-height: 54px;
    border-radius: 29px;
    font-size: 16px;
    min-width: 288px;
    margin: 5px;
}

.button_radius {
    border-radius: 5px;
}

.button_fullwidth {
    width: 100%;
}

.button_white {
    border-color: #fff;
    background: #fff;
    color: #141415;
}

.button_white:hover,
.button_white.active {
    border-color: #303030;
    background: #303030;
    color: #fff;
}

.button_grey {
    border-color: #303030;
    background: #303030;
    color: #fff;
}

.button_grey:hover,
.button_grey.active {
    border-color: #fff;
    background: #fff;
    color: #141415;
}

.button_green {
    border-color: #27933e;
    background: #27933e;
    color: #fff;
}

.button_green:hover,
.button_green.active {
    border-color: #fff;
    background: #fff;
    color: #141415;
}

.button_transparent_white {
    border-color: #fff;
    background: transparent;
    color: #fff;
}

.button_transparent_white:hover,
.button_transparent_white.active {
    border-color: #fff;
    background: #fff;
    color: #141415;
}

.button_transparent_gray {
    border-color: #4b4b4b;
    background: transparent;
    color: #fff;
}

.button_transparent_gray:hover,
.button_transparent_gray.active {
    border-color: #fff;
    background: #fff;
    color: #141415;
}

.button_transparent {
    border-color: transparent;
    background: transparent;
    color: #fff;
}

.button_transparent:hover,
.button_transparent.active {
    border-color: #fff;
    background: #fff;
    color: #141415;
}

.header {
    padding: 0 72px;
    min-height: 163px;
    border-bottom: 1px solid #4b4b4b;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.header_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header_logo {
    width: 88px;
    height: 32px;
    display: block;
    margin-right: 72px;
    background: url(../img/logo.png) no-repeat center left/contain;
}

.header_left_menu {
    font-family: "ProximaNova";
    display: block;
    padding-left: 40px;
    position: relative;
    line-height: 16px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 32px;
    cursor: pointer;
}

.header_left_menu i {
    display: block;
    width: 20px;
    height: 16px;
    background: url(../img/header_left_menu.png) no-repeat left center/contain;
    position: absolute;
    left: 0;
    top: 0;
}

.header_left_menu span {
    display: block;
    position: relative;
    padding-right: 21px;
}

.header_left_menu span:after {
    content: "";
    display: block;
    width: 9px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
    position: absolute;
    right: 0;
    top: 6px;
}

.header_search {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/header_search.png) no-repeat center/contain;
}

.header_login {
    display: block;
    width: 29px;
    height: 29px;
    background: url(../img/header_login.png) no-repeat center/contain;
}

.header_lock {
    display: block;
    width: 34px;
    min-width: 34px;
    height: 34px;
    border-radius: 17px;
    background: url(../img/header_lock.png) no-repeat center #fff/contain;
    margin-left: 36px;
}

footer {
    background: url(../img/footer_bg.jpg) no-repeat center/cover;
    height: 1024px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer_logo {
    display: block;
    width: 343px;
    height: 125px;
    background: url(../img/logo.png) no-repeat center/contain;
    margin: 0 auto;
}

.header_menu {
    font-family: "ProximaNova";
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    white-space: nowrap;
}

.header_menu li {
    margin: 0 48px;
}

.header_menu li a {
    display: block;
    position: relative;
}

.header_menu li a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.header_menu li.active a:after,
.header_menu li:hover a:after {
    width: 100%;
}

.header_menu li.withsubmenu a {
    padding-right: 24px;
}

.header_menu li.withsubmenu a:before {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
}

.header_phone {
    display: block;
    padding-left: 28px;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    font-family: "ProximaNova";
    margin-left: 62px;
    white-space: nowrap;
}

.header_phone:before {
    content: '';
    display: block;
    width: 15px;
    height: 16px;
    background: url(../img/phoneicon.png) no-repeat center/contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
}

.breadcrumbs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 16px;
    letter-spacing: .007em;
    line-height: 18px;
    padding: 22px 0;
    margin-bottom: 28px;
}

.breadcrumbs li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.breadcrumbs li:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid #fff;
    background: url(../img/arrowdownwhite.png) no-repeat 50% 50%/8px 5px;
    position: absolute;
    left: 0;
    top: 3px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.breadcrumbs li:first-child {
    padding-left: 0;
}

.breadcrumbs li:first-child:before {
    display: none !important;
}

.main_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 80px;
}

aside {
    min-width: 384px;
    margin-right: 96px;
}

.asidelinks li {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: #1a1a1b;
}

.asidelinks li.active,
.asidelinks li:hover {
    font-weight: 500;
}

.asidelinks li a {
    display: block;
    width: 100%;
    padding: 18px 40px;
}

.asidelinks li+li {
    margin-top: 2px;
}

.content {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content_group {
    background: #1a1a1b;
}

.title13 {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .007em;
}

.fz14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .007em;
}

.custom_checkbox {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.custom_checkbox input {
    display: none !important;
}

.custom_checkbox .custom__checkbox {
    display: block;
    padding-left: 42px;
    position: relative;
}

.custom_checkbox .custom__checkbox:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #4b4b4b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 6px;
}

.custom_checkbox input:checked+.custom__checkbox:before {
    border: 2px solid white;
    background: url(../img/checkbox.png) no-repeat center/contain;
}

.custom_radio {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.custom_radio input {
    display: none !important;
}

.custom_radio .custom__radio {
    display: block;
    padding-left: 48px;
    position: relative;
}

.custom_radio .custom__radio:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #4b4b4b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    border-radius: 12px;
}

.custom_radio input:checked+.custom__radio:before {
    border: 6px solid #fff;
    background: #4b4b4b;
}

.custom_radio2 {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.custom_radio2 input {
    display: none !important;
}

.custom_radio2 .custom__radio2 {
    display: block;
    padding-left: 56px;
    position: relative;
}

.custom_radio2 .custom__radio2:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 7px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    background: #303030;
}

.custom_radio2 input:checked+.custom__radio2:before {
    border-color: #fff;
}

.custom_radio3 {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin-right: 24px;
}

.custom_radio3:last-child {
    margin-right: 0;
}

.custom_radio3 input {
    display: none !important;
}

.custom_radio3 span {
    display: block;
    padding-left: 32px;
    position: relative;
}

.custom_radio3 span:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #4b4b4b;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.custom_radio3 input:checked+span:before {
    border: 2px solid #fff;
}

.custom_radio3 input:checked+span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    top: 5px;
    background: #fff;
}

h2+.title13 {
    padding-top: 16px;
}

.fz14+.title13 {
    margin-top: 24px;
}

.fz13 {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

.title13+.fz13 {
    margin-top: 14px;
}

.ui-selectmenu-menu {
    z-index: 2050;
}

.ui-selectmenu-button.ui-button {
    font-family: "GothamPro";
    width: auto;
    min-width: 90px;
    padding: 14px 20px 14px 17px;
    border: 2px solid #4b4b4b;
    background: transparent;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
}

.ui-selectmenu-button.ui-button .ui-selectmenu-text {
    margin-right: 20px;
    line-height: 16px;
}

.ui-selectmenu-button.ui-button .ui-icon {
    width: 8px;
    height: 16px;
    position: relative;
    background: transparent;
}

.ui-selectmenu-button.ui-button .ui-icon:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.ui-selectmenu-button.ui-button .ui-icon:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.ui-selectmenu-menu .ui-widget.ui-widget-content {
    background: #1a1a1b;
    font-size: 20px;
    color: #fff;
    border: 2px solid #4b4b4b;
    border-top: none;
}

.ui-selectmenu-menu .ui-button.ui-state-active:hover,
.ui-selectmenu-menu .ui-button:active,
.ui-selectmenu-menu .ui-state-active,
.ui-selectmenu-menu .ui-widget-content .ui-state-active,
.ui-selectmenu-menu .ui-widget-header .ui-state-active,
.ui-selectmenu-menu a.ui-button:active {
    border: none;
    background: #fff;
    color: #141415;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
    padding: 14px 17px;
}

.ui-datepicker {
    font-family: "GothamPro", "Open Sans", "sans-serif";
    background: #1a1a1b;
    border: 1px solid #4b4b4b;
    border-radius: 0;
    color: #fff;
}

.ui-datepicker .ui-widget-header {
    border: none;
    background: none;
    color: #fff;
    font-weight: 700;
}

.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default {
    border: none;
    background: #1a1a1b;
    color: #fff;
    font-weight: 500;
}

.ui-datepicker .ui-state-default.ui-state-active,
.ui-datepicker .ui-widget-content .ui-state-default.ui-state-active {
    background: #fff;
    color: #141415;
}

.ui-datepicker .ui-datepicker-prev {
    background: url(../img/arrowdownwhite.png) no-repeat center/10px auto;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 2px;
    top: 2px;
}

.ui-datepicker .ui-datepicker-next {
    background: url(../img/arrowdownwhite.png) no-repeat center/10px auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 2px;
    top: 2px;
}

.ui-datepicker .ui-corner-all.ui-state-hover {
    border: none;
}

.paginator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.paginator li {
    margin: 0 5px;
}

.paginator a {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #1f1f20;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
}

.paginator a:hover {
    background: #fff;
    color: #141415;
}

.paginator li.active a {
    background: #fff;
    color: #141415;
}

.header_left_search {
    position: relative;
    display: block;
    padding-left: 42px;
}

.header_left_search i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/header_search.png) no-repeat center/contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.header_links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    padding: 0 80px;
    white-space: nowrap;
}

.header_links li+li {
    margin-left: 102px;
}

.header_notification {
    position: relative;
    display: block;
    width: 30px;
    height: 24px;
    background: url(../img/header_notification.png) no-repeat center/contain;
}

.header_notification span.icon {
    display: block;
    height: 14px;
    line-height: 14px;
    border-radius: 7px;
    font-size: 11px;
    color: #141415;
    background: #fff;
    text-align: center;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: -10px;
    padding: 0 3px;
    min-width: 14px;
}

.header_user {
    padding-left: 76px;
    padding-right: 18px;
    position: relative;
    margin-left: 40px;
}

.header_user:before {
    content: '';
    display: block;
    height: 72px;
    width: 1px;
    background: #4b4b4b;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -36px;
}

.menuopener {
    width: 16px;
    height: 16px;
    padding: 0 6px;
    cursor: pointer;
}

.menuopener span {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    display: block;
}

.menuopener span+span {
    margin-top: 2px;
}

.header_user_menuopener {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

.header_user_photo {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    position: absolute;
    left: 24px;
    top: 50%;
    margin-top: -21px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fz24 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .007em;
}

.input_border {
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
    border: 1px solid #4b4b4b;
    letter-spacing: .007em;
    display: block;
    height: 72px;
}

.input_border:focus {
    border: 1px solid #fff;
}

.input_border::-webkit-input-placeholder {
    color: #fff;
}

.input_border::-moz-placeholder {
    color: #fff;
}

.input_border:-ms-input-placeholder {
    color: #fff;
}

.input_border::-ms-input-placeholder {
    color: #fff;
}

.input_border::placeholder {
    color: #fff;
}

.textarea_border {
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 400;
    padding: 24px 20px;
    border: 1px solid #4b4b4b;
    letter-spacing: .007em;
    display: block;
    height: auto;
    resize: none;
}

.textarea_border:focus {
    border: 1px solid #fff;
}

.price {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
}

.price span.totalprice {
    font-size: 24px;
    display: inline-block;
    margin-right: 4px;
}

.prevpage {
    margin-bottom: 22px;
}

.prevpage a {
    display: block;
    position: relative;
    padding-left: 28px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .007em;
}

.prevpage a:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #cbd1d7;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background: url(../img/arrowdownwhite.png) no-repeat 50% 50%/8px 5px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header_notification_popup_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: .25;
    display: none;
}

.header_notification_opener {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header_notification_popup {
    width: 290px;
    margin-left: -145px;
    background: #303030;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 18px;
    z-index: 10;
    display: none;
}

.header_notification_popup:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #303030;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -12px;
}

.notification_popup_head {
    text-align: center;
    border-bottom: 1px solid #4b4b4b;
    padding: 32px 24px 18px;
    min-height: 90px;
}

.notification_popup_title {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .007em;
}

.notification_popup_title span {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    color: #141415;
    font-size: 14px;
    font-weight: 700;
    padding: 0 6px;
}

.notification_popup_markall {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: underline;
    color: #cbcbcb;
    letter-spacing: .007em;
    padding-right: 24px;
    cursor: pointer;
}

.notification_popup_list {
    max-height: 490px;
    overflow-y: auto;
    overflow-scrolling: touch;
}

.notification_popup_list::-webkit-scrollbar {
    width: 7px;
}

.notification_popup_list::-webkit-scrollbar-button {
    display: none;
}

.notification_popup_list::-webkit-scrollbar-track-piece {
    background: #4b4b4b;
    width: 5px;
}

.notification_popup_list::-webkit-scrollbar-thumb {
    width: 7px;
    background: #fff;
}

.notification_popup_item {
    border-bottom: 1px solid #4b4b4b;
    padding: 22px 24px 19px 58px;
    position: relative;
    cursor: pointer;
    display: block;
}

.notification_popup_item:last-child {
    border-bottom: none;
}

.notification_popup_item.readed {
    color: #cbcbcb;
}

.notification_popup_item.readed .notification_popup_item_icon {
    opacity: .6;
}

.notification_popup_item:hover {
    color: #fff !important;
}

.notification_popup_item:hover .notification_popup_item_icon {
    opacity: 1 !important;
}

.notification_popup_item_icon {
    width: 27px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    position: absolute;
    left: 24px;
    top: 24px;
}

.notification_popup_item_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .007em;
    margin-bottom: 5px;
}

.notification_popup_item_p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: .007em;
}

.notification_popup_item_date {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: .007em;
    margin-top: 10px;
}

.notification_popup_bottombutton {
    padding: 24px;
    border-top: 1px solid #4b4b4b;
}

.notification_popup_bottombutton .button {
    width: 100%;
}

@media (max-width: 1919px) {
    .header_menu li {
        margin-left: 36px;
        margin-right: 36px;
    }

    .header_phone {
        margin-left: 48px;
    }

    .header_links {
        padding: 0 72px;
    }

    .header_links li+li {
        margin-left: 72px;
    }
}

@media (max-width: 1599px) {
    aside {
        margin-right: 72px;
    }

    .header_menu li {
        margin-left: 24px;
        margin-right: 24px;
    }

    .header_phone {
        margin-left: 36px;
    }

    .header_links {
        padding: 0 48px;
    }

    .header_links li+li {
        margin-left: 48px;
    }
}

@media (max-width: 1439px) {
    .header_menu li {
        margin-left: 12px;
        margin-right: 12px;
    }

    aside {
        margin-right: 48px;
        min-width: 288px;
    }
}

@media (max-width: 1279px) {
    .header_menu {
        display: none;
    }

    .wrapper {
        padding-left: 48px;
        padding-right: 48px;
    }

    aside {
        margin-right: 24px;
        min-width: 240px;
    }

    .asidelinks li a {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header_search,
    .header_left_search,
    .header_links,
    .header_user {
        display: none;
    }

    .header_right {
        position: relative;
    }

    .header_notification {
        position: absolute;
        right: 144px;
        top: 50%;
        margin-top: -12px;
    }

    .header_left {
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header_left_menu {
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 0 48px 0 48px;
        min-height: 146px;
    }

    .header_logo {
        margin-right: 52px;
    }

    /*
  .header_left_menu {
    padding-left: 36px;
    margin-right: 40px;
  }
  .header_left_menu {
    margin-left: 28px;
  }
*/
    footer {
        height: 780px;
    }

    .footer_logo {
        width: 290px;
        height: 105px;
    }

    .fz13 {
        font-size: 12px;
    }

    .paginator li:nth-child(3) {
        display: none;
    }
}

@media (max-width: 767px) {

    .wrapper,
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }

    footer {
        height: 517px;
    }

    .main_content {
        display: block;
    }

    aside {
        width: 100%;
        display: block;
    }

    .asidelinks {
        min-height: 60px;
        position: relative;
        padding-right: 30px;
        background: #1a1a1b;
        margin-bottom: 10px;
    }

    .asidelinks:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
        position: absolute;
        right: 14px;
        top: 26px;
    }

    .asidelinks li {
        display: none;
    }

    .asidelinks li.active {
        display: list-item;
    }

    .asidelinks.opened li {
        display: list-item;
    }
}

@media (max-width: 479px) {
    .header {
        min-height: 115px;
    }

    .footer_logo {
        width: 183px;
        height: 67px;
    }

    .ui-selectmenu-button.ui-button {
        width: 100%;
    }

    .header_notification {
        right: 120px;
    }
}

@media (max-width: 359px) {

    .wrapper,
    .mainpage_mainsection_loginform {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.main_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 888;
    background: #141415;
    display: none;
}

.main_menu .header_left_menu i {
    width: 34px;
    height: 34px;
    border: 2px solid white;
    border-radius: 17px;
    background: url(../img/crosswhite.png) no-repeat center/contain;
    margin-top: -17px;
    top: 50%;
    left: -7px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.main_menu .header_left_menu:hover i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.main_menu_content {
    max-width: 1584px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 72px 140px;
}

.main_menu_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main_menu_row_col {
    padding-right: 24px;
    position: relative;
    padding-bottom: 96px;
}

.main_menu_1,
.main_menu_2_tablettittle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 24px;
    display: block;
    margin-bottom: 34px;
    white-space: nowrap;
}

.main_menu_2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 27px;
    white-space: nowrap;
}

.main_menu_2 a {
    position: relative;
}

.main_menu_2 a:before {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.main_menu_2 a:hover:before {
    width: 100%;
}

.main_menu_2>li+li {
    margin-top: 12px;
}

.main_menu_2 .with_menu3>a {
    display: inline-block;
    position: relative;
    padding-right: 20px;
}

.main_menu_2 .with_menu3>a:after {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
    position: absolute;
    right: 0;
    bottom: 10px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.with_menu3.opened>a:after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.with_menu3.opened>a:before {
    width: 100%;
}

.main_menu_3 {
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .02em;
    color: #a9a9a9;
    white-space: nowrap;
    margin-top: 32px;
    margin-bottom: 27px;
    padding-top: 21px;
    padding-bottom: 26px;
    display: none;
}

.main_menu_3 li.active,
.main_menu_3 li a:hover {
    color: #fff;
}

.main_menu_3>li+li {
    margin-top: 6px;
}

.main_menu_backto {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 30px;
}

.main_menu_backto:before {
    content: '';
    display: block;
    width: 18px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    background: url(../img/fileattachicon.png) no-repeat center/contain;
}

.main_menu_2_tablettittle {
    position: relative;
    display: none;
}

.main_menu_2_tablettittle:after {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
    position: absolute;
    right: 36px;
    top: 50%;
    margin-top: -3px;
}

.main_menu_row_col_mobile {
    display: none;
}

.main_menu_1_logout {
    font-size: 18px;
    text-transform: uppercase;
}

.main_menu_1_logout:after {
    display: none !important;
}

.main_menu_1_logout span {
    display: inline-block;
    padding-right: 48px;
    position: relative;
}

.main_menu_1_logout span:before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
    background: url(../img/header_lock.png) no-repeat center #fff/contain;
}

.main_menu_buttom_logout span {
    display: inline-block;
    padding-right: 48px;
    position: relative;
}

.main_menu_buttom_logout span:before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
    background: url(../img/header_lock.png) no-repeat center #fff/contain;
}

.main_menu_buttom {
    display: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 24px;
    border-top: 1px solid #4b4b4b;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 105px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .02em;
}

@media (max-width: 1279px) {
    .main_menu_row_col_mobile {
        display: block;
    }

    .main_menu_content {
        padding-left: 48px;
        padding-right: 48px;
    }

    .main_menu_row {
        display: inline-block;
        position: relative;
    }

    .main_menu_row_col {
        padding-bottom: 0;
        position: static;
    }

    .main_menu_2 {
        position: absolute;
        left: 100%;
        top: 0;
        min-width: 272px;
        border-left: 1px solid #4b4b4b;
        overflow-scrolling: touch;
        padding-bottom: 0;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        height: 0;
        overflow: hidden;
    }

    .main_menu_2::-webkit-scrollbar {
        width: 0;
    }

    .main_menu_2.opened {
        -webkit-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 48px;
    }

    .main_menu_backto {
        display: none;
    }

    .main_menu_2_tablettittle,
    .main_menu_2>li {
        padding: 0 36px;
    }

    .main_menu_1,
    .main_menu_2_tablettittle {
        font-size: 18px;
        margin-bottom: 36px;
    }

    .main_menu_2_tablettittle {
        display: block;
    }

    .main_menu_1,
    .main_menu_2_tablettittle {
        position: relative;
        padding-right: 24px;
    }

    .main_menu_1.active:before,
    .active.main_menu_2_tablettittle:before {
        content: '';
        display: block;
        width: 9px;
        height: 6px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
        background: url(../img/arrowdownwhite.png) no-repeat center/contain;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .main_menu_1.active:after,
    .active.main_menu_2_tablettittle:after {
        content: '';
        display: block;
        width: calc(100% - 36px);
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 100%;
    }

    .main_menu_1:after,
    .main_menu_2_tablettittle:after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 100%;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .main_menu_1:hover:after,
    .main_menu_2_tablettittle:hover:after {
        width: calc(100% - 36px);
    }
}

@media (max-width: 767px) {
    .main_menu_2 {
        position: static;
        border-left: none;
    }

    .main_menu_2_tablettittle {
        display: none;
    }

    .main_menu_2>li {
        padding-left: 0;
        padding-right: 0;
    }

    .main_menu_1.active:before,
    .active.main_menu_2_tablettittle:before {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .main_menu_content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .main_menu {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        overflow-scrolling: touch;
        padding-bottom: 106px;
    }

    .main_menu_row_col_mobile {
        display: none;
    }

    .main_menu_buttom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.input_group {
    position: relative;
    border: 2px solid #4b4b4b;
    margin-top: 8px;
}

.input_group .input_group_title {
    display: inline-block;
    position: absolute;
    left: 12px;
    top: -8px;
    background: #1a1a1b;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
}

.input_group input[type="text"] {
    height: 56px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 24px;
    color: #fff;
}

.input_group input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.input_group input[type="text"]::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.input_group input[type="text"]:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.input_group input[type="text"]::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.input_group input[type="text"]::placeholder {
    color: #fff;
    opacity: 1;
}

.select2.select2-container--CustomSelect3 {
    width: 100% !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.select2.select2-container--CustomSelect3 .select2-selection--single {
    height: 72px;
    border: 1px solid #4c4c4c;
}

.select2.select2-container--CustomSelect3 .select2-selection--single .select2-selection__rendered {
    padding-left: 23px;
    padding-right: 43px;
    font-size: 18px;
    letter-spacing: .007em;
    line-height: 70px;
}

.select2.select2-container--CustomSelect3 .select2-selection__arrow {
    display: block;
    width: 10px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 18px;
    top: 28px;
}

.select2.select2-container--CustomSelect3.select2-container--open {
    background: #202021;
}

.select2-container--CustomSelect3 .select2-dropdown {
    background-color: #202021;
    border: 1px solid #4b4b4b;
    border-top: none;
    border-radius: 0;
}

.select2-container--CustomSelect3 .select2-results__options {
    padding: 14px 0;
}

.select2-container--CustomSelect3 .select2-results__option {
    padding: 0 24px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: .007em;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.select2-container--CustomSelect3 .select2-results__option.select2-results__option--highlighted {
    background: #fff;
    color: #141415;
}

@media (max-width: 479px) {
    .select2.select2-container--CustomSelect3 .select2-selection--single .select2-selection__rendered {
        padding-left: 12px;
        padding-right: 36px;
        font-size: 16px;
        line-height: 46px;
    }

    .select2.select2-container--CustomSelect3 .select2-selection--single {
        height: 48px;
    }

    .select2.select2-container--CustomSelect3 .select2-selection__arrow {
        top: 16px;
    }
}

.select2.select2-container--CustomSelect4 {
    width: 100% !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.select2.select2-container--CustomSelect4 .select2-selection--single {
    height: 72px;
    border: 1px solid #4b4b4b;
}

.select2.select2-container--CustomSelect4 .select2-selection--single .select2-selection__rendered {
    padding-left: 21px;
    padding-right: 42px;
    font-size: 14px;
    letter-spacing: .007em;
    line-height: 70px;
}

.select2.select2-container--CustomSelect4 .select2-selection__arrow {
    display: block;
    width: 10px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 18px;
    top: 28px;
}

.select2.select2-container--CustomSelect4.select2-container--open {
    background: #202021;
}

.select2-container--CustomSelect4 .select2-dropdown {
    background-color: #202021;
    border: 1px solid #4b4b4b;
    border-top: none;
    border-radius: 0;
}

.select2-container--CustomSelect4 .select2-results__option {
    padding: 0 30px;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: .007em;
    font-weight: 400;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.select2-container--CustomSelect4 .select2-results__option.select2-results__option--highlighted {
    background: #303030;
    color: #fff;
}

.select2-container--CustomSelect4 .select2-results__option .select2-results__options {
    margin-left: -30px;
    margin-right: -30px;
    padding: 0;
}

.select2-container--CustomSelect4 .select2-results__group {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-left: -6px;
    margin-right: -6px;
}

.select2-container--CustomSelect4 .select2-search--dropdown {
    padding: 10px;
}

.select2-container--CustomSelect4 .select2-search--dropdown .select2-search__field {
    padding: 0 16px;
    border: 1px solid #4b4b4b;
    height: 60px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.tip {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #4c4c4c;
    line-height: 12px;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    cursor: pointer;
}

.title20 {
    font-size: 20px;
    font-weight: 600;
    font-family: "ProximaNova";
}