.payment {
    background: #1a1a1b;
    padding: 18px 48px 58px;
}

.payment .receipt_order_information_table {
    margin-left: -48px;
    margin-right: -48px;
    padding-left: 24px;
    padding-right: 24px;
}

.payment_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
}

.paymentinformation .payment_title {
    margin-bottom: 0;
}

.paymentinformation .payment_title+.paymentinformation_group {
    margin-top: 33px;
}

.paymentinformation .payment_title+.paymentinformationfz13 {
    margin-top: 13px;
}

.paymentinformation_group .title13 {
    display: block;
    width: 100%;
}

.paymentinformation_group .input_border {
    display: block;
    width: 100%;
}

.paymentinformation_group .ui-selectmenu-button {
    width: 100%;
    border-width: 1px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.paymentinformation_card {
    position: relative;
    width: 640px;
    height: 348px;
    margin-top: 36px;
    margin-bottom: 32px;
}

.paymentinformation_card_front {
    width: 480px;
    height: 288px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #313133;
    border-radius: 20px;
    -webkit-box-shadow: 0 6px 10px rgba(26, 26, 27, 0.81);
    box-shadow: 0 6px 10px rgba(26, 26, 27, 0.81);
    padding: 22px 40px 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_name_title {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .02em;
    margin-bottom: 6px;
}

.paymentinformation_card_name_input {
    height: 40px;
    border: 1px solid #4b4b4b;
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #fff;
    padding: 0 10px;
    background: #1f1f20;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_name_input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_name_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_name_input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_name_input::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_name_input::placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_number_input {
    width: 100%;
    height: 40px;
    border: 1px solid #4b4b4b;
    font-size: 20px;
    color: #fff;
    padding: 0 24px;
    font-weight: 500;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_input {
    border: 1px solid #4b4b4b;
}

.paymentinformation_card_input:focus {
    border-color: #fff;
}

.paymentinformation_card_input-success {
    border-color: #67debd !important;
}

.paymentinformation_card_input-alert {
    border-color: #ff6977 !important;
}

.paymentinformation_card_name {
    display: inline-block;
    position: relative;
    padding-right: 28px;
    margin-bottom: 12px;
}

.paymentinformation_card_name_edit {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/icon_edit.png) no-repeat center/contain;
    position: absolute;
    right: 0;
    bottom: 12px;
    cursor: pointer;
}

.paymentinformation_card_type {
    display: block;
    width: 108px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 40px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.paymentinformation_card_expiration_inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.paymentinformation_card_expiration_inputs input {
    width: 90px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .024em;
    color: #fff;
    background: #3e3e3e;
}

.paymentinformation_card_expiration_inputs input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_expiration_inputs input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_expiration_inputs input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_expiration_inputs input::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_expiration_inputs input::placeholder {
    color: #fff;
    opacity: 1;
}

.paymentinformation_card_expiration_inputs span {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 20px;
}

.paymentinformation_card_number {
    margin-bottom: 24px;
}

.paymentinformation_card_back {
    width: 480px;
    height: 288px;
    background-color: #313133;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 110px 36px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_back_line {
    background: #434344;
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 0 72px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_cvc_input {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .02em;
    text-align: center;
    width: 90px;
    height: 40px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_cvc_input::-webkit-input-placeholder {
    color: #fff;
}

.paymentinformation_card_cvc_input::-moz-placeholder {
    color: #fff;
}

.paymentinformation_card_cvc_input:-ms-input-placeholder {
    color: #fff;
}

.paymentinformation_card_cvc_input::-ms-input-placeholder {
    color: #fff;
}

.paymentinformation_card_cvc_input::placeholder {
    color: #fff;
}

.paymentinformation_card_cvc_text {
    width: 90px;
    font-size: 12px;
    color: #fff;
    opacity: .6;
    line-height: 16px;
    margin-top: 12px;
}

.paymentinformation_type .custom_radio2 {
    margin-right: 36px;
}

.paymentinformation_type .custom_radio2:last-child {
    margin-right: 0;
}

.paymentinformation_card_checkbox {
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 48px;
}

.paymentinformation_card_checkbox:last-child {
    margin-right: 0;
}

.paymentinformation_card_checkbox input {
    display: none !important;
}

.paymentinformation_card_checkbox span {
    display: block;
    padding-left: 30px;
    position: relative;
}

.paymentinformation_card_checkbox span:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #4b4b4b;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.paymentinformation_card_checkbox input:checked+span:before {
    border-color: #fff;
    background: url(../img/checkbox.png) no-repeat center/contain;
}

.paymentinformationfz13 {
    font-size: 13px;
    color: #f4f7fa;
    opacity: 0.66;
}

.paymentinformation_type {
    margin-bottom: 24px;
    margin-top: 20px;
}

.paymentinformation_group .title13 {
    margin-bottom: 7px;
    margin-top: 38px;
}

.paymentinformation_group+.paymentinformation_group {
    margin-top: 32px;
}

.paymentinformation_card_button {
    margin-top: 13px;
}

.paymentinformation-card {
    display: inline-block;
    width: auto;
}

.payment_bottom {
    padding: 32px 0 57px;
}

.payment_bottom table {
    width: 100%;
    margin-bottom: 18px;
}

.payment_bottom table td {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
}

.payment_bottom table td:first-child {
    padding-right: 12px;
}

.payment_bottom table td:last-child {
    padding-left: 12px;
    text-align: right;
}

@media (max-width: 1599px) {
    .paymentinformation-card {
        display: block;
        width: 100%;
        max-width: 480px;
    }

    .paymentinformation_card {
        width: 100%;
        height: auto;
    }

    .paymentinformation_card_front,
    .paymentinformation_card_back {
        position: relative;
        width: 100%;
    }

    .paymentinformation_card_back {
        margin-top: 24px;
    }
}

@media (max-width: 1279px) {

    .paymentinformation_card_front,
    .paymentinformation_card_back {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1023px) {

    .paymentinformation_card_front,
    .paymentinformation_card_back {
        padding-left: 40px;
        padding-right: 40px;
    }

    .paymentinformation-card {
        padding-bottom: 48px;
    }

    .payment {
        padding-left: 24px;
        padding-right: 24px;
    }

    .payment .receipt_order_information_table {
        margin-left: -24px;
        margin-right: -24px;
    }
}

@media (max-width: 767px) {
    .payment .receipt_order_information_table table td.receipt_order_information_table_title_td {
        width: 100%;
        min-width: 100%;
    }

    .payment .receipt_order_information_table_title {
        padding-left: 0;
        padding-right: 0;
    }

    .paymentinformation_card_front,
    .paymentinformation_card_back {
        padding-left: 20px;
        padding-right: 20px;
    }

    .paymentinformation_card_type {
        right: 20px;
    }
}

@media (max-width: 479px) {
    .paymentinformation_card_front {
        padding-top: 64px;
        height: auto;
        padding-bottom: 40px;
    }

    .paymentinformation_card_name_input {
        width: 100%;
        font-size: 14px;
        padding: 0 10px;
    }

    .paymentinformation_card_number_input {
        width: 100%;
        font-size: 14px;
        padding: 0 10px;
    }

    .paymentinformation_card_back {
        height: auto;
        padding-bottom: 40px;
    }
}

.payment_page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.payment_rightpanel {
    min-width: 374px;
    width: 374px;
    margin-left: 10px;
    background: #1a1a1b;
}

.payment_rightpanel_padding {
    padding-left: 30px;
    padding-right: 30px;
}

.payment_history {
    padding-top: 36px;
    padding-bottom: 60px;
}

.payment_history_item_date {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.payment_history_item_date span {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 3px;
}

.payment_history_item {
    padding-bottom: 30px;
    padding-left: 42px;
    position: relative;
}

.payment_history_item:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: #4b4b4b;
    position: absolute;
    left: 7px;
    top: 6px;
}

.payment_history_item:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4b4b4b;
    position: absolute;
    left: 4px;
    top: 6px;
}

.payment_history_item:last-child:before {
    display: none;
}

.payment_history_item p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

.payment_history_item p:first-child:before {
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    background: #4b4b4b;
    position: absolute;
    left: -32px;
    top: 9px;
}

.payment_history_item p span {
    font-weight: 700;
}

.payment_history_itemdate {
    padding-bottom: 24px;
}

.payment_history_itemdate:after {
    width: 12px;
    height: 12px;
    background: #fff;
    left: 2px;
}

.payment_history_button {
    margin-top: 24px;
}

.payment_details {
    padding-bottom: 60px;
}

.payment_details_item_title {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    padding-top: 18px;
    padding-bottom: 18px;
}

.payment_details_title {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.payment_details_value {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.payment_details_item_content+.payment_details_item_content {
    margin-top: 1px;
}

.payment_details_item_content {
    padding-top: 24px;
    padding-bottom: 24px;
}

.payment_details_item {
    padding-bottom: 30px;
}

.payment_details_total {
    padding-top: 7px;
}

.payment_details_total .payment_details_item_content {
    padding-top: 0;
}

.payment_details_content+.payment_details_content {
    margin-top: 20px;
}

.payment_details_content_bb {
    border-bottom: 1px solid #4b4b4b;
}

.payment_details_button .button+.button {
    margin-top: 20px;
}

.payment_content {
    background: #1a1a1b;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.payment_jobdetails_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #4b4b4b;
    padding-top: 20px;
    padding-bottom: 20px;
}

.payment_jobdetails_title .payment_title {
    margin: 0 24px 0 0;
}

.payment_content_padding {
    padding-left: 48px;
    padding-right: 48px;
}

.payment_payment_jobdetails_title_status {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    padding-left: 54px;
}

.payment_payment_jobdetails_title_status i.print {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    background: url(../img/icon_print.png) no-repeat left center/contain;
}

.payment_jobdetails_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 52px;
}

.payment_jobdetails_content_group {
    position: relative;
    padding-right: 60px;
    padding-left: 28px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.payment_jobdetails_content_group:before {
    content: '';
    display: block;
    width: 1px;
    height: 72px;
    border: 1px solid #4b4b4b;
    position: absolute;
    right: 0;
    top: 4px;
}

.payment_jobdetails_content_group:last-child:before {
    display: none;
}

.payment_jobdetails_content_title {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.payment_jobdetails_content_ordernumber {
    background: #1a1a1b;
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 18px;
}

.payment_jobdetails_content_orderitem {
    position: relative;
    padding-left: 48px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    line-height: 20px;
    white-space: nowrap;
    padding-top: 10px;
}

.payment_jobdetails_content_orderitem:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: #4b4b4b;
    position: absolute;
    left: 4px;
    bottom: 10px;
}

.payment_jobdetails_content_orderitem:after {
    content: '';
    display: block;
    width: 44px;
    height: 1px;
    background: #4b4b4b;
    position: absolute;
    left: 4px;
    bottom: 10px;
}

.payment_jobdetails_content_orderitem i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #fff url(../img/payment_jobdetails_content_orderitem.png) no-repeat center/contain;
    border-radius: 50%;
    vertical-align: middle;
}

.payment_jobdetails_content_text_group p {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

.payment_jobdetails_content_text_group table {
    border-collapse: collapse;
    margin-left: -16px;
    margin-right: -16px;
}

.payment_jobdetails_content_text_group table td {
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
}

.payment_jobdetails_content_text_group+.payment_jobdetails_content_text_group {
    margin-top: 36px;
}

.payment_information_table {
    padding: 0 28px 36px;
    border-bottom: 1px solid #4b4b4b;
}

.payment_information_table .receipt_order_information_table {
    border-bottom: none;
}

.payment_information_table_group+.payment_information_table_group {
    margin-top: 2px;
}

.payment_information_table_opener {
    background: #1f1f20;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 18px 24px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    min-height: 72px;
}

.payment_information_table_opener_icon {
    min-width: 34px;
    display: block;
}

.payment_information_table_opener_icon i {
    display: block;
    width: 14px;
    height: 8px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_information_table_content {
    padding-left: 60px;
    overflow: hidden;
}

.payment_information_table_content .receipt_order_information_table_title {
    -webkit-text-decoration-color: #4b4b4b;
    text-decoration-color: #4b4b4b;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_information_table_content .receipt_order_information_table_title:hover {
    -webkit-text-decoration-color: #fff;
    text-decoration-color: #fff;
}

.payment_information_table_content.receipt_order_information_table_subtasks {
    border-bottom: none;
    position: relative;
}

.receipt_order_information_table_subtask {
    position: relative;
    margin-top: 2px;
}

.receipt_order_information_table_subtask:before {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: #4b4b4b;
    position: absolute;
    left: -30px;
    top: 36px;
}

.receipt_order_information_table_subtask:after {
    content: '';
    display: block;
    width: 1px;
    height: 1000%;
    background: #4b4b4b;
    position: absolute;
    left: -30px;
    bottom: calc(100% - 36px);
}

.price2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.receipt_order_information_table_subtask .payment_information_table_opener {
    background: #1f1f20;
}

.receipt_order_information_table_subtask .payment_information_table_opener.opened {
    background: #29292a;
}

.receipt_order_information_table_subtask .receipt_order_information_table {
    border-bottom: none;
}

.receipt_order_information_table_subtask .receipt_order_information_table+.receipt_order_information_table {
    border-top: 1px solid #4b4b4b;
}

.receipt_order_information_table_subtask .payment_information_table_content {
    padding-left: 0;
}

.payment_information_table_group .payment_information_table_content {
    display: none;
}

.payment_information_table_group.opened>.payment_information_table_opener .payment_information_table_opener_icon i {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.paymentinformation_navs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 34px;
    padding-top: 20px;
}

.paymentinformation_navs a {
    display: block;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 700;
    padding-left: 42px;
    position: relative;
    margin: 20px 0;
    padding-right: 24px;
}

.paymentinformation_navs a img {
    max-height: 32px;
    width: auto;
    vertical-align: middle;
}

.paymentinformation_navs a:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 7px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    background: #303030;
}

.paymentinformation_navs a.active:before {
    border-color: #fff;
}

.paymentinformation_tabs {
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    padding-top: 42px;
    padding-bottom: 42px;
}

.paymentamount_title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.paymentamount_amount {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    border-bottom: 1px solid #4b4b4b;
}

.paymentinformation_card_button .button+.button {
    margin-top: 10px;
}

.paymentinformation_card_buttons2 {
    margin-top: 31px;
    text-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.paymentinformation_card_buttons2 a {
    display: inline-block;
    height: 58px;
    line-height: 54px;
    border-radius: 29px;
    font-size: 16px;
    min-width: 288px;
    margin: 5px;
}

.paymentinformation_card_buttons2 a i.download {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 25px;
    margin-right: 12px;
    background: url(../img/icon_download.png) no-repeat center/contain;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_buttons2 a i.print {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 25px;
    margin-right: 12px;
    background: url(../img/icon_print.png) no-repeat center/contain;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_card_buttons2 a:hover i.download {
    background-image: url(../img/icon_download_h.png);
}

.paymentinformation_card_buttons2 a:hover i.print {
    background-image: url(../img/icon_print_h.png);
}

.payment_content_wrapper {
    max-width: 640px;
    width: 100%;
}

.payment_bottom table+table {
    border-top: 1px solid #4b4b4b;
}

.payment_bottom table.table_total {
    margin-bottom: 80px;
}

.payment_bottom table.table_total tr:first-child td {
    padding-top: 32px;
    padding-bottom: 38px;
}

.receipt_order_information_table_th_title {
    white-space: nowrap;
}

.banktransfer {
    background: #1f1f20;
    padding: 32px 30px;
    -webkit-box-shadow: 0 6px 10px rgba(26, 26, 27, 0.81);
    box-shadow: 0 6px 10px rgba(26, 26, 27, 0.81);
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 30px;
}

.banktransfer input {
    background: #1a1a1b;
}

.banktransfer .paymentinformation_group .ui-selectmenu-button {
    background: #1a1a1b;
}

@media (max-width: 1439px) {
    .paymentinformation_navs a {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .payment_jobdetails_content {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1279px) {
    .payment_page {
        display: block;
    }

    .payment_rightpanel {
        margin-left: 0;
        margin-top: 20px;
    }

    .payment_content_padding,
    .payment_rightpanel_padding,
    .payment_information_table,
    .banktransfer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .payment_jobdetails_content_group {
        padding: 0 36px 80px 24px;
    }

    .payment_jobdetails_content_group:before {
        display: none;
    }

    .payment_rightpanel {
        min-width: 0;
    }
}

@media (max-width: 767px) {
    .paymentinformation_navs a {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .payment_information_table_opener {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .payment_information_table_opener .receipt_order_information_table_th_status,
    .payment_information_table_opener .receipt_order_information_table_th_products,
    .payment_information_table_opener .receipt_order_information_table_th_qty,
    .payment_information_table_opener .receipt_order_information_table_th_total {
        display: none;
    }

    .payment_information_table_content {
        padding-left: 24px;
    }

    .receipt_order_information_table_subtask:after {
        left: -18px;
    }

    .receipt_order_information_table_subtask:before {
        left: -18px;
        width: 10px;
    }

    .payment_information_table_group .receipt_order_information_table_title {
        padding-left: 0;
        padding-right: 0;
    }

    .payment_information_table_group .receipt_order_information_table table td {
        width: 100%;
        max-width: 100%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        border: none;
    }

    .payment_information_table_group .receipt_order_information_table table tr {
        border-top: 1px solid #4b4b4b;
    }

    .payment_information_table_group .receipt_order_information_table table tr:first-child {
        border-top: none;
    }
}

@media (max-width: 479px) {
    .paymentinformation_card_buttons2 a {
        display: block;
        width: 100%;
        margin: 5px 0;
        min-width: 0;
    }

    .banktransfer {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 0;
    }
}

.select2.select2-container--CustomSelect2 {
    width: 100% !important;
    border: 2px solid #4b4b4b;
}

.select2-container--CustomSelect2 .select2-selection--single {
    height: 56px;
}

.select2-container--CustomSelect2 .select2-selection--single .select2-selection__rendered {
    padding-left: 20px;
    padding-right: 40px;
    position: relative;
    line-height: 56px;
    font-size: 16px;
}

.select2-container--CustomSelect2 .select2-selection__arrow {
    display: block;
    width: 14px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -5px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
}

.select2-container--CustomSelect2 .select2-dropdown {
    border-radius: 0;
    background: #1a1a1b;
    font-size: 16px;
    color: #fff;
    border: 2px solid #4b4b4b;
    border-top: none;
}

.select2-container--CustomSelect2 .select2-results__option {
    padding: 0 40px 0 20px;
    position: relative;
    line-height: 56px;
}

.select2-container--CustomSelect2 .selectcardli {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.select2-container--CustomSelect2 .selectcardli_icon {
    display: block;
    min-width: 26px;
    width: 44px;
    height: 32px;
    margin-right: 10px;
    background: no-repeat center left / contain;
    border-radius: 5px;
}

.select2-container--CustomSelect2 .selectcardli_icon.MasterCard {
    background-image: url(../img/mastercard.png);
}

.select2-container--CustomSelect2 .selectcardli_icon.AmexCard {
    background-image: url(../img/amex.png);
}

.select2-container--CustomSelect2 .selectcardli_icon.DiscoverCard {
    background-image: url(../img/discover.png);
}

.select2-container--CustomSelect2 .selectcardli_icon.VisaCard {
    background-image: url(../img/visa.png);
    background-color: #fff;
}

.cardselect_nav {
    display: none !important;
}

.paymentinformation_card_amex .paymentinformation_card_front {
    background-color: #006fd0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.paymentinformation_card_amex .paymentinformation_card_back {
    background-color: #2586da;
}

.paymentinformation_card_amex .paymentinformation_card_cvc_text {
    opacity: 1;
}

.paymentinformation_card_amex .paymentinformation_card_type {
    background-image: url(../img/americanexpress.png);
}

.paymentinformation_card_master .paymentinformation_card_front {
    background-color: #2f2f3d;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4d7dff), to(#6997f8));
    background-image: -o-linear-gradient(bottom, #4d7dff 0%, #6997f8 100%);
    background-image: linear-gradient(to top, #4d7dff 0%, #6997f8 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.paymentinformation_card_master .paymentinformation_card_back {
    background-color: #2f2f3d;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#6690ff), to(#9fbeff));
    background-image: -o-linear-gradient(bottom, #6690ff 0%, #9fbeff 100%);
    background-image: linear-gradient(to top, #6690ff 0%, #9fbeff 100%);
}

.paymentinformation_card_master .paymentinformation_card_cvc_text {
    opacity: 1;
}

.paymentinformation_card_master .paymentinformation_card_type {
    background-image: url(../img/mastercard.png);
}

.paymentinformation_card_discover .paymentinformation_card_front {
    background-color: #313133;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.paymentinformation_card_discover .paymentinformation_card_back {
    background-color: #3c3c3d;
}

.paymentinformation_card_discover .paymentinformation_card_cvc_text {
    opacity: 1;
}

.paymentinformation_card_discover .paymentinformation_card_type {
    background-image: url(../img/discover.png);
}

.paymentinformation_card_visa .paymentinformation_card_front {
    background-color: #fff;
    -webkit-box-shadow: 0 7px 7px rgba(66, 66, 66, 0.3);
    box-shadow: 0 7px 7px rgba(66, 66, 66, 0.3);
}

.paymentinformation_card_visa .paymentinformation_card_back {
    background-color: #c1c5cf;
}

.paymentinformation_card_visa .paymentinformation_card_back .paymentinformation_card_name_title {
    color: #fff;
}

.paymentinformation_card_visa .paymentinformation_card_cvc_text {
    opacity: 1;
}

.paymentinformation_card_visa .paymentinformation_card_type {
    background-image: url(../img/visa.png);
}

.paymentinformation_card_visa .paymentinformation_card_name_title {
    color: #313133;
    font-weight: 500;
}

.paymentinformation_card_visa .paymentinformation_card_number_input,
.paymentinformation_card_visa .paymentinformation_card_expiration_inputs input {
    text-shadow: 0 1px 1px rgba(81, 81, 81, 0.65);
}

.paymentinformation_card_visa .paymentinformation_card_expiration_inputs span {
    text-shadow: 0 1px 1px rgba(81, 81, 81, 0.65);
}

.paymentinformation_card_saved .paymentinformation_card_front {
    padding-top: 82px;
}

.paymentinformation_card_saved .paymentinformation_card_number {
    margin-bottom: 75px;
}

.paymentinformation_card_saved .paymentinformation_card_name_title {
    font-weight: 400;
    font-size: 14px;
}

.paymentinformation_card_saved .paymentinformation_card_number_input {
    border: none;
    padding: 0;
    font-weight: 400;
}

.paymentinformation_card_saved .paymentinformation_card_expiration_inputs input {
    background: none;
    border: none;
    width: 36px;
    padding: 0;
    font-weight: 400;
    text-align: left;
}

.paymentinformation_card_saved .paymentinformation_card_cvc_input {
    text-align: left;
    border: none;
}

.paymentinformation_card_saved .paymentinformation_card_back {
    padding-top: 100px;
}

.paymentinformation_card_emailcopy {
    margin-top: 30px;
}

.payment_billingaddress_opener {
    border-bottom: 1px solid #4b4b4b;
    padding-top: 29px;
    padding-bottom: 29px;
    position: relative;
}

.payment_billingaddress_opener:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: 85px;
    top: 38px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_billingaddress.opened .payment_billingaddress_opener:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.payment_addfiles input {
    display: none !important;
}

.payment_addfiles span.input {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    height: 58px;
    border: 2px solid white;
    line-height: 54px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 36px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_addfiles span.input:hover {
    border-color: #fff;
    background: #fff;
    color: #141415;
}

.payment_addfiles span.title {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding: 24px;
    max-width: 240px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payment_bottom_addfiles {
    padding-bottom: 52px;
}

.payment_billingaddress_content {
    padding-bottom: 40px;
    display: none;
}

.payment_h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.payment_h1 h1 {
    margin-bottom: 0;
}

@media (max-width: 1599px) {
    .paymentinformation_card_saved .paymentinformation_card_back {
        display: none;
    }
}

@media (max-width: 479px) {
    .payment_addfiles span.title {
        width: 100%;
        max-width: 100%;
    }

    .payment_h1 h1 {
        margin-bottom: 30px;
    }

    .payment_h1 .button {
        margin: 0;
    }

    .select2-container--CustomSelect2 .select2-dropdown,
    .select2-container--CustomSelect2 .select2-selection--single .select2-selection__rendered {
        font-size: 14px;
    }
}

.payment_rightpanel_amount_title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.payment_rightpanel_amount_cost {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

.payment_rightpanel_amount_cost.underline {
    position: relative;
}

.payment_rightpanel_amount_cost.underline:after {
    content: "";
    display: block;
    border-bottom: 1px solid #4b4b4b;
}

.payment_rightpanel_amount {
    padding-top: 18px;
    padding-bottom: 26px;
}

.payment_details_item_title {
    position: relative;
    padding-left: 30px;
    padding-right: 72px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
}

.payment_details_item_title:before {
    content: '';
    display: block;
    width: 14px;
    height: 8px;
    background: url(../img/arrowdownwhite.png) no-repeat center/contain;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_rightpanel_content {
    display: none;
    border-bottom: 1px solid #4b4b4b;
}

.payment_rightpanel_group.opened .payment_details_item_title:before {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.payment_rightpanel_attachments {
    padding-top: 27px;
    padding-bottom: 27px;
}

.payment_rightpanel_attachment {
    display: block;
}

.payment_rightpanel_attachment input {
    display: none !important;
}

.payment_rightpanel_attachment .plus {
    height: 132px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 38px;
    border: 1px solid #56575a;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_rightpanel_attachment .plus:hover {
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}

.payment_rightpanel_attachment .plus:before,
.payment_rightpanel_attachment .plus:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
}

.payment_rightpanel_attachment .plus:before {
    width: 6px;
    height: 30px;
    margin-left: -3px;
    margin-top: -15px;
}

.payment_rightpanel_attachment .plus:after {
    height: 6px;
    width: 30px;
    margin-left: -15px;
    margin-top: -3px;
}

.payment_rightpanel_attachment .button_add {
    display: block;
    width: 100%;
    height: 58px;
    border: 1px solid #56575a;
    line-height: 54px;
    text-align: center;
    padding: 0 24px;
    letter-spacing: .2em;
    white-space: nowrap;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_rightpanel_attachment .button_add:hover {
    background-color: #3e3e3e;
    border-color: #3e3e3e;
}

.payment_rightpanel_attachmed_title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 27px;
}

.payment_rightpanel_attachmed_list {
    background: #1f1f20;
    border-radius: 20px;
    padding: 20px;
    min-height: 145px;
}

.payment_rightpanel_attachmed_item {
    font-size: 16px;
    position: relative;
    padding-right: 24px;
}

.payment_rightpanel_attachmed_item span {
    color: dimgrey;
}

.payment_rightpanel_attachmed_item .payment_rightpanel_attachmed_item_remove {
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/crosswhite2.png) no-repeat center/contain;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.payment_rightpanel_attachmed_item .payment_rightpanel_attachmed_item_remove:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.payment_rightpanel_attachmed_item+.payment_rightpanel_attachmed_item {
    margin-top: 12px;
}

.payment_rightpanel_attachmed {
    padding-top: 30px;
}

.payment_rightpanel_group+.payment_rightpanel_group .payment_details_item_title {
    border-top: none;
}

.paymentinformation_opener {
    padding-top: 29px;
    padding-bottom: 29px;
    border-bottom: 1px solid #4b4b4b;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation_opener:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: 85px;
    top: 38px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.paymentinformation.opened .paymentinformation_opener {
    border-bottom-color: transparent;
}

.paymentinformation.opened .paymentinformation_opener:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.paymentinformation_content {
    display: none;
}

.paymentinformation_card_checkboxes {
    margin-bottom: 30px;
}

.payment_paypal {
    margin-top: 40px;
}

.payment_paypal .button+.button {
    margin-top: 12px;
}

.button_paypal {
    background: url(../img/paypal_button.png) #fff no-repeat center/auto 35px;
}

.button_paypal:hover {
    background: url(../img/paypal_button.png) #303030 no-repeat center/auto 35px;
}

.payment_details_associated {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-left: 26px;
}

.payment_details_associated i {
    display: block;
    width: 26px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/associated_white.png) no-repeat left center/auto 10px;
}

.payment_details_associated_buttons {
    margin-top: 18px;
}

.payment_details_associated_buttons .button+.button {
    margin-top: 12px;
}

.payment_details_associated_buttons .button i.download {
    height: 14px;
    width: 14px;
    margin-right: 10px;
}

.paymentinformation_card_new .paymentinformation_card_type {
    top: 204px;
}

.paymentinformation_card_new .paymentinformation_card_number_input {
    background: #1f1f20;
}

.paymentinformation_card_new .paymentinformation_card_cvc_input {
    background: #1f1f20;
}

.paymentinformation_card_new_visa .paymentinformation_card_type {
    background-image: url(../img/visa_new.png);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_front {
    background-color: #c61e32;
}

.paymentinformation_card_new_mastercard .paymentinformation_card_name_input {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_number_input {
    background: #fff;
    color: #141415;
    border-color: #fff;
}

.paymentinformation_card_new_mastercard .paymentinformation_card_expiration_inputs input {
    background: #fff;
    color: #141415;
    border-color: #fff;
}

.paymentinformation_card_new_mastercard .paymentinformation_card_expiration_inputs input::-webkit-input-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_expiration_inputs input::-moz-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_expiration_inputs input:-ms-input-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_expiration_inputs input::-ms-input-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_expiration_inputs input::placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_type {
    background-image: url(../img/mastercard_new.png);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_back {
    background-color: #c61e32;
}

.paymentinformation_card_new_mastercard .paymentinformation_card_back_line {
    background: rgba(112, 62, 68, 0.7);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_cvc_input {
    background: #fff;
    color: #141415;
    border-color: #fff;
}

.paymentinformation_card_new_mastercard .paymentinformation_card_cvc_input::-webkit-input-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_cvc_input::-moz-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_cvc_input:-ms-input-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_cvc_input::-ms-input-placeholder {
    color: rgba(20, 20, 21, 0.4);
}

.paymentinformation_card_new_mastercard .paymentinformation_card_cvc_input::placeholder {
    color: rgba(20, 20, 21, 0.4);
}

@media (max-width: 479px) {
    .paymentinformation_card_new .paymentinformation_card_type {
        top: 24px;
    }
}

@media (max-width: 1279px) {
    .payment_rightpanel {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .payment_rightpanel_group:last-child .payment_details_item_title {
        border-bottom: none;
    }

    .payment_rightpanel_group:last-child .payment_rightpanel_content {
        border-bottom: none;
    }

    .payment_rightpanel_group.opened .payment_details_item_title {
        border-bottom: 1px solid #4b4b4b;
    }

    .paymentinformation_opener:before,
    .payment_billingaddress_opener:before {
        right: 30px;
    }
}

@media (max-width: 767px) {
    .payment_jobdetails_content {
        display: block;
    }

    .paymentinformation_card_checkbox {
        display: block;
        margin-right: 0;
    }

    .paymentinformation_card_checkbox+.paymentinformation_card_checkbox {
        margin-top: 20px;
    }

    .payment_title {
        font-size: 16px;
    }

    .paymentinformation_opener:before,
    .payment_billingaddress_opener:before {
        top: 30px;
    }
}

@media (max-width: 479px) {
    .payment_jobdetails_title {
        display: block;
    }

    .payment_jobdetails_title .payment_title {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .payment_rightpanel_attachmed_item span {
        display: none;
    }
}