.modal-dialog {
    max-width: 528px;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    background: #1a1a1b;
    color: #fff;
    border: none;
    border-radius: 0;
}

.popup_content {
    padding: 60px 72px;
}

.popup_close {
    display: block;
    width: 34px;
    height: 34px;
    border: 2px solid white;
    position: absolute;
    right: 0;
    top: -56px;
    border-radius: 50%;
    cursor: pointer;
    background: url(../img/crosswhite.png) no-repeat center/contain;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.popup_close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.popup_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: .007em;
}

.popup_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.popup_title+.popup_text {
    margin-top: 30px;
}

.popup_title+form {
    margin-top: 52px;
}

.popup_form_group label.title13 {
    display: block;
    width: 100%;
    margin-bottom: 7px;
}

.popup_form_group .input_border {
    display: block;
    width: 100%;
}

.popup_form_group textarea {
    height: 152px;
    display: block;
    width: 100%;
}

.popup_form_button .button {
    width: 100%;
}

.popup_form_group+.popup_form_group {
    margin-top: 32px;
}

.popup_form_group+.popup_form_button {
    margin-top: 57px;
}

.popup_bottom_text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-top: 42px;
}

.popup_title+.popup_form_button {
    margin-top: 36px;
}

.popup_form_text {
    padding: 20px 24px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}

.popup_form_text2 {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .007em;
    text-transform: uppercase;
}

.popup_form_group+.popup_form_text2 {
    margin-top: 32px;
}

.popup_form_text2+.popup_form_button {
    margin-top: 32px;
}

.popup_form_group .ui-selectmenu-button.ui-button {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;
}

.popup_order_title {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid #4b4b4b;
    margin-bottom: 48px;
    margin-top: 15px;
    padding-bottom: 16px;
}

.popup_order_table table {
    width: 100%;
    border-collapse: collapse;
}

.popup_order_table table th {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.popup_order_table table td {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: top;
    padding: 18px 12px;
    border: 1px solid #4b4b4b;
}

.popup_order_table table td.popup_order_table_td_img {
    padding: 20px 24px;
    background: #1f1f20;
    border-color: transparent;
    border-bottom-color: #4b4b4b;
    width: 1px;
    vertical-align: middle;
}

.popup_order_table table td.middle {
    vertical-align: middle;
}

.popup_order_table table tr:last-child td.popup_order_table_td_img {
    border-bottom-color: transparent;
}

.popup_order_table_img {
    width: 54px;
    height: 78px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.popup_order_table_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .007em;
    margin-bottom: 15px;
}

.popup_order_table_text {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
}

.popup_order_table_text span {
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
}

.popup_order_table_total {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 7px 0 17px;
}

.popup_order_address {
    background: #1f1f20;
    padding: 18px 15px;
    margin-bottom: 20px;
}

.popup_order_buttons .button {
    width: 100%;
}

@media (max-width: 767px) {
    .modal-dialog {
        max-width: calc(100% - 48px);
        margin-left: 24px;
        margin-right: 24px;
    }

    .popup_content {
        padding-left: 48px;
        padding-right: 48px;
    }

    .popup_form_group [class*="col-"]+[class*="col-"] {
        margin-top: 32px;
    }
}

@media (max-width: 479px) {
    .popup_content {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 359px) {
    .modal-dialog {
        max-width: calc(100% - 24px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .popup_content {
        padding-left: 12px;
        padding-right: 12px;
    }

    .popup_form_group [class*="col-"]+[class*="col-"] {
        margin-top: 32px;
    }

    .popup_order_table table td.popup_order_table_td_img {
        padding-left: 12px;
        padding-right: 12px;
    }
}

#newitem .modal-dialog {
    max-width: 936px;
}

.popup_radio3 {
    margin-top: 24px;
}

.popup_newitem_returnable_opener {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: .007em;
    text-transform: uppercase;
}

.popup_newitem_returnable_opener .check {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}

.popup_newitem_returnable_opener .check:before {
    content: '';
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #4b4b4b;
    position: absolute;
    left: 0;
    top: 0;
}

.popup_newitem_returnable_content {
    padding-top: 22px;
    display: none;
}

.popup_newitem_returnable.opened .popup_newitem_returnable_content {
    display: block;
}

.popup_newitem_returnable.opened .popup_newitem_returnable_opener .check:before {
    border: 2px solid #fff;
    background: url(../img/checkbox.png) no-repeat center/contain;
}

.popup_form_biggroup {
    padding-bottom: 24px;
}

.popup_form_biggroup+.popup_form_biggroup {
    border-top: 1px solid #4c4c4c;
    padding-top: 48px;
}

.popup_title24 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: .02em;
    font-family: "ProximaNova";
    font-weight: 600;
    margin-bottom: 30px;
}

.popup_title24 .custom_checkbox {
    font-size: 24px;
}

.popup_title24 .custom_checkbox .custom__checkbox:before {
    top: 0;
}

@media (max-width: 479px) {
    .popup_title24 {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .popup_title24 .custom_checkbox {
        font-size: 16px;
    }
}

.popup_trackinventory {
    margin-left: -72px;
    margin-right: -72px;
    padding: 24px 72px;
    background: #242425;
    margin-bottom: 42px;
}

@media (max-width: 767px) {
    .popup_trackinventory {
        margin-left: -48px;
        margin-right: -48px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 479px) {
    .popup_trackinventory {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 359px) {
    .popup_trackinventory {
        margin-left: -12px;
        margin-right: -12px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.popup_trackinventory_checkbox span.check {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: .007em;
    text-transform: uppercase;
    display: block;
    padding-left: 32px;
    position: relative;
    cursor: pointer;
}

.popup_trackinventory_checkbox span.check:before {
    content: '';
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #4b4b4b;
    position: absolute;
    left: 0;
    top: 0;
}

.popup_order_buttons2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -12px;
}

.popup_order_buttons2 .button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(50% - 12px);
    -ms-flex: 0 0 calc(50% - 12px);
    flex: 0 0 calc(50% - 12px);
    margin: 12px;
}

@media (max-width: 767px) {
    .popup_order_buttons2 {
        display: block;
        text-align: center;
    }
}

@media (max-width: 479px) {
    .popup_order_buttons2 {
        margin: 0;
    }

    .popup_order_buttons2 .button {
        margin: 6px 0;
        width: 100%;
    }
}

.popup_trackinventory_title {
    font-size: 14px;
    line-height: 20px;
    padding-left: 32px;
    display: none;
}

.popup_trackinventory_content {
    display: none;
    padding-top: 28px;
    padding-bottom: 17px;
}

.popup_trackinventory.opened .popup_trackinventory_checkbox span.check:before {
    top: 7px;
    border: 2px solid #fff;
    background: url(../img/checkbox.png) no-repeat center/contain;
}

.popup_trackinventory.opened .popup_trackinventory_title {
    display: block;
}

.popup_trackinventory.opened .popup_trackinventory_content {
    display: block;
}

#contactsearch .modal-dialog {
    max-width: 936px;
}

.contactsearch_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.contactsearch_form input.input_border {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.contactsearch_form .button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 180px;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    margin-left: 20px;
}

@media (max-width: 1023px) {
    .contactsearch_form {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .contactsearch_form .button {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 20px auto 0;
        max-width: 288px;
    }
}

@media (max-width: 767px) {
    .contactsearch_form {
        display: block;
    }

    .contactsearch_form .button {
        width: 100%;
        display: block;
    }

    .contactsearch_form input.input_border {
        width: 100%;
    }
}

.contactsearch_select {
    min-width: 235px;
}

@media (max-width: 767px) {
    .contactsearch_select {
        margin-bottom: 20px;
    }
}

.contactsearch_result {
    margin-left: -72px;
    margin-right: -72px;
}

.contactsearch_result table {
    width: 100%;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
}

.contactsearch_result table thead {
    background: #242425;
    border-bottom: 1px solid #4c4c4c;
    text-transform: uppercase;
}

.contactsearch_result table th,
.contactsearch_result table td {
    padding: 24px 12px;
}

.contactsearch_result table th:first-child,
.contactsearch_result table td:first-child {
    padding-left: 72px;
}

.contactsearch_result table th:last-child,
.contactsearch_result table td:last-child {
    padding-right: 72px;
}

.contactsearch_result table td {
    border-bottom: 1px solid #4c4c4c;
}

@media (max-width: 767px) {
    .contactsearch_result table td {
        padding: 0 48px !important;
    }
}

@media (max-width: 479px) {
    .contactsearch_result table td {
        padding: 0 24px !important;
    }
}

@media (max-width: 359px) {
    .contactsearch_result table td {
        padding: 0 12px !important;
    }
}

@media (max-width: 767px) {
    .contactsearch_result {
        margin-left: -48px;
        margin-right: -48px;
    }

    .contactsearch_result thead {
        display: none;
    }

    .contactsearch_result tr:first-child {
        border-top: 1px solid #4c4c4c;
    }

    .contactsearch_result tr {
        border-bottom: 1px solid #4c4c4c;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .contactsearch_result td {
        border: none !important;
    }

    .contactsearch_result table,
    .contactsearch_result table tbody,
    .contactsearch_result table tr,
    .contactsearch_result table td {
        display: block;
    }
}

@media (max-width: 479px) {
    .contactsearch_result {
        margin-left: -24px;
        margin-right: -24px;
    }
}

@media (max-width: 359px) {
    .contactsearch_result {
        margin-left: -12px;
        margin-right: -12px;
    }
}