body::-webkit-scrollbar {
    width: 0;
}

.lenticular_order {
    background: #202021;
    margin-bottom: 48px;
    position: relative;
    padding-left: 670px;
}

.lenticular_preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    background: #242425;
    position: absolute;
    left: 0;
    top: 0;
    width: 670px;
    height: 100%;
}

.lenticular_preview_images {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 144px;
    -ms-flex: 0 0 144px;
    flex: 0 0 144px;
    border-right: 1px solid #343434;
    position: relative;
    height: 100%;
    padding: 96px 0;
}

.lenticular_preview_images_scroll {
    height: 100%;
    overflow-y: auto;
}

.lenticular_preview_images_scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.lenticular_preview_images_slider {
    padding: 0 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
}

.lenticular_preview_images_top {
    display: none;
    width: 100%;
    height: 12px;
    font-size: 0;
    position: absolute;
    left: 0;
    top: 42px;
    cursor: pointer;
}

.lenticular_preview_images_top:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
}

.lenticular_preview_images_bottom {
    display: none;
    width: 100%;
    height: 12px;
    font-size: 0;
    position: absolute;
    left: 0;
    bottom: 42px;
    cursor: pointer;
}

.lenticular_preview_images_bottom:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    bottom: 3px;
}

.lenticular_preview_images_left {
    display: none;
    width: 12px;
    height: 100%;
    font-size: 0;
    position: absolute;
    left: 16px;
    top: 50%;
    cursor: pointer;
}

.lenticular_preview_images_left:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 3px;
}

.lenticular_preview_images_right {
    display: none;
    width: 12px;
    height: 100%;
    font-size: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    cursor: pointer;
}

.lenticular_preview_images_right:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 3px;
}

.lenticular_preview_images.scroll .lenticular_preview_images_top,
.lenticular_preview_images.scroll .lenticular_preview_images_bottom {
    display: block;
}

.lenticular_preview_image {
    width: 100%;
    height: 136px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: no-repeat center / cover;
    margin: 5px 0;
    cursor: pointer;
}

.lenticular_preview_image img {
    width: 100%;
    height: auto;
}

.lenticular_preview_bigimage {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 96px 0;
}

.lenticular_preview_bigimg {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
}

.lenticular_configure {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 41px 72px 30px 48px;
}

.lenticular_configure .row {
    margin-left: -24px;
    margin-right: -24px;
}

.lenticular_configure [class*="col-"] {
    padding: 10px 24px 11px;
}

.lenticular_title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
    letter-spacing: .007em;
    margin-bottom: 25px;
}

.lenticular_configure_title {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: .007em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.lenticular_configure_title .tip {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #4c4c4c;
    line-height: 12px;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    cursor: pointer;
}

.lenticular_configure_static {
    font-size: 18px;
    letter-spacing: .007em;
    line-height: 30px;
    white-space: nowrap;
}

.lenticular_configure_buttons {
    border-top: 1px solid #333333;
    margin: 44px -72px 0 -48px;
    padding: 54px 56px 54px 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.lenticular_configure_buttons .button {
    margin: 0 16px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 calc(50% - 32px);
    -ms-flex: 1 0 calc(50% - 32px);
    flex: 1 0 calc(50% - 32px);
}

@media (max-width: 1599px) {
    .lenticular_configure {
        padding-right: 24px;
        padding-left: 24px;
    }

    .lenticular_configure .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .lenticular_configure [class*="col-"] {
        padding-left: 12px;
        padding-right: 12px;
    }

    .lenticular_configure_buttons {
        margin-left: -24px;
        margin-right: -24px;
        padding-right: 12px;
        padding-left: 12px;
    }

    .lenticular_configure_buttons .button {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 calc(50% - 24px);
        -ms-flex: 1 0 calc(50% - 24px);
        flex: 1 0 calc(50% - 24px);
        margin: 12px;
    }
}

@media (max-width: 1439px) {
    .lenticular_preview_images {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 120px;
        -ms-flex: 0 0 120px;
        flex: 0 0 120px;
    }

    .lenticular_order {
        padding-left: 40%;
    }

    .lenticular_preview {
        width: 40%;
    }

    .lenticular_configure {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
    }
}

@media (max-width: 1279px) {
    .lenticular_order {
        display: block;
        padding-left: 0;
    }

    .lenticular_preview {
        width: 100%;
        position: static;
        height: 480px;
    }

    .lenticular_preview_images {
        padding-top: 48px;
        padding-bottom: 48px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 144px;
        -ms-flex: 0 0 144px;
        flex: 0 0 144px;
    }

    .lenticular_preview_images_top {
        top: 18px;
    }

    .lenticular_preview_images_bottom {
        bottom: 18px;
    }
}

@media (max-width: 767px) {
    .lenticular_preview {
        display: block;
        height: auto;
    }

    .lenticular_preview_bigimage {
        padding: 24px;
        height: 80vw;
    }

    .lenticular_preview_images {
        padding: 0 48px;
        height: auto;
    }

    .lenticular_preview_image {
        width: auto;
        margin: 0 5px;
    }

    .lenticular_preview_image img {
        height: 96px;
        min-height: 0;
        width: auto;
    }

    .lenticular_preview_images_slider {
        padding: 0 48px;
    }

    .lenticular_preview_images_slider .slick-arrow {
        top: 50%;
        margin-top: -6px;
        width: auto;
    }

    .lenticular_preview_images_slider .slick-prev {
        left: 0;
    }

    .lenticular_preview_images_slider .slick-prev:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .lenticular_preview_images_slider .slick-next {
        left: auto;
        right: 0;
    }

    .lenticular_preview_images_slider .slick-next:before {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .lenticular_configure_buttons {
        display: block;
        padding: 24px 24px 0;
    }

    .lenticular_configure_buttons .button {
        width: 100%;
        margin: 12px 0;
    }

    .lenticular_order {
        margin-bottom: 24px;
    }

    .lenticular_preview_images_top,
    .lenticular_preview_images_bottom {
        display: none !important;
    }

    .lenticular_preview_images_slider {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        min-height: 0;
    }

    .lenticular_preview_images_scroll {
        height: auto;
        overflow: auto;
        width: 100%;
    }

    .lenticular_preview_image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .lenticular_preview_images_slider {
        white-space: nowrap;
        padding-left: 0;
        padding-right: 0;
    }

    .lenticular_preview_image {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .lenticular_preview_images_left,
    .lenticular_preview_images_right {
        display: block;
    }
}

@media (max-width: 479px) {
    .lenticular_configure_static {
        font-size: 16px;
    }

    .lenticular_configure_buttons .button {
        font-size: 12px;
    }
}

.lenticular_information {
    background: #202021;
    margin-bottom: 59px;
}

.lenticular_information_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #343434;
    font-size: 13px;
    line-height: 47px;
    letter-spacing: .007em;
    padding: 0 48px;
    text-transform: uppercase;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.lenticular_information_nav:after {
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.lenticular_information_nav a {
    position: relative;
    margin-right: 48px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.lenticular_information_nav a:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: -1px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.lenticular_information_nav a:last-child {
    margin-right: 0;
}

.lenticular_information_nav a.active,
.lenticular_information_nav a:hover {
    font-weight: bold;
}

.lenticular_information_nav a.active:after,
.lenticular_information_nav a:hover:after {
    background: #fff;
}

.lenticular_information_content {
    padding: 32px 48px 42px;
    max-width: 960px;
}

.lenticular_information_title {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: .007em;
    text-transform: uppercase;
}

.lenticular_information_text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .007em;
}

.lenticular_information_text ul li {
    position: relative;
    padding-left: 14px;
}

.lenticular_information_text ul li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 9px;
    background: #fff;
}

@media (max-width: 1599px) {
    .lenticular_information_nav a {
        margin-right: 24px;
    }

    .lenticular_information_content,
    .lenticular_information_nav {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 1279px) {
    .lenticular_information_nav {
        overflow-x: auto;
        overflow-scrolling: touch;
    }
}

.otherproducts {
    margin-bottom: 14px;
}

.otherproducts_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}

.otherproducts_list .search_result_item {
    padding: 12px;
}

.otherproducts_list .search_item_form button {
    padding: 0;
}

.otherproducts_list .search_item_form button svg {
    margin-right: 0;
}

.otherproducts_showmore {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .16em;
}

.otherproducts_showmore a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.otherproducts_showmore a i {
    display: block;
    width: 12px;
    height: 2px;
    background: #fff;
    position: relative;
    margin-right: 10px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.otherproducts_showmore a i:before {
    content: '';
    display: block;
    width: 2px;
    height: 12px;
    position: absolute;
    left: 5px;
    top: -5px;
    background: #fff3cd;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.otherproducts_showmore a:hover {
    color: #303030;
}

.otherproducts_showmore a:hover i {
    background: #303030;
}

.otherproducts_showmore a:hover i:before {
    background: #303030;
}

.otherproducts_title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 12px;
}

@media (max-width: 1279px) {
    .otherproducts_list {
        display: block;
    }
}

.boxestype {
    display: block;
    cursor: pointer;
}

.boxestype input {
    display: none !important;
}

.boxestype .boxestype_icon {
    width: 100%;
    height: 134px;
    margin-bottom: 12px;
    background: no-repeat center / contain;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.boxestype .boxestype_content {
    text-align: center;
    font-size: 17px;
    line-height: 22px;
    color: #717171;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.boxestype input:checked+.boxestype_content {
    color: #f7f7f7;
}

.boxestype input[value="mailerboxes"]+.boxestype_content .boxestype_icon {
    background-image: url(../img/mailerboxes.png);
}

.boxestype input[value="mailerboxes"]:checked+.boxestype_content .boxestype_icon {
    background-image: url(../img/mailerboxes_h.png);
}

.boxestype input[value="productboxes"]+.boxestype_content .boxestype_icon {
    background-image: url(../img/productboxes.png);
}

.boxestype input[value="productboxes"]:checked+.boxestype_content .boxestype_icon {
    background-image: url(../img/productboxes_h.png);
}

.boxestype input[value="shippingboxes"]+.boxestype_content .boxestype_icon {
    background-image: url(../img/shippingboxes.png);
}

.boxestype input[value="shippingboxes"]:checked+.boxestype_content .boxestype_icon {
    background-image: url(../img/shippingboxes_h.png);
}

.boxestypes {
    border-bottom: 1px solid #343434;
    padding: 0 72px 34px 48px;
    margin: 0 -72px 23px -48px;
}

@media (max-width: 1599px) {
    .boxestypes {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 479px) {
    .boxestype .boxestype_content {
        font-size: 14px;
    }
}

.shippingboxes_material .modal-dialog {
    max-width: 1136px;
}

.shippingboxes_material .modal-content {
    border: none;
    background: #202020;
    border-radius: 0;
}

.shippingboxes_material .modal-content {
    margin-top: 96px;
    margin-bottom: 96px;
}

.popup_close {
    display: block;
    width: 34px;
    height: 34px;
    border: 2px solid white;
    position: absolute;
    right: 0;
    top: -56px;
    border-radius: 50%;
    cursor: pointer;
    background: url(../img/crosswhite.png) no-repeat center/contain;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.popup_close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.materialoption_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.materialoption_img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 45%;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;
    background: url(../img/materialoption_img.png) #2e2e2f no-repeat left center/240px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 264px;
    padding-right: 24px;
    min-height: 370px;
    padding-bottom: 24px;
}

.materialoption_img_text {
    font-size: 16px;
    line-height: 30px;
}

.materialoption_img_text+.materialoption_img_text {
    margin-top: 12px;
}

.materialoption_text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 55%;
    -ms-flex: 0 1 55%;
    flex: 0 1 55%;
    padding: 59px 24px 96px 57px;
}

.materialoption_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .007em;
    margin-bottom: 39px;
}

.materialoption_text_title {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.materialoption_text_ul {
    font-size: 15px;
    line-height: 21px;
}

.materialoption_text_ul li {
    position: relative;
    padding-left: 44px;
}

.materialoption_text_ul li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 6px;
}

.materialoption_text_ul li+li {
    margin-top: 19px;
}

.materialoption_text_group+.materialoption_text_group {
    margin-top: 47px;
}

@media (max-width: 1279px) {
    .materialoption_text {
        padding-left: 24px;
    }

    .materialoption_img {
        background-size: 180px auto;
        padding-left: 192px;
        padding-bottom: 14px;
    }

    .materialoption_img_text {
        font-size: 11px;
        line-height: 18px;
    }

    .materialoption_img_text+.materialoption_img_text {
        margin-top: 18px;
    }
}

@media (max-width: 767px) {
    .materialoption_flex {
        display: block;
    }
}

.shippingboxes_sise .modal-dialog {
    max-width: 640px;
}

.shippingboxes_sise .modal-content {
    border: none;
    background: #202021;
    border-radius: 0;
}

.shippingboxes_sise .modal-content {
    margin-top: 96px;
    margin-bottom: 96px;
}

.shippingboxes_sise {
    padding: 30px 40px 54px;
}

.shippingboxes_sise_title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: .007em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 72px;
}

.shippingboxes_img {
    text-align: center;
    margin-bottom: 41px;
}

.shippingboxes_text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .007em;
    margin-bottom: 22px;
}

.shippingboxes_ul {
    font-size: 16px;
    line-height: 24px;
}

.shippingboxes_ul li {
    position: relative;
    padding-left: 20px;
}

.shippingboxes_ul li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 9px;
}

.shippingboxes_ul li+li {
    margin-top: 16px;
}

@media (max-width: 767px) {
    .shippingboxes_sise {
        padding-left: 24px;
        padding-right: 24px;
    }
}

#bindingoptions .modal-dialog {
    max-width: 768px;
}

#bindingoptions .modal-content {
    background: #202021;
    border: none;
    border-radius: 0;
}

.bindingoptions {
    padding: 60px 19px;
    text-align: center;
}

.bindingoptions_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .007em;
    text-transform: uppercase;
    margin-bottom: 64px;
}

.bindingoptions_group+.bindingoptions_group {
    margin-top: 74px;
}

.bindingoptions_title2 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.bindingoptions_small {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 18px;
}

.bindingoptions_img {
    width: 100%;
    height: 124px;
    background: no-repeat center / contain;
}

.bindingoptions_group [class*="col-"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bindingoptions_img {
    margin-top: auto;
}

#bindingplacement .modal-dialog {
    max-width: 640px;
}

#bindingplacement .modal-content {
    background: #202021;
    border: none;
    border-radius: 0;
}

.bindingplacement {
    padding: 60px 19px;
    text-align: center;
}

.bindingplacement_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .007em;
    text-transform: uppercase;
    margin-bottom: 64px;
}

.bindingplacement_group+.bindingplacement_group {
    margin-top: 74px;
}

.bindingplacement_title2 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.bindingplacement_group .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#sizepopup .modal-dialog {
    max-width: 768px;
}

#sizepopup .modal-content {
    background: #202021;
    border: none;
    border-radius: 0;
}

.sizepopup {
    padding: 60px 24px 48px;
}

.sizepopup_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -20px;
    margin-top: -20px;
}

.sizepopup_item {
    padding: 12px 20px;
}

.sizepopup_title {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .007em;
    margin-bottom: 28px;
}

#folding .modal-dialog {
    max-width: 768px;
}

#folding .modal-content {
    background: #202021;
    border: none;
    border-radius: 0;
}

.folding {
    padding: 60px 24px 24px;
    text-align: center;
}

.folding_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.folding_list {
    margin-left: -12px;
    margin-right: -12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.folding_item {
    display: block;
    padding: 24px 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

@media (max-width: 767px) {
    .folding_item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    }
}

@media (max-width: 479px) {
    .folding_item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

.folding_item_img {
    display: block;
    width: 100%;
    height: 110px;
    background: no-repeat center / contain;
    margin-bottom: 24px;
}

.folding_item_title {
    font-size: 17px;
    line-height: 22px;
}

#shrinkwrapping .modal-dialog {
    max-width: 768px;
}

#shrinkwrapping .modal-content {
    background: #202021;
    border: none;
    border-radius: 0;
}

.shrinkwrapping {
    padding: 60px 48px;
}

.shrinkwrapping_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 84px;
    text-align: center;
    text-transform: uppercase;
}

.shrinkwrapping_text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 42px;
}

.shrinkwrapping_title2 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 21px;
    text-transform: uppercase;
}

.shrinkwrapping_ul {
    font-size: 14px;
    line-height: 24px;
}

.shrinkwrapping_ul li {
    position: relative;
    padding-left: 20px;
}

.shrinkwrapping_ul li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 9px;
}

.shrinkwrapping_ul li+li {
    margin-top: 24px;
}

#thicknessguide .modal-dialog,
#thicknessguide10 .modal-dialog {
    max-width: 768px;
}

#thicknessguide .modal-content,
#thicknessguide10 .modal-content {
    background: #1b1b1b;
    border: none;
    border-radius: 0;
}

.thicknessguide {
    padding-top: 60px;
}

.thicknessguide_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
}

.folding_list_short .folding_item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
}

@media (max-width: 479px) {
    .folding_list_short .folding_item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

.thicknessguide_img img {
    width: 100%;
}

#roundedcorners .modal-dialog {
    max-width: 768px;
}

#roundedcorners .modal-content {
    background: #202021;
    border: none;
    border-radius: 0;
}

.roundedcorners {
    padding: 60px 36px;
    text-align: center;
}

@media (max-width: 479px) {
    .roundedcorners {
        padding-left: 0;
        padding-right: 0;
    }
}

.roundedcorners_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 62px;
    text-transform: uppercase;
}

.roundedcorners_smalltitle {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 28px;
}

.roundedcorners_img {
    margin-bottom: 44px;
}

.roundedcorners_img img {
    width: auto;
    height: 176px;
    -o-object-fit: contain;
    object-fit: contain;
}

.roundedcorners_text {
    font-size: 19px;
    line-height: 24px;
    color: #a8a7a7;
}

.roundedcorners [class*="col-"] {
    padding: 18px 36px;
}

#wrapping .modal-dialog {
    max-width: 768px;
}

#wrapping .modal-content {
    background: #202021;
    border: none;
    border-radius: 0;
}

.wrapping {
    padding: 60px 24px;
}

.wrapping_title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.wrapping_text {
    font-size: 17px;
    line-height: 24px;
}

.wrapping_text_top {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 34px;
}

.wrapping_text+.wrapping_text {
    margin-top: 24px;
}

.wrapping_title2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 21px;
}

.wrapping [class*="col-"] {
    padding: 12px 24px;
}