.trackprogress {
    background: #1a1a1b;
}

.trackprogress_head_desktop {
    background: #1f1f20;
    border-bottom: 1px solid #4b4b4b;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 44px 24px;
}

.trackprogress_head_desktop_group {
    border-left: 1px solid #4b4b4b;
    padding: 0 24px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.trackprogress_head_desktop_group:first-child {
    border-left: none;
}

.trackprogress_head_desktop_group .title13 {
    margin-bottom: 14px;
}

.trackprogress_head_desktop_order {
    white-space: nowrap;
    text-align: right;
    padding: 0 24px;
}

.trackprogress_head_desktop_order .title13 {
    margin-bottom: 20px;
}

.trackprogress_head_tablet {
    display: none;
    background: #1f1f20;
    border-bottom: 1px solid #4b4b4b;
}

.trackprogress_head_tablet_order {
    border-right: 1px solid #4b4b4b;
    padding: 20px 24px;
    min-width: 214px;
}

.trackprogress_head_tablet_order .title13 {
    margin-bottom: 20px;
}

.trackprogress_head_tablet_tabs {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.trackprogress_head_tablet_tabs_nav {
    border-bottom: 1px solid #4b4b4b;
    padding: 0 42px;
}

.trackprogress_head_tablet_tabs_nav a {
    display: block;
    margin: 0 24px;
    position: relative;
    padding: 21px 0;
}

.trackprogress_head_tablet_tabs_nav a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -1px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.trackprogress_head_tablet_tabs_nav a.active {
    font-weight: 700;
}

.trackprogress_head_tablet_tabs_nav a.active:after,
.trackprogress_head_tablet_tabs_nav a:hover:after {
    width: 100%;
}

.trackprogress_head_tablet_tabs_content .tab-pane {
    padding: 33px 66px;
}

.trackprogress_head_tablet_tabs__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.trackprogress_head_mobile {
    display: none;
    padding: 24px;
    background: #1f1f20;
}

.trackprogress_head_mobile [class*="col-"]:first-child {
    padding-right: 24px;
}

.trackprogress_head_mobile [class*="col-"]:last-child {
    padding-left: 23px;
    border-left: 1px solid #4b4b4b;
}

.trackprogress_head_mobile_content_group+.trackprogress_head_mobile_content_group {
    margin-top: 18px;
}

.trackprogress_head_mobile_order {
    margin-bottom: 14px;
}

.trackprogress_head_mobile_order .title13 {
    margin-bottom: 6px;
}

.trackprogress_content {
    padding: 0 96px 134px;
}

.trackprogress_progress {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 115px 0 72px;
}

.trackprogress_progress_item {
    width: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
    position: relative;
}

.trackprogress_progress_item:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: #1f1f20;
    position: absolute;
    top: 45px;
    right: 50%;
    z-index: 1;
}

.trackprogress_progress_item_step {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    background: #1f1f20;
    line-height: 96px;
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto 16px;
    position: relative;
    z-index: 2;
}

.trackprogress_progress_item.active:before {
    background: #fff;
}

.trackprogress_progress_item.active:first-child:before {
    display: none !important;
}

.trackprogress_progress_item.active .trackprogress_progress_item_step {
    background: #fff;
    color: #141415;
}

.trackprogress_table {
    margin-bottom: 52px;
}

.trackprogress_table_desktop {
    width: 100%;
    border-collapse: collapse;
}

.trackprogress_table_desktop th,
.trackprogress_table_desktop td {
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: top;
}

.trackprogress_table_desktop th:first-child,
.trackprogress_table_desktop td:first-child {
    padding-left: 48px;
}

.trackprogress_table_desktop th:last-child,
.trackprogress_table_desktop td:last-child {
    padding-right: 48px;
}

.trackprogress_table_desktop thead {
    background: #1f1f20;
}

.trackprogress_table_desktop th {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .007em;
    padding-top: 24px;
    padding-bottom: 24px;
}

.trackprogress_table_desktop td {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #4b4b4b;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 15%;
}

.trackprogress_table_desktop td.title {
    width: 40%;
}

.trackprogress_buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.trackprogress_buttons .button {
    padding: 0 60px;
    margin: 0 5px;
}

.trackprogress_buttons .button span {
    position: relative;
}

.trackprogress_buttons .button span.goback:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #303030;
    border-radius: 9px;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -9px;
    margin-right: 14px;
    background: url(../img/arrowleftblack.png) no-repeat center/5px 8px;
}

.trackprogress_table_mobile {
    display: none;
}

.trackprogress_table_mobile_head {
    background: #1f1f20;
    margin-left: -48px;
    margin-right: -48px;
    padding: 24px 48px;
}

.trackprogress_table_mobile_content [class*="col-"] {
    border-bottom: 1px solid #4b4b4b;
    padding-top: 15px;
    padding-bottom: 15px;
}

.trackprogress_table_mobile_content [class*="col-"]:first-child {
    padding-right: 24px;
}

.trackprogress_table_mobile_content [class*="col-"]:last-child {
    padding-left: 24px;
}

.trackprogress_table_mobile_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .007em;
}

.trackprogress_table_mobile_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .007em;
}

.trackprogress_table_mobile_text span {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.trackprogress_search {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
}

.trackprogress_search button {
    min-width: 192px;
}

.trackprogress_search input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 72px;
    background: #fff;
    color: #303030;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .16em;
    padding: 0 32px;
}

.trackprogress_search input::-webkit-input-placeholder {
    color: #303030;
}

.trackprogress_search input::-moz-placeholder {
    color: #303030;
}

.trackprogress_search input:-ms-input-placeholder {
    color: #303030;
}

.trackprogress_search input::-ms-input-placeholder {
    color: #303030;
}

.trackprogress_search input::placeholder {
    color: #303030;
}

@media (max-width: 1599px) {
    .trackprogress_head_desktop {
        padding-left: 0;
        padding-right: 0;
    }

    .trackprogress_content {
        padding-left: 72px;
        padding-right: 72px;
    }
}

@media (max-width: 1279px) {
    .trackprogress_head_desktop {
        display: none;
    }

    .trackprogress_head_tablet {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .trackprogress_content {
        padding-left: 48px;
        padding-right: 48px;
    }

    .trackprogress_progress {
        margin: 0 -30px;
    }

    .trackprogress_table_desktop th:first-child,
    .trackprogress_table_desktop td:first-child {
        padding-left: 24px;
    }

    .trackprogress_table_desktop th:last-child,
    .trackprogress_table_desktop td:last-child {
        padding-right: 24px;
    }

    .trackprogress_table_desktop th {
        font-size: 13px;
    }

    .trackprogress_table_desktop td {
        font-size: 14px;
    }

    .trackprogress_search input {
        padding: 0 24px;
    }
}

@media (max-width: 1023px) {
    .trackprogress_head_tablet_tabs_nav {
        padding-left: 0;
        padding-right: 0;
    }

    .trackprogress_head_tablet_tabs_content .tab-pane {
        padding: 33px 24px;
    }

    .trackprogress_table_desktop td {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .trackprogress_search button {
        min-width: 144px;
    }
}

@media (max-width: 767px) {
    .trackprogress_head_tablet {
        display: none;
    }

    .trackprogress_head_mobile {
        display: block;
    }

    .trackprogress_progress {
        display: block;
        padding: 32px 0;
    }

    .trackprogress_progress_item {
        display: none;
    }

    .trackprogress_progress_item.active-main {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .trackprogress_table_desktop {
        display: none !important;
    }

    .trackprogress_table_mobile {
        display: block;
    }

    .trackprogress_table_mobile_head {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .trackprogress_content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .trackprogress_buttons {
        display: block;
    }

    .trackprogress_buttons .button {
        display: block;
        margin: 0;
    }

    .trackprogress_buttons .button+.button {
        margin-top: 10px;
    }

    .trackprogress_table {
        margin-bottom: 40px;
    }
}

@media (max-width: 479px) {
    .trackprogress_table_mobile_content [class*="col-"]:first-child {
        padding-right: 12px;
    }

    .trackprogress_table_mobile_content [class*="col-"]:last-child {
        padding-left: 12px;
    }

    .trackprogress_search {
        display: block;
        position: relative;
    }

    .trackprogress_search button {
        display: block;
        min-width: 0;
        width: 20px;
        height: 20px;
        background: url(../img/header_search_black.png) no-repeat center/contain;
        position: absolute;
        left: 12px;
        top: 50%;
        margin-top: -10px;
        padding: 0;
        border: 0;
    }

    .trackprogress_search button span {
        display: none;
    }

    .trackprogress_search input {
        height: 48px;
        padding-left: 48px;
        width: 100%;
        font-size: 14px;
        letter-spacing: .007em;
    }
}

@media (max-width: 359px) {
    .trackprogress_head_mobile {
        padding-left: 12px;
        padding-right: 12px;
    }

    .trackprogress_head_mobile [class*="col-"]:first-child {
        padding-right: 12px;
    }

    .trackprogress_head_mobile [class*="col-"]:last-child {
        padding-left: 11px;
    }
}