.receipt_opener {
    background: #1a1a1b;
    padding: 18px 48px;
    position: relative;
}

.receipt_opener:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: 48px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.receipt_opener.opened:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.receipt_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .007em;
    padding-right: 36px;
}

.receipt_content {
    margin-top: 10px;
    display: none;
}

.receipt_content_group {
    background: #1a1a1b;
}

.receipt_order_information {
    padding: 8px 24px 0;
}

.receipt_order_information_title13 {
    padding: 20px 24px;
}

.receipt_order_information_table {
    border-bottom: 1px solid #4b4b4b;
}

.receipt_order_information_table table {
    width: 100%;
    border-collapse: collapse;
}

.receipt_order_information_table table th {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .007em;
    background: #1f1f20;
    padding: 24px;
}

.receipt_order_information_table table td {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .007em;
    border-bottom: 1px solid #4b4b4b;
    padding: 20px 24px;
}

.receipt_order_information_table table td.receipt_order_information_table_image_td {
    padding: 0;
    background: #1f1f20;
    vertical-align: middle;
    width: 1px;
    border-bottom-color: #1a1a1b;
}

.receipt_order_information_table table td.receipt_order_information_table_title_td {
    width: 75%;
}

.receipt_order_information_table table tr:last-child td {
    border-bottom: 12px solid #1a1a1b;
}

.receipt_order_information_table table tr:first-child td {
    border-top: 12px solid #1a1a1b;
}

.receipt_order_information_table table .price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.receipt_order_information_table_th_title {
    -webkit-box-flex: .2;
    -webkit-flex-grow: .2;
    -ms-flex-positive: .2;
    flex-grow: .2;
    padding-right: 6px;
}

.receipt_order_information_table_th_date {
    -webkit-box-flex: .16;
    -webkit-flex-grow: .16;
    -ms-flex-positive: .16;
    flex-grow: .16;
    padding: 0 6px;
}

.receipt_order_information_table_th_client {
    -webkit-box-flex: .30;
    -webkit-flex-grow: .30;
    -ms-flex-positive: .30;
    flex-grow: .30;
    padding: 0 6px;
}

.receipt_order_information_table_th_products {
    -webkit-box-flex: .16;
    -webkit-flex-grow: .16;
    -ms-flex-positive: .16;
    flex-grow: .16;
    padding: 0 6px;
}

.receipt_order_information_table_th_qty {
    -webkit-box-flex: .18;
    -webkit-flex-grow: .18;
    -ms-flex-positive: .18;
    flex-grow: .18;
    padding: 0 6px;
}

.receipt_order_information_table_th_total {
    padding-left: 6px;
}

.receipt_order_information_table_th_status {
    padding-left: 6;
    padding-right: 6px;
    -webkit-box-flex: .4;
    -webkit-flex-grow: .4;
    -ms-flex-positive: .4;
    flex-grow: .4;
}

.receipt_order_information_table_image {
    padding: 20px 24px;
    background: #1f1f20;
}

.receipt_order_information_table_img {
    display: block;
    width: 54px;
    height: 78px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: -8.3px 8.6px 39.6px 3.4px rgba(0, 0, 0, 0.48);
    box-shadow: -8.3px 8.6px 39.6px 3.4px rgba(0, 0, 0, 0.48);
}

.receipt_order_information_table_qty .title13 {
    margin-right: 24px;
}

.receipt_order_information_table_qty .title13 span.mobiletext {
    display: none;
}

.receipt_order_information_table_qty input {
    width: 72px;
    height: 48px;
    padding: 0 10px;
    text-align: center;
}

.receipt_order_information_table_title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
    letter-spacing: .007em;
}

.receipt_order_information_total {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 54px 0 40px;
}

.receipt_order_information_total table td:first-child {
    padding-right: 60px;
}

.receipt_order_information_total table td:last-child {
    text-align: right;
}

.receipt_content_group+.receipt_content_group {
    margin-top: 36px;
}

.receipt_order_details {
    padding: 42px 48px 60px;
}

.receipt_order_details_group label.title13 {
    display: block;
}

.receipt_order_details_group input {
    width: 100%;
}

.receipt_order_details_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 36px;
}

.receipt_order_options {
    padding: 42px 48px 52px;
}

.receipt_order_options .custom_radio2 {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: .007em;
}

.receipt_order_options .custom_radio2+.custom_radio2 {
    margin-top: 36px;
}

.receipt_order_options_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 44px;
}

.receipts_buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 50px;
}

.receipts_buttons .button {
    margin-left: 20px;
}

.receipt+.receipt {
    margin-top: 36px;
}

@media (max-width: 1279px) {
    .receipt_order_information_th * {
        text-align: left;
    }

    .receipt_order_information_th span {
        display: block;
    }

    .receipt_order_information_table table .price {
        display: block;
    }

    .receipt_order_information_table table .price span.totalprice {
        margin-right: 0;
        display: block;
    }

    .receipt_order_information_table_qty .title13 {
        margin-right: 12px;
    }

    .receipt_order_information_table_qty .title13 span.mobiletext {
        display: block;
    }

    .receipt_order_information_table_qty .title13 span.desktoptext {
        display: none;
    }

    .receipt_order_details,
    .receipt_order_options,
    .receipt_opener {
        padding-left: 24px;
        padding-right: 24px;
    }

    .receipt_order_information_title13 {
        padding-left: 0;
        padding-right: 0;
    }

    .receipt+.receipt {
        margin-top: 24px;
    }

    .receipt_opener:after {
        right: 24px;
    }

    .receipt_title {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .receipt_order_information_table table thead {
        display: none;
    }

    .receipt_order_information_table table,
    .receipt_order_information_table table tbody,
    .receipt_order_information_table table td,
    .receipt_order_information_table table th {
        display: block;
    }

    .receipt_order_information_table table tr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .receipt_order_information_table table td {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid #4b4b4b;
    }

    .receipt_order_information_table table td.receipt_order_information_table_image_td {
        min-width: 96px;
        width: 96px;
        border-bottom: 1px solid #4b4b4b;
        padding: 12px 0;
        background: none;
    }

    .receipt_order_information_table table td.receipt_order_information_table_title_td {
        width: calc(100% - 96px);
    }

    .receipt_order_information_table table td.receipt_order_information_table_qty {
        width: 50%;
        max-width: 50%;
    }

    .receipt_order_information_table table td.receipt_order_information_table_price {
        width: 50%;
        max-width: 50%;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .receipt_order_information_table table tr:last-child td {
        border-bottom: none;
    }

    .receipt_order_information_table table tr:first-child td {
        border-top: none;
    }

    .receipt_order_information_table_title {
        padding: 0 24px;
    }

    .receipt_order_details [class*="col-"]+[class*="col-"] {
        margin-top: 16px;
    }

    .receipt_order_details {
        padding: 42px 24px 40px;
    }

    .receipt_order_options .custom_radio2 {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 479px) {
    .receipt_order_information_total {
        display: block;
    }

    .receipt_order_information_total table {
        width: 100%;
    }

    .receipts_buttons {
        display: block;
        margin-top: 0;
    }

    .receipts_buttons .button {
        margin: 10px 0 0;
        width: 100%;
    }
}

.receipt_order_information_table_th_title span.number {
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    color: #1a1a1b;
    font-size: 16px;
    font-weight: 700;
    background: #fff;
    border-radius: 18px;
    padding: 0 6px;
    min-width: 36px;
    margin-left: 8px;
}

.receipt_order_information_tipopener {
    position: relative;
}

.receipt_order_information_tip {
    position: absolute;
    left: -32px;
    bottom: 100%;
    background-color: white;
    -webkit-box-shadow: 0 25px 35px rgba(19, 19, 23, 0.1), 0 0 25px rgba(19, 19, 23, 0.02);
    box-shadow: 0 25px 35px rgba(19, 19, 23, 0.1), 0 0 25px rgba(19, 19, 23, 0.02);
    width: 440px;
    min-height: 170px;
    margin-bottom: 18px;
    padding: 32px 36px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    white-space: normal;
}

.receipt_order_information_tip:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    left: 40px;
    top: 100%;
}

.receipt_order_information_tipopener:hover .receipt_order_information_tip {
    visibility: visible;
    opacity: 1;
}

.receipt_order_information_tip_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #131317;
    margin-bottom: 5px;
}

.receipt_order_information_tip_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #7f818a;
}

@media (max-width: 767px) {
    .receipt_order_information_tipopener {
        position: static;
    }

    .receipt_order_information_tip {
        width: 100%;
        max-width: 480px;
        left: 0;
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .receipt_order_information_tip:before {
        display: none;
    }

    .payment_information_table_opener {
        position: relative;
    }
}