.search_form {
    background: #1a1a1b;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 24px;
}

.search_form:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/header_search.png) no-repeat center/contain;
    position: absolute;
    left: 24px;
    top: 50%;
    margin-top: -10px;
}

.search_form input {
    width: 100%;
    height: 60px;
    padding: 0 24px 0 68px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    letter-spacing: .007em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search_form button {
    min-width: 192px;
}

.search_result {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.search_result_item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    min-height: 480px;
}

.search_result_item_inner {
    padding: 12px;
    height: 100%;
}

.search_item {
    background: #1a1a1b;
    display: block;
    height: 100%;
    position: relative;
    padding-left: 288px;
}

.search_item_image {
    min-width: 288px;
    padding: 64px;
    background: #1f1f20;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.search_item_img {
    display: block;
    width: 100%;
    -webkit-box-shadow: -8.3px 8.6px 39.6px 3.4px rgba(0, 0, 0, 0.48);
    box-shadow: -8.3px 8.6px 39.6px 3.4px rgba(0, 0, 0, 0.48);
    background: no-repeat center / cover;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.search_item_img img {
    width: 100%;
    height: auto;
}

.search_item_content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}

.search_item_text {
    padding: 42px 48px 48px;
    min-width: 100%;
}

.search_item_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: .007em;
    display: block;
    text-decoration: underline;
    margin-bottom: 24px;
    min-height: 62px;
}

.search_item_cost {
    font-size: 14px;
    color: #fbfbfb;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.search_item_cost .search_item_cost_total {
    font-size: 24px;
    display: inline-block;
    margin-right: 3px;
}

.search_item_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 -5px;
}

.search_item_form button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 48px;
    height: 48px;
    margin-left: 15px;
}

.search_item_form button svg {
    display: block;
    width: 27px;
    height: 22px;
    fill: #141417;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 12px;
}

.search_item_form button:hover svg {
    fill: #fff;
}

.search_item_form_group {
    -webkit-box-flex: .5;
    -webkit-flex-grow: .5;
    -ms-flex-positive: .5;
    flex-grow: .5;
    padding: 0 5px;
}

.search_item_form_group input {
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #4b4b4b;
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
    padding: 0 20px;
}

.search_item_form_group .title13 {
    margin-bottom: 8px;
}

.search_item_form_quanity {
    position: relative;
}

.search_item_form_quanity span.inc {
    display: block;
    height: 50%;
    width: 24px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.search_item_form_quanity span.inc:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    position: absolute;
    left: 0;
    bottom: 4px;
}

.search_item_form_quanity span.dec {
    display: block;
    height: 50%;
    width: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.search_item_form_quanity span.dec:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    position: absolute;
    left: 0;
    top: 4px;
}

.search_item_form_quanity input {
    padding-right: 42px;
}

.search_item_tip {
    border-top: 1px solid #4b4b4b;
    font-size: 14px;
    line-height: 20px;
    padding: 26px 48px;
    letter-spacing: .007em;
    min-width: 100%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.search_item_tip span {
    display: inline-block;
    padding-left: 20px;
    position: relative;
}

.search_item_tip span:before {
    content: '*';
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 4px;
}

.search_item_description {
    margin-bottom: 40px;
    min-height: 72px;
}

@media (max-width: 1919px) {
    .search_item {
        padding-left: 240px;
    }

    .search_item_image {
        min-width: 240px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1599px) {
    .search_item {
        padding-left: 204px;
    }

    .search_item_image {
        min-width: 204px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .search_item_text,
    .search_item_tip {
        padding-left: 24px;
        padding-right: 24px;
    }

    .search_item_form button {
        margin-left: 10px;
    }
}

@media (max-width: 1279px) {
    .search_result {
        display: block;
    }

    .search_result_item {
        width: 100%;
        max-width: 100%;
        min-height: 0;
    }

    .search_item_image {
        min-width: 240px;
        padding-left: 42px;
        padding-right: 42px;
    }

    .search_item {
        padding-left: 240px;
    }

    .search_item_form button {
        margin-left: 5px;
    }

    .search_form button {
        min-width: 144px;
    }

    .search_result_item_inner,
    .search_item {
        height: auto;
        min-height: 0;
    }

    .search_item_form button {
        padding: 0;
    }

    .search_item_form button svg {
        margin-right: 0;
    }

    .search_item_form button span {
        display: none;
    }
}

@media (max-width: 767px) {
    .search_form {
        display: block;
    }

    .search_form:before {
        display: none;
    }

    .search_form button {
        min-width: 0;
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/header_search.png) no-repeat center/contain;
        position: absolute;
        left: 24px;
        top: 50%;
        margin-top: -10px;
        padding: 0;
        border: none;
    }

    .search_form button span {
        display: none;
    }

    .search_item {
        padding-left: 0;
    }

    .search_item_image {
        position: relative;
        width: 100%;
        height: auto;
        padding: 72px 48px;
    }
}

@media (max-width: 479px) {
    .search_form input {
        font-size: 20px;
    }

    .search_item_form {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .search_item_form_button {
        min-width: 100%;
        padding: 0 5px;
        margin-top: 20px;
    }

    .search_item_form_button button {
        margin-left: 0;
        display: block;
        width: 100%;
        border-color: #fff;
        background: #fff;
        color: #141415;
        border-width: 2px;
        border-style: solid;
        height: 48px;
        line-height: 44px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        padding: 0 24px;
        position: relative;
        text-transform: uppercase;
        letter-spacing: .08em;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .search_item_form_group {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        width: 50%;
    }

    .search_item_form_group input {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 20px;
    }

    .search_item_form button {
        padding: 0 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .search_item_form button svg {
        margin-right: 12px;
    }

    .search_item_form button span {
        display: block;
    }
}

@media (max-width: 359px) {

    .search_item_text,
    .search_item_tip {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.search_result {
    display: block;
    margin: 0;
}

.search_result_item {
    width: 100%;
    max-width: 100%;
}

.search_result_item_inner {
    padding-left: 0;
    padding-right: 0;
}

.search_item_image_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(20, 20, 21, 0.8);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.search_item_image_mask a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff url(../img/header_search_black.png) no-repeat center/20px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

.search_item_image:hover .search_item_image_mask {
    opacity: 1;
}

.search_item_image:hover .search_item_img {
    -webkit-box-shadow: none;
    box-shadow: none;
}