.service_content .content_group {
    padding: 44px 48px 60px;
}

.service_content .content_group.content_group_nopaddingbottom {
    padding-bottom: 0;
}

.service_content .content_group .row {
    margin-left: -5px;
    margin-right: -5px;
    width: calc(100% + 10px);
}

.service_content .content_group .row+.row {
    margin-top: 20px;
}

.service_content .content_group [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.service_content .content_group .button {
    padding: 0 58px;
}

.service_content .content_group h2 {
    margin-bottom: 11px;
}

.service_content .content_group .custom_checkbox {
    margin-top: 14px;
}

.service_content .content_group+.content_group {
    margin-top: 24px;
}

.service_content .row830 {
    max-width: 830px;
}

.service_content_group_title {
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    white-space: nowrap;
}

.service_content_group_title span {
    font-size: 20px;
}

.service_content_group_input {
    height: 48px;
    border: 1px solid #4b4b4b;
    width: 100%;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding: 0 20px;
    font-weight: 400;
}

.service_content_collapse_opener {
    display: block;
    font-weight: 700;
    letter-spacing: .007em;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    background: #1f1f20;
    border-bottom: 1px solid #4b4b4b;
    margin: 0 -48px;
    padding: 24px 48px;
    position: relative;
}

.service_content_collapse_opener i {
    display: block;
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: 38px;
    top: 50%;
    margin-top: -1px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.service_content_collapse_opener i:before {
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    background: #fff;
    position: absolute;
    right: 50%;
    bottom: 50%;
    margin-bottom: -5px;
    margin-right: -1px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.service_content_collapse_opener[aria-expanded="true"] i {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.service_content_collapse_opener[aria-expanded="true"] i:before {
    height: 0;
}

.service_content_collapse_inner {
    padding: 20px 0 48px;
}

.service_order {
    border-bottom: 2px solid #1a1a1b;
}

.service_orders__tr {
    position: relative;
    margin: 0 -48px;
    padding: 0 96px 0 48px;
    background: #1f1f20;
}

.service_orders_tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 72px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 -12px;
}

.service_orders_td {
    width: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .007em;
    cursor: pointer;
    padding: 12px 12px;
}

.service_orders_td.attention {
    background: #f90303;
}

.service_orders_openclose {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    z-index: 2;
}

.service_orders_openclose.opened .service_orders_open {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -4px;
}

.service_orders_openclose.opened .service_orders_close {
    opacity: 1;
}

.service_orders_open {
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: 0;
    top: 28px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.service_orders_close {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 12px;
    background: url(../img/crosswhite.png) no-repeat center/contain;
    position: absolute;
    right: 15px;
    top: 24px;
    display: block;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.service_orders_close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.service_order_collapse {
    display: none;
    margin: 0 -96px 0 -48px;
    background: #242426;
    padding-right: 48px;
}

.service_orders_content {
    text-align: right;
    padding: 24px 0 24px 43px;
}

.service_orders_content .button {
    margin: 5px;
    padding: 0 20px !important;
    min-width: 192px;
}

.service_orders {
    margin-top: 20px;
}

.service_orders_showmore {
    text-align: center;
    padding: 42px 0 54px;
}

.service_orders_showmore a {
    display: inline-block;
    padding-left: 27px;
    position: relative;
}

.service_orders_showmore a i {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    background: url(../img/showmore.png) no-repeat center/contain;
    -webkit-animation: rotation 1s infinite linear;
    animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.service_content_collapse_list {
    padding-top: 18px;
}

.service_content_address_input input {
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #4b4b4b;
    padding: 0 20px 0 56px;
    background: url(../img/header_search.png) no-repeat 18px center/19px auto;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.service_content_rowbottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.service_content_address_table {
    margin-left: -48px;
    margin-right: -48px;
    padding-top: 40px;
}

.service_content_address_tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #4b4b4b;
    padding: 12px 48px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 114px;
}

.service_content_address_tr .row {
    width: calc(100% + 10px) !important;
    max-width: 100% !important;
}

.service_content_address_tr:last-child {
    border-bottom: 1px solid #4b4b4b;
}

.service_content_address_td {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 25%;
}

.service_content_address_td:first-child {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
}

.service_content_address_button {
    margin-top: 20px;
}

.service_content_address_form {
    padding-top: 6px;
}

.service_content_address_input {
    margin-bottom: 24px;
}

.service_content_favorite_img {
    padding: 20px;
    background: #1f1f20;
}

.service_content_favorite__img {
    -webkit-box-shadow: -4.2px 4.3px 10px #151516;
    box-shadow: -4.2px 4.3px 10px #151516;
    width: 54px;
    height: 78px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service_content_favorite_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .007em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 24px;
    padding-right: 24px;
}

.service_content_favorite_td_remove {
    min-width: 48px;
    padding-left: 24px;
}

.service_content_favorite_td_remove button {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #fff;
    background: url(../img/crosswhite.png) no-repeat center/contain;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.service_content_favorite_td_remove button:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.service_content_downloadtittle {
    background: #1f1f20;
    border-bottom: 1px solid #4b4b4b;
    margin: 0 -48px;
    padding: 24px 48px;
}

.service_content_address_table_title {
    background: #1f1f20;
    border-bottom: 1px solid #4b4b4b;
    padding: 24px 48px;
}

.service_content_download_list {
    padding: 32px 0;
}

.service_content_download {
    margin-top: 40px;
}

.service_content_default_address {
    border-bottom: 2px solid #1a1a1b;
    background: #1f1f20;
    margin: 0 -48px;
    padding: 25px 48px 42px;
}

.service_content_default_address_inner {
    position: relative;
    padding-right: 72px;
}

.service_content_default_address_change {
    font-size: 13px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    border-bottom: 1px dashed #fff;
    position: absolute;
    right: 0;
    bottom: 4px;
    text-align: right;
}

.service_content_default_addresses_form {
    padding-top: 18px;
}

.service_content_dashboard .ui-selectmenu-button.ui-button {
    width: 100%;
}

.service_orders_content_l {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.service_order_collapse {
    display: none;
}

.service_content_dashboard_ordersinformations {
    padding-top: 32px;
}

.service_content_dashboard_ordersinformations .title13 {
    margin-bottom: 22px;
}

.jobinformation_print {
    position: relative;
    padding-left: 48px;
    display: inline-block;
}

.jobinformation_print:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/printicon.png) no-repeat center/contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}

.jobinformation_r a {
    display: block;
    margin-left: 48px;
    text-align: center;
}

.jobinformation_opener {
    display: block;
    border-top: 8px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 8px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 8px;
    cursor: pointer;
}

.jobinformation_title {
    position: relative;
    margin: 0 -48px 36px;
    padding: 0 96px 0 48px;
}

.jobinformation_title h2 {
    margin-bottom: 0 !important;
}

.jobinformation_content_title-mobile {
    display: none;
}

.jobinformation_table_order {
    background: #1f1f20;
    margin: 0 -48px;
    padding: 30px 48px 36px;
}

.jobinformation_table_order table {
    width: calc(100% + 10px);
    margin: 0 -5px;
    border-collapse: collapse;
}

.jobinformation_table_order table td {
    padding: 18px 5px;
    vertical-align: top;
}

.jobinformation_content_number {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 16px;
}

.jobinformation_table_borderleft {
    border-left: 1px solid #4b4b4b;
    padding-left: 24px;
}

.jobinformation_table_paddingleft {
    padding-left: 24px;
}

.jobinformation_table_product {
    margin: 12px -48px 0;
}

.jobinformation_table_product table {
    width: 100%;
    border-collapse: collapse;
}

.jobinformation_table_product table.mobile {
    display: none !important;
}

.jobinformation_table_product table th {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .007em;
    padding: 24px 5px;
}

.jobinformation_table_product table td {
    padding: 35px 5px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .007em;
    border-bottom: 1px solid #4b4b4b;
    white-space: nowrap;
}

.jobinformation_table_product table td.jobinformation_table_product_title {
    font-weight: 500;
    white-space: normal;
}

.jobinformation_table_product table td,
.jobinformation_table_product table th {
    vertical-align: middle;
}

.jobinformation_table_product table td:first-child,
.jobinformation_table_product table th:first-child {
    padding-left: 48px;
}

.jobinformation_table_product table td:last-child,
.jobinformation_table_product table th:last-child {
    padding-right: 48px;
}

.jobinformation_table_product table thead {
    background: #1f1f20;
}

.jobinformation_product_total_l .button {
    padding: 0 36px !important;
    margin-right: 24px;
    width: 220px;
}

.jobinformation_product_total_table td {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: .007em;
    text-transform: uppercase;
    padding: 0 !important;
    vertical-align: middle;
}

.jobinformation_product_total_table td:first-child {
    padding-right: 48px !important;
}

.jobinformation_product_total {
    padding-top: 36px;
    padding-bottom: 24px;
}

.jobinformation_product_backorder {
    padding-bottom: 36px;
}

.jobinformation_product_backorder a {
    position: relative;
    display: inline-block;
    padding-left: 36px;
}

.jobinformation_product_backorder a:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
}

.orderinfo {
    display: none;
}

@media (max-width: 1599px) {
    .jobinformation_product_total_l {
        margin-left: -12px;
    }

    .jobinformation_product_total_l .button {
        padding: 0 20px !important;
        margin: 12px;
        width: 192px;
    }
}

@media (max-width: 1439px) {
    .service_orders_td span {
        display: block;
    }

    .service_orders_td:last-child {
        text-align: left;
    }
}

@media (max-width: 1279px) {
    .service_content .content_group {
        padding-left: 24px;
        padding-right: 24px;
    }

    .service_content_collapse_opener {
        padding-left: 24px;
        padding-right: 24px;
        margin-left: -24px;
        margin-right: -24px;
    }

    .service_orders_content {
        padding-left: 24px;
        padding-right: 24px;
        /*margin-left: -24px;
    margin-right: -24px;*/
    }

    .service_orders__tr {
        padding-left: 24px;
        padding-right: 48px;
        margin-left: -24px;
        margin-right: -24px;
    }

    .service_content_address_table_title {
        padding-left: 24px;
        padding-right: 24px;
    }

    .service_orders_close {
        display: none !important;
    }

    .service_orders_openclose {
        width: 24px;
    }

    .service_content_default_address {
        padding-left: 24px;
        padding-right: 24px;
        margin-left: -24px;
        margin-right: -24px;
    }

    .service_content_address_table {
        margin-left: -24px;
        margin-right: -24px;
    }

    .service_content_downloadtittle {
        padding-left: 24px;
        padding-right: 24px;
        margin-left: -24px;
        margin-right: -24px;
    }

    .service_content_address_tr {
        padding-left: 24px;
        padding-right: 24px;
    }

    .service_content_favorite_tr {
        position: relative;
        padding-left: 120px;
        min-height: 144px;
        display: block;
        padding-top: 20px;
        padding-right: 48px;
        padding-bottom: 8px;
    }

    .service_content_favorite_img {
        position: absolute;
        left: 24px;
        top: 12px;
    }

    .service_content_favorite_td_remove {
        min-width: 24px;
        padding-left: 0;
        position: absolute;
        right: 12px;
        top: 24px;
    }

    .service_content_favorite_title {
        text-decoration: underline;
        padding-right: 0;
        margin-bottom: 15px;
    }

    .jobinformation_table_order {
        padding-left: 24px;
        padding-right: 24px;
        margin-left: -24px;
        margin-right: -24px;
    }

    .jobinformation_table_product {
        margin-left: -24px;
        margin-right: -24px;
    }

    .jobinformation_title {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
        display: block;
    }

    .jobinformation_r {
        margin-top: 24px;
    }

    .jobinformation_r a {
        margin-left: 0;
    }

    .jobinformation_r a+a {
        margin-left: 36px;
    }

    .jobinformation_table_product table td:first-child,
    .jobinformation_table_product table th:first-child {
        padding-left: 24px;
    }

    .jobinformation_table_product table td:last-child,
    .jobinformation_table_product table th:last-child {
        padding-right: 24px;
    }

    .jobinformation_table_product table td.jobinformation_table_product_title {
        font-size: 14px;
    }

    .jobinformation_table_order table td.notablet {
        display: none;
    }

    .jobinformation_content_title-mobile {
        display: block;
        background: #1f1f20;
        margin: 0 -24px;
        padding: 36px 24px 0;
    }

    .jobinformation_table_order table td {
        width: 50%;
        padding-right: 24px;
    }

    .jobinformation_table_order table td:last-child {
        padding-right: 0;
        padding-left: 24px;
        border-left: 1px solid #4b4b4b;
    }

    .jobinformation_table_paddingleft {
        padding-left: 0;
    }

    .jobinformation_table_borderleft {
        border-left: none;
    }

    .jobinformation_table_product table td {
        font-size: 14px;
    }

    .service_order_collapse {
        margin: 0 -48px 0 -24px;
        padding-right: 0;
    }

    .service_orders__content {
        display: block;
    }

    .service_orders_content_r {
        text-align: left;
        margin: 18px -5px 0;
    }

    .service_orders_content_r .button {
        width: auto;
        padding: 0 20px !important;
        min-width: 0;
    }
}

@media (max-width: 479px) {
    .service_orders_showmore {
        text-align: center;
        padding: 28px 0 34px;
    }

    .service_orders_content .button {
        width: 100%;
    }

    .service_orders_td {
        width: 50%;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .service_orders_td span {
        white-space: nowrap;
    }

    .service_content .content_group .button {
        width: 100%;
        padding: 0 24px;
    }

    .service_content_default_address_inner {
        padding-right: 0;
    }

    .service_content_default_address_change {
        position: static;
    }

    .service_content_rowbottom {
        display: block;
    }

    .service_content_rowbottom_left {
        margin-bottom: 24px;
    }

    .service_content_favorite_tr {
        padding: 0 24px 68px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .service_content_favorite_tr .button {
        position: absolute;
        left: 24px;
        bottom: 10px;
        width: calc(100% - 48px) !important;
    }

    .service_content_favorite_img {
        position: static;
    }

    .service_content_favorite_title {
        padding-right: 36px;
    }

    .service_content_favorite_td_remove {
        top: 50%;
        right: 24px;
        margin-top: -46px;
    }

    .jobinformation_table_order table td {
        padding-right: 12px;
    }

    .jobinformation_table_order table td:last-child {
        padding-right: 0;
        padding-left: 12px;
    }

    .jobinformation_product_total {
        display: block;
    }

    .jobinformation_product_total_l .button {
        margin: 6px 0;
    }

    .jobinformation_product_total_l {
        margin-left: 0;
        margin-bottom: 12px;
    }

    .jobinformation_r {
        display: block;
    }

    .jobinformation_r a {
        margin-left: 0px !important;
        display: block;
        line-height: 36px;
        text-align: left;
    }

    .jobinformation_table_product table {
        display: none;
    }

    .jobinformation_table_product table.mobile {
        display: table !important;
    }

    .jobinformation_table_product table.mobile td {
        width: 50%;
        white-space: normal;
        vertical-align: top;
        font-size: 14px;
        font-weight: 500;
        padding-left: 24px;
        padding-right: 12px;
    }

    .jobinformation_table_product table.mobile td span {
        font-weight: 400;
    }

    .jobinformation_table_product table.mobile td:last-child {
        padding-left: 12px;
        padding-right: 24px;
    }
}

.jobinformation .paymentinformation_card_buttons2 {
    margin-top: 0;
}

.jobinformation .paymentinformation_card_buttons2 a {
    min-width: 0;
}

.jobinformation .payment_information_table {
    padding: 0;
    border-bottom: none;
}

.jobinformation .payment_jobdetails_content {
    padding-left: 0;
    padding-right: 0;
    margin-left: -28px;
    margin-right: -28px;
}

.jobinformation_product_total_buttons {
    padding-bottom: 160px;
}

.jobinformation_product_total_l {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.jobinformation_product_total_files {
    padding-right: 24px;
}

.jobinformation_product_total_files_table {
    background-color: #1f1f20;
    border-radius: 20px;
    max-width: 640px;
    width: 100%;
    padding: 30px 12px 30px 18px;
    min-height: 180px;
    margin-bottom: 12px;
}

.jobinformation_product_total_files_table table {
    width: 100%;
}

.jobinformation_product_total_files_table table td {
    padding: 5px 12px;
}

.jobinformation_product_total_files_table table .custom_checkbox {
    margin-top: 0 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.jobinformation_product_total_files_table table .custom_checkbox .custom__checkbox:before {
    top: 0;
}

.jobinformation_product_total_files_table table .jobinformation_product_total_files_name {
    font-size: 16px;
}

.jobinformation_product_total_files_table table .jobinformation_product_total_files_name span {
    color: #696969;
}

.jobinformation_product_total_files_table table .jobinformation_product_total_files_remove {
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/crosswhite2.png) no-repeat center/contain;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.jobinformation_product_total_files_table table .jobinformation_product_total_files_remove:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.jobinformation_product_total_table table {
    width: 100%;
}

.jobinformation_product_total_table table+table {
    margin-top: 24px;
}

.jobinformation_product_total_files_tip {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #696969;
}

.jobinformation_product_total {
    border-top: 1px solid #4b4b4b;
}

@media (max-width: 1599px) {
    .jobinformation_product_total {
        display: block;
    }

    .jobinformation_product_total_files_table {
        max-width: 100%;
    }

    .jobinformation_product_total_files {
        padding-right: 0;
    }

    .jobinformation_product_total_l {
        margin-left: 0;
    }

    .jobinformation_product_total_buttons {
        margin-left: -12px;
    }
}

@media (max-width: 1279px) {
    .jobinformation .payment_jobdetails_content {
        margin-left: 0;
        margin-right: 0;
    }

    .jobinformation .payment_information_table_opener .receipt_order_information_table_th_status,
    .jobinformation .payment_information_table_opener .receipt_order_information_table_th_products,
    .jobinformation .payment_information_table_opener .receipt_order_information_table_th_qty {
        display: none;
    }

    .jobinformation .payment_information_table_opener .receipt_order_information_table_th_title {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .jobinformation .receipt_order_information_table table,
    .jobinformation .receipt_order_information_table table tr,
    .jobinformation .receipt_order_information_table table td {
        display: block;
        width: 100% !important;
        border: none !important;
    }

    .jobinformation_product_total_files_table table,
    .jobinformation_product_total_files_table table tr,
    .jobinformation_product_total_files_table table td {
        display: block;
    }

    .jobinformation_product_total_files_table table tr {
        position: relative;
        padding-right: 24px;
    }

    .jobinformation_product_total_files_remove {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -6px;
    }
}

@media (max-width: 767px) {
    .jobinformation_product_total_files_table {
        padding-left: 0;
        padding-right: 12px;
    }

    .jobinformation .payment_jobdetails_content_group {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1023px) {
    .service_content .receipt_order_information_tipopener {
        position: static;
    }

    .service_content .receipt_order_information_tip {
        width: 100%;
        max-width: 480px;
        left: 0;
        margin-bottom: 0;
    }

    .service_content .receipt_order_information_tip:before {
        display: none;
    }

    .service_content .payment_information_table_opener {
        position: relative;
    }
}