.thankyou {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background: url(../img/footer_bg.jpg) no-repeat center/cover;
    padding: 240px 24px;
}

.thankyou_logo {
    width: 216px;
    height: 80px;
    display: block;
    position: absolute;
    left: 50%;
    top: 96px;
    margin-left: -108px;
    background: url(../img/logo.png) no-repeat center/contain;
}

.thankyou_title {
    color: #fefefe;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    margin-bottom: 80px;
}

.thankyou_text_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .007em;
    margin-bottom: 24px;
}

.thankyou_text {
    max-width: 480px;
    width: 100%;
    margin: 0 auto 76px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.thankyou_content .button {
    max-width: 300px;
    width: 100%;
}

@media (max-width: 1279px) {
    .thankyou_title {
        font-size: 80px;
        line-height: 96px;
        margin-bottom: 64px;
    }
}

@media (max-width: 767px) {
    .thankyou_logo {
        width: 144px;
        height: 54px;
        margin-left: -72px;
        top: 48px;
    }

    .thankyou_title {
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 48px;
    }

    .thankyou {
        padding-top: 144px;
        padding-bottom: 144px;
    }
}

@media (max-width: 479px) {
    .thankyou_title {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 36px;
    }

    .thankyou_text_title {
        font-size: 20px;
    }

    .thankyou_text {
        line-height: 24px;
        margin-bottom: 36px;
    }
}