.trade {
    max-width: 1056px;
    background: #1a1a1b;
    padding: 85px 144px 155px;
}

.trade_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: .007em;
    margin-bottom: 62px;
}

.trade_group label {
    display: block;
}

.trade_group input {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    height: 72px;
    border: 1px solid #4b4b4b;
    width: 100%;
    display: block;
    padding: 0 24px;
}

.trade_group textarea {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #4b4b4b;
    width: 100%;
    display: block;
    padding: 20px 24px;
    height: 142px;
    resize: none;
}

.trade_group .datepicker {
    position: relative;
}

.trade_group .datepicker:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -10px;
    background: url(../img/datepicker_icon.png) no-repeat center/contain;
    cursor: pointer;
}

.trade_group .datepicker input {
    padding-right: 64px;
}

.trade_form_buttons {
    text-align: center;
    margin-top: 40px;
}

.trade_form_buttons .button {
    min-width: 324px;
}

.trade form .row+.row {
    margin-top: 32px;
}

@media (max-width: 1279px) {
    .trade {
        max-width: 100%;
        padding: 60px 24px;
    }

    .trade .row {
        max-width: 768px;
    }

    .trade_title {
        margin-bottom: 38px;
    }
}

@media (max-width: 767px) {
    .trade {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    .trade_title {
        margin-bottom: 12px;
    }

    .trade_form_buttons .button {
        min-width: 0;
    }

    .trade form .col-sm-6+.col-sm-6 {
        margin-top: 32px;
    }
}

@media (max-width: 479px) {
    .trade_form_buttons .button {
        width: 100%;
    }
}

@media (max-width: 359px) {

    .trade_group input,
    .trade_group textarea,
    .trade {
        padding-left: 12px;
        padding-right: 12px;
    }
}